aside#right.clearingfix.post div.services_box.questionario { margin-bottom: 20px; }
 
div.services_box h3.title { width: 244px; }
 
.perguntalabel {
	height: 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	display: block;
	color: #a7a7a7;
	margin-top: 5px; }
 
.redonda {
	padding: 15px 5px;
	padding-bottom: 20px;
	background: #FFF;
	border-radius: 3px;
	border: 1px solid #d9d9d9;
	position: relative;
	width: 220px;
	height: 55px; }
 
	.redonda .mais {
		font-size: 10px;
		color: #fc8823;
		font-family: "Myriad Pro", Arial;
		text-transform: uppercase;
		font-weight: bold;
		background: url(../images/arrows.png) 100% -247px no-repeat;
		padding: 0 9px 0 0;
		color: #2C97C9;
		background: url(../images/arrows.png) 100% -47px no-repeat;
		float: right; }
 
	.redonda label {
		color: #a7a7a7;
		display: block;
		height: 25px;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px; }
 
div.services_box.racas ul li div.detail h4 { font-weight: bold; }
 
.search_sidebox.buscadefornecedores {
	margin-top: 20px;
	padding-top: 20px; }
 
aside#right.clearingfix.post div.search_sidebox.buscadefornecedores ul li .selector span, aside#right.clearingfix.post div.search_sidebox.buscadefornecedores ul li  div.selector {
	background: #fff;
	width: 180px !important;
	height: 30px; }
 
.formularioraca {
	margin-top: 17px;
	padding-top: 15px;
	height: 110px;
	background-color: #D7ECF9;
	border-radius: 3px;
	position: relative; }
 
	.formularioraca	#formulariodebuscaderacas .busca.text {
		margin: 0;
		padding: 0;
		padding-left: 5px;
		padding-right: 5px;
		display: block;
		width: 600px;
		line-height: 40px;
		border: none;
		font-size: 16px;
		color: #73A6C3;
		margin: auto;
		position: relative; }
 
	.formularioraca	#formulariodebuscaderacas .bt_busca {
		border: none;
		position: absolute;
		top: 20px;
		right: 20px;
		background: url(../images/luneta.jpg) top left no-repeat;
		height: 31px;
		width: 34px;
		cursor: pointer; }
 
.outraopcao {
	border-top: 1px dotted #6D8F9B;
	margin-top: 20px;
	color: #3399cc;
	font-size: 10px;
	font-family: "Droid Sans", Arial;
	padding-top: 10px; }
 
	.outraopcao .textointro {
		color: #369CCD;
		font-size: 11px;
		font-weight: bold;
		padding-left: 20px;
		margin-right: 5px; }
 
	.outraopcao .data {
		height: 16px;
		line-height: 16px;
		font-size: 10px;
		width: auto;
		margin: 0;
		margin-top: 10px;
		margin-right: 2px;
		margin-left: 0px; }
 
		.outraopcao .data div.selector {
			height: 20px;
			font-size: 11px;
			width: 75px !important;
			background: #fff;
			margin-left: 5px;
			margin-right: 5px;
			border-radius: 3px; }
 
			.outraopcao .data div.selector span {
				height: 20px;
				line-height: 18px;
				width: 55px !important;
				background-position: right -82px;
				color: #999999; }
 
	.outraopcao .bt_cad {
		height: 20px;
		float: right;
		width: 60px;
		font-size: 10px;
		text-transform: uppercase;
		margin-right: 15px;
		text-align: left;
		line-height: 0px;
		background: #73bad6;
		background: url(data: image/svg+xml;
		base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top, #73bad6 2%, #30a5db 46%, #0671A8 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#73bad6), color-stop(46%,#30a5db), color-stop(100%,#0671A8));
		background: -webkit-linear-gradient(top, #73bad6 2%,#30a5db 46%,#0671A8 100%);
		background: -o-linear-gradient(top, #73bad6 2%,#30a5db 46%,#0671A8 100%);
		background: -ms-linear-gradient(top, #73bad6 2%,#30a5db 46%,#0671A8 100%);
		background: linear-gradient(to bottom, #73bad6 2%,#30a5db 46%,#0671A8 100%);
		filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#73bad6', endColorstr='#0671A8',GradientType=0 ); }
		div.social_sidebox h3.title, div.services_box h3.title {background-image:none;}
 
/* criando padroes /*/
.titudo-padrao {
	text-transform: uppercase;
	background: #fff;
	padding: 0 10px 0 0;
	color: #2C97C9;
	display: block;
	height: 20px;
	background: url(../images/articles_box_title_bg.png) 0 3px repeat-x;
	font-family: "Droid Sans", Arial;
	font-weight:normal;
	overflow: hidden; }
 
	.titudo-padrao span {
		background: #fff url(../images/large_arrow.png) 97% 8px no-repeat;
		padding: 0 30px 0px 0px;
		float: left; }
 
.artigo-lista {
	margin: 0;
	list-style: none;
	float: left;
	width: 440px;
	padding: 0px 0 0 0px; }

.artigo-item {
	overflow: hidden;
	height: 100%;
	padding-top: 20px;
	padding-bottom: 20px; }
 
	.artigo-item .imagem {
		float: left;
		display: block;
		margin-right: 20px; }
 
	.artigo-item .detail {
		height: 85px;
		padding: 0; }
		
 	
.detail h4 {
	font-size: 16px;
	font-weight: bold;
	font-family: "Droid Sans", Arial;
	margin: 0 0 5px 0;
	line-height: normal; }
 
	.detail h4 a { color: #111; }
 
.detail p { margin: 0 0 6px 0; font-family: "HelveticaNeueLT Std", Arial, Helvetica, sans-serif;
}
 
.detail .mais {
	font-size: 10px;
	color: #2C97C9;
	font-family: "Myriad Pro", Arial;
	text-transform: uppercase;
	font-weight: bold;
	background: url(../images/arrows.png) 100% -47px no-repeat;
	padding: 0 9px 0 0; }
	
/* titulo pontilhado*/	
.title
{
	background: url(../images/articles_box_title_bg.png) 0 3px repeat-x;
	overflow: hidden;
	padding: 0 0 5px 0;	
}
.title h3
{
	float: left;
	text-transform: uppercase;
	background: #fff;
	padding: 0 10px 0 0;
	color: #fc8b26;
}
.title h3 span
{
	margin: 0;
	padding: 0;
	text-transform:none;
	font-family: "Droid Sans", Arial;
	font-size: 18px;
	color: #666666;
	background: none;
	display:block;
	/* seta azul*/
/*	background: url(../images/arrow_b.jpg) 100% 9px no-repeat;
*/}

/* fim do padrao */


.clearingfix.cachorro #post .detail p { margin: 0 0 6px 0; font-family: "HelveticaNeueLT Std", Arial, Helvetica, sans-serif; color:#656565;}

#racas-destaque .artigo-conteudo{ width:445px; float:left;}
#racas-destaque .artigo-conteudo .artigo-lista .artigo-item { border-bottom: 1px dotted #ccc; }
#racas-destaque .artigo-conteudo .artigo-lista .artigo-item:last-child{ border:none; }
#racas-destaque #racas-populares{ border-left:1px solid #CBCBCB; width:155px; float:right; padding-left:20px;}

#poulares-titulo
{
	color:#3399CB;
	font-size:16px;
	padding-bottom:20px;
}
.lista-popular{ list-style:none;}
.lista-popular .polular-item
{
	padding-left: 10px;
	background: url(../images/arrows.png) 0 -147px no-repeat;
	min-height: 25px;
	font-family: "Droid Sans", Arial;
	font-size: 14px;
}
.lista-popular .polular-item a
{
	display:block;
	color:#656565;
}

#racas-destaque #racas-afinidade
{
	width:300px;
	padding-right:15px;

	border-right: 1px solid #CBCBCB;
	margin-top:10px;
}
#racas-afinidade #imagem-afinidade
{
	float:left;
	margin-right:15px;
	margin-top:20px;
}
#racas-afinidade .lista-popular
{
	float:left;
	margin-top:20px;
	width:160px;
}
#racas-afinidade .lista-popular .polular-item
{
	margin-bottom:8px;
}
#racas-destaque #raca-grupo
{
	border-left:1px solid #F2F2F2;
	width:307px;
	float:left;
	overflow:hidden;
	padding-left:15px;
	margin-top:10px;
}

#racas-destaque #raca-grupo #raca-titulo span
{
	text-transform:none;
	font-size:18px;
	background-image:none;
	padding: 0 10px 0px 
	
}
#racas-destaque #raca-grupo #raca-grupo span
{
	background:#fff;
}

#racas-destaque #raca-grupo .lista
{
	margin:0;
	list-style:none;
	margin-top:20px;
	width:155px;
	border-right:1px  dotted	#ccc;
	float:left;
}
#racas-destaque #raca-grupo .lista.segunda{
	border:none;
	width: 120px;
	padding-left: 10px;
	}
#racas-destaque #raca-grupo .lista  .polular-item{}
#racas-destaque #raca-grupo .lista  a
{
	color:#656565;
	font-size:12px;
	
	background: url(../images/arrows.png) 0 -198px no-repeat;
	padding: 0 0 5px 13px;
	margin-bottom:5px;
	min-height: 20px;
	width:130px;
	display:block;
}
#racas-destaque .articles_box.racas
{
	float:left;
	border:none;
}
#racas-destaque .articles_box.racas #artigosrelacionados
{
	border:none;

}
#post.postcachorro .articles_box .title h3 span
{
	background-image:none;
}

#todas_racas .title
{
	height:20px;
}
#todas_racas
{
	display:block;
	
	min-height:760px;
}

.lista-racas-alfabetica
{
	margin:0;
	padding:0;

	margin-top:20px;
	
	list-style:none;
	
	
  
     column-count:4;
	-moz-column-count:4; /* Firefox */
	-webkit-column-count:4; /* Safari and Chrome */
	
	
}

.lista-racas-alfabetica .item { width:140px;}
.lista-racas-alfabetica .item a
{
	display:block;
	font-family: "Droid Sans", Arial;
	font-size:12px;
	color:#656565;
	min-height:22px;
	line-height:22px;
	
}

.lista-racas-alfabetica .item.inicio a
{
	border-bottom:1px dotted #656565;
	color:#2C97C9;
	font-size:14px;
	text-transform:uppercase;
	min-height:10px !important;
	line-height:15px !important;
	margin-top:5px;
	
	
}
.lista-racas-alfabetica .item.fim a
{
	margin-bottom:20px;
}
.lista-racas-alfabetica .item.fim.ultimo a
{
	margin-bottom:100px;
}
.listageral li
{
	float:left;
}