div#saude.featured.texto .info_featured {
	top: 85px;
	right: 53px; }
 
.featured_slider .ordenacao {
	top: 105px;
	right: 40px; }
 
.title.posttitulo {
	min-height: 25px;
	position: relative;
	z-index: 1; }
 
div.featured.texto {
	margin-top: -35px;
	z-index: 2;
	position: relative; }
 
.featured_slider .ordenacao li { background: url(/images/flechas_post.png) 0px 0px; }
 
.featured_slider .ordenacao li { height: 19px; }
 
div#saude.featured.texto .featured_slider .info_featured h3 {
	font-size: 12px;
	color: #3399cc;
	font-weight: bold;
	font-family: "Droid Sans", Arial; }
 
div#saude.featured.texto .featured_slider .info_featured p {
	margin: 0;
	padding: 0;
	font-size: 37px;
	font-weight: bold;
	color: #666666;
	letter-spacing: -2px;
	font-family: "Droid Sans", Arial; }
 
/*//*/
.title {
	background: url(/images/articles_box_title_bg.png) 0 3px repeat-x;
	overflow: hidden;
	padding: 0 0 5px 0; }
 
	.title h3 {
		float: left;
		text-transform: uppercase;
		background: #fff;
		padding: 0 10px 0 0;
		color: #fc8b26; }
 
		.title h3 span {
			margin: 0;
			padding: 0;
			text-transform: none;
			font-family: "Droid Sans", Arial;
			font-size: 18px;
			color: #666666;
			background: none;
			display: block; /* seta azul*/ /*	background: url(/images/arrow_b.jpg) 100% 9px no-repeat;
*/ }
 
div.social_sidebox h3.title, div.services_box h3.title, #post.postcachorro .articles_box .title h3 span { background-image: none; }
 
#artigos-relacionados {
	padding: 0px;
	margin-bottom: 0; }
 
section.articles_box_content.linhasdot #relacionada1 {
	border-right: 1px #ccc solid;
	padding-right: 5px; }
 
#relacionada1 ul li:nth-child(2), #relacionada2 ul li:nth-child(2) {
	border-top: 1px dotted #ccc;
	padding-top: 10px; }
 
section.articles_box_content.linhasdot #relacionada2 {
	border: none;
	margin-left: 15px; }
 
#artigos-relacionados .featured_articles, #racas-relacionadas .featured_articles { margin-top: 10px; }
 
#artigos-relacionados, #racas-relacionadas { border: none; }
 
#ficha-tecnica {
	background: #484848;
	width: 270px;
	margin-bottom: 25px;
	margin-top: 20px; }
 
	#ficha-tecnica .titulo-ficha {
		margin: 0;
		padding: 0;
		font-size: 18px;
		font-weight: normal;
		padding: 14px 10px 15px 48px;
		border-bottom: 1px dotted #a7a7a7;
		background: url('/images/icone_ficha_tecnica.png') 27px 15px no-repeat; }
 
.lista-ficha {
	padding: 10px 20px 20px 25px;
	list-style: none; }
 
	.lista-ficha .lista-item {
		font-size: 11px;
		color: #999999;
		line-height: 25px;
		font-family: "Droid Sans", Arial; }
 
		.lista-ficha .lista-item .dado {
			color: #cccccc;
			font-size: 12px;
			font-weight: bold;
			font-family: Helvetica, sans-serif;
			margin-left: 10px; }
 
#perfil-destaque { padding-bottom:20px;}
 
.clearingfix.cachorro #post #perfil-destaque p {
	font-family: "Droid Sans", Arial;
	font-size: 14px; }
 
#imagens-bloco {
	width: 315px;
	height: 320px;
	margin-left: 20px;
	margin-bottom: 20px;
	float: right;
	background: #CCC; }
 
/*tabs*/
#tabelas-perfil { margin-top: 20px; }
 
#navegacao-perfil {
	list-style: none;
	border-bottom: 1px solid #EBEBEB;
	width: 640px;
	height: 36px;
	margin-bottom: 30px; }
 
	#navegacao-perfil .itens {
		padding: 10px;
		float: left;
		width: auto;
		border-top: 1px solid #EBEBEB;
		border-left: 1px solid #EBEBEB;
		border-right: 1px solid #EBEBEB;
		position:relative;
		margin-left: 18px; }
 
		#navegacao-perfil .itens:nth-child(2) { margin-left: 16px; }
		#navegacao-perfil .itens .sombra{ display:none;}
#navegacao-perfil .itens:nth-child(1) .sombra{  background: url(/images/sombra.png) 0px 0px no-repeat; width:115px; height:35px; position:absolute; top:0; left:-8px;}
#navegacao-perfil .itens:nth-child(2) .sombra{  background: url(/images/sombra.png) -114px 0px no-repeat;
width: 70px;
height: 35px;
position: absolute;
top: 0;
left: -8px;}

#navegacao-perfil .itens:nth-child(3) .sombra{  background: url(/images/sombra.png) -186px 0px no-repeat;
width: 85px;
height: 35px;
position: absolute;
top: 0;
left: -8px;}

#navegacao-perfil .itens:nth-child(4) .sombra{ background: url(/images/sombra.png) -272px 0px no-repeat;
width: 130px;
height: 35px;
position: absolute;
top: 0;
left: -8px;}

#navegacao-perfil .itens:nth-child(5) .sombra{ background: url(/images/sombra.png) -271px 0px no-repeat;
width: 130px;
height: 35px;
position: absolute;
top: 0;
left: -8px;}

#navegacao-perfil .itens:nth-child(6) .sombra{ background: url(/images/sombra.png) -555px 0px no-repeat;
width: 130px;
height: 35px;
position: absolute;
top: 0;
left: -8px;}

		
		
#tabelas-perfil  .itens a {
	display: block;
	font-family: "Droid Sans", Arial;
	font-size: 13px; }
 
#navegacao-perfil  .itens.ui-tabs-active.ui-state-active a {
	color: #2c98c9;
	font-weight: bold; }
 
#navegacao-perfil  .itens.ui-tabs-active.ui-state-active {
	height: 15px;
	background: #FFF;
	border-top: 2px solid #00AEEF; }
	
	#navegacao-perfil  .itens.ui-tabs-active.ui-state-active .sombra
	{
		display:block;
	}
 
#navegacao-perfil  .itens.ui-state-hover a {
	color: #ee7500;
	
	text-decoration: none; }
 
#navegacao-perfil  .itens a { color: #999999; }
 
 .titulo-chamada-perfil
 {
	 font-family: "Droid Sans", Arial;
	font-size: 21px;
	font-weight:bold;
	color:#3399cc;
}
 