#tab-editar-usuario,
#tab-ajustes,
#tab-notificacoes {
    padding:0 40px;
}
#tab-editar-usuario div.imagem-usuario {
    display: block;
    width: 143px;
    margin: 0 25px 0 0;
    float: left;
}
#tab-editar-usuario div.imagem-usuario a {
    color: #fff;
    display: block;
    text-transform: uppercase;
    text-align: center;
    margin: 10px 0 0 0;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
    background: -webkit-gradient(linear, 0 0, 0 100%,
        from(#2b97c8), to(#01608e)) 0 0 no-repeat,
        -webkit-gradient(linear, 0 0, 0 100%, from(#2b97c8), to(#01608e)) 0 0 no-repeat;
    background: -moz-linear-gradient(#2b97c8, #01608e) 0 0 no-repeat,
        -moz-linear-gradient(#2b97c8, #01608e) 0 0 no-repeat;
    font-family: "Droid Sans", Arial;
    font-size: 10px;
    padding: 5px 0;
}
#tab-editar-usuario form {
    display: block;
    float: left;
    width: 370px;
}
#tab-editar-usuario form a.finalizarcadastro {
    width: 80px;
}
#tab-ajustes form fieldset {
    margin: 0 0 20px 0;
    padding: 0 0 10px 0;
    border-bottom: 1px dotted #cacaca;
}
#tab-ajustes form fieldset legend {
    margin: 0 0 10px 0;
    padding: 0;
    font-family: "Droid Sans", Arial;
    font-size: 14px;
    color: #2b97c8;
}
#tab-ajustes form fieldset label.texto-grande,
#tab-ajustes form fieldset label.texto-medio {
    border: 1px solid #cacaca;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    display: block;
    width: 528px;
    padding: 5px;
    font-family: "Droid Sans", Arial;
    color: #999999;
    text-transform: uppercase;
}
#tab-ajustes form fieldset label.texto-medio {
    display: block;
    float: left;
    width: 390px;
    margin: 0 20px 0 5px;
}
#tab-ajustes form fieldset label.texto-grande input[type="text"],
#tab-ajustes form fieldset label.texto-grande input[type="password"],
#tab-ajustes form fieldset label.texto-medio input[type="text"],
#tab-ajustes form fieldset label.texto-medio input[type="password"]{
    border: 0;
    width: 250px;
    margin: 0 0 0 5px;
    border-left: 1px dotted #cacaca;
    padding: 0 0 0 10px;
}
#tab-ajustes form fieldset label.checkbox {
    display: block;
    margin: 0 0 10px 0;
}
#tab-ajustes form fieldset.facebook-dados div.sessao-facebook {
    display: block;
    float: left;
    width: 270px;
    border-right: 1px solid #cacaca;
    margin: 20px 20px 0 0;
    padding: 10px;
    text-align: center;
}
#tab-ajustes form fieldset.facebook-dados div.sessao-facebook p {
    margin: 5px 0 10px 0;
    font-family: "Droid Sans", Arial;
    font-size: 12px;
}
#tab-ajustes form fieldset.facebook-dados div.sessao-facebook a {
    display: block;
    margin: 5px auto;
    background: url(../images/ico_facebook_login.png) 5px 5px no-repeat #c4d5db;
    font-family: "Droid Sans", Arial;
    font-size: 10px;
    font-weight: bold;
    line-height: 10px;
    color: #44629e;
    padding: 10px 5px 10px 35px;
    width: 150px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}
#tab-ajustes form fieldset.facebook-dados div.sessao-facebook p.info-dados {
    font-family: "Droid Sans", Arial;
    font-size: 10px;
    font-style: italic;
}
#tab-ajustes form fieldset.facebook-dados div.check-opc-facebook {
    display: block;
    float: left;
    width: 220px;
    margin: 20px 0 0 0;
    padding: 15px 0 0 0;
}
#tab-ajustes form fieldset.facebook-dados div.check-opc-facebook label {
    font-family: "Droid Sans", Arial;
    font-size: 11px;
}
#tab-ajustes form fieldset.dados-conta span.info-dados {
    display: block;
    float: none;
    clear: left;
    margin: 0 0 20px 5px;
    padding: 5px 0 0 0;
    font-family: "Droid Sans", Arial;
    font-size: 11px;
    font-style: italic;
}
#tab-ajustes form fieldset.dados-conta a.modificar {
    font-family: "Droid Sans", Arial;
    font-size: 12px;
    color: #fff;
    background: -webkit-gradient(linear, 0 0, 0 100%,
        from(#2b97c8), to(#01608e)) 0 0 no-repeat,
        -webkit-gradient(linear, 0 0, 0 100%, from(#2b97c8), to(#01608e)) 0 0 no-repeat;
    background: -moz-linear-gradient(#2b97c8, #01608e) 0 0 no-repeat,
        -moz-linear-gradient(#2b97c8, #01608e) 0 0 no-repeat;
    padding: 5px 10px;
    margin: 0;
    display: block;
    float: left;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    border: 1px solid #004e74;
}
#tab-ajustes form a.guardar-modificacoes {
    font-family: "Droid Sans", Arial;
    font-size: 12px;
    color: #fff;
    background:url(../images/setasbotoes.png) 95% 10px no-repeat;
    background:url(../images/setasbotoes.png) 95% 10px no-repeat,
        -webkit-gradient(linear, 0 0, 0 100%,
        from(#2b97c8), to(#01608e)) 0 0 no-repeat,
        -webkit-gradient(linear, 0 0, 0 100%, from(#2b97c8), to(#01608e)) 0 0 no-repeat;
    background:url(../images/setasbotoes.png) 95% 10px no-repeat,
        -moz-linear-gradient(#2b97c8, #01608e) 0 0 no-repeat,
        -moz-linear-gradient(#2b97c8, #01608e) 0 0 no-repeat;
    width: 140px;
    padding: 6px 10px;
    margin: 0;
    display: block;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    border: 1px solid #004e74;
}
#tab-ajustes form fieldset.cancelar-conta {
    border: 0;
    margin: 40px 0 0 0;
}
#tab-ajustes form fieldset.cancelar-conta a.bt-cancelar {
    font-family: "Droid Sans", Arial;
    font-size: 12px;
    color: #999;
    background: -webkit-gradient(linear, 0 0, 0 100%,
        from(#f2f2f2), to(#d5d5d5)) 0 0 no-repeat,
        -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#d5d5d5)) 0 0 no-repeat;
    background: -moz-linear-gradient(#f2f2f2, #d5d5d5) 0 0 no-repeat,
        -moz-linear-gradient(#f2f2f2, #d5d5d5) 0 0 no-repeat;
    width: 123px;
    padding: 6px 10px;
    margin: 0;
    display: block;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    border: 1px solid #cacaca;
}

#tab-notificacoes form fieldset {
    margin: 0 0 20px 0;
    padding: 0 0 10px 0;
    border-bottom: 1px dotted #cacaca;
}
#tab-notificacoes form fieldset legend {
    margin: 0 0 10px 0;
    padding: 0;
    font-family: "Droid Sans", Arial;
    font-size: 14px;
    color: #2b97c8;
}
#tab-notificacoes form fieldset.notificacoes p {
    float: left;
    margin: 5px 0 0 0;
}
#tab-notificacoes form fieldset.notificacoes a.modificar {
    font-family: "Droid Sans", Arial;
    font-size: 12px;
    color: #fff;
    background: -webkit-gradient(linear, 0 0, 0 100%,
        from(#2b97c8), to(#01608e)) 0 0 no-repeat,
        -webkit-gradient(linear, 0 0, 0 100%, from(#2b97c8), to(#01608e)) 0 0 no-repeat;
    background: -moz-linear-gradient(#2b97c8, #01608e) 0 0 no-repeat,
        -moz-linear-gradient(#2b97c8, #01608e) 0 0 no-repeat;
    padding: 5px 10px;
    margin: 0;
    display: block;
    float: right;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    border: 1px solid #004e74;
}
#tab-notificacoes form fieldset.comunidade p {
    float: left;
    margin: 0;
}
#tab-notificacoes form fieldset.comunidade div.check-box-comunidade {
    display: block;
    float: right;
    width: 250px;
    border-left: 1px solid #cacaca;
    padding: 5px 0 0 10px;
}
#tab-notificacoes form fieldset label {
    display: block;
    margin: 0 0 5px 0;
}
#tab-notificacoes form a.guardar-modificacoes {
    font-family: "Droid Sans", Arial;
    font-size: 12px;
    color: #fff;
    background:url(../images/setasbotoes.png) 95% 10px no-repeat;
    background:url(../images/setasbotoes.png) 95% 10px no-repeat,
        -webkit-gradient(linear, 0 0, 0 100%,
        from(#2b97c8), to(#01608e)) 0 0 no-repeat,
        -webkit-gradient(linear, 0 0, 0 100%, from(#2b97c8), to(#01608e)) 0 0 no-repeat;
    background:url(../images/setasbotoes.png) 95% 10px no-repeat,
        -moz-linear-gradient(#2b97c8, #01608e) 0 0 no-repeat,
        -moz-linear-gradient(#2b97c8, #01608e) 0 0 no-repeat;
    width: 140px;
    padding: 6px 10px;
    margin: 0;
    display: block;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    border: 1px solid #004e74;
}