*{
    padding: 0;
    border: 0;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

html{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: white;
}

.box-atend {
    position:relative;
    float: left;
    margin: 30px;
    width: 452px;
    height: 440px;
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(235, 235, 235) 100%);
    background: -webkit-linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(235, 235, 235) 100%);
    background: -o-linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(235, 235, 235) 100%);
    background: -ms-linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(235, 235, 235) 100%);
    background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(235, 235, 235) 100%);
    -webkit-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:    0px 0px 7px rgba(0, 0, 0, 0.3);
    box-shadow:         0px 0px 7px rgba(0, 0, 0, 0.3);
    color: #333;
}

.close {
    position:absolute;
    left: 437px;
    top: -14px;
}

.atend {
    position:absolute;
    left: 33px;
    top: 15px;
}

.sep{
    position:absolute;
    left: 14px;
    top: 82px;

}
.atend-txt{
    position:absolute;
    top: 97px;
    width: 416px;
    left: 17px;
    text-align:center;
    font-size: 14px;
}


.form_atendimento{
    position: absolute;
    width: 417px;
    height: 170px;
    float: left;
    top: 165px;
    left: 15px;

}

.form_atendimento label{
    position: relative;
    float: left;
    width: 90px;
    text-align: right;
    height: 22px;
    margin: 6px 4px 2px 0;
    font-size: 12px;

}


.form_atendimento .campo_geral{
    position: relative;
    float: left;
    width: 300px;
    height: 20px;
    padding: 2px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    margin: 2px 0 2px 0;
    font-size: 12px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -webkit-box-shadow:inset 0 1px 4px #CCC;
    -moz-box-shadow:inset 0 1px 4px #CCC;
    box-shadow:inset 0 1px 4px #CCC;
    border:1px solid #d6d6d6;
}


.form_atendimento #ddd{
    position: relative;
    float: left;
    width: 50px;
    height: 20px;
    padding: 2px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    margin: 2px 0 2px 0;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -webkit-box-shadow:inset 0 1px 4px #CCC;
    -moz-box-shadow:inset 0 1px 4px #CCC;
    box-shadow:inset 0 1px 4px #CCC;
    border:1px solid #d6d6d6;
}

.form_atendimento #descricao{
    position: relative;
    float: left;
    width: 300px;
    height: 50px;
    padding: 2px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    margin: 2px 0 2px 0;
    resize: none;
    font-size: 12px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -webkit-box-shadow:inset 0 1px 4px #CCC;
    -moz-box-shadow:inset 0 1px 4px #CCC;
    box-shadow:inset 0 1px 4px #CCC;
    border:1px solid #d6d6d6;
}

.form_atendimento span{
    position: relative;
    float: left;
    width: 15px;
    height: 20px;
    padding: 2px 0 2px 10px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;

}

.form_atendimento #telefone{
    position: relative;
    float: left;
    width: 219px;
    height: 20px;
    padding: 2px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    margin: 2px 0 2px 0;

}


.faixa-atend{
    position:absolute;
    background-image:url(../img/back-atend.png);
    width: 479px;
    height: 69px;
    left: -13px;
    top: 352px;
}

.esquerda {
    width: 200px;
    font-size: 12px;
    position:absolute;
    left: 23px;
    top: 24px;
}
.direita {
    width: 200px;
    font-size: 12px;
    position:absolute;
    left: 259px;
    top: 24px;
    text-align: right;
}

.direita span{

    font-size: 10px;
}

#botao {
    position: absolute;
    background-color:#d9d70f;
    background: -moz-linear-gradient(center top , #d9d70f, #c9c708) repeat scroll 0 0 transparent;
    background:-webkit-gradient(linear, left top, left bottom, from(#d9d70f), to(#c9c708));
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    border:1px solid #c9c708;
    -webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.2);
    -moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.2);
    box-shadow:inset 0 1px 0 rgba(255,255,255,0.2);
    padding: 5px 10px;
    color: white;
    left: 333px;
    top: 152px;
}
#botao:hover{