@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background:url(../img/bg_site.jpg) center top no-repeat;
}

html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.index {
    float: left;
    height: 100%;
    width: 100%;
    position: relative;
}

.index .topo {
    width: 100%;
    height: 100px;
    position: relative;
    float: left;
}

.index .topo .incluir_topo {
    width: 990px;
    height: 78px;
    position: relative;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.index .topo .incluir_topo .logo {
    width: 164px;
    height:  78px;
    position: relative;
    float: left;
}


.index .menu {
    width: 100%;
    height: 45px;
    position: relative;
    float: left;
    border-bottom: 15px;
}

.index .menu .incluir_menu {
    width: 989px;
    height: 35px;
    position: relative;
    margin: auto;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 4%, #e0e0e2 5%, #eaeaeb 51%, #e0ddd9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(4%,#ffffff), color-stop(5%,#e0e0e2), color-stop(51%,#eaeaeb), color-stop(100%,#e0ddd9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 4%,#e0e0e2 5%,#eaeaeb 51%,#e0ddd9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 4%,#e0e0e2 5%,#eaeaeb 51%,#e0ddd9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 4%,#e0e0e2 5%,#eaeaeb 51%,#e0ddd9 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 4%,#e0e0e2 5%,#eaeaeb 51%,#e0ddd9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0ddd9',GradientType=0 ); /* IE6-9 */
    border: 1px solid #c0bfc4;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}


.index .menu .incluir_menu ul{
    list-style: none;
}

.index .menu .incluir_menu ul li{
    list-style: none;	
    position: relative;
    float: left;
}

.index .menu .incluir_menu ul li a{
    text-decoration: none;
    display: block;
    padding: 10px 20px 9px 20px;
    color: #000;
    font-family: Arial;
    font-size: 14px;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #d3cac5;
    -webkit-transition: all ease-out 0.4s;
    -moz-transition: all ease-out 0.4s;
}

.index .menu .incluir_menu ul li a:hover{
    background: #0e0e0e; /* Old browsers */
    background: -moz-linear-gradient(top,  #0e0e0e 0%, #515054 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0e0e0e), color-stop(100%,#515054)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #0e0e0e 0%,#515054 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #0e0e0e 0%,#515054 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #0e0e0e 0%,#515054 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #0e0e0e 0%,#515054 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0e0e', endColorstr='#515054',GradientType=0 ); /* IE6-9 */
    color: #FFF;
}

.index .conteudo {
    width: 100%;
    height: auto;
    position: relative;
    float: left;
}

.index .conteudo .incluir_conteudo {
    width: 990px;
    height: auto;
    position: relative;
    margin: auto;
}


.index .rodape {
    width: 100%;
    height: 180px;
    position: relative;
    float: left;
    background: #f4f4f4;
}

.index .rodape .incluir_rodape {
    width: 990px;
    height: 170px;
    position: relative;
    margin: auto;
}
.index .menu .incluir_menu .rede_social {
    float: left;
    height: 35px;
    width: 200px;
    position: relative;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #d3cac5;
}
.index .menu .incluir_menu .busca {
    float: left;
    height: 35px;
    width: 227px;
    position: relative;
    border-left: 1px solid #d3cac5;
}


/* Efeito Rede Social */

@-webkit-keyframes animaquadro1{
    0% {  left: 220px; opacity: 0;}
100% { left: 130px; opacity: 1.0;}
}

@-webkit-keyframes animaquadro2{
    0% {  left: 220px; opacity: 0;}
100% { left: 160px; opacity: 1.0;}
}

@-moz-keyframes animaquadro1{
    0% {  left: 220px; opacity: 0;}
100% { left: 130px; opacity: 1.0;}
}

@-moz-keyframes animaquadro2{
    0% {  left: 220px; opacity: 0;}
100% { left: 160px; opacity: 1.0;}
}



.index .menu .incluir_menu .rede_social .facebook {
    float: right;
    height: 23px;
    width: 25px;
    position: absolute;
    left: 160px;
    top: 7px;
    -webkit-animation: animaquadro2 ease-out 1s; 
    -moz-animation: animaquadro2 ease-out 1s; 
}


.index .menu .incluir_menu .rede_social .twitter {
    float: right;
    height: 23px;
    width: 25px;
    position: absolute;
    left: 130px;
    top: 7px;
    -webkit-animation: animaquadro1 ease-out 1s; 
    -moz-animation: animaquadro1 ease-out 1s; 
}
.index .conteudo .incluir_conteudo .menu_lateral {
    float: left;
    height: AUTO;
    width: 200px;
    position: relative;
}
.index .conteudo .incluir_conteudo .menu_lateral .btn_estado {
    float: left;
    height: 30px;
    width: 198px;
    position: relative;
    margin-bottom: 7px;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 4%, #e0e0e2 5%, #eaeaeb 51%, #e0ddd9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(4%,#ffffff), color-stop(5%,#e0e0e2), color-stop(51%,#eaeaeb), color-stop(100%,#e0ddd9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 4%,#e0e0e2 5%,#eaeaeb 51%,#e0ddd9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 4%,#e0e0e2 5%,#eaeaeb 51%,#e0ddd9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 4%,#e0e0e2 5%,#eaeaeb 51%,#e0ddd9 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 4%,#e0e0e2 5%,#eaeaeb 51%,#e0ddd9 100%); /* W3C */



    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0ddd9',GradientType=0 ); /* IE6-9 */
    border: 1px solid #c0bfc4;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.index .conteudo .incluir_conteudo .menu_lateral .btn_estado .icon {
    float: left;
    height: 30px;
    width: 40px;
    position: relative;
    border-right: 1px solid #ffffff;
    text-align: center;
    line-height: 30px;
    font-family: Arial;
    font-size: 14px;
    color: #32b133;
}
.index .conteudo .incluir_conteudo .menu_lateral .btn_estado .text {
    float: left;
    height: 30px;
    width: 150px;
    position: relative;
    border-left: 1px solid #d3cac5;
}
.index .conteudo .incluir_conteudo .menu_lateral .btn_estado .text #alterar-estado {
    margin: 6px 0 0 10px;
    width: 140px;
    border: 0;
    background: none;
    font-family: Arial;
    color: #666;
    font-size: 12px;
}
.index .menu .incluir_menu .busca #busca {
    float: left;
    height: 21px;
    width: 180px;
    position: relative;
    background: url(../img/bg_busca.png) no-repeat;
    border: 0;
    padding: 2px 2px 2px 25px;
    margin: 4px 0 0 10px;
}
.index .conteudo .incluir_conteudo .menu_lateral .encontre-seu-imovel {
    float: left;
    height: auto;
    width: 198px;
    position: relative;
    border: 1px solid #c0bfc4;
    background: #f6f6f6;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.index .conteudo .incluir_conteudo .menu_lateral .encontre-seu-imovel .titulo {
    float: left;
    height: 40px;
    width: 188px;
    position: relative;
    margin: 4px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #FFF;
    -moz-box-shadow: 0 0px 2px #888888;
    -webkit-box-shadow: 0 0px 2px #888888;
    box-shadow: 0 0px 2px #888888;
    color: #FFF;
    font-family: Arial;
    line-height: 40px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    background: #bfcbc1;

}

#abrir_menu{
    background: #bfcbc1 url(../img/btn_topo.png)no-repeat 170px 15px;
    cursor: pointer;
}

.index .conteudo .incluir_conteudo .menu_lateral .encontre-seu-imovel .categoria {
    float: left;
    height: 20px;
    width: 180px;
    position: relative;
    margin: 4px 4px 4px 10px;
    font-family: Arial;
    font-size: 13px;
    line-height: 20px;
}
.index .conteudo .incluir_conteudo .menu_lateral .encontre-seu-imovel .sub-categorias {
    float: left;
    height: auto;
    width: 198px;
    position: relative;
    background: #FFF;
    font-family: Arial;
    font-size: 12px;
    padding: 3px 0 3px 0;
}

.index .conteudo .incluir_conteudo .menu_lateral .encontre-seu-imovel .sub-categorias ul li {
    list-style: none;
}

.index .conteudo .incluir_conteudo .menu_lateral .encontre-seu-imovel .sub-categorias ul li a {
    color: #666;
    text-decoration: none;
    padding: 0 0 0 10px;
}


.index .conteudo .incluir_conteudo .menu_lateral .encontre-seu-imovel .sub-categorias ul li a:hover {
    color: #666;
    text-decoration: none;
    background: url(../img/bollot.png) no-repeat 5px 5px;
}

.index .conteudo .incluir_conteudo .menu_lateral .encontre-seu-imovel .sub-categorias ul li .veja-mais {
    float: right;
    height: 20px;
    width: 30px;
    position: relative;
    background: #b6b6b6;
    color: #FFF;
    line-height: 20px;
    text-align: center;
    font-size: 9px;
    margin: 1px 2px 2px 100px;
    font-weight: bold;
    text-decoration: none;
    padding: 0 5px 0 5px;
    -webkit-transition:   ease-out 0.5s; 
    -moz-transition: ease-out 0.5s; 
}
.index .conteudo .incluir_conteudo .menu_lateral .encontre-seu-imovel .sub-categorias ul li .veja-mais:hover {
    background:#666;
    color: #FFF;
}
.index .conteudo .incluir_conteudo .content {
    float: left;
    height: auto;
    width: 775px;
    position: relative;
    margin: 0 0 0 15px;
}
.index .conteudo .incluir_conteudo .content .navegacao {
    float: left;
    height: 32px;
    width: 775px;
    position: relative;
}
.index .conteudo .incluir_conteudo .content .navegacao .icon_home {
    float: left;
    height: 24px;
    width: 30px;
    position: relative;
    background:url(../img/home.png) no-repeat center;
    background: -moz-linear-gradient(top,  #ffffff 4%, #e0e0e2 5%, #eaeaeb 51%, #e0ddd9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(4%,#ffffff), color-stop(5%,#e0e0e2), color-stop(51%,#eaeaeb), color-stop(100%,#e0ddd9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 4%,#e0e0e2 5%,#eaeaeb 51%,#e0ddd9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 4%,#e0e0e2 5%,#eaeaeb 51%,#e0ddd9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 4%,#e0e0e2 5%,#eaeaeb 51%,#e0ddd9 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 4%,#e0e0e2 5%,#eaeaeb 51%,#e0ddd9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0ddd9',GradientType=0 ); /* IE6-9 */
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #c0bfc4;
    text-align: center;
    padding: 5px 0 0 0;
}
.index .conteudo .incluir_conteudo .content .navegacao .incluir_navegacao {
    float: right;
    height: 25px;
    width: 725px;
    position: relative;
    background: -moz-linear-gradient(top,  #ffffff 4%, #e0e0e2 5%, #eaeaeb 51%, #e0ddd9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(4%,#ffffff), color-stop(5%,#e0e0e2), color-stop(51%,#eaeaeb), color-stop(100%,#e0ddd9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 4%,#e0e0e2 5%,#eaeaeb 51%,#e0ddd9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 4%,#e0e0e2 5%,#eaeaeb 51%,#e0ddd9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 4%,#e0e0e2 5%,#eaeaeb 51%,#e0ddd9 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 4%,#e0e0e2 5%,#eaeaeb 51%,#e0ddd9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0ddd9',GradientType=0 ); /* IE6-9 */
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #c0bfc4;
    text-align: left;
    padding: 5px 0 0 10px;
    font-family: Arial;
    font-size: 12px;
    line-height: 20px;
    color: #666;
}
.index .conteudo .incluir_conteudo .content .banner {
    float: left;
    height: auto;
    width: 582px;
    position: relative;
    margin: 10px 0 0 0;
}
.index .conteudo .incluir_conteudo .content .banner .menu_banner {
    float: left;
    height: 25px;
    width: 580px;
    position: relative;
}
.index .conteudo .incluir_conteudo .content .banner .incluir_banner {
    float: left;
    height: 295px;
    width: 582px;
    position: relative;
    margin: 8px 0 0 0;
}
.index .conteudo .incluir_conteudo .content .oferta_da_semana {
    float: right;
    height: 330px;
    width: 180px;
    position: relative;
    border-left: 1px solid #CDCDCD;
    margin: 10px 0 0 0;
}
.index .conteudo .incluir_conteudo .content .oferta_da_semana .incluir_oferta_da_semana {
    float: right;
    height: 330px;
    width: 170px;
    position: relative;
}
.index .conteudo .incluir_conteudo .content .oferta_da_semana .incluir_oferta_da_semana .incluir_oferta {
    float: left;
    height: auto;
    width: 170px;
    position: relative;
    background: #cecdd2;
    margin: 0 0 2px 0;
    line-height: 20px;
    font-family: Arial;
    font-size: 12px;
    padding: 0 0 0 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.index .conteudo .incluir_conteudo .content .oferta_da_semana .incluir_oferta_da_semana .incluir_oferta .foto {
    width: 170px;
    margin: 0;
    height: 136px;
    position: relative;
    float: left;
    display: none;
}
.index .conteudo .incluir_conteudo .content .oferta_da_semana .incluir_oferta_da_semana .incluir_oferta .titilo {
    float: left;
    height: 20px;
    width: 160px;
    position: relative;
    margin: 0 0 0 5px;
}

.oferta-ativa .titilo span {
    color: #c8e13a !important;
}

.index .conteudo .incluir_conteudo .content .oferta_da_semana .incluir_oferta_da_semana .incluir_oferta .titilo span {
    color: #32b233;
}


.index .conteudo .incluir_conteudo .content .oferta_da_semana .incluir_oferta_da_semana .titulo {
    float: left;
    height: 30px;
    width: 170px;
    position: relative;
    background: #9a9aa4;
    font-family: Arial;
    color: #FFF;
    font-size: 12px;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.index .conteudo .incluir_conteudo .content .oferta_da_semana .incluir_oferta_da_semana .incluir_oferta .text {
    float: left;
    height: 65px;
    width: 160px;
    position: relative;
    margin: 5px;
    line-height: 15px;
    color: #FFF;
    display: none;
}


.oferta-ativa{
    background: #9a9aa4 !important
}
.index .conteudo .incluir_conteudo .oportunidades {
    float: right;
    height: auto;
    width: 774px;
    position: relative;
    margin: 15px 0 0 0;
}
.index .conteudo .incluir_conteudo .oportunidades .titulo {
    float: left;
    height: 190px;
    width: 35px;
    position: relative;
    border-right: 1px solid #c0bfc4;
    text-align: center;
    padding: 10px 0 0 0;
}
.index .conteudo .incluir_conteudo .oportunidades .box_oportunidade {
    float: left;
    height: auto;
    width: 738px;
    position: relative;
}


.index .conteudo .incluir_conteudo .oportunidades .menu-oportunidade{
    float: left;
    height: 25px;
    width: 733px;
    position: relative;
    margin: 0 0 0 2px;
}

.index .conteudo .incluir_conteudo .oportunidades .incluir-oportunidade{
    float: left;
    height: 140px;
    width: 733px;
    position: relative;
    background: #d2ded2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 1px 0 0 4px;
}
.index .conteudo .incluir_conteudo .oportunidades .box_oportunidade .menu-oportunidade ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.index .conteudo .incluir_conteudo .oportunidades .box_oportunidade .menu-oportunidade ul li {
    margin: 1px;
    position: relative;
    float: left;

}

.index .conteudo .incluir_conteudo .oportunidades .box_oportunidade .menu-oportunidade ul li a{
    padding: 4px 10px 4px 10px;
    float: left;
    font-size: 12px;
    font-family: Arial;
    background: #9a999f;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition:   ease-out 1s; 
    -moz-transition: ease-out 1s; 

}

.index .conteudo .incluir_conteudo .oportunidades .box_oportunidade .menu-oportunidade ul li a:hover{
    background: #343440;
}

.index .conteudo .incluir_conteudo .oportunidades .box_oportunidade .menu-oportunidade ul li .ativo{
    background: #343440;
}


.index .conteudo .incluir_conteudo .oportunidades .box_oportunidade .paginacao {
    float: left;
    height: 25px;
    width: 725px;
    position: relative;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 4%, #e0e0e2 5%, #eaeaeb 51%, #e0ddd9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(4%,#ffffff), color-stop(5%,#e0e0e2), color-stop(51%,#eaeaeb), color-stop(100%,#e0ddd9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 4%,#e0e0e2 5%,#eaeaeb 51%,#e0ddd9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 4%,#e0e0e2 5%,#eaeaeb 51%,#e0ddd9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 4%,#e0e0e2 5%,#eaeaeb 51%,#e0ddd9 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 4%,#e0e0e2 5%,#eaeaeb 51%,#e0ddd9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0ddd9',GradientType=0 ); /* IE6-9 */
    border: 1px solid #c0bfc4;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 4px 0 4px 4px;
    line-height: 25px;
    font-size: 12px;
    font-family: Arial;
    padding: 0 0 0 5px;
    color:  #666;
}

.anterios {
    float: right;
    height: 20px;
    width: 20px;
    position: relative;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #FFF;
    font-family: Arial;
    font-size: 12px;
    margin: 2px 5px 0 0;
    background: url(../img/btn_proximo.png) no-repeat center  #9a999f;
    -webkit-transition:   ease-out 1s; 
    -moz-transition: ease-out 1s; 
}

.anterios:hover {
    background: url(../img/btn_proximo.png) no-repeat center  #343440;
    cursor: pointer;
}

.proximo {
    float: right;
    height: 20px;
    width: 20px;
    position: relative;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #FFF;
    font-family: Arial;
    font-size: 12px;
    margin: 2px 0 0 0;
    background: url(../img/btn_anterior.png) no-repeat center  #9a999f;
    -webkit-transition:   ease-out 1s; 
    -moz-transition: ease-out 1s; 
}

.proximo:hover {
    background: url(../img/btn_anterior.png) no-repeat center #343440;
    cursor: pointer;
}


.numeros {
    float: right;
    height: 20px;
    width: 35px;
    position: relative;
    color: #8a8a8a;
    font-family: Arial;
    font-size: 12px;
    margin: 2px 0 0 0;
    line-height: 20px;
    text-align: center;


}
.index .conteudo .incluir_conteudo .oportunidades .box_oportunidade .incluir-oportunidade .listar {
    float: left;
    height: auto;
    width: 240px;
    position: relative;
    margin: 5px 2px 5px 2px;
    font-family: Arial;
    font-size: 12px;
    color:  #000;
}


.index .conteudo .incluir_conteudo .oportunidades .box_oportunidade .incluir-oportunidade .listar .imagem {
    float: left;
    height: 73px;
    width: 237px;
    position: relative
}

.index .conteudo .incluir_conteudo .oportunidades .box_oportunidade .incluir-oportunidade .listar .text {
    float: left;
    height: auto;
    width: 230px;
    position: relative;
    margin: 5px;
}
.index .conteudo .incluir_conteudo .content .banner .menu_banner .btn_lancamento {
    float: left;
    height: 20px;
    width: 150px;
    position: relative;
}
.index .conteudo .incluir_conteudo .content .banner .menu_banner ul {
    float: left;
    width: 250px;
    position: relative;
    height: auto;
}
.index .conteudo .incluir_conteudo .content .banner .menu_banner ul li {
    float: left;
    position: relative;
    list-style: none;
    margin: 0 2px 0 2px;


}

.index .conteudo .incluir_conteudo .content .banner .menu_banner ul li a{
    float: left;
    position: relative;
    padding: 2px 15px 2px 15px;
    background: #99989e;
    color: #FFF;
    font-size: 10px;
    font-family: Arial;
    line-height: 20px;
    text-align: center; 
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition:   ease-out 1s; 
    -moz-transition: ease-out 1s; 
}

.index .conteudo .incluir_conteudo .content .banner .menu_banner ul li a:hover{
    background: #343440;

}

.index .conteudo .incluir_conteudo .content .banner .menu_banner ul li .ativo{
    background: #343440;
}
.index .conteudo .incluir_conteudo .content .banner .menu_banner .barra_style {
    float: left;
    height: 22px;
    width: 323px;
    position: relative;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 4%, #e0e0e2 5%, #eaeaeb 51%, #e0ddd9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(4%,#ffffff), color-stop(5%,#e0e0e2), color-stop(51%,#eaeaeb), color-stop(100%,#e0ddd9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 4%,#e0e0e2 5%,#eaeaeb 51%,#e0ddd9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 4%,#e0e0e2 5%,#eaeaeb 51%,#e0ddd9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 4%,#e0e0e2 5%,#eaeaeb 51%,#e0ddd9 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 4%,#e0e0e2 5%,#eaeaeb 51%,#e0ddd9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0ddd9',GradientType=0 ); /* IE6-9 */
    border: 1px solid #c0bfc4;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 0 0 0 5px;
}

.index .conteudo .incluir_conteudo .box_destaque {
    float: left;
    height: auto;
    width: 770px;
    position: relative;
    margin: 5px 0 0 0;
    border-top: 1px solid #c0bfc4;
}

.index .conteudo .incluir_conteudo .box_destaque .box_video {
    float: left;
    height: 205px;
    width: 550px;
    position: relative;
    margin: 15px 0 0 4px;
    border: 1px solid #c0bfc4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #f6f6f6;
}

.index .conteudo .incluir_conteudo .box_destaque .box_video .incluir_video {
    float: left;
    height: 190px;
    width: 534px;
    position: relative;
    margin: 7px;
    border: 1px solid #c0bfc4;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #000;
}
.index .conteudo .incluir_conteudo .menu_lateral .encontre-seu-imovel .box_busca_avancada {
    float: left;
    height: 80px;
    width: 198px;
    position: relative;
}
.index .conteudo .incluir_conteudo .menu_lateral .encontre-seu-imovel .box_busca_avancada .space {
    float: left;
    height: 20px;
    width: 198px;
    position: relative;
    border-bottom: 1px solid #CDCDCD;
}
.index .conteudo .incluir_conteudo .menu_lateral .encontre-seu-imovel .box_busca_avancada .btn_busca_avancada {
    float: left;
    height: 25px;
    width: 180px;
    position: relative;
    margin: 15px 8px 8px 8px;
    background: url(../img/bg_busca_avancada.png) no-repeat #bfcbc1 159px 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #FFF;
    -moz-box-shadow: 0 0px 2px #888888;
    -webkit-box-shadow: 0 0px 2px #888888;
    box-shadow: 0 0px 2px #888888;
    color: #FFF;
    font-family: Arial;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    line-height: 25px;
}
.index .conteudo .incluir_conteudo .menu_lateral .encontre-seu-imovel .mais_buscados {
    float: left;
    height: auto;
    width: 185px;
    position: relative;
    margin: 0 0 0 8px;
}
.index .conteudo .incluir_conteudo .menu_lateral .encontre-seu-imovel .mais_buscados .titilo {
    float: left;
    height: 20px;
    width: 160px;
    position: relative;
    font-family: Arial;
    font-size: 12px;
}

.index .conteudo .incluir_conteudo .menu_lateral .encontre-seu-imovel .mais_buscados .titilo span {
    color: #c8e13a !important;
}

.index .conteudo .incluir_conteudo .menu_lateral .encontre-seu-imovel .mais_buscados .desc {
    float: left;
    height: 20px;
    width: 180px;
    position: relative;
    font-family: Arial;
    font-size: 12px;
    color: #666;
}
.index .conteudo .incluir_conteudo .box_destaque .oferta-imperdivel {
    float: right;
    height: 210px;
    width: 200px;
    position: relative;
    margin: 15px 0 0 0;
}
.index .conteudo .incluir_conteudo .box_destaque .oferta-imperdivel .top-oferta {
    float: left;
    height: 40px;
    width: 200px;
    position: relative;
    background: #e85f08; /* Old browsers */
    background: -moz-linear-gradient(top,  #e85f08 0%, #cd500b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e85f08), color-stop(100%,#cd500b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e85f08 0%,#cd500b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e85f08 0%,#cd500b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e85f08 0%,#cd500b 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #e85f08 0%,#cd500b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e85f08', endColorstr='#cd500b',GradientType=0 ); /* IE6-9 */
    line-height: 40px;
    text-align: center;
    font-family: Arial;
    color: #FFF;
    font-weight: bold;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

}
.index .conteudo .incluir_conteudo .box_destaque .oferta-imperdivel .imagem {
    float: left;
    height: 111px;
    width: 198px;
    position: relative;

}

.index .conteudo .incluir_conteudo .box_destaque .oferta-imperdivel .baixo-oferta {
    float: left;
    height: 53px;
    width: 200px;
    position: relative;
    background: #e85f08; /* Old browsers */
    background: -moz-linear-gradient(top,  #e85f08 0%, #cd500b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e85f08), color-stop(100%,#cd500b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e85f08 0%,#cd500b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e85f08 0%,#cd500b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e85f08 0%,#cd500b 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #e85f08 0%,#cd500b 100%); /* W3C */





    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e85f08', endColorstr='#cd500b',GradientType=0 ); /* IE6-9 */
    line-height: 40px;
    text-align: center;
    font-family: Arial;
    color: #FFF;
    font-weight: bold;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;

}
.index .barra_rodape {
    float: left;
    height: 40px;
    width: 100%;
    position: relative;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 4%, #e0e0e2 5%, #eaeaeb 51%, #e0ddd9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(4%,#ffffff), color-stop(5%,#e0e0e2), color-stop(51%,#eaeaeb), color-stop(100%,#e0ddd9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 4%,#e0e0e2 5%,#eaeaeb 51%,#e0ddd9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 4%,#e0e0e2 5%,#eaeaeb 51%,#e0ddd9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 4%,#e0e0e2 5%,#eaeaeb 51%,#e0ddd9 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 4%,#e0e0e2 5%,#eaeaeb 51%,#e0ddd9 100%); /* W3C */


    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0ddd9',GradientType=0 ); /* IE6-9 */
    border-top: 1px solid #c0bfc4;
    border-bottom: 1px solid #c0bfc4;
    margin: 10px 0 0 0;
}




@-webkit-keyframes animaquadro3{
    0% {  left: 1000px; opacity: 0;}
100% { left: 962px; opacity: 1.0;}
}

@-webkit-keyframes animaquadro4{
    0% {  left: 1000px; opacity: 0;}
100% { left: 932px; opacity: 1.0;}
}


@-moz-keyframes animaquadro3{
    0% {  left: 1000px; opacity: 0;}
100% { left: 962px; opacity: 1.0;}
}

@-moz-keyframes animaquadro4{
    0% {  left: 1000px; opacity: 0;}
100% { left: 932px; opacity: 1.0;}
}





.index .barra_rodape .rede_social {
    height: 35px;
    width: 990px;
    position: relative;
    margin: auto;
}


.index .barra_rodape .rede_social .facebook {
    float: right;
    height: 23px;
    width: 25px;
    position: absolute;
    left: 962px;
    top: 10px;
    -webkit-animation: animaquadro3 ease-out 1s;
    -moz-animation: animaquadro3 ease-out 1s;
}


.index .barra_rodape .rede_social .twitter {
    float: right;
    height: 23px;
    width: 25px;
    position: absolute;
    left: 932px;
    top: 10px;
    -webkit-animation: animaquadro4 ease-out 1s;
    -moz-animation: animaquadro4 ease-out 1s;
}


.index .rodape .incluir_rodape .institucional {
    float: left;
    height: 150px;
    width: 200px;
    position: relative;
    font-family: Arial;
    font-size: 13px;
    color: #666;
    margin-top: 10px;
}
.index .rodape .incluir_rodape .institucional strong {
    color: #31b132;
    font-size: 14px;
}
.index .rodape .incluir_rodape .exibir_desenvolvimento {
    float: right;
    height: 20px;
    width: 210px;
    position: relative;
    margin: 130px 0 0 0;
}
.index .conteudo .incluir_conteudo .box_destaque .oferta-imperdivel .baixo-oferta .tempo_restante {
    float: left;
    height: 20px;
    width: 180px;
    position: relative;
    line-height: 20px;
    font-size: 12px;
    text-align: center;
    margin: 0 0 0 10px;
}
.index .conteudo .incluir_conteudo .box_destaque .oferta-imperdivel .baixo-oferta .tempo {
    float: left;
    height: 25px;
    width: 120px;
    position: relative;
    font-size: 16px;
    line-height: 25px;
    margin: 0 40px 0 40px;
    background: #000000;
}
.index .conteudo .incluir_conteudo .box_destaque .box_video .incluir_video .menu_video {
    float: left;
    height: 190px;
    width: 180px;
    position: relative;
}
.index .conteudo .incluir_conteudo .box_destaque .box_video .incluir_video .frame_video {
    float: left;
    height: 180px;
    width: 340px;
    position: relative;
    margin: 5px 0 0 10px;
}
.index .conteudo .incluir_conteudo .box_destaque .box_video .incluir_video .menu_video p {
    font-family: Arial;
    font-size: 25px;
    color: #FFF;
    position: relative;
    float: left;
    margin: 25px 0 0 10px;
}

.index .conteudo .incluir_conteudo .box_destaque .box_video .incluir_video .menu_video  .texto_video {
    font-family: Arial;
    font-size: 11px;
    color:  #999;
    position: relative;
    float: left;
    height: auto;
    width: 160px;
    margin: 5px 0 0 10px;
}
.index .conteudo .incluir_conteudo .box_destaque .box_video .incluir_video .menu_video .menu_video {
    float: left;
    height: 60px;
    width: 175px;
    position: relative;
    margin: 5px 0 0 5px;
}
.index .conteudo .incluir_conteudo .box_destaque .box_video .incluir_video .menu_video .menu_video .item_menu {
    float: left;
    height: 25px;
    width: 169px;
    position: relative;
    font-family: Arial;
    font-size: 10px;
    color: #999;
    line-height: 25px;
    padding: 0 0 0 5px;
    background: #010101; /* Old browsers */
    background: -moz-linear-gradient(top,  #010101 1%, #202020 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#010101), color-stop(100%,#202020)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #010101 1%,#202020 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #010101 1%,#202020 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #010101 1%,#202020 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #010101 1%,#202020 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#010101', endColorstr='#202020',GradientType=0 ); /* IE6-9 */

}
.index .conteudo .incluir_conteudo .box_destaque .box_video .incluir_video .menu_video .menu_video .item_menu span {
    color: #F00;
}
.index .conteudo .incluir_conteudo .box_destaque .box_video .incluir_video .menu_video .menu_video .item_menu strong {
    color: #FFF;
}



#mostrar{
    width:32px;
    height: 190px;
    position: absolute;
    float: left;
    top: 50px;
    right: 0;
    background: url(../img/corretor-online.png) no-repeat;
    z-index: 9999;
}
.index .conteudo .incluir_conteudo .content .box_listagem {
    float: left;
    height: auto;
    width: 773px;
    position: relative;
    margin: 7px 0 0 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #c0bfc4;
    background: #f6f6f6;
}
.index .conteudo .incluir_conteudo .content .box_listagem .item_listagem {
    float: left;
    height: 280px;
    width: 182px;
    position: relative;
    background: #FFF;
    margin: 5px 5px 10px 6px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.index .conteudo .incluir_conteudo .content .box_listagem .item_listagem .titulo {
    float: left;
    height: 40px;
    width: 177px;
    position: relative;
    padding: 0 0 0 5px;
    line-height: 40px;
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    color: #343440;
}
.index .conteudo .incluir_conteudo .content .box_listagem .item_listagem .imagem {
    float: left;
    height: 165px;
    width: 170px;
    position: relative;
    margin: 0 6px 0 6px;

}
.index .conteudo .incluir_conteudo .content .box_listagem .item_listagem .descricao {
    float: left;
    height: 40px;
    width: 170px;
    position: relative;
    margin: 5px;
    font-size: 10px;
    font-family: Arial;
}
.index .conteudo .incluir_conteudo .content .box_listagem .item_listagem .btn-veja {
    float: right;
    height: 20px;
    width: 50px;
    position: absolute;
    background: #31b132;
    color: #fff;
    font-family: Arial;
    font-size: 11px;
    line-height: 20px;
    text-align: center;
    bottom: 0px;
    right: 0px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-right-radius: 4px;
}
.index .conteudo .incluir_conteudo .content .paginacao_lista {
    float: left;
    height: 25px;
    width: 775px;
    position: relative;
    margin: 8px 0 0 0;
}

.index .conteudo .incluir_conteudo .box_destaque .box_sugerimos {
    float: left;
    height: 210px;
    width: 550px;
    position: relative;
    margin: 15px 0 0 4px;

}.index .conteudo .incluir_conteudo .content .box_destaque .box_sugerimos .titulo {
    float: left;
    height: 210px;
    width: 30px;
    position: relative;
    text-align: center;
    border-right: 1px solid #CDCDCD;
}
.index .conteudo .incluir_conteudo .content .box_destaque .box_sugerimos .bom_sugestao_interna {
    float: left;
    height: 170px;
    width: 508px;
    position: relative;
    margin: 0 0 0 5px;
    background: #d2ded2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-left: 8px;
}
.index .conteudo .incluir_conteudo .content .box_destaque .box_sugerimos .paginacao {
    float: left;
    height: 25px;
    width: 508px;
    position: relative;
    margin: 10px 0 0 7px;
    background: -moz-linear-gradient(top,  #ffffff 4%, #e0e0e2 5%, #eaeaeb 51%, #e0ddd9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(4%,#ffffff), color-stop(5%,#e0e0e2), color-stop(51%,#eaeaeb), color-stop(100%,#e0ddd9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 4%,#e0e0e2 5%,#eaeaeb 51%,#e0ddd9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 4%,#e0e0e2 5%,#eaeaeb 51%,#e0ddd9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 4%,#e0e0e2 5%,#eaeaeb 51%,#e0ddd9 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 4%,#e0e0e2 5%,#eaeaeb 51%,#e0ddd9 100%); /* W3C */



    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0ddd9',GradientType=0 ); /* IE6-9 */
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #c0bfc4;
}
.index .conteudo .incluir_conteudo .content .box_destaque .box_sugerimos .bom_sugestao_interna .incluir_destaque {
    float: left;
    height: 160px;
    width: 160px;
    position: relative;
    margin: 4px 4px 4px 5px;
}
.index .conteudo .incluir_conteudo .content .box_destaque .box_sugerimos .bom_sugestao_interna .incluir_destaque .imagem {
    float: left;
    height: 114px;
    width: 160px;
    position: relative;
}
.index .conteudo .incluir_conteudo .content .box_destaque .box_sugerimos .bom_sugestao_interna .incluir_destaque .descricao {
    float: left;
    height: auto;
    width: 160px;
    position: relative;
    margin: 5px 0 0 0;
    font-family: Arial;
    font-size: 10px;
}
.index .conteudo .incluir_conteudo .content .box_destaque .box_sugerimos .bom_sugestao_interna .incluir_destaque .descricao strong {
    font-size: 12px;
}
.index .conteudo .incluir_conteudo .content .box_listagem .item_listagem .link_listagem {
    float: left;
    height: 286px;
    width: 186px;
    position: absolute;
    left: 0px;
    top: -2px;
    z-index: 2;
}
.index .conteudo .incluir_conteudo .menu_lateral .item_apresentacao {
    float: left;
    height: 30px;
    width: 198px;
    position: relative;
    background: #fdfdfd; /* Old browsers */
    background: -moz-linear-gradient(top,  #fdfdfd 0%, #efeded 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#efeded)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fdfdfd 0%,#efeded 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fdfdfd 0%,#efeded 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fdfdfd 0%,#efeded 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fdfdfd 0%,#efeded 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#efeded',GradientType=0 ); /* IE6-9 */
    border-top: 1px solid #c0bfc4;
}

.index .conteudo .incluir_conteudo .menu_lateral .item_apresentacao a{
    padding: 0 0 0 40px;
    height: 30px;
    float: left;
    position: relative;
    width: 158px;
    line-height: 30px;
    font-family: Arial;
    text-transform: uppercase;
    font-size: 13px;
    color: #8c8c8c;
}



.icone_empreendimento{
    background:url(../img/icone/icone_empreendimento.png) no-repeat 5px 5px;
}

.icone_localizacao{
    background: url(../img/icone/icone_mapa.png) no-repeat 5px 5px;
}

.icone_area{
    background: url(../img/icone/icone_lazer.png) no-repeat 5px 5px;
}

.icone_apartamento{
    background: url(../img/icone/icone_apartamento.png) no-repeat 5px 5px;
}

.icone_plantas{
    background: url(../img/icone/icone_planta.png) no-repeat 5px 5px;
}

.icone_preco{
    background: url(../img/icone/icone_preco.png) no-repeat;
}

.icone_ficha{
    background: url(../img/icone/icone_check.png) no-repeat 5px 5px;
}


.index .conteudo .incluir_conteudo .content .produto_interno {
    float: left;
    height: auto;
    width: 775px;
    position: relative;
    margin: 5px 0 0 0;
}
.index .conteudo .incluir_conteudo .content .produto_interno .titulo {
    float: left;
    height: 30px;
    width: 775px;
    position: relative;
    font-family: Arial;
    font-size: 20px;
    color: #999;
    line-height: 30px;
}
.index .conteudo .incluir_conteudo .content .produto_interno .foto {
    float: left;
    height: 274px;
    width: 773px;
    position: relative;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0px 0px 5px 2px #CDCDCD;
    -moz-box-shadow: 0px 0px 2px 2px #CDCDCD;
    -webkit-box-shadow: 0px 0px 2px 2px #CDCDCD;

}

.index .conteudo .incluir_conteudo .content .produto_interno .foto img {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;


}
.index .conteudo .incluir_conteudo .content .produto_interno .detalhes {
    float: left;
    height: auto;
    width: 775px;
    position: relative;
    margin: 5px 0 0 0;
    color: #666;
}
.index .conteudo .incluir_conteudo .content .produto_interno .detalhes .detalhes {
    float: left;
    height: 400px;
    width: 250px;
    position: relative;
}
.index .conteudo .incluir_conteudo .content .produto_interno .detalhes .detalhes .parte1 {
    float: left;
    height: 100px;
    width: 250px;
    position: relative;
    border-bottom: 1px solid #CDCDCD;
}
.index .conteudo .incluir_conteudo .content .produto_interno .detalhes .detalhes .parte1 .logo {
    float: left;
    height: 75px;
    width: 120px;
    position: relative;
    margin: 10px 0 0 0;
    border-right: 1px solid #CDCDCD;
}
.index .conteudo .incluir_conteudo .content .produto_interno .detalhes .detalhes .parte1 .descricao {
    float: left;
    height: 65px;
    width: 110px;
    position: relative;
    font-family: Arial;
    font-size: 13px;
    margin: 15px 0 0 10px;
    color: #999999;
}
.index .conteudo .incluir_conteudo .content .produto_interno .detalhes .detalhes .apresentacao {
    float: left;
    height: auto;
    width: 250px;
    position: relative;
    font-family: Arial;
    font-size: 12px;
    color: #333;
    margin: 10px 0 0 0;
}
.index .conteudo .incluir_conteudo .content .produto_interno .detalhes .detalhes .apresentacao strong {
    text-transform: uppercase;
}
.index .conteudo .incluir_conteudo .content .produto_interno .detalhes .detalhes .apresentacao b {
    color: #31b132;
}
.index .conteudo .incluir_conteudo .content .produto_interno .detalhes .boxs {
    float: left;
    height: auto;
    width: 520px;
    position: relative;
    margin: 5px 0 5px 5px;
}
.index .conteudo .incluir_conteudo .content .produto_interno .detalhes .boxs .box {
    float: left;
    height: 200px;
    width: 240px;
    position: relative;
    background: url(../img/bg_box.jpg);
    margin: 10px 0 10px 20px;
}
.index .conteudo .incluir_conteudo .content .produto_interno .detalhes .boxs .box .imagem {
    float: left;
    height: 95px;
    width: 231px;
    position: relative;
    margin: 4px;
}
.index .conteudo .incluir_conteudo .content .produto_interno .detalhes .boxs .box .descricao {
    float: left;
    height: auto;
    width: 220px;
    position: relative;
    margin: 5px 5px 5px 10px;
    font-size: 12px;
    font-family: Arial;
    color: #666;
}
.index .conteudo .incluir_conteudo .content .produto_interno .detalhes .boxs .box .descricao strong {
    color: #000;
}
.index .conteudo .incluir_conteudo .content .produto_interno .detalhes .boxs .box .veja_mais {
    float: left;
    height: 20px;
    width: 40px;
    position: relative;
    font-family: Arial;
    color: #31b132;
    font-size: 11px;
    line-height: 20px;
    margin: 0 0 0 10px;
}
.index .conteudo .incluir_conteudo .content .produto_interno .detalhes .boxs .box .text {
    float: left;
    height: 170px;
    width: 224px;
    position: relative;
    margin: 15px 8px 8px 8px;
    background: url(../img/busula.png) center right no-repeat;
    font-family: Arial;
    color: #999;
    font-size: 12px;
}
.index .conteudo .incluir_conteudo .content .produto_interno .detalhes .boxs .box .text p strong {
    font-family: Arial;
    font-size: 15px;
}
.index .conteudo .incluir_conteudo .content .produto_interno .detalhes .boxs .box .text p strong {
    color: #000;
}





.index .conteudo .incluir_conteudo .content .produto_interno .detalhes .boxs .box .text1 {
    float: left;
    height: 170px;
    width: 224px;
    position: relative;
    margin: 15px 8px 8px 8px;
    background: url(../img/compasso.png) center right no-repeat;
    font-family: Arial;
    color: #999;
    font-size: 12px;
}
.index .conteudo .incluir_conteudo .content .produto_interno .detalhes .boxs .box .text1 p strong {
    font-family: Arial;
    font-size: 15px;
}
.index .conteudo .incluir_conteudo .content .produto_interno .detalhes .boxs .box .text1 p strong {
    color: #000;
}
#produto .index .conteudo .incluir_conteudo .menu_lateral .links {
    float: left;
    height: 300px;
    width: 200px;
    position: relative;
    margin: 10px 0 0 0;
}
#produto .index .conteudo .incluir_conteudo .menu_lateral .links ul {
    font-family: Arial;
    font-size: 12px;
    color: #666;
    list-style: url(../img/bollot-list.jpg);
    margin: 15px 0 0 12px
}

#produto .index .conteudo .incluir_conteudo .menu_lateral .links ul li{
    border-bottom: 1px solid #CDCDCD;
    padding: 8px 0 8px 0;
}

#produto .index .conteudo .incluir_conteudo .menu_lateral .links ul li a{
    text-decoration: none;
    color: #666;
    font-size: 12px;

}
#produto .index .conteudo .incluir_conteudo .content .produto_interno .detalhes p {
    font-family: Arial;
    font-size: 13px;
}
