/*
 * MWS Admin v1.5 - Demo Stylesheet
 * This file is part of MWS Admin, an Admin template build for sale at ThemeForest.
 * All copyright to this file is hold by Mairel Theafila <maimairel@yahoo.com> a.k.a nagaemas on ThemeForest.
 * Last Updated:
 * April 29, 2012
 *
 */

ul#icons li, 
ul#icons-16 li, 
ul#icons-24 li, 
ul#icons-colors li
{
    margin:0;
    padding:0;
    list-style:none;
    cursor:pointer;
}

ul#icons-16 li, 
ul#icons-24 li, 
ul#icons-colors li
{
    float:left;
    margin:4px;
    display:block;
    background-position:center center;
    background-color:#434343;
    width:32px; height:32px;

    /* CSS 3 */

    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -o-border-radius:4px;
    border-radius:4px;
}

ul#icons-16 li
{
    background-color:#f0f0f0;
    border:1px solid #cccccc;
}

ul#icons-24 li
{
    width:40px;
    height:40px;
}

ul#icons-colors li
{
    width:48px;
    height:48px;
    background-color:#f0f0f0;
    border:1px solid #cccccc;
}

ul#icons li
{
    float:left;
    margin:2px;
    padding:4px 0;
}

ul#icons li.ui-state-default
{
    background-color:#f0f0f0;
    border:1px solid #cccccc;
}

ul#icons li span
{
    display:block;
    margin:0 4px;
}


#eq span {
    float:left; margin:0 15px
}