.info-geral {
    background: #efefef  url(../images/aviso.png) 33px 24px no-repeat;
    min-height:95px;
    margin:-10px 20px 20px 20px;
    position:relative;
}

.info-geral p {
    padding:27px 60px 25px 100px;
    font-family: "Droid Sans", Arial;
    font-size:12px;
    line-height:16px;
    width:770px;
}

.info-geral .fechar {
    font-size:13px;
    position:absolute;
    top:5px;
    right:5px;
    display:block;
    width:15px;
    height:20px;
    background: #efefef  url(../images/fechar.png) 0px 0px no-repeat;
}
.duvidas-filtro {
    margin: 10px 20px;
    padding: 17px 10px 14px 0;
    background: -webkit-gradient(linear, 0 0, 0 100%,
                from(#f7eedf), to(#e9ddc3)) 0 0 no-repeat,
                -webkit-gradient(linear, 0 0, 0 100%, from(#f7eedf), to(#e9ddc3)) 0 0 no-repeat;
    background: -moz-linear-gradient(#f7eedf, #e9ddc3) 0 0 no-repeat,
                -moz-linear-gradient(#f7eedf, #e9ddc3) 0 0 no-repeat;
}
.duvidas-filtro a.envie_duvida {
    display: block;
    float: left;
    margin: 0 20px;
    padding: 5px 10px 6px 30px;
    border:1px solid #c01c1d;
    color: #fff;
    font-family: "Droid Sans", Arial;
    font-size:12px;
    font-weight: bold;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    background:url(../images/ico_carta.png) 7px 6px no-repeat;
    background:url(../images/ico_carta.png) 7px 6px no-repeat,
        -webkit-gradient(linear, 0 0, 0 100%,
        from(#e63d44), to(#a00203)) 0 0 no-repeat,
        -webkit-gradient(linear, 0 0, 0 100%, from(#e63d44), to(#a00203)) 0 0 no-repeat;
    background:-moz-linear-gradient(#e63d44, #a00203) 0 0 no-repeat,
        -moz-linear-gradient(#e63d44, #a00203) 0 0 no-repeat;
}
.duvidas-filtro a.buscar {
    display: block;
    float: right;
    margin: 0 10px;
    padding: 5px 30px 6px 10px;
    border:1px solid #d37126;
    color: #fff;
    font-family: "Droid Sans", Arial;
    font-size:12px;
    font-weight: bold;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    background:url(../images/ico_buscar.png) 86% 4px no-repeat;
    background:url(../images/ico_buscar.png) 86% 4px no-repeat,
        -webkit-gradient(linear, 0 0, 0 100%,
        from(#fda14e), to(#d95517)) 0 0 no-repeat,
        -webkit-gradient(linear, 0 0, 0 100%, from(#fda14e), to(#d95517)) 0 0 no-repeat;
    background:-moz-linear-gradient(#fda14e, #d95517) 0 0 no-repeat,
        -moz-linear-gradient(#fda14e, #d95517) 0 0 no-repeat;
}
.duvidas-filtro input[type="text"] {
    padding: 6px 10px;
    float: left;
    width: 390px;
    margin: 0 10px 0 0;
    border-color: #cfcfcf;
}
.duvidas-filtro select {
    padding: 6px 10px;
    float: left;
    width: 236px;
}
.duvidas-filtro div.selector {
    background: none;
    width: 220px !important;
    padding: 0;
    margin: -5px 0 0 10px;
}
.duvidas-filtro div.selector span,
.duvidas-filtro div.hover span,
.duvidas-filtro div.focus span,
.duvidas-filtro div.active span {
    padding: 0 0 0 6px;
    height: 35px;
    background:url(../images/bg_select_busca.png) no-repeat;
    background-position: 0 4px !important;
}

#tabs-dr-responde {
    margin: 20px 20px 0 20px;
}
.box-lista-dr-responde {
    width: 640px;
    float: left;   
}
.item-dr-responde {
    border-bottom: 1px dotted #aaa;
    padding: 20px 0;
    position: relative;
}
.item-dr-responde img {
    float: left;
    margin: 0 20px 0 0;
    border: 1px solid #ccc;
    width: 122px;
    height: 112px;
}
.item-dr-responde h2 {
    font-size: 14px;
    font-family: "Droid Sans", Arial;
    font-weight: normal;
    color: #3796d0;
}
.item-dr-responde p {
    font-size: 12px;
    color: #666;
    margin: 10px 0;
}
.item-dr-responde p.autor {
    color: #9c9c9c;
}  
.item-dr-responde a {
    color: #3796d0;
}
.item-dr-responde div.compartilhar_pergunta {
    position: absolute;
    bottom: 20px;
    right: 0;
}
.primeiro {
    padding-top: 0;
}
.ultimo {
    border: 0;
}
aside.dir-lista-guia {
    float: right;
    width: 270px;
    height: auto;
    border: 0;
    margin: 0;
}
aside.dir-lista-guia div.categorias {
    width: 228px;
    border: 1px solid #e1e1e1;
    margin: 0 0 30px 0;
    padding: 20px;
}
aside.dir-lista-guia div.categorias h3 {
    color: #4f9bcd;
    text-transform: uppercase;
    margin: 0 0 15px 0;
    padding: 0;
}
aside.dir-lista-guia div.categorias ul {
    margin: 0 0 0 15px;
    padding: 0;
}
aside.dir-lista-guia div.categorias ul li {
    font-family: "Droid Sans", Arial;
    font-size:12px;
    margin: 5px 0;
    color: #3998c8;
}
aside.dir-lista-guia div.categorias ul li a {
    color: #636363;
}
aside.dir-lista-guia div.servicos-lista {
    background: #efefef;
    padding: 20px;
}
aside.dir-lista-guia div.servicos-lista h3 {
    margin: 0;
    padding: 0;
    background: url(../images/side_servicos_title_arrow.png) 80px 7px no-repeat;
}
aside.dir-lista-guia div.item_servico {
    padding: 15px 0;
    border-bottom: 1px dotted #a5a5a5;
    position: relative;
}
aside.dir-lista-guia div.item_servico img {
    width: 100px;
    height: 70px;
    float: left;
    border: 0;
    margin: 0 15px 0 0;
}
aside.dir-lista-guia div.item_servico h4 {
    font-family: "Droid Sans", Arial;
    font-size: 12px;
    color: #666;
    text-transform: uppercase;
}
aside.dir-lista-guia div.item_servico p {
    margin: 0;
    color: #848889;
}
aside.dir-lista-guia div.item_servico a.leiamais {
    font-family: "Droid Sans", Arial;
    font-size: 10px;
    color: #2c98c9;
    text-transform: uppercase;
}
aside.dir-lista-guia div.item_servico span.leg_imagem {
    display: block;
    width: 90px;
    height: auto;
    background: #000;
    color: #fff;
    position: absolute;
    padding: 2px 5px;
    text-transform: uppercase;
    font-size: 10px;
    opacity:0.70;
    -moz-opacity: 0.70;
    filter: alpha(opacity=70);
}
aside.dir-lista-guia div.ultimo {
    padding: 15px 0 0 0;
    border: 0;
}
aside.dir-lista-guia div.publicidade {
    background: #f5f5f5;
    margin: 20px 0 0 0;
}
aside.dir-lista-guia div.publicidade p {
    text-transform: uppercase;
    font-size: 8px;
    margin: 0;
    padding: 7px 9px 3px 9px;
}
aside.dir-lista-guia div.publicidade a img {
    border: 1px solid #ccc;
    display: block;
    margin: 0 auto;
    padding: 0;
}
.conteudo_limite {
    margin: 20px 20px 0 20px;
}
.conteudo-dr-responde-limite {
    width: 640px;
    float: left;
    border-bottom: 1px dotted #999;
    padding: 0 0 15px 0;
}
.conteudo-dr-responde-limite div.box_imagem {
    float: left;
    width: 124px;
    margin: 0 20px 0 0;
}
.conteudo-dr-responde-limite div.box_imagem img {
    border: 1px solid #ccc;
    width: 122px;
    height: 112px;
}
.conteudo-dr-responde-limite div.box_imagem p {
    margin: 0;
    color: #999;
}
.conteudo-dr-responde-limite div.box_imagem p a {
    display: block;
    color: #3692d3;
}
.conteudo-dr-responde {
    display: block;
    float: left;
    width: 496px;
}
.conteudo-dr-responde h2 {
    font-size: 16px;
    line-height: 18px;
    font-family: "Droid Sans", Arial;
    font-weight: normal;
    color: #3796d0;
}
.conteudo-dr-responde p {
    color: #666;
    font-size: 12px;
    line-height: 18px;
}
.perguntas_relacionadas {
    width: 640px;
    float: left;
    padding: 20px 0 0 0;
}
.perguntas_relacionadas h3 {
    text-transform: uppercase;
    font-size: 14px;
    margin: 0 0 20px 0;
    background: url(../images/side_servicos_title_arrow.png) 190px 3px no-repeat;
}
.perguntas_relacionadas ul {
    margin: 0 0 0 15px;
    padding: 0;
}
.perguntas_relacionadas ul li {
    font-family: "Droid Sans", Arial;
    font-size:12px;
    margin: 5px 0 10px 0;
    color: #3998c8;
}
.perguntas_relacionadas ul li a {
    color: #636363;
}