.conteudo-box:after {
    content:".";
    display:block;
    clear:both;
}
.conteudo-box {
    width: 950px;
    margin: 18px auto 0 auto;
    padding: 0;
}
.conteudo-box p.resultados {
    font-family: "Droid Sans", Arial;
    font-size:18px;
    color: #2c98c9;
    background: url(../images/arrowb.gif) 220px 8px no-repeat;
}
.conteudo-box .primeiro {
    padding-top: 0;
}
.conteudo-box .ultimo {
    border: 0;
}
.emergencia24h h2 {
    font-family: "Droid Sans", Arial;
    font-size:20px;
    color: #999;
    font-weight: normal;
}
.emergencia24h p {
    font-family: "Droid Sans", Arial;
    font-size:14px;
    line-height: 22px;
    color: #666;
    margin: 15px 0;
    padding: 0;
}
.emergencia24h p a {
    color: #3399cc;
    font-weight: bold;
    border-bottom: 1px dotted #3399cc;
}
.emergencia24h div.box_emergencia {
    width: 245px;
    height: 260px;
    display: block;
    float: left;
    padding:20px;
    border: 1px solid #ccc;
    border-right-width: 2px;
    border-bottom-width: 2px;
    margin: 20px 43px 0 0;
}
.emergencia24h div.box_emergencia h3 {
    font-family: "Droid Sans", Arial;
    font-size:18px;
    color: #2c98c9;
    text-transform: uppercase;
    margin: 0 0 10px 0;
    padding: 0;
}
.emergencia24h div.box_emergencia img {
    padding: 0 1px 1px 0;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    margin: 0;
}
.emergencia24h div.box_emergencia p {
    margin: 15px 0;
    font-family: "Droid Sans", Arial;
    font-size:12px;
    line-height: 14px;
    color: #666;
}
.emergencia24h div.box_emergencia a {
    display: block;
    font-family: "Droid Sans", Arial;
    font-size:14px;
    line-height: 14px;
    font-weight: bold;
    color: #fff;
    padding: 8px 20px 8px 10px;
    width: 55px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    border:1px solid #cf6823;
    background:url(../images/seta_dir_branca.png) 70px 11px no-repeat;
    background:url(../images/seta_dir_branca.png) 70px 11px no-repeat,
        -webkit-gradient(linear, 0 0, 0 100%,
        from(#fd9e4e), to(#d8551a)) 0 0 no-repeat,
        -webkit-gradient(linear, 0 0, 0 100%, from(#fd9e4e), to(#d8551a)) 0 0 no-repeat;
    background:url(../images/seta_dir_branca.png) 70px 11px no-repeat,
        -moz-linear-gradient(#fd9e4e, #d8551a) 0 0 no-repeat,
        -moz-linear-gradient(#fd9e4e, #d8551a) 0 0 no-repeat;
    cursor: pointer;
    text-decoration: none;
}
.emergencia24h div.ultimo {
    margin: 20px 0 0 0;
}
.item-servico24h {
    width: 660px;
    position: relative;
    padding:30px 0;
    border-bottom: 1px dotted #a5a5a5;
    float: left;
    display: block;
}
.item-servico24h img {
    float: left;
    border: 1px solid #c6c6c6;
    margin: 0 20px 0 0;
}
.item-servico24h h2 {
    font-family: "Droid Sans", Arial;
    font-size:19px;
    font-weight: normal;
    color: #666;
    margin: 0;
    padding: 0;
}
.item-servico24h p {
    font-size:12px;
    color: #666;
    line-height: 18px;
    margin: 0;
    padding: 0;
    width: 580px;
}
.item-servico24h p.endereco {
    font-family: "Droid Sans", Arial;
    font-size:14px;
    color: #999;
    margin:10px 0 15px 0;
    padding: 0;
    width: 100%;
}
.item-servico24h a.bt_telefone {
    float: right;
    display: block;
    font-family: "Droid Sans", Arial;
    font-size:12px;
    color: #999;
    padding:2px 10px 2px 20px;
    margin: -4px 40px 0 0;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    border:1px solid #cacaca;
    background:url(../images/ico_telefone.png) 7px 6px no-repeat;
    background:url(../images/ico_telefone.png) 7px 6px no-repeat,
        -webkit-gradient(linear, 0 0, 0 100%,
        from(#f2f2f2), to(#d5d5d5)) 0 0 no-repeat,
        -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#d5d5d5)) 0 0 no-repeat;
    background:url(../images/ico_telefone.png) 7px 6px no-repeat,
        -moz-linear-gradient(#f2f2f2, #d5d5d5) 0 0 no-repeat,
        -moz-linear-gradient(#f2f2f2, #d5d5d5) 0 0 no-repeat;
    cursor: pointer;
}
.item-servico24h p.aviso {
    font-size:12px;
    color: #2c98c9;
    margin:3px 0 0 0;
    padding: 0;
}
.item-servico24h span.distancia {
    font-family: "Droid Sans", Arial;
    font-size:18px;
    font-weight: bold;
    color: #2c98c9;
    margin: 0;
    padding:52px 0 0 0;
    display: block;
    text-align: center;
    background: url(../images/ico_distancia.png) top no-repeat;
    position: absolute;
    bottom: 30px;
    right: 10px;
}
section.dados_busca_emergencia {
    margin: 0 15px;
}
.dados_emergencia {
    border-top: 1px dotted #a5a5a5;
    border-bottom: 1px dotted #a5a5a5;
    margin: 0 0 20px 0;
}
.dados_emergencia div.dado {
    display: block;
    float: left;
    width: 180px;
    padding: 10px 0 15px 0;
    margin: 0 5px;
    text-align: center;
}
.dados_emergencia div.dado label {
    font-family: "Droid Sans", Arial;
    font-size:14px;
    color: #333;
}
.dados_emergencia div.dado span.dado_label {
    text-transform: uppercase;
    font-family: "Droid Sans", Arial;
    font-size:11px;
    color: #999;
}
section.dados_busca_emergencia fieldset {
    padding: 5px 0;
}
section.dados_busca_emergencia fieldset legend {
    margin: 0;
    padding: 0;
    font-family: "Droid Sans", Arial;
    font-size:14px;
    color: #3399cc;
}
section.dados_busca_emergencia fieldset.checkboxes {
    margin: 0 0 30px 0;
    padding: 20px 0;
    border-bottom: 1px solid #a5a5a5;
}
section.dados_busca_emergencia fieldset.checkboxes span.lbl_buscar {
    text-transform: uppercase;
    font-family: "Droid Sans", Arial;
    font-size:14px;
    color: #2c98c9;
    display: block;
    float: left;
}
section.dados_busca_emergencia fieldset.checkboxes label {
    font-family: "Droid Sans", Arial;
    font-size:14px;
    color: #999;
    display: block;
    float: left;
    margin: 0 0 0 20px;
}
section.dados_busca_emergencia fieldset.checkboxes label div.checker {
    margin: -3px 5px 0 0;
}
section.dados_busca_emergencia div.fundo_cinza {
    width: 930px;
    background: #efefef;
    padding: 10px;
    margin: 10px 0 20px 0;
    border-radius:3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
section.dados_busca_emergencia div.fundo_cinza label {
    width:910px;
    background: #fff;
    display: block;
    padding: 5px 10px;
    text-transform: uppercase;
    font-family: "Droid Sans", Arial;
    font-size:12px;
    color: #999;
}
section.dados_busca_emergencia div.fundo_cinza label input {
    width: 500px;
    border: 0;
    border-left:1px dotted #ccc;
    margin: 0 0 0 10px;
    padding: 0 10px;
    font-family: "Droid Sans", Arial;
    font-size:14px;
    color: #ccc;
}

.conteudotitulo div.info-geral {
    background: #efefef  url(../images/aviso.png) 33px 24px no-repeat;
    min-height:95px;
    margin:20px 15px 20px 0px;
    position:relative;
}

.conteudotitulo div.info-geral p {
    padding:35px 40px 25px 100px;
    font-family: "Droid Sans", Arial;
    font-size:13px;
    line-height:16px;
    width:790px;
}
.conteudotitulo div.info-geral .fechar {
    font-size:13px;
    position:absolute;
    top:5px;
    right:5px;
    display:block;
    width:15px;
    height:20px;
    background: #efefef  url(../images/fechar.png) 0px 0px no-repeat;
}

div.info-geral-pequeno {
    background: #efefef  url(../images/aviso.png) 33px 24px no-repeat;
    width: 660px;
    min-height:95px;
    margin:0 0 20px 0;
    position:relative;
    float: left;
    display: block;
}

div.info-geral-pequeno p {
    padding:20px 40px 25px 100px;
    font-family: "Droid Sans", Arial;
    font-size:13px;
    line-height:16px;
}
div.info-geral-pequeno .fechar {
    font-size:13px;
    position:absolute;
    top:5px;
    right:5px;
    display:block;
    width:15px;
    height:20px;
    background: #efefef  url(../images/fechar.png) 0px 0px no-repeat;
}
div.item-emergencia-conteudo {
    display: block;
    width: 660px;
    margin: 0 0 25px 0;
    padding: 0 0 25px 0;
    border-bottom: 1px dotted #adadad;
    clear: left;
}
div.item-emergencia-conteudo img {
    float: left;
    border: 1px solid #d2d2d2;
    margin: 0 20px 0 0;
}
div.item-emergencia-conteudo h2 {
    font-family: "Droid Sans", Arial;
    font-size:19px;
    color: #3399cc;
    font-weight: normal;
}
div.item-emergencia-conteudo p {
    font-size: 12px;
    line-height: 18px;
    margin: 10px 0 3px 0;
}
div.item-emergencia-conteudo a.leiamais {
    font-family: "Droid Sans", Arial;
    font-size:10px;
    color: #3399cc;
    text-transform: uppercase;
    font-weight: bold;
}
form.busca-emergencia {
    width: 660px;
    margin: 0 0 30px 0;
}
form.busca-emergencia input {
    padding: 3px 5px;
    width: 550px;
    font-family: "Droid Sans", Arial;
    font-size:16px;
    color: #999;
}
form.busca-emergencia a {
    display: block;
    float: right;
    margin: 0;
    padding: 5px 30px 6px 10px;
    border:1px solid #0d70a1;
    color: #fff;
    font-family: "Droid Sans", Arial;
    font-size:12px;
    font-weight: bold;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    background:url(../images/ico_buscar.png) 86% 4px no-repeat;
    background:url(../images/ico_buscar.png) 86% 4px no-repeat,
        -webkit-gradient(linear, 0 0, 0 100%,
        from(#3cb2e9), to(#016ba2)) 0 0 no-repeat,
        -webkit-gradient(linear, 0 0, 0 100%, from(#3cb2e9), to(#016ba2)) 0 0 no-repeat;
    background:-moz-linear-gradient(#3cb2e9, #016ba2) 0 0 no-repeat,
        -moz-linear-gradient(#3cb2e9, #016ba2) 0 0 no-repeat;
    text-decoration: none;
}
div.conteudo-detalhe {
    display: block;
    width: 660px;
    margin: 0;
    padding: 0;
}
div.conteudo-detalhe h2 {
    font-family: "Droid Sans", Arial;
    font-size:19px;
    color: #3399cc;
    font-weight: normal;
    margin: 0 0 20px 0;
}
div.conteudo-detalhe p {
    font-size: 12px;
    line-height: 18px;
    margin: 10px 0 3px 0;
}

section.dados_busca_pet {
    width: 950px;
    margin: 0 auto;
}
section.dados_busca_pet fieldset {
    margin: 20px 0;
    padding: 20px 0;
    border-bottom: 1px solid #a5a5a5;
}
section.dados_busca_pet fieldset.local {
    margin-top: 0;
}
section.dados_busca_pet fieldset.mais-info {
    border: 0;
}
section.dados_busca_pet fieldset legend {
    font-family: "Droid Sans", Arial;
    font-size:18px;
    color: #2c98c9;
    padding-right:20px;
    background:url(../images/arrow_b.jpg) right 9px no-repeat;
}
section.dados_busca_pet fieldset a.outro_endereco {
    font-size:11px;
    font-family:"Droid Sans", Arial;
    font-weight: bold;
    color:#999999;
    text-shadow:1px 1px #eee;
    border:1px solid #cacaca;
    cursor:pointer;
    display:block;
    width:190px;
    height:16px;
    padding:4px 0 0 20px;
    margin:0 0 20px 0;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    background:url(../images/ico_adicionar.png) 7px 5px no-repeat;
    background:url(../images/ico_adicionar.png) 7px 5px no-repeat,
        -webkit-gradient(linear, 0 0, 0 100%,
        from(#f2f2f2), to(#d5d5d5)) 0 0 no-repeat,
        -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#d5d5d5)) 0 0 no-repeat;
    background:url(../images/ico_adicionar.png) 7px 5px no-repeat,
        -moz-linear-gradient(#f2f2f2, #d5d5d5) 0 0 no-repeat,
        -moz-linear-gradient(#f2f2f2, #d5d5d5) 0 0 no-repeat;
    text-decoration: none;
}
section.dados_busca_pet fieldset a.outro_pet {
    font-size:11px;
    font-family:"Droid Sans", Arial;
    font-weight: bold;
    color:#999999;
    text-shadow:1px 1px #eee;
    border:1px solid #cacaca;
    cursor:pointer;
    display:block;
    width:90px;
    height:16px;
    padding:4px 0 0 20px;
    margin:0 0 20px 0;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    background:url(../images/ico_adicionar.png) 7px 5px no-repeat;
    background:url(../images/ico_adicionar.png) 7px 5px no-repeat,
        -webkit-gradient(linear, 0 0, 0 100%,
        from(#f2f2f2), to(#d5d5d5)) 0 0 no-repeat,
        -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#d5d5d5)) 0 0 no-repeat;
    background:url(../images/ico_adicionar.png) 7px 5px no-repeat,
        -moz-linear-gradient(#f2f2f2, #d5d5d5) 0 0 no-repeat,
        -moz-linear-gradient(#f2f2f2, #d5d5d5) 0 0 no-repeat;
    text-decoration: none;
}
section.dados_busca_pet a.pedido-ajuda {
    font-size:13px;
    font-family:"Droid Sans", Arial;
    font-weight: bold;
    color:#fff;
    border:1px solid #287ca7;
    cursor:pointer;
    display:block;
    width:180px;
    height:16px;
    padding:6px 0px 7px 13px;
    margin:0 0 20px 0;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    background:url(../images/setasbotoes.png) 90px 5px no-repeat;
    background:url(../images/setasbotoes.png) 170px 10px no-repeat,
        -webkit-gradient(linear, 0 0, 0 100%,
        from(#44bde4), to(#016ca2)) 0 0 no-repeat,
        -webkit-gradient(linear, 0 0, 0 100%, from(#44bde4), to(#016ca2)) 0 0 no-repeat;
    background:url(../images/setasbotoes.png) 7px 5px no-repeat,
        -moz-linear-gradient(#44bde4, #016ca2) 0 0 no-repeat,
        -moz-linear-gradient(#44bde4, #016ca2) 0 0 no-repeat;
    text-decoration: none;
}
section.dados_busca_pet fieldset label {
    font-family: "Droid Sans", Arial;
    font-size:12px;
    color: #999;
    text-transform: uppercase;
    border:1px solid #cacaca;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    display: block;
    float: left;
    padding: 0 5px;
    margin: 0 20px 0 0;
}
section.dados_busca_pet p {
    font-family: "Droid Sans", Arial;
    font-size:11px;
    color: #999;
}
section.dados_busca_pet fieldset label span.borda-direita {
    padding: 0 5px;
    border-right: 1px dotted #ccc;
}
section.dados_busca_pet fieldset label.select div.selector {
    background: none;
}
section.dados_busca_pet fieldset label.select div.selector span {
    font-family: "Droid Sans", Arial;
    font-size:12px;
    color: #666;
    background: url(../images/seta_select.jpg) right 14px no-repeat;
    text-align: center;
}

section.dados_busca_pet fieldset label.estado div.selector {width: 90px !important;}
section.dados_busca_pet fieldset label.estado div.selector span {width: 50px !important;}

section.dados_busca_pet fieldset label.cidade div.selector {width: 300px !important;}
section.dados_busca_pet fieldset label.cidade div.selector span {width: 260px !important;}

section.dados_busca_pet fieldset label.bairro {margin: 0;}
section.dados_busca_pet fieldset label.bairro div.selector {width: 266px !important;}
section.dados_busca_pet fieldset label.bairro div.selector span {width: 228px !important;}

section.dados_busca_pet fieldset label span.borda-direita {
    color: #7ac4ee;
    padding: 0 5px;
}

section.dados_busca_pet fieldset.mais-info label {
    font-family: "Droid Sans", Arial;
    font-size:12px;
    color: #999;
    text-transform: uppercase;
    border:1px solid #cacaca;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    display: block;
    float: none;
    padding: 0 5px;
    margin: 0 0 20px 0;
}
section.dados_busca_pet fieldset.mais-info label.data {
    width: 420px;
}
section.dados_busca_pet fieldset.mais-info div.selector {width: 90px !important;}
section.dados_busca_pet fieldset.mais-info div.selector span {width: 50px !important;}
section.dados_busca_pet fieldset.mais-info label.horario {width: 280px;}
section.dados_busca_pet fieldset.mais-info label.textarea {
    padding: 5px;
}
section.dados_busca_pet fieldset.mais-info label.textarea div.texto {
    font-family: "Droid Sans", Arial;
    font-size:12px;
    color: #999;
    display: block;
    border-right: 1px dotted #ccc;
    float: left;
    margin: 0 10px 0 0;
    padding: 5px 0;
}
section.dados_busca_pet fieldset.mais-info label.textarea textarea {
    border: 0;
    margin: 0;
}
section.dados_busca_pet fieldset.mais-info label.textarea span.borda-direita {
    border: 0;
    padding: 0;
}
section.dados_busca_pet fieldset.mais-info label.local div.texto {
    width: 125px;    
}
section.dados_busca_pet fieldset.mais-info label.local textarea {
    width: 790px;
}
section.dados_busca_pet fieldset.mais-info label.tracos div.texto {
    width: 230px;    
}
section.dados_busca_pet fieldset.mais-info label.tracos textarea {
    width: 685px;
}
section.dados_busca_pet fieldset.mais-info label.observacoes div.texto {
    width: 90px;
    padding: 11px 0;
}
section.dados_busca_pet fieldset.mais-info label.observacoes {
    margin-bottom: 0;
}
section.dados_busca_pet fieldset.mais-info label.observacoes textarea {
    width: 825px;
}
section.dados_busca_pet fieldset.mais-info label.recompensa {
    padding: 5px;
    width: 190px;
}
section.dados_busca_pet fieldset.mais-info label.recompensa input {
    border: 0;
    width: 80px;
}

section.dados_busca_pet table {
    margin: 0 0 20px 0;
    padding: 0;
    width: 950px;
    border-top: 1px dotted #a5a5a5;
    border-bottom: 1px dotted #a5a5a5;
    border-collapse: collapse;
}
section.dados_busca_pet table tr {
    border-top: 1px dotted #a5a5a5;
    border-bottom: 1px dotted #a5a5a5;
}
section.dados_busca_pet table th {
    font-family: "Droid Sans", Arial;
    font-size:11px;
    color: #999;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    padding: 5px 0 6px 0;
}
section.dados_busca_pet table td {
    font-family: "Droid Sans", Arial;
    font-size:12px;
    color: #333;
    text-align: center;
    padding: 12px 0 12px 0;
}
div.lista_pet {
    display: block;
    width: 277px;
    height: 132px;
    border: 1px solid #ccc;
    border-rigth: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    float: left;
    padding: 9px;
    margin: 0 9px 17px 8px;
}
div.lista_pet img {
    display: block;
    float: left;
    margin: 0 12px 0 0;
    padding: 0 1px 1px 0;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
div.lista_pet p {
    margin: 0;
    border-bottom: 1px dotted #ccc;
    display: block;
    float: left;
    width: 130px;
    padding: 5px 0;
    font-family: "Droid Sans", Arial;
    font-size:11px;
    color: #333;
}
div.lista_pet p.nome {
    font-family: "Droid Sans", Arial;
    font-size:13px;
    font-weight: bold;
    color: #2c98c9;
}
div.lista_pet p span {
    font-family: "Droid Sans", Arial;
    font-size:11px;
    color: #666;
    display: block;
    float: left;
    padding: 0 5px 0 0;
    width: 30px;
    text-transform: uppercase;
}
div.lista_pet p.raca span {
    padding: 6px 5px 6px 0;
}

p.cartaz_tit {
    text-align: center;
    font-family: "Droid Sans", Arial;
    font-size:23px;
    color: #2c98c9;
}
p.cartaz_tit span {
    color: #666;
    text-transform: uppercase;
}
div.cartaz {
    margin: 50px auto 10px auto;
    padding: 55px 0 0 0;
    display: block;
    width: 620px;
    border: 1px solid #DFDFDF;
    -webkit-box-shadow:2px 2px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:2px 2px 0px rgba(0, 0, 0, 0.05);
    box-shadow:2px 2px 0px rgba(0, 0, 0, 0.05);
    background: -webkit-gradient(linear, 0 0, 0 30%,
        from(#f8f8f8), to(#fff)) 0 0 no-repeat,
        -webkit-gradient(linear, 0 0, 0 30%, from(#f8f8f8), to(#fff)) 0 0 no-repeat;
    background: -moz-linear-gradient(#f8f8f8, #fff) 0 0 no-repeat,
        -moz-linear-gradient(#f8f8f8, #fff) 0 0 no-repeat;
}
div.cartaz h2 {
    margin: 0 auto 32px auto;
    display: block;
    width: 437px;
    height: 72px;
    background: url(../images/tit_procurase.png);
    text-indent: -9999px;
}
div.cartaz p {
    margin: 12px 50px;
    color: #000;
}
div.cartaz div.imagem {
    display: block;
    float: left;
    width: 225px;
    height: 229px;
    margin: 0 10px 0 35px;
    position: relative;
}
div.cartaz div.imagem img {
    z-index: 1;
    display: block;
    margin: 4px auto 0 auto;
}
div.cartaz div.imagem span.mascara {
    display: block;
    width: 225px;
    height: 229px;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/mascara_img_cartaz.png);
}
div.cartaz div.dados_animal {
    display: block;
    width: 258px;
    height: 213px;
    float: left;
    border: 1px solid #cacaca;
    margin: 4px 0 0 0;
    padding: 0 25px;
}
div.cartaz div.dados_animal p {
    margin: 3px 0;
    padding: 3px 0;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    color: #010101;
    border-bottom: 1px solid #cacaca;
}
div.cartaz div.dados_animal p.nome {
    border: 0;
    font-size: 30px;
    margin: 10px 0 10px 0;
}
div.cartaz div.dados_animal p span {
    color: #cacaca;
    text-transform: uppercase;
}
div.cartaz div.banner-cachorrogato {
    display: block;
    margin: 18px auto 30px auto;
    width: 520px;
    height: 60px;
    border: 1px solid #999;
}
div.cartaz div.banner-cachorrogato img {
    border: 0;
}
div.cartaz div.area-destaques {
    -webkit-box-shadow:0px -1px 0px rgba(0, 0, 0, 0.13);
    -moz-box-shadow:0px -1px 0px rgba(0, 0, 0, 0.13);
    box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.13);
    border-top: 1px solid #cacaca;
    width:615px;
    padding: 0 0 0 5px;
}
div.cartaz div.area-destaque {
    margin: 0;
    padding: 3px 0 3px 10px;
    display: block;
    width: 40px;
    height: 160px;
    float: left;
    border-right: 1px dashed #a5a5a5;
    position: relative;
}
div.cartaz div.ultimo {
    border: 0;
}
div.cartaz div.area-destaque div {
    width: 160px;
    transform:rotate(270deg);
    -ms-transform:rotate(270deg); /* IE 9 */
    -webkit-transform:rotate(270deg); /* Safari and Chrome */
    margin: 0;
    padding: 0;
    position: absolute;
    top: 60px;
    left: -55px;
}
div.cartaz div.area-destaque div p {
    margin: 0;
    padding: 0;
    font-size: 10px;
}