/* padroes*/
/* navegacao  Bread Crumb */
.breadcrumb {
	margin: 0;
	padding: 0; }
 
	.breadcrumb li {
		display: inline-block;
		list-style: none;
		padding-right: 15px;
		margin-left: 5px;
		background: url(../images/arrows.png) right -147px no-repeat;
		float: left;
		color: #7E7E7E;
		font-size: 11px; }
 
	.breadcrumb   a { color: #999999; }
 
	.breadcrumb .ativo  a { color: #5d95aa; }
 
/* navegacao  Bread Crumb fim  */
/* paginacao padrao */
.paginacao {
	list-style: none;
	border-left: 1px dotted #CCCCCC;
	font-size: 11px;
	padding-left: 5px; }
 
	.paginacao .item-paginacao {
		display: inline-block;
		color: #B7B7B7 }
 
	.paginacao .item-paginacao-link-anterior, .paginacao .item-paginacao-link-seguinte {
		color: #3399CB;
		padding-left: 15px;
		padding-right: 15px;
		background: url(../images/seta-dupla.png) 5px 4px no-repeat; }
 
	.paginacao .item-paginacao-link-seguinte { background: url(../images/seta-dupla.png) 65px -14px no-repeat; }
 
	.paginacao .item-paginacao .item-paginacao-link-atual { color: #3399CB; }
 
	.paginacao .item-paginacao .item-paginacao-link-mais { color: #B7B7B7 }
 
/* paginacao padrao  fim */
/* elementos do campo de pesquisa*/
.label-pesquisa {
	font-size: 11px;
	color: #B7B7B7;
	padding-left: 22px;
	height: 15px;
	display: block;
	background: url(../images/navigation_search_input_icon.png) 0px -4px no-repeat; }
 
.input-pesquisa, .input-pesquisa.text {
	font-size: 11px;
	font-family: Arial, sans-serif;
	font-weight: normal;
	padding: 0px;
	color: #2C97C9;
	background: none;
	border: none;
	border-radius: 0px; }
 
/* elementos do campo de pesquisa fim */
#middle  .breadcrumb {
	margin-left: 30px;
	padding-top: 15px; }
 
#middle .pesquisa {
	background: #F6F6F6;
	margin-top: 30px;
	padding: 5px 10px;
	margin-left: 30px;
	height: 15px;
	width: 900px;
	border-radius: 5px; }
 
	#middle .pesquisa form { float: left; }
 
	#middle .pesquisa .label-pesquisa {
		width: 85px;
		float: left; }
 
	#middle .pesquisa  .paginacao { float: right; }
 
.fornecedor-ficha {
	margin-left: 30px;
	margin-top: 30px;
	/*overflow: auto;*/
	height:150px;
	margin-bottom: 25px; }
 
	.fornecedor-ficha .avatar {
		margin: 0;
		padding: 0;
		margin-right: 20px;
		width: 185px;
		height: 145px;
		border: 1px solid #CCCCCC;
		float: left;
		position: relative; }
 
		.fornecedor-ficha .avatar .selo {
			top: -3px;
			left: -3px;
			position: absolute; }
 
	.fornecedor-ficha .informacoes-fornecedor {
		float: left;
		border-right: 1px dotted #CCCCCC;
		padding-right: 15px;
		min-width: 490px; }
 
.titulo-fornecedor {
	font-family: "Droid Sans", Arial;
	color: #656565;
	font-size: 26px; }
 
.endereco-fornecedor {
	margin: 0;
	padding: 0;
	color: #999999;
	font-family: "Droid Sans", Aria;
	font-size: 13px;
	width: 220px;
	padding-right: 30px; /*padding-left:60px;*/
	margin-top: 20px;
	background: url(../images/linhas-perfil-fornecedor.png) 230px 0px no-repeat;
	float: left;
	min-height: 50px;
	line-height: 17px; }
 
	.endereco-fornecedor .linha-destacado { border-bottom: 1px #999999 dotted; }
 
.localizacao-icone, .servios-item {
	width: 50px;
	height: 45px;
	border: 1px solid #CCCCCC;
	border-radius: 3px;
	margin-right: 10px;
	float: left;
	margin-top: 20px; }
 
.localizacao-icone { text-align: center; }
 
	.localizacao-icone  img { margin-top: 5px; }
 
.servicos-fornecedor {
	float: left;
	list-style: none; }
 
	.servicos-fornecedor .servios-item { text-align: center; }
 
		.servicos-fornecedor .servios-item  .servicos-link img { margin-top: 5px; }
 
.compartilhar-bar {
	clear: both;
	margin-top: 100px; }
 
.plugin-compartilhar {
	width: 210px;
	height: 20px;
	background: #ccc;
	float: left; }
 
.acoes {
	float: left;
	width: 200px;
	padding-left: 20px }
 
.btn-telefone, .btn-orcamento, .btn-servicos {
	display: block;
	font-size: 14px;
	color: #f6f7f9;
	font-weight: bold;
	border: 0;
	cursor: pointer;
	font-family: "Droid Sans", Arial;
	width: 130px;
	height: 40px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: url(../images/icones-botoes.png) 20px 12px no-repeat ;
	background: url(../images/icones-botoes.png) 20px 12px no-repeat, -webkit-gradient(linear, 0 0, 0 100%, from(#2d9acc), to(#026190)) 300px 50px no-repeat, -webkit-gradient(linear, 0 0, 0 100%, from(#2d9acc), to(#026190)) 0 0 no-repeat;
	background: url(../images/icones-botoes.png) 20px 12px no-repeat, -moz-linear-gradient(#2d9acc, #026190) 300px 50px no-repeat, -moz-linear-gradient(#2d9acc, #026190) 0 0 no-repeat;
	margin-bottom: 10px;
	line-height: 40px;
	padding-left: 50px; }
 
.btn-telefone {
	background: url(../images/icones-botoes.png) 20px 12px no-repeat ;
	background: url(../images/icones-botoes.png) 20px 12px no-repeat, -webkit-gradient(linear, 0 0, 0 100%, from(#2d9acc), to(#026190)) 130px 50px no-repeat, -webkit-gradient(linear, 0 0, 0 100%, from(#2d9acc), to(#026190)) 0 0 no-repeat;
	background: url(../images/icones-botoes.png) 20px 12px no-repeat, -moz-linear-gradient(#2d9acc, #026190) 300px 50px no-repeat, -moz-linear-gradient(#2d9acc, #026190) 0 0 no-repeat; }
 
.btn-orcamento {
	background: url(../images/icones-botoes.png) 15px -40px no-repeat ;
	background: url(../images/icones-botoes.png) 15px -40px no-repeat, -webkit-gradient(linear, 0 0, 0 100%, from(#2d9acc), to(#026190)) 300px 50px no-repeat, -webkit-gradient(linear, 0 0, 0 100%, from(#2d9acc), to(#026190)) 0 0 no-repeat;
	background: url(../images/icones-botoes.png) 15px -40px no-repeat, -moz-linear-gradient(#2d9acc, #026190) 300px 50px no-repeat, -moz-linear-gradient(#2d9acc, #026190) 0 0 no-repeat; }
 
.btn-servicos {
	background: url(../images/icones-botoes.png) 15px -90px no-repeat ;
	background: url(../images/icones-botoes.png) 15px -90px no-repeat, -webkit-gradient(linear, 0 0, 0 100%, from(#2d9acc), to(#026190)) 300px 50px no-repeat, -webkit-gradient(linear, 0 0, 0 100%, from(#2d9acc), to(#026190)) 0 0 no-repeat;
	background: url(../images/icones-botoes.png) 15px -90px no-repeat, -moz-linear-gradient(#2d9acc, #026190) 300px 50px no-repeat, -moz-linear-gradient(#2d9acc, #026190) 0 0 no-repeat; }
 
.enviar-amigo, .adicionar-favoritos {
	font-family: "Droid Sans", Arial;
	font-size: 11px;
	font-weight: bold;
	color: #999999;
	padding-left: 23px;
	width: 105px;
	height: 17px;
	float: left;
	border: 1px solid #CFCFCF;
	border-radius: 2px;
	display: block;
	line-height: 17px;
	margin-left: 10px;
	background: url(../images/botoes-compartilhar-personalisado.png) -3px 2px no-repeat ;
	background: url(../images/botoes-compartilhar-personalisado.png) -3px 2px no-repeat, -webkit-gradient(linear, 0 0, 0 100%, from(#F2F2F2), to(#D6D6D6)) no-repeat, -webkit-gradient(linear, 0 0, 0 100%, from(#F2F2F2), to(#D6D6D6)) 0 0 no-repeat;
	background: url(../images/botoes-compartilhar-personalisado.png) -3px 2px no-repeat, -moz-linear-gradient(#F2F2F2, #D6D6D6) no-repeat, -moz-linear-gradient(#F2F2F2, #D6D6D6) 0 0 no-repeat; }
 
.adicionar-favoritos {
	background: url(../images/botoes-compartilhar-personalisado.png) -3px -37px no-repeat ;
	background: url(../images/botoes-compartilhar-personalisado.png) -3px -37px no-repeat, -webkit-gradient(linear, 0 0, 0 100%, from(#F2F2F2), to(#D6D6D6)) no-repeat, -webkit-gradient(linear, 0 0, 0 100%, from(#F2F2F2), to(#D6D6D6)) 0 0 no-repeat;
	background: url(../images/botoes-compartilhar-personalisado.png) -3px -37px no-repeat, -moz-linear-gradient(#F2F2F2, #D6D6D6) no-repeat, -moz-linear-gradient(#F2F2F2, #D6D6D6) 0 0 no-repeat; }
 
.conteudo { padding: 0px 30px; }
 
#tabelas-perfil {
	margin-top: 20px;
	clear: both; }
 
#navegacao-tab {
	list-style: none;
	border-bottom: 1px solid #EBEBEB;
	height: 36px;
	margin-bottom: 30px; }
 
	#navegacao-tab .itens {
		padding: 10px 15px;
		float: left;
		width: auto;
		border-top: 1px solid #EBEBEB;
		border-left: 1px solid #EBEBEB;
		border-right: 1px solid #EBEBEB;
		position: relative;
		margin-left: 18px; }
 
		#navegacao-tab .itens:nth-child(2) { margin-left: 16px; }
 

		#navegacao-tab .itens .sombra-direira, #navegacao-tab .itens .sombra-esquerda { display: none; }
 
		#navegacao-tab .itens .sombra-direira {
			background: url(../images/sombra.png) -105px 0px no-repeat;
			width: 10px;
			height: 35px;
			position: absolute;
			top: 0;
			right: -8px; }
 
		#navegacao-tab .itens .sombra-esquerda {
			background: url(../images/sombra.png) -114px 0px no-repeat;
			width: 10px;
			height: 35px;
			position: absolute;
			top: 0;
			left: -8px; }
 
#tabelas-perfil  .itens a {
	display: block;
	font-family: "Droid Sans", Arial;
	font-size: 13px; }
 
#navegacao-tab  .itens.ui-tabs-active.ui-state-active a {
	color: #2c98c9;
	font-weight: bold; }
 
#navegacao-tab  .itens.ui-tabs-active.ui-state-active {
	height: 15px;
	background: #FFF;
	border-top: 2px solid #00AEEF; }
 
	#navegacao-tab  .itens.ui-tabs-active.ui-state-active .sombra-esquerda, #navegacao-tab  .itens.ui-tabs-active.ui-state-active .sombra-direira { display: block; }
 
#navegacao-tab  .itens.ui-state-hover a {
	color: #ee7500;
	text-decoration: none; }
 
#navegacao-tab  .itens a { color: #999999; }
 
#tabelas-agendamento #navegacao-tab .itens {
	background: url(../images/sprite-tabela.png) 0px 5px no-repeat;
	padding-left: 35px; }
 
	#tabelas-agendamento #navegacao-tab .itens:nth-child(2) {
		background: url(../images/sprite-tabela.png) 0px -70px no-repeat;
		padding-left: 35px; }
 
	#tabelas-agendamento #navegacao-tab .itens:nth-child(3) {
		background: url(../images/sprite-tabela.png) 7px -265px no-repeat;
		padding-left: 55px; }
 
	#tabelas-agendamento #navegacao-tab .itens:nth-child(4) { background: url(../images/sprite-tabela.png) 0px -144px no-repeat; }
 
#tabelas-agendamento #navegacao-tab  .itens.ui-tabs-active.ui-state-active a {
	color: #2c98c9;
	font-weight: bold; }
 
#tabelas-agendamento #navegacao-tab  .itens.ui-tabs-active.ui-state-active {
	height: 15px;
	background: #FFF url(../images/sprite-tabela.png) 0px -30px no-repeat;
	border-top: 2px solid #00AEEF; }
 
#tabelas-agendamento #navegacao-tab  .itens:nth-child(2).ui-tabs-active.ui-state-active {
	height: 15px;
	background: #FFF url(../images/sprite-tabela.png) 0px -103px no-repeat;
	border-top: 2px solid #00AEEF; }
 
#tabelas-agendamento #navegacao-tab  .itens:nth-child(3).ui-tabs-active.ui-state-active {
	height: 15px;
	background: #FFF url(../images/sprite-tabela.png) 7px -225px no-repeat;
	border-top: 2px solid #00AEEF; }
 
#tabelas-agendamento #navegacao-tab  .itens:nth-child(4).ui-tabs-active.ui-state-active {
	height: 15px;
	background: #FFF url(../images/sprite-tabela.png) 0px -176px no-repeat;
	border-top: 2px solid #00AEEF; }
 
#tabelas-agendamento #navegacao-tab  .itens.ui-tabs-active.ui-state-active .sombra-esquerda, #navegacao-tab  .itens.ui-tabs-active.ui-state-active .sombra-direira { display: block; }
 
#tabelas-agendamento #navegacao-tab  .itens.ui-state-hover a {
	color: #ee7500;
	text-decoration: none; }
 
#tabelas-agendamento #navegacao-tab  .itens a { color: #999999; }
 
.titulo-chamada-perfil {
	font-family: "Droid Sans", Arial;
	font-size: 21px;
	font-weight: bold;
	color: #3399cc; }
 
.itens.laranja ,  #navegacao-tab .itens.laranja.ui-tabs-active.ui-state-active {
	border: none;
	min-width: 65px;
	text-align: center;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#FD9D4D), to(#D9581C)) no-repeat, -webkit-gradient(linear, 0 0, 0 100%, from(#FD9D4D), to(#D9581C)) 0 0 no-repeat ;
	background: -moz-linear-gradient(#FD9D4D, #D9581C) no-repeat, -moz-linear-gradient(#FD9D4D, #D9581C) 0 0 no-repeat; }
 
.itens.laranja a { color: #FFF !important; }
 
.pedir-orcamento {
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#F6EDDD), to(#EBDDC1)) no-repeat, -webkit-gradient(linear, 0 0, 0 100%, from(#F6EDDD), to(#EBDDC1)) 0 0 no-repeat ;
	background: -moz-linear-gradient(#F6EDDD, #EBDDC1) no-repeat, -moz-linear-gradient(#F6EDDD, #EBDDC1) 0 0 no-repeat;
	float: left;
	width: 920px;
	min-height: 320px;
	padding-top: 30px;
	position: relative;
	margin-bottom: 30px; }
 
	.pedir-orcamento .btn-fechar {
		position: absolute;
		top: 15px;
		right: 15px;
		display: block;
		height: 15px;
		width: 15px;
		background: url(../images/btn-fechar.png) top left no-repeat; }
 
.introducao-orcamento {
	width: 175px;
	height: 280px;
	float: left;
	padding: 0px 50px ;
	background: url(../images/linha-orcamento.png) right top no-repeat; }
 
	.introducao-orcamento .titulo-orcamento {
		font-family: "Droid Sans", Arial;
		color: #959595;
		font-size: 19px;
		padding-top: 80px;
		padding-bottom: 10px;
		background: url(../images/icone-orcamento.png) top center no-repeat; }
 
.formulario-pedido {
	float: left;
	width: 550px;
	margin-left: 30px; }
 
	.formulario-pedido form { width: 550px; }
 
.introducao-orcamento .texto-orcamento {
	font-family: "Droid Sans", Arial;
	font-size: 13px;
	line-height: 20px; }
 
.titulo-pedido {
	margin: 0;
	padding: 0;
	font-family: "Droid Sans", Arial;
	font-size: 15px;
	color: #4F4F4F;
	padding-left: 5px;
	margin-bottom: 10px; }
 
	.titulo-pedido .link-cadastro {
		color: #4F4F4F;
		text-decoration: underline;
		padding-right: 10px;
		background: url(../images/arrow-black.png) 100% 5px no-repeat; }
 
.input-redondo {
	background: #FFF;
	border-radius: 3px;
	float: left;
	padding: 5px;
	padding-left: 10px;
	margin: 5px;
	margin-bottom: 15px;
	width: 220px; }
 
	.input-redondo .text , input[type="email"],  input[type="tel"] {
		border: none;
		font-weight: normal;
		width: 50% !important }
 
	.input-redondo label {
		text-transform: uppercase;
		font-family: "Droid Sans", Arial;
		font-size: 12px;
		padding-right: 10px;
		border-right: 1px dotted #999;
		color: #999999;
		display: inline-block; }
 
		.input-redondo label span { color: #CB9965; }
 
	.input-redondo.large { width: 270px; }
 
	.input-redondo.xlarge { width: 370px; }
 
	.input-redondo.medium { width: 250px; }
 
	.input-redondo.small {
		width: 120px;
		overflow: hidden;
		height: 20px; }
 
	.input-redondo.full {
		width: 95%;
		position: relative;
		min-height: 50px; }
 
	.input-redondo.small label { margin-top: 3px; }
 
	.input-redondo.small .selector {
		width: 50px !important;
		height: 25px;
		margin-top: -10px;
		padding-top: 1px;
		background: none; }
 
	.input-redondo.small div.selector span {
		background-position: right -75px;
		width: 30px !important; }
 
	.input-redondo.small div.selector select {  }
 
.float-right { float: right; }
 
.input-redondo.full.textarea-formulario label {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 75px;
	padding-top: 5px;
	padding-left: 5px;
	height: 35px; }
 
.textarea-formulario-pedido-large {
	width: 400px;
	border: none !important;
	margin-left: 100px; }
 
.aviso {
	float: left;
	font-size: 11px;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	width: 275px;
	margin-left: 5px;
	color: #959595; }
 
	.aviso a { color: #959595; }
 
.formulario-pedido .btn-enviar {
	margin-top: 10px;
	margin-right: 5px; }
 
.btn-enviar {
	cursor: pointer;
	float: right;
	width: 130px;
	height: 30px;
	border-radius: 5px;
	color: #FFF;
	display: block;
	font-family: "Droid Sans", Arial;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	padding-left: 10px;
	border: 1px solid #EB8937;
	background: #fea04f; /* Old browsers */
	background: url(data: image/svg+xml; /* IE9 SVG, needs conditional override of 'filter' to 'none' */
	base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIyJSIgc3RvcC1jb2xvcj0iI2ZlYTA0ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkYTU5MWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: url(../images/setasbotoes.png) 95% -10px no-repeat,-moz-linear-gradient(top, #fea04f 2%, #DB5B1F 100%); /* FF3.6+ */
	background: url(../images/setasbotoes.png) 95% -10px no-repeat,-webkit-gradient(linear, left top, left bottom, color-stop(2%,#fea04f), color-stop(100%,#DB5B1F)); /* Chrome,Safari4+ */
	background: url(../images/setasbotoes.png) 95% -10px no-repeat,-webkit-linear-gradient(top, #fea04f 2%,#DB5B1F 100%); /* Chrome10+,Safari5.1+ */
	background: url(../images/setasbotoes.png) 95% -10px no-repeat,-o-linear-gradient(top, #fea04f 2%,#DB5B1F 100%); /* Opera 11.10+ */
	background: url(../images/setasbotoes.png) 95% -10px no-repeat,-ms-linear-gradient(top, #fea04f 2%,#DB5B1F 100%); /* IE10+ */
	background: url(../images/setasbotoes.png) 95% -10px no-repeat, linear-gradient(to bottom, #fea04f 2%,#da591d 100%); /* W3C */
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fea04f', endColorstr='#DB5B1F',GradientType=0 ); /* IE6-8 */ }
 
.titulo-com-pontos {
	background: url(../images/articles_box_title_bg.png) 0 3px repeat-x;
	margin-bottom: 25px; }
 
	.titulo-com-pontos span {
		background-color: #fff;
		padding-right: 10px; }
 
	.titulo-com-pontos .seta-para-baixo {
		background: #fff url(../images/side_servicos_title_arrow.png) 96% 9px no-repeat;
		padding-right: 30px; }
 
.perfil-descricao-fornecedor-aside {
	float: right;
	width: 450px;
	padding-bottom: 15px; }
 
.mais-informacoes {
	color: #999999;
	font-family: "Droid Sans", Arial;
	font-size: 16px;
	font-weight: normal; }
 
.formas-pagamento, .horario-funcionamento {
	margin: 0;
	padding: 0;
	font-family: "Droid Sans", Arial;
	font-size: 13px;
	font-weight: bold;
	padding-left: 10px;
	background: url(../images/arrow-grey.png) 0px 4px no-repeat; }
 
.horario-funcionamento {
	margin-top: 5px;
	margin-bottom: 10px; }
 
.formas-pagamento {
	vertical-align: top;
	margin-top: 10px; }
 
.horario-funcionamento .horario-conteudo {
	font-weight: normal;
	font-size: 13px;
	color: #999999; }
 
.perfil-descricao-fornecedor {
	width: 450px;
	float: left; }
 
#middle .perfil-descricao-fornecedor p {
	margin: 0;
	font-family: "Droid Sans", Arial;
	font-size: 14px;
	font-weight: normal;
	color: #656565;
	margin-bottom: 20px;
	line-height: 21px; }
 
#middle .perfil-descricao-fornecedor h4 {
	font-weight: bold;
	font-size: 14px;
	color: #656565;
	margin: 10px 0px;
	font-family: "Droid Sans", Arial ; }
 
#bread-interno.breadcrumb {
	margin: 0;
	padding: 0;
	margin-top: 20px;
	padding-top: 20px;
	margin-bottom: 25px;
	float: left;
	border-top: #e1e1e1 1px solid;
	font-family: Arial, Helvetica, sans-serif; }
 
	#bread-interno.breadcrumb li {
		padding: 0;
		padding-left: 10px;
		padding-right: 5px;
		background-position: 0px -147px;
		height: 17px; }
 
		#bread-interno.breadcrumb li a { font-family: Arial, Helvetica, sans-serif; }
 
#menores.acoes {
	margin: 0;
	padding: 0;
	clear: both;
	width: 460px; }
 
	#menores.acoes a {
		padding: 0;
		padding-left: 40px;
		width: 99px;
		float: left;
		height: 33px;
		font-size: 12.16px;
		line-height: 32px; /*	margin-left:12px;
	line-height:32px;
	padding-left: 40px;
	padding-right:5px;*/ }
 
	#menores.acoes .btn-telefone {
		background: url(../images/botoes-15x15.png) 20px -1px no-repeat;
		background: url(../images/botoes-15x15.png) 20px -1px no-repeat, -webkit-gradient(linear, 0 0, 0 100%, from(#2d9acc), to(#026190)) 130px 50px no-repeat, -webkit-gradient(linear, 0 0, 0 100%, from(#2d9acc), to(#026190)) 0 0 no-repeat;
		background: url(../images/botoes-15x15.png) 20px -1px no-repeat, -moz-linear-gradient(#2d9acc, #026190) 300px 50px no-repeat, -moz-linear-gradient(#2d9acc, #026190) 0 0 no-repeat;
		padding-left: 50px;
		width: 89px; }
 
	#menores.acoes .btn-orcamento {
		background: url(../images/botoes-15x15.png) 6px -64px no-repeat;
		background: url(../images/botoes-15x15.png) 6px -64px no-repeat, -webkit-gradient(linear, 0 0, 0 100%, from(#2d9acc), to(#026190)) 300px 50px no-repeat, -webkit-gradient(linear, 0 0, 0 100%, from(#2d9acc), to(#026190)) 0 0 no-repeat;
		background: url(../images/botoes-15x15.png) 6px -64px no-repeat, -moz-linear-gradient(#2d9acc, #026190) 300px 50px no-repeat, -moz-linear-gradient(#2d9acc, #026190) 0 0 no-repeat;
		margin-left: 15px;
		padding-left: 35px;
		width: 100px; }
 
	#menores.acoes .btn-servicos {
		background: url(../images/botoes-15x15.png) 12px -128px no-repeat;
		background: url(../images/botoes-15x15.png) 12px -128px no-repeat, -webkit-gradient(linear, 0 0, 0 100%, from(#2d9acc), to(#026190)) 300px 50px no-repeat, -webkit-gradient(linear, 0 0, 0 100%, from(#2d9acc), to(#026190)) 0 0 no-repeat;
		background: url(../images/botoes-15x15.png) 12px -128px no-repeat, -moz-linear-gradient(#2d9acc, #026190) 300px 50px no-repeat, -moz-linear-gradient(#2d9acc, #026190) 0 0 no-repeat;
		margin-left: 15px; }
 
.agendar-servico {
	clear: both;
	padding-top: 35px; }
 
.passos-agendar {
	padding: 0;
	margin: 0;
	list-style: none;
	background: url(../images/repeticao-agendar.jpg) left top repeat-x; /* background:-webkit-gradient(linear, 0 0, 0 90%, from(#E3F3FB), to(#B9E1F3)), -webkit-gradient(linear, 0 0, 0 90%, from(#E3F3FB), to(#B9E1F3)) 0 0 no-repeat;
    background:-moz-linear-gradient(#E3F3FB, #B9E1F3) no-repeat, -moz-linear-gradient(#2d9acc, #B9E1F3) 0 0 no-repeat;*/
	height: 70px; }
 
	.passos-agendar li {
		float: left;
		background: url(../images/sprite-agendar.png) 110% -90px no-repeat;
		font-family: "Droid Sans", Arial;
		line-height: 65px; }
 
	.passos-agendar .passo1, 
.passos-agendar .passo2 {
		width: 210px;
		height: 70px;
		margin-left: 25px; }
 
	.passos-agendar .passo3 {
		margin-left: 20px;
		background: none;
		width: 125px; }
 
	.passos-agendar .numero-passo {
		font-size: 24px;
		font-weight: bold;
		color: #1579A9;
		display: block;
		float: left; }
 
	.passos-agendar .texto-passo {
		color: #2C97C9;
		font-weight: bold;
		font-size: 17px;
		padding-left: 10px;
		float: left;
		padding-top: 1px; }
 
	.passos-agendar .inicio {
		background: -webkit-gradient(linear, 0 0, 0 90%, from(#F6F0E4), to(#EFE0C5)), -webkit-gradient(linear, 0 0, 0 90%, from(#F6F0E4), to(#EFE0C5)) 0 0 no-repeat;
		background: -moz-linear-gradient(#F6F0E4, #EFE0C5) no-repeat, -moz-linear-gradient(#F6F0E4, #EFE0C5) 0 0 no-repeat;
		background: url(../images/passo-guia.png) no-repeat;
		width: 290px;
		height: 70px;
		font-size: 14px;
		font-weight: bold;
		color: #ED7500; }
 
		.passos-agendar .inicio .texto-inicio {  }
 
		.passos-agendar .inicio  .texto-inicio {
			width: 185px;
			display: block;
			padding-left: 75px;
			padding-top: 18px;
			padding-bottom: 5px;
			line-height: normal;
			background: url(../images/sprite-agendar.png) 8px 8px no-repeat; }
 
#tabelas-agendamento.nav-agendamento { margin-top: 30px; }
 
	#tabelas-agendamento.nav-agendamento #navegacao-tab { margin-bottom: 15px; }
 
.agenda-tabela {
	border: none;
	width: 100%;
	text-align: center;
	padding-bottom: 50px; }
 
	.agenda-tabela  td {
		border-bottom: 1px dotted #CCC;
		height: 41px; }
 
		.agenda-tabela  td   .link-tabela {
			margin: 0;
			padding: 0;
			min-height: 20px;
			padding-top: 10px; }
 
	.agenda-tabela thead .tb-linha td { font-family: "Droid Sans", Arial; }
 
		.agenda-tabela thead .tb-linha td  .link-tabela {
			margin: 0;
			padding: 0;
			width: 90px;
			margin: auto;
			font-size: 11px;
			color: #999999;
			display: block; }
 
	.agenda-tabela tbody .tb-linha td  .link-tabela {
		font-family: "Droid Sans", Arial;
		color: #333333;
		font-size: 12px; }
 
	.agenda-tabela tbody { border-bottom: 1px dotted #CCC; }
 
	.agenda-tabela  tfoot .tb-linha td  .link-tabela {
		font-family: "Droid Sans", Arial;
		color: #5D95A9;
		font-size: 12px; }
 
.tb-linha td {
	border: none;
	border-bottom: 1px dotted #CCC;
	text-align: center;
	border-spacing: 0px; }
 
#bloco-carrosel { position: relative; }
 
#carrosel-tabelas { list-style: none; }
 
#bt-next.controle-carrosel, #bt-prev.controle-carrosel {
	position: absolute;
	top: 5px;
	height: 27px;
	width: 7px;
	background: url(../images/sprite-tabela.png) -15px -374px;
	display: block; }
 
#bt-next.controle-carrosel { right: 0; }
 
#bt-prev.controle-carrosel {
	left: 0;
	background-position: -15px -327px; }
 
section.featured_services_box.estendido {
	padding: 0;
	margin: 0;
	border: none;
	min-height: 390px; }
 
	section.featured_services_box.estendido div.title {
		background: url(../images/articles_box_title_bg.png) 0 3px repeat-x;
		height: 100%;
		overflow: hidden;
		padding: 0 0 5px 0;
		margin-bottom: 18px; }
 
		section.featured_services_box.estendido div.title h3 span {
			color: #3399CB;
			font-size: 19px;
			background: #fff url(../images/sprite-tabela.png) 107% -427px no-repeat;
			padding-right: 30px; }
 
	section.featured_services_box.estendido  article.services_box_content ul li.first { margin: 0; }
 
	section.featured_services_box.estendido  article.services_box_content ul li {
		width: 160px;
		margin-left: 30px; }
 
		section.featured_services_box.estendido  article.services_box_content ul li div.image { width: 160px; }
 
			section.featured_services_box.estendido  article.services_box_content ul li div.image img { width: 160px; }
 
#middle .perfil-descricao-fornecedor .mais-informacoes {
	border-top: #e1e1e1 1px solid;
	color: #999999;
	font-family: "Droid Sans", Arial;
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 15px;
	margin-top: 20px;
	padding-top: 20px; }
 
#middle .perfil-descricao-fornecedor .formas-pagamento, #middle .perfil-descricao-fornecedor .horario-funcionamento {
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 13px;
	background-position: 0px 6px; }
 
#photo-slider {
	width: 427px;
	padding: 10px;
	height: 395px;
	border: 1px solid #CFCFCF;
	position: relative; }
 
	#photo-slider .lista-slider {
		width: 390px;
		height: 60px;
		list-style: none;
		float: left; }
 
		#photo-slider .lista-slider  .item-slider {
			float: left;
			margin-left: 8px; }
 
	#photo-slider  .controle-slide {
		width: 16px;
		height: 58px;
		background: #666; }
 
	#photo-slider #controle-prev {
		float: left;
		background: url(../images/controle-photo-pn.png) -5px 0px no-repeat; }
 
	#photo-slider #controle-next {
		float: right;
		background: url(../images/controle-photo-pn.png) -5px -61px no-repeat; }
 
.controle-info {
	background: url(../images/galeria-info.png) top left no-repeat;
	width: 124px;
	height: 49px;
	position: absolute;
	top: 282px;
	left: 160px; }
 
.ampliar {
	background: url(../images/bt-zoom.png) top left ;
	width: 39px;
	height: 39px;
	position: absolute;
	top: 282px;
	left: 286px;
	cursor: pointer; }
 
.controle-info-prev {
	background: url(../images/controle-photo.png) 0px 0px;
	height: 15px;
	width: 15px;
	float: left;
	margin-top: 13px;
	margin-left: 10px;
	cursor: pointer; }
 
.controle-info-next {
	background: url(../images/controle-photo.png) 0px 19px;
	height: 15px;
	width: 15px;
	float: left;
	margin-top: 12px;
	margin-left: 10px;
	cursor: pointer; }
 
.texto-info {
	margin: 0;
	padding: 0;
	width: 50px;
	color: #FFF;
	height: 18px;
	float: left;
	margin-left: 10px;
	text-align: center;
	margin-top: 13px;
	font-family: "Droid Sans", Arial;
	font-size: 11px; }
 
.mapa-localizacao {
	width: 427px;
	padding: 10px;
	height: 430px;
	border: 1px solid #CFCFCF;
	position: relative;
	margin-top: 30px; }
 
	.mapa-localizacao h3 {
		color: #ED7500;
		font-size: 19px;
		font-weight: normal;
		font-family: "Droid Sans", Arial; }
 
		.mapa-localizacao h3 span {
			padding-right: 25px;
			background: #fff url(../images/arrow-orage.png) 97% 8px no-repeat;
			text-transform: uppercase; }
 
.mapa-direcoes {
	width: 425px;
	height: 390px;
	border: 1px solid #ccc;
	margin-top: 15px;
	background: #ccc; }