.text-grande{
    font-family: Arial;
    font-size: 60px;
    color: #000;
    font-weight: bold;
}

.text-medio{
    font-family: Arial;
    font-size: 55px;
    color: #333333;
}

.text-meio-termo{
    font-family: Arial;
    font-size: 50px;
    color: #9b9897;
}











