#left-side{width:274px; height:400px; float:left; margin:50px 0px 0px 20px; display:none; z-index:10; position:relative;}
#logo{width:313px; height: 165px; float:left; background:url(/images/bg_logo_screen.png);}
#indicator{width:48px; position:absolute; left:50%; margin:300px 0px 0px -24px;}
#thumb-container{position:absolute; bottom:0px; right:0px; background:url(/images/content-bg.png); padding:15px 15px 0px 5px; display:none;}
#thumb-container img{float:left; width:75px; padding:0px 0px 15px 10px; opacity:.8; border:0px;}
#thumb-container img:hover{opacity:1;}
.bx-wrapper{float:left;}
#fecha_slide {display:block; background:url("../img/btn_fechar.png") top center; background-repeat: no-repeat; background-color: transparent; width:42px; height:43px; position:absolute; top:40px; right:10px; }
#fecha_slide:hover { background-position: 0 -45px; }
#menu_slide{ 
    position: absolute;
    right: 10px; 
    top: 90px;
    width: 200px;
    height: auto;
    background:url(/images/content-bg.png);
}
#menu_slide ul{ 
    position: relative;
    float: left;
    width: 200px;
    height: auto;
    margin: 0; 
    padding: 0;
    list-style: none;
}
#menu_slide ul li{ 
    position: relative;
    float: left;
    width: 200px;
    height: 25px;


}
#menu_slide ul li a{ 
    color: #FFF;
    position: relative;
    float: left;
    font-family: Arial;
    text-align: right;
    height: 25px;
    width: 180px;
    line-height: 25px;
    padding: 0 20px 0 0;
    font-size: 12px;
    background: url(/images/bollot_screen.png) 188px 11px no-repeat;

}

#menu_slide ul li a:hover{ 
    background:url(/images/content-bg.png);
}

#legenda_slide{
    position: absolute;
    float: left; 
    top: 0;
    width: 99%;
    height: 30px;
    background:url(/images/content-bg.png);
    color: #FFF;
    padding-left: 1%;
    font-family:Arial;
    font-size: 13px;
    line-height: 30px;
    color: #CCC;
}