*{
    margin: 0;
    padding: 0;
}
.abraca_homeBrasilSlider{
    position:fixed;
    width: 100%;
    height: 100%;
    float: left;
    background: #2a2a2a;
    top:0px;
    left:0px;
}


.homeBrasilSlider {
    width:1430px;
    height:auto;
    margin:auto;
    position:relative
}

.homeBrasilSlider .containerSlider {
    width:1416px;
    height:500px;
    position:relative;
    top: 100px;
    overflow: hidden;
}

.homeBrasilSlider ul {
    position:absolute;
    margin: 42px 0 0 0px;
    padding:0px;
    list-style:none;
}

.homeBrasilSlider ul li {
    margin:0px;
    padding:0px;
    float:left;	
}

.homeBrasilSlider .slider {
    width:9999px;
    top:0px;
    left:0px;
}

.homeBrasilSlider .slider li img{
    -webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 1);
    -moz-box-shadow:    0px 0px 5px rgba(50, 50, 50, 1);
    box-shadow:         0px 0px 5px rgba(50, 50, 50, 1);
    -webkit-box-reflect: below 1px -webkit-gradient( linear, left top, left bottom, from(transparent), color-stop(90%, transparent), to(rgba(255,255,255,0.5)));
}

.homeBrasilSlider .slider li.anterior img, .homeBrasilSlider .slider li.proxima img {
    border-color:#cccccc;
    background: #000;
    opacity:0.4;
    -moz-opacity: 0.4;
    -webkit-opacity: 0.4;

}

.homeBrasilSlider .slider li.ativa img {
    border-color:#111111;
}


.containerPaginacao{
    position:absolute;
    width: 1440px;
    left:0px;
    bottom: 0;
    float: left;
    height: 170px;
    top: 550px;
    overflow: hidden;
}

.paginacao {
    position: relative;
    height: 170px;
    width:9999px;
    left:0px;
    bottom: 0;
}

.containerPaginacao .left {
    position:absolute;
    width:100px;
    height: 170px;
    background: url(../images/bg_transparente.png) -188px 0;
    float: left;
    left: -37px;
    z-index: 995;
}


.containerPaginacao .left .btn_left{
    position:relative;
    width:90px;
    height: 150px;
    background: url(../images/seta_esquerda.png) no-repeat 40px 35px;
    float: left;

}



.containerPaginacao .right {
    position:absolute;
    width:100px;
    height: 170px;
    background: url(../images/bg_transparente.png);
    float: left;
    right: 0;
    z-index: 995;

}

.containerPaginacao .right .btn_right{
    background: url("../images/seta_direita.png") no-repeat scroll 75px 35px transparent;
    float: left;
    height: 150px;
    position: relative;
    width: 99px;

}

.paginacao li {
    margin:0px 10px 0px 0px;
}

.paginacao li img{
    -webkit-box-reflect: below 1px -webkit-gradient( linear, left top, left bottom, from(transparent), color-stop(90%, transparent), to(rgba(255,255,255,0.5)));
    margin: 5px;
    height: 95px;
    max-width: 150px;
}



/* ------------ CSS3 Efeitos Anterior ------------*/


@-webkit-keyframes anterior1{
    0% { 
    -webkit-transform:rotateY(0deg);
}

50% {
    -webkit-transform:rotateY(20deg);
}

100% {
    -webkit-transform:rotateY(20deg);
}
}


@-moz-keyframes anterior1{
    0% { 
    -moz-transform:rotateY(0deg);
}

50% {
    -moz-transform:rotateY(20deg);
}

100% {
    -moz-transform:rotateY(20deg);
}
}


.anterior a{
    position: relative;
    float: left;
    left: 50px;
    -webkit-perspective:  500px;
    -moz-perspective:  500px;

}


.anterior a img{
    -webkit-transform:rotateY(20deg);
    -moz-transform:rotateY(20deg);
    -moz-animation: ease-out anterior1 1s;
    -webkit-animation: ease-out anterior1 1s;
}

/* ---------- Fim CSS3 Efeitos ----------*/


/* ------------ CSS3 Efeitos old_anterior ------------*/


@-webkit-keyframes old_anterior1{

    100% { 
    -webkit-transform:rotateY(0deg);
    left: 200px;
}

50% { 
    -webkit-transform:rotateY(0deg);
    left: -100px;
}

0% { 
    -webkit-transform:rotateY(20deg);
}
}

@-moz-keyframes old_anterior1{

    100% { 
    -moz-transform:rotateY(0deg);
    left: -150px;
}

50% { 
    -moz-transform:rotateY(0deg);
    left: -150px;
}

0% { 
    -moz-transform:rotateY(20deg);
}
}


.old_anterior a{
    position: relative;
    float: left;
    -webkit-perspective:  500px;
    -moz-perspective:  500px;
    left: -150px;

}


.old_anterior a img{
    -webkit-animation: old_anterior1 ease-out  0.5s;
    -moz-animation: old_anterior1 ease-out  0.5s;

}

/* ---------- Fim CSS3 old_anterior ----------*/






/* ------------ CSS3 Efeitos Proximo ------------*/


@-webkit-keyframes proxima{
    0% { 
    -webkit-transform:rotateY(-20deg);
}

100% { 
    -webkit-transform:rotateY(-20deg);
}
}

@-moz-keyframes proxima{
    0% { 
    -moz-transform:rotateY(-20deg);

}

100% { 
    -moz-transform:rotateY(-20deg);

}
}


.proxima a{
    position: relative;
    float: left;
    left: -40px;
    -webkit-perspective:  500px;
    -moz-perspective:  500px;
    -moz-transition: all proxima 1s ;
    -webkit-transition: all proxima 1s;
}


.proxima a img{
    -webkit-transform:rotateY(-20deg);
    -moz-transform:rotateY(-20deg);
    -moz-transition: all  1s;
    -webkit-transition: all  1s;
    margin-left: -20px;
}

/* ---------- Fim CSS3 Efeitos ----------*/




@-webkit-keyframes ativa1{
    20% { 
    -webkit-transform:rotateY(0deg);
}

20% { 
    -webkit-transform:rotateY(0deg);
}

10% { 
    -webkit-transform:rotateY(-15deg);
}

0% { 
    -webkit-transform:rotateY(-20deg);
}
}


@-moz-keyframes ativa1{
    20% { 
    -moz-transform:rotateY(0deg);
}

20% { 
    -moz-transform:rotateY(0deg);
}

10% { 
    -moz-transform:rotateY(-15deg);
}


0% { 
    -moz-transform:rotateY(-20deg);
}
}



.ativa a{
    -webkit-perspective:  500px;
    -moz-perspective:  500px;
    position: relative;
    float: left;
    z-index: 99999 !important;

}

.ativa a img{
    -webkit-animation: ativa1 ease-out 3s;
    -moz-animation: ativa1 ease-out 3s;

}


.setas{
    width: 700px;
    height: 28px;
    position: absolute;
    z-index: 99999999;
    float: left;
    top: 390px;
    left: 500px;
    display: none;
}


.setas .direita{
    width: 28px;
    height: 28px;
    position: relative;
    float: left;
    background:url(../images/setas.png);
    left: 5px;
}

.setas .esquerda{
    width: 28px;
    height: 28px;
    position: relative;
    float: left;
    background:url(../images/setas.png) 0 -28px;
    left: 400px;
}


.menu_bar{
    background: #000;
    position: absolute;
    float: left;
    top: 0;
    width: 100%;
    height: 58px;
    left: 0;
}

.menu_bar .logo_zoom{
    margin: 4px;
}

.menu_bar .controles{
    width: 480px;
    height: 40px;
    position: relative;
    float: right;
    margin: 10px;
}

.menu_bar .controles .fechar{
    color: #A6A6A6;
    float: right;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 25px;
    height: 40px;
    margin: 0;
    position: relative;
    text-align: center;
    width: 34px;
    z-index: 50;
}

.menu_bar .controles .fechar:hover{
    color: #FFF;
    cursor: pointer;
}

.menu_bar .controles .chat{
    background: url("../img/icon_chat.png") no-repeat scroll 0 -5px transparent;
    color: #A6A6A6;
    float: right;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 13px;
    height: 31px;
    margin: 10px 19px 0;
    position: relative;
    text-align: right;
    width: 165px;
}

.menu_bar .controles .chat:hover{
    color: #FFF;
    cursor: pointer;
}

.menu_bar .controles .telefone{
    background: url("../img/icon_ligamos.png") no-repeat scroll 0 -5px transparent;
    color: #A6A6A6;
    display: block;
    float: right;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 12px;
    height: 25px;
    margin: 10px 0 0;
    position: relative;
    text-align: right;
    width: 213px;
    z-index: 999999;
}

.menu_bar .controles .telefone:hover{
    color: #FFF;
    cursor: pointer;
}