/* Estilo para usar dentro dos iframes no cadastro de clientes*/
a.bt_excluir {
    display:block;
    margin:2px auto;
    padding:4px 0 0 25px;
    background:url(../images/ico_excluir.png) left no-repeat;
    text-decoration:none;
    font-family: "Droid Sans", Arial;
    color:#4facdc;
    font-size:12px;
    height:18px;
    width:50px;
}