nav#mainmenu ul li a.home:hover {
    background:url(../images/mainmenu_home_ativo.png) 17px 14px no-repeat;
}
nav#mainmenu ul li {
    position: relative;
}
#mainmenu ul li div.submenu_principal {
    position: absolute;
    top: 40px;
    left: 0;
    width: 505px;
    min-height: 225px;
    background: #fff;
    z-index: 50;
    padding: 20px;
    display: none;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    box-shadow: 1px 3px 5px #999;
}
/*nav#mainmenu ul li:hover {
    background: #fff;
}*/
nav#mainmenu ul li:hover a {
    color: #a0dcfa;
}
#mainmenu ul li:hover div.submenu_principal {
    display: block;
}
#mainmenu ul li div.submenu_principal ul {
    margin: 0;
    padding: 0;
    border-right: 1px solid #ebebeb;
    width: 218px;
    float: left;
}
#mainmenu ul li div.submenu_principal ul li {
    list-style: none;
    background: none;
}
#mainmenu ul li div.submenu_principal ul li a {
    font-family:"Droid Sans", Arial;
    font-size: 14px;
    color: #000;
    line-height: 15px;
    display: block;
    width: 198px;
    padding: 10px 0;
    background: none;
}
#mainmenu ul li div.submenu_principal a:hover {
    text-decoration: underline;
}
#mainmenu ul li div.submenu_principal div.ultimos_artigos_menu {
    display: block;
    float: left;
    padding: 0 0 0 25px;
    width: 230px;
    font-family:"Droid Sans", Arial;
}
#mainmenu ul li div.submenu_principal div.ultimos_artigos_menu p.titulo {
    position: relative;
    margin: 0 0 10px 0;
    padding: 4px 0;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px #fff;
    width: 120px;
    background: -webkit-gradient(linear, 0 0, 0 100%,
        from(#f5f5f5), to(#e2e2e2)) 0 0 no-repeat,
        -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#e2e2e2)) 0 0 no-repeat;
    background: -moz-linear-gradient(#f5f5f5, #e2e2e2) 0 0 no-repeat,
        -moz-linear-gradient(#f5f5f5, #e2e2e2) 0 0 no-repeat;
}
#mainmenu ul li div.submenu_principal div.ultimos_artigos_menu p.titulo span {
    display: block;
    position: absolute;
    width: 11px;
    height: 4px;
    background: url(../images/bg_tit_ultimos_artigos.png);
    top: 22px;
    left: 8px;
}
#mainmenu ul li div.submenu_principal div.ultimos_artigos_menu a {
   color: #666;
   font-size: 12px;
   line-height: 15px;
   padding: 15px 0;
   margin: 0;
   display: block;
   border-bottom: 1px dotted #d6d6d6;
}
#mainmenu ul li div.submenu_principal div.ultimos_artigos_menu a.ultimo {
    border: 0;
}
#mainmenu ul li div.submenu_principal div.ultimos_artigos_menu a span {
    color: #999;
    display: block;
}

nav#mainmenu ul.servicos {
    float:right;
}
nav#mainmenu ul.servicos li a.link {
    float:right;
    color:#FFF;
    text-align:center;
    width:99px;
    height:40px;
    font-family:"sf_speedwaystarregular", Arial;
    background:#dd5e21;
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#fea04f), to(#dd5e21)) 300px 50px no-repeat, -webkit-gradient(linear, 0 0, 0 100%, from(#fea04f), to(#dd5e21)) 0 0 no-repeat;
    background:-moz-linear-gradient(#fea04f, #dd5e21) 300px 50px no-repeat, -moz-linear-gradient(#fea04f, #dd5e21) 0 0 no-repeat;
    text-decoration:none;
}
/* nav#mainmenu ul.servicos li:hover {
    background: #fff;
}
nav#mainmenu ul.servicos li:hover a {
    background: #fff;
    color: #a0dcfa;
} */
#mainmenu ul.servicos li div.submenu_principal {
    padding: 20px 0;
    width: 345px;
    min-height: 225px;
}
#mainmenu ul.servicos li div.submenu_principal div.para_caes,
#mainmenu ul.servicos li div.submenu_principal div.para_gatos {
    display: block;
    float: left;
    padding: 0 20px;
    width: 130px;
    font-family:"Droid Sans", Arial;
}
#mainmenu ul.servicos li div.submenu_principal div.para_caes {
    border-right: 1px dotted #999; 
}
#mainmenu ul.servicos li div.submenu_principal div.para_caes p.titulo,
#mainmenu ul.servicos li div.submenu_principal div.para_gatos p.titulo{
    position: relative;
    margin: 0 0 10px 0;
    padding: 4px 0;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px #fff;
    width: 70px;
    background: -webkit-gradient(linear, 0 0, 0 100%,
        from(#f5f5f5), to(#e2e2e2)) 0 0 no-repeat,
        -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#e2e2e2)) 0 0 no-repeat;
    background: -moz-linear-gradient(#f5f5f5, #e2e2e2) 0 0 no-repeat,
        -moz-linear-gradient(#f5f5f5, #e2e2e2) 0 0 no-repeat;
}
#mainmenu ul.servicos li div.submenu_principal div.para_caes p.titulo span,
#mainmenu ul.servicos li div.submenu_principal div.para_gatos p.titulo span {
    display: block;
    position: absolute;
    width: 11px;
    height: 4px;
    background: url(../images/bg_tit_ultimos_artigos.png);
    top: 22px;
    left: 8px;
}
#mainmenu ul.servicos li div.submenu_principal div.para_caes a,
#mainmenu ul.servicos li div.submenu_principal div.para_gatos a {
   color: #666;
   font-size: 12px;
   line-height: 15px;
   padding: 10px 0;
   margin: 0;
   display: block;
}
#mainmenu ul.servicos li div.submenu_principal div.para_caes a span,
#mainmenu ul.servicos li div.submenu_principal div.para_gatos a span {
    color: #999;
    display: block;
    font-style: italic;
}