/* Slider Emergência 24h */
#slider_emergencia {
    width: 950px;
    height: 200px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
#slider_emergencia .nivoSlider {
    position:relative;
    width: 950px;
    height: 200px;
    overflow: hidden;
    z-index: 1;
}
#slider_emergencia .nivoSlider img {
    position:absolute;
    top:0px;
    left:0px;
    z-index: 2;
}
#slider_emergencia .nivo-main-image {
    display: block !important;
    position: relative !important; 
    width: 100% !important;
}
/* If an image is wrapped in a link */
#slider_emergencia .nivoSlider a.nivo-imageLink {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    border:0;
    padding:0;
    margin:0;
    z-index:6;
    display:none;
    background:white; 
    filter:alpha(opacity=0); 
    opacity:0;
}
/* The slices and boxes in the Slider */
#slider_emergencia .nivo-slice {
    display:block;
    position:absolute;
    z-index:5;
    height:100%;
    top:0;
}
#slider_emergencia .nivo-box {
    display:block;
    position:absolute;
    z-index:5;
    overflow:hidden;
}
#slider_emergencia .nivo-box img { display:block; }

/* Caption styles */
#slider_emergencia .nivo-caption {
    position:absolute;
    left:0px;
    bottom:0px;
    background:#000;
    color:#fff;
    width:100%;
    z-index:8;
    padding: 5px 10px;
    opacity: 0.8;
    overflow: hidden;
    display: none;
    -moz-opacity: 0.8;
    filter:alpha(opacity=8);
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
#slider_emergencia .nivo-caption p {
    padding:5px;
    margin:0;
}
#slider_emergencia .nivo-caption a {
    display:inline !important;
}
#slider_emergencia .nivo-html-caption {

}
/* Direction nav styles (e.g. Next & Prev) */
#slider_emergencia .nivo-directionNav a {
    z-index:9;
    cursor:pointer;
}
#slider_emergencia .nivo-nextNav,
#slider_emergencia .nivo-prevNav {
    position: absolute;
    right: 25px;
    display: block;
    width: 17px;
    height: 18px;
    text-indent:-9999px;
}
#slider_emergencia .nivo-nextNav {
    top: 74px;
    background: url(../images/seta_emergencia_direita.png);
}
#slider_emergencia .nivo-prevNav {
    top: 98px;
    background: url(../images/seta_emergencia_esquerda.png);
}
/* Control nav styles (e.g. 1,2,3...) */
#slider_emergencia .nivo-controlNav {
    display:none;
}
#slider_emergencia .nivo-controlNav a {
    cursor:pointer;
}
#slider_emergencia .nivo-controlNav a.active {
    font-weight:bold;
}
/* fim Slider Emergência 24h */
