#pg {
    display: block;
    width: 630px;
    text-align: center;
    margin: 0 auto;
    clear: left;
}
ul.qtd {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
}
ul.qtd li {
    display: inline;
    list-style: none;
    font-family: "Droid Sans", Arial;
    font-size:11px;
    color: #666;
    text-transform: uppercase;
}
ul.qtd li a {
    font-family: "Droid Sans", Arial;
    font-size:11px;
    color: #cacaca;
    text-decoration: none;
}
ul.qtd li a:hover {
    color: #666;
}
ul.qtd li a.current {
    color: #666;
    font-weight: bold;
}
.paginas {
    display: block;
    float: right;
    width: auto;
}
.paginas a, .paginas span {
    padding:1px 2px 0 0;
    margin: 0 0 0 8px;
    font-family: "Droid Sans", Arial;
    font-size:12px;
    color: #999;
    display: block;
    min-width: 14px;
    height: 15px;
    float: left;
    text-align: center;
}
.paginas a {
    color: #666;
}
.paginas a.current {
    color: #fff;
    font-weight: bold;
    background: #2c98c9;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:8px;
    text-decoration: none;
}
.paginas a.textos, .paginas span.textos {
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    color: #2c98c9;
    padding: 3px 0 0 0;
}
