/* `XHTML, HTML4, HTML5 Reset
----------------------------------------------------------------------------------------------------*/

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 100%;
}

html,
body {
    height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    /*
      Override the default (display: inline) for
      browsers that do not recognize HTML5 tags.
    
      IE8 (and lower) requires a shiv:
      http://ejohn.org/blog/html5-shiv
    */
    display: block;
}

b,
strong {
    /*
      Makes browsers agree.
      IE + Opera = font-weight: bold.
      Gecko + WebKit = font-weight: bolder.
    */
    font-weight: bold;
}

img {
    color: transparent;
    font-size: 0;
    vertical-align: middle;
    /*
      For IE.
      http://css-tricks.com/ie-fix-bicubic-scaling-for-images
    */
    -ms-interpolation-mode: bicubic;
}

li {
    /*
      For IE6 + IE7.
    */
    display: list-item;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

th,
td,
caption {
    font-weight: normal;
    vertical-align: top;
    text-align: left;
}

q {
    quotes: none;
}

q:before,
q:after {
    content: '';
    content: none;
}

sub,
sup,
small {
    font-size: 75%;
}

sub,
sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

svg {
    /*
      For IE9.
    */
    overflow: hidden;
}



/*-- Style */

.icones-info{
    background: none repeat scroll 0 0 #FFF center center;
    display: block;
    float: left;
    height: 20px;
    position: absolute;
    right: -25px;
    top: 4px;
    width: 20px;
    border-radius: 10px;
}

.tool-info{
    width: 200px;
    height: auto;
    position: absolute;
    float: left;
    background: #000;
    border: #FFF;
    padding: 5px;
    font-family: Arial;
    color: #FFF;
    right: 0;
    font-size: 13px;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
}

.obrigatorio{
    background: none repeat scroll 0 0 #FF0000;
    border-radius: 5px 5px 5px 5px;
    height: 30px;
    left: 0;
    position: absolute;
    top: 0;
    width: 4px;
}

.obrigatorio-select{
    background: none repeat scroll 0 0 #FF0000;
    border-radius: 5px 5px 5px 5px;
    height: 32px;
    left: 0;
    position: absolute;
    /*top: 27px;*/
    width: 4px;
    z-index: 2;
}