div.conteudo_esq {
    display: block;
    width: 630px;
}
.area_filtro {
    display: block;
    width: 950px;
    margin: 0 auto;
}
.area_filtro p {
    font-family:"Droid Sans", Arial;
    font-size: 14px;
    margin: 0;
}
.area_filtro div.box_filtro {
    width: 950px;
    height: 255px;
    background: -webkit-gradient(linear, 0 0, 0 100%,
                from(#f6eede), to(#ebdcbe)) 0 0 no-repeat,
                -webkit-gradient(linear, 0 0, 0 100%, from(#f6eede), to(#ebdcbe)) 0 0 no-repeat;
    background: -moz-linear-gradient(#f6eede, #ebdcbe) 0 0 no-repeat,
                -moz-linear-gradient(#f6eede, #ebdcbe) 0 0 no-repeat;
    margin: 15px 0;
}
.area_filtro div.box_filtro div.box_pet {
    float: left;
    width: 148px;
    height: 254px;
    box-shadow: 0px 0px 2px #005784;
    border-top:1px solid #52cef1;
    background: url(../images/bg_box_pet.png) 8px 140px no-repeat;
    background: url(../images/bg_box_pet.png) 8px 140px no-repeat,
                -webkit-gradient(linear, 0 0, 0 100%,
                from(#3cb3ea), to(#006aa1)) 0 0 no-repeat,
                -webkit-gradient(linear, 0 0, 0 100%, from(#3cb3ea), to(#006aa1)) 0 0 no-repeat;
    background: url(../images/bg_box_pet.png) 8px 140px no-repeat,
                -moz-linear-gradient(#3cb3ea, #006aa1) 0 0 no-repeat,
                -moz-linear-gradient(#3cb3ea, #006aa1) 0 0 no-repeat;
}
.area_filtro div.box_filtro div.box_pet p {
    font-size: 15px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin: 15px 0;
}
.area_filtro div.box_filtro div.box_pet a {
    display: block;
    width: 106px;
    height: 71px;
    float: right;
    margin: 10px -1px 15px 0;
}
.area_filtro div.box_filtro div.box_pet a.cachorro {
    background: url(../images/pet_dog.png) 0px -80px;
}
.area_filtro div.box_filtro div.box_pet a.gato {
    background: url(../images/pet_cat.png) 0px -80px;
}
.area_filtro div.box_filtro div.box_pet a.cachorro:hover {
    background: url(../images/pet_dog.png);
}
.area_filtro div.box_filtro div.box_pet a.gato:hover {
    background: url(../images/pet_cat.png);
}
.area_filtro div.box_filtro div.box_pet a.ativo {
    background-position: 0 0;
}
.area_filtro div.box_filtro_pet {
    display: block;
    float: left;
    width: 135px;
    height: 200px;
    background: #fff;
    border: 1px solid #c6c6c6;
    border-right: 2px solid #c6c6c6;
    border-bottom: 2px solid #c6c6c6;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    margin: 25px 0 0 18px;
}
.area_filtro div.box_filtro_pet h3 {
    display: block;
    font-family:"Droid Sans", Arial;
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px dotted #d2d2d2;
}
.area_filtro div.box_filtro_pet div.box_filtro_items {
    width: 135px;
    height:167px;
    overflow: hidden;
    position: relative;
}
.area_filtro div.box_filtro_pet div.box_filtro_items a {
    display: block;
    width: 125px;
    padding:5px;
    font-family:"Droid Sans", Arial;
    font-size: 12px;
    color: #666;
    text-decoration: none;
}
.area_filtro div.box_filtro_pet div.box_filtro_items a:hover {
    background: #ebebeb;
}
.area_filtro div.box_filtro_pet div.box_filtro_items a.ativo {
    background: #ebebeb;
}
.area_filtro div.box_filtro_pet div.box_filtro_items a.cima,
.area_filtro div.box_filtro_pet div.box_filtro_items a.baixo {
    display: block;
    width:7px;
    height:5px;
    padding:10px;
    position: absolute;
    right:0;
    z-index: 10;
}
.area_filtro div.box_filtro_pet div.box_filtro_items a.cima {
    top:0;
    background:url(../images/scroll_cima.gif) 10px 10px no-repeat;
}
.area_filtro div.box_filtro_pet div.box_filtro_items a.baixo {
    bottom:0;
    background:url(../images/scroll_baixo.gif) 10px 10px no-repeat;
}
.area_filtro div.box_filtro_pet div.box_filtro_items a.cima:hover,
.area_filtro div.box_filtro_pet div.box_filtro_items a.baixo:hover{
    background-color: #f0f0f0;
}
#box_estado {
    position: absolute;
    left: 0;
    min-height: 200px;
    top:0;
}

.conteudo_full {
    width: 950px;
    margin: 0 auto;
}

#tabs-guia {
    margin: 20px 0 0 0;
    clear: both;
}
#tabs-guia .itens a {
    display: block;
    font-family: "Droid Sans", Arial;
    font-size: 13px;
}
.guia_servico {
    width: 630px;
    padding: 25px 0;
    border-bottom: 1px dotted #a5a5a5;
    margin: 0;
    float: left;
}
.guia_servico img {
    width: 170px;
    height: 130px;
    border: 1px solid #c6c6c6;
    float: left;
    margin: 0 20px 0 0;
}
.guia_servico h3 {
    font-family: "Droid Sans", Arial;
    font-size: 19px;
    color: #666;
}
.guia_servico p {
    font-size: 12px;
    line-height: 15px;
    margin:10px 0;
}
.guia_servico a {
    display: block;
    padding:2px 10px 2px 20px;
    margin: 0 12px 0 0;
    float: left;
    width: auto;
    font-size:11px;
    color:#999999;
    text-shadow:1px 1px #eee;
    border:1px solid #cacaca;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    text-decoration: none;
}
.guia_servico a.guardar {
    background:url(../images/ico_adicionar.png) 7px 4px no-repeat;
    background:url(../images/ico_adicionar.png) 7px 4px no-repeat,
        -webkit-gradient(linear, 0 0, 0 100%,
        from(#f2f2f2), to(#d5d5d5)) 0 0 no-repeat,
        -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#d5d5d5)) 0 0 no-repeat;
    background:url(../images/ico_adicionar.png) 7px 4px no-repeat,
        -moz-linear-gradient(#f2f2f2, #d5d5d5) 0 0 no-repeat,
        -moz-linear-gradient(#f2f2f2, #d5d5d5) 0 0 no-repeat;
}
.guia_servico a.pedir-orcamento {
    background:url(../images/ico_orcamento.png) 7px 4px no-repeat;
    background:url(../images/ico_orcamento.png) 7px 4px no-repeat,
        -webkit-gradient(linear, 0 0, 0 100%,
        from(#f2f2f2), to(#d5d5d5)) 0 0 no-repeat,
        -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#d5d5d5)) 0 0 no-repeat;
    background:url(../images/ico_orcamento.png) 7px 4px no-repeat,
        -moz-linear-gradient(#f2f2f2, #d5d5d5) 0 0 no-repeat,
        -moz-linear-gradient(#f2f2f2, #d5d5d5) 0 0 no-repeat;
}
.guia_servico a.agendar-servico {
    background:url(../images/ico_agenda.png) 7px 4px no-repeat;
    background:url(../images/ico_agenda.png) 7px 4px no-repeat,
        -webkit-gradient(linear, 0 0, 0 100%,
        from(#f2f2f2), to(#d5d5d5)) 0 0 no-repeat,
        -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#d5d5d5)) 0 0 no-repeat;
    background:url(../images/ico_agenda.png) 7px 4px no-repeat,
        -moz-linear-gradient(#f2f2f2, #d5d5d5) 0 0 no-repeat,
        -moz-linear-gradient(#f2f2f2, #d5d5d5) 0 0 no-repeat;
}
#tab-lista .primeiro {
    padding-top: 0;
}
#tab-lista .ultimo {
    border: 0;
}
#tab-lista aside.dir-lista-guia {
    float: right;
    width: 270px;
    height: auto;
}
#tab-lista aside.dir-lista-guia iframe {
    margin: 0 0 35px 0;
    width: 270px;
    height: 250px;
}
#tab-lista aside.dir-lista-guia div.servicos-lista {
    background: #efefef;
    padding: 20px;
}
#tab-lista aside.dir-lista-guia div.servicos-lista h3 {
    background: url(../images/side_servicos_title_arrow.png) 80px 7px no-repeat;
}
#tab-lista aside.dir-lista-guia div.item_servico {
    padding: 15px 0;
    border-bottom: 1px dotted #a5a5a5;
    position: relative;
}
#tab-lista aside.dir-lista-guia div.item_servico img {
    width: 100px;
    height: 70px;
    float: left;
    border: 0;
    margin: 0 15px 0 0;
}
#tab-lista aside.dir-lista-guia div.item_servico h4 {
    font-family: "Droid Sans", Arial;
    font-size: 12px;
    color: #666;
    text-transform: uppercase;
}
#tab-lista aside.dir-lista-guia div.item_servico p {
    margin: 0;
    color: #848889;
}
#tab-lista aside.dir-lista-guia div.item_servico a.leiamais {
    font-family: "Droid Sans", Arial;
    font-size: 10px;
    color: #2c98c9;
    text-transform: uppercase;
}
#tab-lista aside.dir-lista-guia div.item_servico span.leg_imagem {
    display: block;
    width: 90px;
    height: auto;
    background: #000;
    color: #fff;
    position: absolute;
    padding: 2px 5px;
    text-transform: uppercase;
    font-size: 10px;
    opacity:0.70;
    -moz-opacity: 0.70;
    filter: alpha(opacity=70);
}
#tab-lista aside.dir-lista-guia div.ultimo {
    padding: 15px 0 0 0;
    border: 0;
}

/* JÁ TEM EM OUTRO CSS */ 
#navegacao-tab {
	list-style: none;
	border-bottom: 1px solid #EBEBEB;
	height: 36px;
	margin-bottom: 30px;
} 
	#navegacao-tab .itens {
		padding: 10px 15px;
		float: left;
		width: auto;
		border-top: 1px solid #EBEBEB;
		border-left: 1px solid #EBEBEB;
		border-right: 1px solid #EBEBEB;
		position: relative;
		margin-left: 18px; }
 
		#navegacao-tab .itens:nth-child(2) { margin-left: 16px; }
 

		#navegacao-tab .itens .sombra-direira, #navegacao-tab .itens .sombra-esquerda { display: none; }
 
		#navegacao-tab .itens .sombra-direira {
			background: url(../images/sombra.png) -105px 0px no-repeat;
			width: 10px;
			height: 35px;
			position: absolute;
			top: 0;
			right: -8px; }
 
		#navegacao-tab .itens .sombra-esquerda {
			background: url(../images/sombra.png) -114px 0px no-repeat;
			width: 10px;
			height: 35px;
			position: absolute;
			top: 0;
			left: -8px; }
#navegacao-tab  .itens.ui-tabs-active.ui-state-active a {
	color: #2c98c9;
	font-weight: bold; }
 
#navegacao-tab  .itens.ui-tabs-active.ui-state-active {
	height: 15px;
	background: #FFF;
	border-top: 2px solid #00AEEF; }
 
	#navegacao-tab  .itens.ui-tabs-active.ui-state-active .sombra-esquerda, #navegacao-tab  .itens.ui-tabs-active.ui-state-active .sombra-direira { display: block; }
#navegacao-tab  .itens.ui-state-hover a {
	color: #ee7500;
	text-decoration: none; }
#navegacao-tab  .itens a { color: #999999; }