<script>
</script>
<div class="mws-panel grid_8">
	<div class="mws-tabs">
		<div id="add-banner">
			<table>
				<tr>
					<td>
						<!-- Cadastro Empreendimento-->
						<div class="mws-panel grid_8" style="width: 790px;">
							<div class="mws-panel-header">
								<span class="mws-i-24 i-image-2">Adicionar novo banner</span>
							</div>
							<div class="mws-panel-body" style="padding-top: 16px;">
								
    
          <?php if(count($this->messages)>0){?>
          <div class="alert <?php if($this->messages['response']==true ){ ?>alert-success<?php }
                                     elseif ($this->messages['response']==false){ ?>
                                     alert-error
                                     <?php }?>
                                                              
           " style="width: 600px;height:20px; margin-left: 26px;">
          <?php foreach ($this->messages as $key =>$message){
          
              if(is_numeric($message) || is_bool($message) )continue;
              
              ?>
          
               <div style="clear: right;margin-bottom: 6px;"><?php echo $message;?></div>
                  
          <?php }?>
            </div>
            <?php }?>
          
    
   

								<form class="mws-form banners" method="post"
									action="/backend/banner/add" enctype="multipart/form-data">
				
									<div class="mws-form-cols clearfix">
										<div class="mws-form-col-5-8 alpha">
											<label>Título do banner:</label>
											<div class="mws-form-item large" style="width: 730px;">
												<input type="text" name="banner_title" class="mws-textinput required"
													
													value="<?= utf8_decode($this->fields['banner_title']);?>" />
                                                    <div class="icones-info mws-ic-16 ic-lightbulb tooltip-info" longdesc="Titulo para Title do Banner"></div>
											</div>
										</div>

										<div class="mws-form-col-5-8 alpha">
											<label>Link do banner:</label>
											<div class="mws-form-item large" style="width: 730px;">
												<input type="text" name="banner_link" class="mws-textinput"
													value="<?=  utf8_decode($this->fields['banner_link']);?>" />
											</div>
										</div>

										<div class="mws-form-col-8-8 alpha">

											<div class="mws-form-col-2-8">
												<label>Data de Inicio:</label>
												<div class="mws-form-item">
													<input type="text" name="banner_from_date"
														class="mws-textinput mws-datepicker required dateFormat"
														value="<?=($this->fields['banner_from_date']!='')?date('d/m/Y',strtotime ($this->fields['banner_from_date'])):'';?>"
														 />
												</div>
											</div>
											<div class="mws-form-col-2-8">
												<label>Data de Término:</label>
												<div class="mws-form-item">
													<input type="text" name="banner_to_date"
														class="mws-textinput mws-datepicker required dateFormat"
														value="<?=($this->fields['banner_to_date']!='')?date('d/m/Y',strtotime ($this->fields['banner_to_date'])):'';?>"
														 />
												</div>
											</div>

											<!-- <div class="mws-form-col-1-8">
												<label>Posição :</label>
												<div class="mws-form-item large">
													<input type="text" name="banner_position"
														class="mws-textinput"
														value="<?=$this->fields['banner_position'];?>" />
												</div>
											</div>-->
											
											<div class="mws-form-col-4-8">
												<label>Imagem do Banner: </label>
												<div class="mws-form-item">
													<input type="file" name="banner_hash_file"
														class="required"
														/>
                                                        <div class="icones-info mws-ic-16 ic-lightbulb tooltip-info" longdesc="582x295 de Tamanho"></div>
												</div>
											</div>
										</div>



										<div class="mws-form-col-6-8 omega">
											<label> <input type="checkbox"
												name="banner_isVisible[]" 
												<?= ($this->fields['banner_isVisible']==1)?' checked="checked" ':'' ;?>
												value="1" />Visivel </label>
												
										</div>

									</div>
									
									


									<div class="mws-button-row">
										<input type="submit" value="adicionar banner"
											class="mws-button green" /> <input type="reset"
											value="Limpar" class="mws-button gray" />
									</div>
								</form>
							</div>
						</div> <!-- Final de Cadastro de Empreendimento-->
					</td>
				</tr>
			</table>
		</div>

	</div>
</div>
