<script>
function removeBanner(id){
   if(confirm('Tem certeza que deseja remover este banner ?')){
	$.get('/backend/banner/remove/id/'+id, function(data){

		 alert(data.Message);
		 window.location="/backend/banner/index";
	},'json');
   }
}

</script>
 <?php  if($this->UserPermission()->isAllowed('banner','edit')      || 
           $this->UserPermission()->isAllowed('banner','remove')    ||
 		   $this->UserPermission()->isAllowed('banner','index')     ){ ?>
<div class="mws-panel grid_8">
	<div class="mws-panel-header">
		<span class="mws-i-24 i-table-1">Lista de banners</span>
	</div>
	<div class="mws-panel-body">
		<table id="banners" class="mws-datatable mws-table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Título do banner</th>
					<th>Status</th>
					<th>Banner</th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>
                <?php
                foreach ($this->Banners as $Banner) {
                    ?>
                    <tr id="slide-<? echo $Banner['banner_id']; ?>" class="gradeU" style="cursor: move;"  slide="<? echo $Banner['banner_id']; ?>">
					<td style="width: 30px;"><? echo $Banner['banner_id']; ?></td>
					<td style="width: 230px;"><? echo $Banner['banner_title']; ?></td>
					<!-- 	<td width="140px"><? echo $Banner['banner_link']; ?></td>-->
					<td style="width: 140px;"><?  if($Banner['banner_isVisible']==1){ ?>
                            <div class="alert alert-success">✔ Habilitado</div>                  
                         <?}elseif($Banner['banner_isVisible']==0){?>
                              <div class="alert alert-error">X Desabilitado</div>  
                        <?}?>
                        </td>
					    <td style="width: 274px;" style="text-align: center;"><img
						src="/upload/banners/<? echo $Banner['banner_hash_file']; ?>"
						width="274px" height="110px" /></td>
					   <td style="width: 150px;" class="center">
						<ul id="icons-16" class="clearfix">
							  <?php  if($this->UserPermission()->isAllowed('banner','edit')){                 
                               ?>
							<li
								onclick="window.location='/backend/banner/edit/id/<? echo $Banner['banner_id']; ?>'"
								class="mws-ic-16 ic-application-edit" title="Editar"></li>
								
							<?php } ?>
							<?php  if($this->UserPermission()->isAllowed('banner','remove')){                 
                               ?>
							<li
								onclick="removeBanner('<? echo $Banner['banner_id']; ?>')"
								class="mws-ic-16 ic-cancel" title="Excluir"></li>
								<?php } ?>
						</ul>
					</td>
				</tr>
                <?php } ?>
            </tbody>
		</table>
	</div>
</div>
<?php } ?>