<!-- footer -->
<footer id="footer">
    <div class="rapidxwpr">
        <!-- footer content -->
        <div class="footer_content">
            <div class="footer_menu">
                <div class="footer_logo">
                    <a href=""><img src="images/footer_logo.png" alt="" /></a>
                </div>
                <ul>
                    <li><a href="">Contato</a></li>
                    <li><a href="">Condições Legais</a></li>
                    <li><a href="">Cadastro empresas</a></li>
                    <li><a href="">Quem Somos?</a></li>
                </ul>
                <span class="copyright">GPO4 - Copyright 2012 <a href="">www.cachorrogato.com.br</a></span>
            </div>
            <div class="footer_links">
                <h5>CACHORRO</h5>
                <ul>
                    <li><a href="">Cachorros em Estado</a></li>
                    <li><a href="">Cachorros em São Paulo</a></li>
                    <li><a href="">Cachorros em Rio de Janeiro</a></li>
                    <li><a href="">Cachorros em Bahia</a></li>
                    <li><a href="">Cachorros em Ceará</a></li>
                    <li><a href="">Cachorros em Pernambuco</a></li>
                    <li><a href="">Cachorros em Rio Grande do Norte</a></li>
                    <li><a href="">Cachorros em Acre</a></li>
                    <li><a href="">Cachorros em Amazônia</a></li>
                    <li><a href="">Cachorros em Santa Caterina</a></li>
                </ul>
            </div>
            <div class="footer_links">
                <h5>Gato</h5>
                <ul>
                    <li><a href="">Gatos em Estado</a></li>
                    <li><a href="">Gatos em São Paulo</a></li>
                    <li><a href="">Gatos em Rio de Janeiro</a></li>
                    <li><a href="">Gatos em Estado</a></li>
                    <li><a href="">Gatos em Rio Grande do Norte</a></li>
                    <li><a href="">Gatos em Acre</a></li>
                    <li><a href="">Gatos em Amazônia</a></li>
                    <li><a href="">Gatos em Santa Caterina</a></li>
                </ul>
            </div>
            <div class="footer_links">
                <h5>Serviços</h5>
                <ul>
                    <li><a href="">Pet Shops</a></li>
                    <li><a href="">Clinicas Veterinarias</a></li>
                    <li><a href="">Hotéis para Cachorro</a></li>
                    <li><a href="">Hoteis para Gatos</a></li>
                    <li><a href="">Spas</a></li>
                    <li><a href="">Centros de Treinamentos</a></li>
                </ul>
            </div>

        </div>
        <!-- / footer content -->
    </div>
</footer>
<!-- / footer -->
</body>
</html>
</html>
