<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <?php
        echo $this->headTitle('Cahorro Gato', 'APPEND')
                ->headTitle()->setSeparator(' | ') . PHP_EOL;

        echo $this->headMeta()
                ->appendName('Classification', '')
                ->appendName('Abstract', '')
                ->appendName('Author', '@acidcode')
                ->appendName('Contact', 'andre.kernelpanic@gmail.com')
                ->appendName('Publisher', '')
                ->appendName('Robots', 'ALL')
                ->appendName('Robots', 'INDEX,FOLLOW')
                ->appendName('Revisit-After', '5 Days')
                ->appendName('Distribution', 'Global')
                ->appendName('Rating', 'General')
                ->appendName('documentcountrycode', 'br')
                ->appendName('SearchTitle', 'www.cachorrogato.com.br')
                ->appendName('googlebot', 'index,follow')
                ->appendName('viewport', 'width=device-width,initial-scale=1')
                ->appendName('googlebot', 'all')
                ->appendName('Spider Robots', 'all')
                ->appendName('MSNBot', 'all')
                ->appendName('InktomiSlurp', 'all')
                ->appendName('Unknownrobot', 'all')
                ->appendName('Yahoo! Slurp', 'all')
                ->appendName('Revisit-after', '1')
                ->appendHttpEquiv('Content-Language', 'pt-br')
                ->appendHttpEquiv('refresh', '5000')
                ->appendHttpEquiv('pragma', 'no-cache')
                ->appendHttpEquiv('Content-Type', 'text/html; charset=utf-8')
                ->appendHttpEquiv('X-UA-Compatible', 'IE=edge') . PHP_EOL;


        echo $this->jQuery()
                //Bibliotecas jquery e jquery UI
                ->setLocalPath('/js/jquery-1.7.min.js')
                ->setUiLocalPath('/js/jquery-ui-1.10.2.custom.min.js')
                //Scripts JS
                ->addJavascriptFile('/js/global.js')
                ->addJavascriptFile('/js/jquery.uniform.js')
                ->addJavascriptFile('/js/modernizr-2.6.2.min.js')
                //Folhas de Estilos
                ->addStylesheet('/css/style.css')
                ->addStylesheet('/css/formularios.css');
        ?>
        <script type="text/javascript">
            $(function() {
                $("input:text, input:radio, input:password, input:file, input:checkbox, textarea, select").uniform();
            });
        </script>
    </head>
    <body>
        <!-- nav bar -->
        <!-- / nav bar -->
        <!-- outerwpr -->
        <div class="outerwpr">
            <div class="alertaerro"><span>Por favor corrija os erros antes de prosseguir!</span></div>
            <div class="rapidxwpr">
                <!-- header -->
                <header id="header">
                    <!-- logo -->
                    <div class="logo">
                        <a href="/"><img src="/images/logo.png" alt="Home" title="Home" /></a>
                        <div class="logo_text forncecedores">Fornecedores</div>
                    </div>
                    <!-- / logo -->
                    <!-- header content -->
                    <div class="header_content forncecedores">
                        <div class="header_top forncecedores">
                            <div id="fundotransparente"></div>
                            <div id="apoio">
                                <p>
                                    <span class="mensagem">Linha de apoio ao cliente:</span>
                                    <span class="telefone">11 2667 4381</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- / header content -->
                </header>
                <!-- / header -->
                <!-- navigation -->
                <div class="navigation">
                    <nav id="mainmenu" class="fornecedor menu_fornecedor">
                        <ul>
                            <li><a href="/painel-gestao">Painel de gestão</a></li>
                            <li><a href="/agendamentos">Agendamentos </a></li>
                            <li><a href="/orcamentos">Orçamentos</a></li>
                            <li><a href="/estatisticas-gerais">Estatísticas gerais</a></li>
                            <li><a href="/minha-vitrine">Minha vitrine </a></li>   
                            <li><a href="/suporte">Suporte</a></li>   
                            <li id="btpremium" class="ultimo"><a href="/seja-premium"> SEJA premium</a></li>   
                        </ul>
                    </nav>
                </div>
                <!-- / navigation -->