<div class="mws-form-cols clearfix">
    <div class="mws-form-col-8-8 alpha">
        <label>Nome</label>
        <div class="mws-form-item large">
            <?php echo $this->formText('vc_nome', $this->me['vc_nome'], array('maxlength' => 100)); ?> 
        </div>
    </div>
    <div class="mws-form-col-8-8 alpha">
        <label>Sobrenome</label>
        <div class="mws-form-item small">
            <?php echo $this->formText('vc_sobrenome', $this->me['vc_sobrenome'], array('maxlength' => 255)); ?>
        </div>
    </div>
    <div class="mws-form-col-8-8 alpha">
        <label>Sexo</label>
        <?php echo $this->formRadio('bl_sexo', 'masculino', array('onclick' => 'blSexoValue();'), array('masculino' => "Masculino", 'feminino' => "Feminino"), ''); ?> 
        <?php echo $this->formHidden('bl_sexo_value', 'masculino', array('')); ?>
    </div>
    <div class="mws-form-col-8-8 alpha">
        <label> Data de nascimento
            <?php echo $this->formSelect('dt_nascimento[dia]', null, null, $this->dataNascimento['dia']); ?>
            <?php echo $this->formSelect('dt_nascimento[mes]', null, null, $this->dataNascimento['mes']); ?>
            <?php echo $this->formSelect('dt_nascimento[ano]', null, null, $this->dataNascimento['ano']); ?>
        </label>
    </div>
    <div class="mws-form-col-8-8 alpha">
        <label>CEP</label>
        <?php echo $this->formText('it_cep', $this->me[''], array('maxlength' => 9, 'onblur' => 'buscarEnderecoPorCep();')) ?>
    </div>
    <div class="mws-form-col-8-8 alpha">
        <label>Endereço</label>
        <?php echo $this->formText('vc_endereco', $this->me[''], array('maxlength' => 100)); ?>
    </div>
    <div class="mws-form-col-8-8 alpha">
        <label>Número</label>
        <?php echo $this->formText('vc_numero', $this->me[''], array('maxlength' => 10)); ?>
    </div>
    <div class="mws-form-col-8-8 alpha">
        <label>Complemento</label>
        <?php echo $this->formText('vc_complemento', $this->me[''], array('maxlength' => 45)); ?>
    </div>
    <div class="mws-form-col-8-8 alpha">
        <label>Cidade</label>
        <?php echo $this->formText('vc_cidade', $this->me[''], array('maxlength' => 100)); ?>
    </div>
    <div class="mws-form-col-8-8 alpha">
        <label>Estado</label>
        <?php echo $this->formSelect('vc_estado', null, null, $this->UF()); ?> 
    </div>
    <div class="mws-form-col-8-8 alpha">
        <label>Bairro</label>
        <?php echo $this->formText('vc_bairro', $this->me[''], array('maxlength' => 100)); ?>
    </div>
    <div class="mws-form-col-8-8 alpha">
        <label>E-mail</label>
        <?php echo $this->formText('vc_email', $this->me['vc_email'], array('maxlength' => 150, 'onblur' => 'return verificaEmail();')); ?>
    </div>
    <div class="mws-form-col-8-8 alpha">
        <label>Senha</label>
        <?php echo $this->formPassword('vc_senha', null, array('maxlength' => 30, 'onblur' => 'return verificaSenha();', 'class' => 'text')); ?>
    </div>
</div>