
<ul id="mws-gallery" class="clearfix">
    <li>
        <a href="/uploads/modules/front-end/clientes/fotos/11920130424030429.gif" rel="prettyPhoto[gallery1]">
            <img src="/uploads/modules/front-end/clientes/fotos/11920130424030429.gif" alt="">
            <span class="mws-gallery-overlay">
                <span class="mws-gallery-zoom"></span>
            </span>
        </a>
    </li>
    <li>
        <a href="/uploads/modules/front-end/clientes/fotos/11920130424030429.gif" rel="prettyPhoto[gallery1]">
            <img src="/uploads/modules/front-end/clientes/fotos/11920130424030429.gif" alt="">
            <span class="mws-gallery-overlay">
                <span class="mws-gallery-zoom"></span>
            </span>
        </a>
    </li>
    <li>
        <a href="/uploads/modules/front-end/clientes/fotos/11920130424030429.gif" rel="prettyPhoto[gallery1]">
            <img src="/uploads/modules/front-end/clientes/fotos/11920130424030429.gif" alt="">
            <span class="mws-gallery-overlay">
                <span class="mws-gallery-zoom"></span>
            </span>
        </a>
    </li>
    <li>
        <a href="/uploads/modules/front-end/clientes/fotos/11920130424030429.gif" rel="prettyPhoto[gallery1]">
            <img src="/uploads/modules/front-end/clientes/fotos/11920130424030429.gif" alt="">
            <span class="mws-gallery-overlay">
                <span class="mws-gallery-zoom"></span>
            </span>
        </a>
    </li>
    <li>
        <a href="/uploads/modules/front-end/clientes/fotos/11920130424030429.gif" rel="prettyPhoto[gallery1]">
            <img src="/uploads/modules/front-end/clientes/fotos/11920130424030429.gif" alt="">
            <span class="mws-gallery-overlay">
                <span class="mws-gallery-zoom"></span>
            </span>
        </a>
    </li>
    <li>
        <a href="/uploads/modules/front-end/clientes/fotos/11920130424030429.gif" rel="prettyPhoto[gallery1]">
            <img src="/uploads/modules/front-end/clientes/fotos/11920130424030429.gif" alt="">
            <span class="mws-gallery-overlay">
                <span class="mws-gallery-zoom"></span>
            </span>
        </a>
    </li>
    <li>
        <a href="/uploads/modules/front-end/clientes/fotos/11920130424030429.gif" rel="prettyPhoto[gallery1]">
            <img src="/uploads/modules/front-end/clientes/fotos/11920130424030429.gif" alt="">
            <span class="mws-gallery-overlay">
                <span class="mws-gallery-zoom"></span>
            </span>
        </a>
    </li>
</ul>

<div class="mws-pagination clearfix">
    <ul>
        <li><a href="#" class="mws-paging-button disabled">First</a></li>
        <li><a href="#" class="mws-paging-button disabled">Prev</a></li>
        <li><a href="#" class="mws-paging-button current">1</a></li>
        <li><a href="#" class="mws-paging-button">2</a></li>
        <li><a href="#" class="mws-paging-button">3</a></li>
        <li><a href="#" class="mws-paging-button">4</a></li>
        <li><a href="#" class="mws-paging-button">5</a></li>
        <li><a href="#" class="mws-paging-button">Next</a></li>
        <li><a href="#" class="mws-paging-button">Last</a></li>
    </ul>
</div>
