<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Redefinição de senha</title>
    </head>

    <body>
        <table width="511" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td colspan="3"><img style="width:550px; height:120; margin:0; padding: 0; border: 0; display: block;" src="<?php echo $this->serverUrl('/img/email/form_topo.jpg'); ?>" width="550" height="120" /></td>
            </tr>
            <tr>
                <td width="43"><img style="width:40px; height:280px; margin:0; padding: 0; border: 0; display: block;" src="<?php echo $this->serverUrl('/img/email/form_esquerda.jpg'); ?>" width="40" height="280" /></td>
                <td width="466">
                    <table width="450" border="0" align="center" cellpadding="3" cellspacing="3">
                        <tr>
                            <td colspan="2"><span style="font-family:Arial; font-size: 17px;"><strong style="color: #78c912;">Cria uma nova senha</strong></span></td>
                        </tr>
                        <tr>
                            <td width="97">&nbsp;</td>
                            <td width="332">&nbsp;</td>
                        </tr>
                        <tr>
                            <td><span style="font-family: Arial; font-size: 17px; color:#999;">Nome:</span></td>
                            <td><span style="font-family: Arial; font-size: 17px; color:#999;"><?php echo $this->request['name']; ?></span></td>
                        </tr>
                        <tr>
                            <td><span style="font-family: Arial; font-size: 17px; color:#999;">Utilize o link abaixo para criar uma nova senha, caso não tenha requisitado esta alteração de senha, desconsidere esta mensagem.<br/><a target="_blank" href="<?php echo $this->serverUrl('/backend/user/recover-password/token/' . $this->request['token']); ?>"><?php echo $this->serverUrl('/backend/user/recover-password/token/' . $this->request['token']); ?></a></span></td>
                        </tr>
                    </table></td>
                <td width="41"><img style="width:41px; height:280px; margin:0; padding: 0; border: 0; display: block;" src="<?php echo $this->serverUrl('/img/email/form_direita.jpg'); ?>" width="41" height="280" /></td>
            </tr>
            <tr>
                <td colspan="3"><img style="width:550px; height:163; margin:0; padding: 0; border: 0; display: block;" src="<?php echo $this->serverUrl('/img/email/form_rodape.jpg'); ?>" width="550" height="163" /></td>
            </tr>
        </table>
    </body>
</html>