<div id="modal-categoria" title="Editar Categoria">
    <form class="mws-form" id="form-detalhe-categoria">
        <div class="mws-form-cols clearfix">
            <div class="mws-form-col-8-8 alpha">
                <label>Conteúdo:</label>
                <div class="mws-form-item">
                    <textarea id="vc_conteudo_categoria" name="vc_conteudo_categoria" style="width: 62.5%;"></textarea>
                </div>
            </div>
            <div class="mws-form-col-5-8 alpha">
                <label>Title: </label>
                <div class="mws-form-item large">
                    <input type="text" id="vc_seo_title_categoria"  name="vc_seo_title_categoria" class="mws-textinput" />
                </div>
            </div>

            <div class="mws-form-col-5-8 alpha">
                <label>URL:</label>
                <div class="mws-form-item large">
                    <input type="text" name="vc_seo_url_categoria" id="vc_seo_url_categoria" class="mws-textinput" />
                </div>
            </div>

            <div class="mws-form-col-5-8 alpha">
                <label>Keywords:</label>
                <div class="mws-form-item large">
                    <input type="text" name="vc_seo_keywords_categoria" id="vc_seo_keywords_categoria"  class="mws-textinput" />
                </div>
            </div>

            <div class="mws-form-col-8-8 alpha">
                <label>Description:</label>
                <div class="mws-form-item">
                    <textarea id="vc_seo_description_categoria" name="vc_seo_description_categoria" style="width: 62.5%;"></textarea>
                </div>
            </div>
            <div class="mws-form-col-5-8 alpha">
                <label>Rel: </label>
                <div class="mws-form-item large">
                    <input type="checkbox" id="bl_rel_categoria" name="bl_rel_categoria" value="follow" />
                </div>
            </div>
            <div class="mws-form-col-5-8 alpha">
                <label>Slider: </label>
                <div class="mws-form-item large">
                    <select id="id_slider_categoria"  name="id_slider_categoria"></select>
                </div>
            </div>
        </div>
        <div class="mws-button-row">
            <input type="button" value="Salvar Alterações" class="mws-button green" id="submit-categoria" onclick="salvarDetalheCategoria();"/>
            <input type="button" value="Voltar" class="mws-button gray" id="voltar-categoria" />
        </div>
    </form>
</div>