<?php $this->jQuery()->addJavascriptFile('/js/modules/back-end/raca.js');

?>

<?php if ($this->efetivado) { ?>
    <?php echo $this->partial('comando-executado-sucesso.phtml', 'backend'); ?>
<?php } ?>

<form class="mws-form" method="post" action="/backend/raca-cachorro/cadastro/">
    <input type="hidden" name="id_raca_cachorro" value="<?php echo $this->formulario['id_raca_cachorro']; ?>"/>
    <div class = "mws-panel grid_8">
        <div class = "mws-tabs">
            <ul>
                <li><a href = "#add-raca">Raça</a></li>
                <li><a href = "#add-raca">Album de Fotos</a></li>
                <li><a href = "#add-seo">SEO</a></li>
            </ul>
            <!-- add-conteudo -->
            <div id = "add-raca">
                <table>
                    <tr>
                        <td>
                            <div class = "mws-form-cols clearfix">
                                <div class = "mws-form-col-8-8 alpha">
                                    <label>Categoria: </label>
                                    <div class = "mws-form-item large">
                                        <input type="text" id="vc_titulo" name="vc_raca" class="mws-textinput required" value="<?php echo $this->formulario['vc_raca']; ?>" />
                                    </div>
                                </div>
                                <div class = "mws-form-col-8-8 alpha">
                                    <label>Pai: </label>
                                    <div class = "mws-form-item large">
                                        <?php echo $this->formSelect('id_parent', $this->formulario['id_parent'], null, $this->racasSelect) ?>
                                    </div>
                                </div>
                                <div class = "mws-form-col-8-8 alpha">
                                    <label>Sub Título: </label>
                                    <div class = "mws-form-item large">
                                        <input type="text" id="vc_subtitulo" name="vc_subtitulo" class="mws-textinput" value="<?php echo $this->formulario['vc_subtitulo']; ?>" />
                                    </div>
                                </div>
                                <div class = "mws-form-col-8-8 alpha">
                                    <label>Conteúdo:</label>
                                    <div class = "mws-form-item large">
                                        <textarea id = "elrte" name = "vc_conteudo" class = "" rows = "auto" cols = "auto"><?php echo $this->formulario['vc_conteudo']; ?></textarea>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- add-seo -->
            <div id="add-seo">
                <table>
                    <tr>
                        <td>
                            <div class="mws-form-cols clearfix">
                                <div class="mws-form-col-8-8 alpha">
                                    <label>Title: </label>
                                    <div class="mws-form-item large" style="width: 730px;">
                                        <input type="text" id="vc_seo_title"  name="vc_seo_title" class="mws-textinput"  value="<?php echo $this->formulario['vc_seo_title']; ?>" />
                                    </div>
                                </div>

                                <div class="mws-form-col-8-8 alpha">
                                    <label>URL:</label>
                                    <div class="mws-form-item large" style="width: 730px;">
                                        <input type="text" name="vc_seo_url" id="vc_seo_url "  class="mws-textinput" value="<?php echo $this->formulario['vc_seo_url']; ?>" />
                                    </div>
                                </div>

                                <div class="mws-form-col-8-8 alpha">
                                    <label>Keywords:</label>
                                    <div class="mws-form-item large" style="width: 730px;">
                                        <input type="text" name="vc_seo_keywords" id="vc_seo_keywords"  class="mws-textinput" value="<?php echo $this->formulario['vc_seo_keywords']; ?>" />
                                    </div>
                                </div>

                                <div class="mws-form-col-8-8 alpha">
                                    <label>Description:</label>
                                    <div class="mws-form-item " style="width: 730px;">
                                        <textarea id="vc_seo_description" name="vc_seo_description" rows="auto" cols="auto"><?php echo $this->formulario['vc_seo_description']; ?></textarea>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- /add-seo -->
            <div class="mws-button-row">
                <input type="submit" value="Salvar" class="mws-button green" />
                <input type="button" value="Voltar" class="mws-button gray" onclick="window.location = '/backend/raca/';" />
            </div>
        </div>
    </div>
</form>