<?php $this->jQuery()->addJavascriptFile('/js/modules/back-end/raca.js'); ?>

<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-table-1">Lista de Raças de Cachorro</span>
    </div>
    <div class="mws-panel-body">
        <table  class="mws-datatable mws-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Raça</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <?php
                foreach ($this->racas as $raca) {
                    
                    ?>
                    <tr class="gradeU">
                        <td><? echo $raca['id_raca_cachorro']; ?></td>
                        <td><? echo $raca['vc_raca_cachorro']; ?></td>
                        <td class="center">
                            <ul id="icons-16" class="clearfix">
                                <?php if ($this->UserPermission()->isAllowed('raca-cachorro', 'cadastro')) { ?>
                                    <li onclick="window.location = '/backend/raca-cachorro/cadastro/id_raca_cachorro/<? echo $raca['id_raca_cachorro']; ?>';" class="mws-ic-16 ic-application-edit" title="Editar"></li>
                                <?php } ?>
                                <?php if ($this->UserPermission()->isAllowed('raca-cachorro', 'deletar')) { ?>
                                    <li onclick="if(confirm('Deseja realmente deletar esta raca?')) { window.location = '/backend/raca-cachorro/deletar/id_raca_cachorro/<? echo $raca['id_raca_cachorro']; ?>/'; }" class="mws-ic-16 ic-cancel" title="Excluir"></li>
                                    <?php } ?>
                            </ul>
                        </td>
                    </tr>
                <?php } ?>
            </tbody>
        </table>
    </div>

</div>