<div class="mws-panel grid_8">
	<div class="mws-tabs">
		<div id="add-banner">
			<table>
				<tr>
					<td>
						<div class="mws-panel grid_8" style="width: auto;">
							<div class="mws-panel-header">
								<span class="mws-i-24 mws-i-24 i-user-2">Cadastrar novo video</span>
							</div>
							
								<form id="add-Video" class="mws-form video" method="post"
									action="/backend/video/add">
<div class="mws-panel-body">
                                   <div class="mws-form-cols clearfix">
									<div class="mws-form-col-8-8 alpha">
										<label>Título do Video:</label>
										<div class="mws-form-item large">
											<input type="text" id="title" name="title"
												class="mws-textinput required" />
										</div>
									</div>
									<div class="mws-form-col-8-8 alpha">
										<label>Link :</label>
										<div class="mws-form-item large">
											<input type="text" name="link" id="link"
												class="mws-textinput required" value="" />
										</div>
									</div>
									<div class="mws-form-col-3-8 omega">
										<div class="mws-form-item small">
											<label>Estatus:</label> 
											<select id="status" name="status" class="required">
												<option value="1">Habilitado</option>
												<option value="0">Desabilitado</option>
											</select>
										</div>
									</div>
									<div class="mws-form-col-8-8 alpha">
										<label>Descrição :</label>
										<div class="mws-form-item large">
											<textarea rows="8" cols="8" id="description"
												name="description"></textarea>
										</div>
									</div>
									 
									</div>
									<div class="mws-button-row">
										<input type="submit" value="Cadastrar Video"
											class="mws-button green" /> <input type="reset"
											value="Limpar" class="mws-button gray" />
									</div>
							</div>
									
								</form>
							
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>
