<div class="mws-panel grid_8">
	<div class="mws-tabs">
		<div id="add-banner">
			<table>
				<tr>
					<td>
						<div class="mws-panel grid_8" style="width: auto;">
							<div class="mws-panel-header">
								<span class="mws-i-24 mws-i-24 i-user-2">Editar Video</span>
							</div>
							
								<form id="edit-Video" class="mws-form video" method="post"
									action="/backend/video/edit">
									
									<div class="mws-panel-body">
                              <div class="mws-form-cols clearfix">
									<input type="hidden" id="id" name="id"
										value="<?echo $this->video['id']; ?>" />
									<div class="mws-form-col-8-8 alpha">
										<label>Título do Video:</label>
										<div class="mws-form-item large">
											<input type="text" id="title" name="title"
												class="mws-textinput required"
												value="<?php echo $this->video['title'];?>" />
										</div>
									</div>
									<div class="mws-form-col-8-8 alpha">
										<label>Link :</label>
										<div class="mws-form-item large">
											<input type="text" name="link" id="link"
												class="mws-textinput required"
												value="<?php echo $this->video['link'];?>" />
										</div>
									</div>
									<div class="mws-form-col-3-8 omega">
										<div class="mws-form-item small">
											<label>Estatus:</label> <select name="status" id="status"
												class="required">
												<option
													<?php if ($this->video['status'] == '1') echo 'selected="selected"'; ?>
													value="1">Habilitado</option>
												<option
													<?php if ($this->video['status'] == '0') echo 'selected="selected"'; ?>
													value="0">Desabilitado</option>
											</select>
										</div>
									</div>
									<div class="mws-form-col-8-8 alpha">
										<label>Descrição :</label>
										<div class="mws-form-item large">
											<textarea id="description" name="description" rows="8"
												cols="8"><?php echo $this->video['description'];?></textarea>
										</div>
									</div>
									
</div>
									
									<div class="mws-button-row">
										<input type="submit" value="Cadastrar Usuário"
											class="mws-button green" /> <input type="reset"
											value="Limpar" class="mws-button gray" />
									</div>
									</div>
								</form>
							
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>