<script>
function removeVideo(id){
   if(confirm('Tem certeza que deseja remover este Video ?')){
	$.post('/backend/video/remove/',{'id':id}, function(Messages){
 		 alert(Messages.Message);
		 window.location="<?php echo $this->serverUrl('/backend/video/list'); ?>";
	},'json');
   }
}

</script>
<div class="mws-panel grid_8">

<div class="mws-panel-header">
		<span class="mws-i-24 mws-i-24 i-group-2">Lista de Videos </span>
	</div>
	<div class="mws-panel-body">
		<table class="mws-datatable mws-table" id="video">
			<thead>
				<tr>
					<th>ID</th>
					<th>Título do Videos</th>
					<th  width="420">Video</th>
					<th>data do cadastro</th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>
                <?php
                foreach ($this->Videos as $video) {
                    ?>
                    <tr class="gradeU" row="<? echo $video['id']; ?>" style="cursor: move;">
					<td  width="90"><? echo $video['id']; ?></td>
					<td  width="90"><? echo $video['title']; ?></td>
					<td  width="420"><iframe width="420" height="205" src="<? echo $video['link']; ?>" frameborder="0" allowfullscreen='1'></iframe></td>
					<td style="text-align: center;"><? echo $video['createdFormatted']; ?> </td>
					<td class="center">
						<ul id="icons-16" class="clearfix">
						   <?php  if($this->UserPermission()->isAllowed('video','edit')){                 
                               ?>
							<li
								onclick="window.location='/backend/video/edit/id/<? echo $video['id']; ?>'"
								class="mws-ic-16 ic-application-edit" title="Editar"></li>
								<?php } ?>
								 <?php  if($this->UserPermission()->isAllowed('video','remove')){                 
                               ?>
							<li
								onclick="removeVideo('<? echo $video['id']; ?>')"
								class="mws-ic-16 ic-cancel" title="Excluir"></li>
							<?php } ?>
						</ul>
					</td>
				</tr>
                <?php } ?>
            </tbody>
		</table>
	</div>
	

</div>
