<?php
/**
 * @author @acidcode
 */
$this->headLink()->appendStylesheet('/css/paginacao.css');
?>
<link rel="stylesheet" href="/css/paginacao.css" type="text/css" media="screen">
<div id="pg">
    <ul class="qtd">
        <li>Exibir:</li>
        <li><a href="#">10</a></li>
        <li><a href="#" class="current">20</a></li>
        <li><a href="#">30</a></li>
        <li><a href="#">40</a></li>
    </ul>
    <div class="paginas">
        <?php /* if (isset($this->previous)): ?>
          <a href="<?php echo $this->url(array('pagina' => $this->first)); ?>">&laquo; Início</a>
          <?php else: ?>
          <span class="disabled">&laquo; Início</span>
          <?php endif; */ ?>
        <?php if (isset($this->previous)): ?>
            <a class="textos" href="<?php echo $this->url(array('pagina' => $this->previous)); ?>">&lt; Anterior</a>
        <?php else: ?>
            <span class="textos disabled">&lt; Anterior</span>
        <?php endif; ?>
        <?php foreach ($this->pagesInRange as $page): ?>
            <?php if ($page != $this->current): ?>
                <a href="<?php echo $this->url(array('pagina' => $page)); ?>"><?php echo $page; ?></a>
            <?php else: ?>
                <a class="current" href="<?php echo $this->url(array('pagina' => $page)); ?>"><?php echo $page; ?></a>
            <?php endif; ?>
        <?php endforeach; ?>
        <?php if (isset($this->next)): ?>
            <a class="textos" href="<?php echo $this->url(array('pagina' => $this->next)); ?>">Próxima &gt;</a>
        <?php else: ?>
            <span class="textos disabled">Próxima &gt;</span>
        <?php endif; ?>
        <?php /* if (isset($this->next)): ?>
          <a href="<?php echo $this->url(array('pagina' => $this->last)); ?>">Última &raquo;</a>
          <?php else: ?>
          <span class="disabled">Última &raquo;</span>
          <?php endif; */ ?>
    </div>
</div>