<form class="mws-form" method="post" action="/backend/cliente/cadastro/id_cliente/<?php echo $this->formulario['id_cliente']; ?>">
    <?php echo $this->formHidden('id_cliente', $this->formulario['id_cliente']); ?>
    <div class="mws-panel grid_8">
        <div class="mws-tabs">
            <ul>
                <li><a href="#tab-dados-gerais">Dados Gerais</a></li>
                <li><a href="#tab-fotos">Fotos</a></li>
                <li><a href="#tab-pet">Pet</a></li>
            </ul>
            <div id="tab-dados-gerais">
                <?php echo $this->partial('cliente/includes/dados-gerais.phtml', array()); ?>
            </div>
            <div id="tab-fotos">
                <?php echo $this->partial('cliente/includes/fotos.phtml', array()); ?>
            </div>
            <div id="tab-pet">
                <?php echo $this->partial('cliente/includes/pet.phtml', array()); ?>
            </div>
        </div>
        <div class="mws-button-row">
            <input type="submit" value="Salvar" class="mws-button green" />
            <input type="button" value="Voltar" class="mws-button gray" onclick="window.location = '/backend/empresa/';" />
        </div>
    </div>
</form>