<?php //$this->jQuery()->addJavascriptFile('/js/modules/back-end/questionario.js');                                             ?>

<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-table-1">Lista de Clientes</span>
    </div>
    <div class="mws-panel-body">
        <table  class="mws-datatable mws-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Estado</th>
                    <th>Telefone</th>
                    <th>Ativo </th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <?php
                foreach ($this->clientes as $cliente) {
                    ?>
                    <tr class="gradeU">
                        <td><?php echo $cliente['id_cliente']; ?></td>
                        <td><?php echo $cliente['vc_nome'] . ' ' . $cliente['vc_nome_meio'] . ' ' . $cliente['vc_sobrenome']; ?></td>
                        <td><?php echo $cliente['vc_estado']; ?></td>
                        <td><?php echo $this->Mask($cliente['it_telefone'], '####-####'); ?></td>
                        <td>
                            <ul id="icons-16" class="clearfix">
                                <? if ($cliente['bl_ativo'] == 'sim') { ?>
                                    <li class="mws-ic-16 ic-accept" title="Ativo"></li>                  
                                <? } else { ?>
                                    <li class="mws-ic-16 ic-cross" title="Não ativo"></li> 
                                <? } ?>
                            </ul>
                        </td>
                        <td class="center">
                            <ul id="icons-16" class="clearfix">
                                <?php if ($this->UserPermission()->isAllowed('cliente', 'cadastro')) { ?>
                                    <li onclick="window.location = '/backend/cliente/cadastro/id_cliente/<? echo $cliente['id_cliente']; ?>/';" class="mws-ic-16 ic-application-edit" title="Editar"></li>
                                <?php } ?>
                                <?php if ($this->UserPermission()->isAllowed('cliente', 'deletar')) { ?>
                                    <li onclick="removeCliente('<? echo $cliente['id_cliente']; ?>');" class="mws-ic-16 ic-cancel" title="Excluir"></li>
                                    <?php } ?>
                            </ul>
                        </td>
                    </tr>
                <?php } ?>
            </tbody>
        </table>
    </div>
</div>