<?php
$controller = Zend_Controller_Front::getInstance()->getRequest()->getParam('controller');
$Action = Zend_Controller_Front::getInstance()->getRequest()->getParam('action');
?>    
<div id="mws-sidebar">
    <!-- Main Navigation -->
    <div id="mws-navigation">
        <ul>
            <li class="active"><a href="/backend" class="mws-i-24 i-home-1">Página Inicial</a></li>
            <?php
            if ($this->UserPermission()->isAllowed('conteudo', 'add') ||
                    $this->UserPermission()->isAllowed('conteudo', 'index')) {
                ?>
                <li>
                    <a href="#" class="mws-i-24 i-documents-1">Conteúdo</a>
                    <ul 

                        <?php
                        if ($controller == 'conteudo')
                            echo 'class="open"';
                        else
                            echo 'class="closed" ';
                        ?>>
                            <?php if ($this->UserPermission()->isAllowed('conteudo', 'cadastro')) { ?>

                            <?php if ($this->UserPermission()->isAllowed('conteudo', 'cadastro')) { ?>
                                <li><a href="/backend/conteudo/cadastro/">Cadastrar Conteúdo</a></li>
                            <?php } ?>
                            <?php if ($this->UserPermission()->isAllowed('conteudo', 'index')) { ?>
                                <li><a href="/backend/conteudo/">Listar Conteúdo</a></li>
                            <?php } ?>
                        </ul>
                    <?php } ?>
                </li>
                <?php
                if ($this->UserPermission()->isAllowed('conteudo-categoria', 'cadastro')) {
                    ?>
                    <li><a href="#" class="mws-i-24 i-file-cabinet" style="width: 120px;">Categoria</a>
                        <ul 
                        <?php
                        if ($controller == 'conteudo-categoria')
                            echo 'class="open"';
                        else
                            echo 'class="closed" ';
                        ?>>
                                <?php if ($this->UserPermission()->isAllowed('conteudo-categoria', 'cadastro')) { ?>
                                <li><a href="/backend/conteudo-categoria/cadastro/">Cadastrar Categoria</a></li>
                            <?php } ?>
                            <?php if ($this->UserPermission()->isAllowed('conteudo-categoria', 'index')) { ?>
                                <li><a href="/backend/conteudo-categoria/">Listar Categoria</a></li>
                            <?php } ?>
                        </ul>
                    </li>
                <?php } ?>
                <!-- Raças -->
                <?php
                if ($this->UserPermission()->isAllowed('raca-gato', 'index')) {
                    ?>
                    <li><a href="#" class="mws-i-24 i-cat" style="width: 120px;">Raça de Gatos</a>
                        <ul 
                        <?php
                        if ($controller == 'raca-gato')
                            echo 'class="open"';
                        else
                            echo 'class="closed" ';
                        ?>>
                                <?php if ($this->UserPermission()->isAllowed('raca-gato', 'cadastro')) { ?>
                                <li><a href="/backend/raca-gato/cadastro/">Cadastrar Raça</a></li>
                            <?php } ?>
                            <?php if ($this->UserPermission()->isAllowed('raca-gato', 'index')) { ?>
                                <li><a href="/backend/raca-gato/">Listar Raças</a></li>
                            <?php } ?>
                        </ul>
                    </li>
                <?php } ?>
                <?php
                if ($this->UserPermission()->isAllowed('raca-cachorro', 'index')) {
                    ?>
                    <li><a href="#" class="mws-i-24 i-blocks-images" style="width: 120px;">Raça de Cachorro</a>
                        <ul 
                        <?php
                        if ($controller == 'raca-cachorro')
                            echo 'class="open"';
                        else
                            echo 'class="closed" ';
                        ?>>
                                <?php if ($this->UserPermission()->isAllowed('raca-cachorro', 'cadastro')) { ?>
                                <li><a href="/backend/raca-cachorro/cadastro/">Cadastrar Raça</a></li>
                            <?php } ?>
                            <?php if ($this->UserPermission()->isAllowed('raca-cachorro', 'index')) { ?>
                                <li><a href="/backend/raca-cachorro/">Listar Raças</a></li>
                            <?php } ?>
                        </ul>
                    </li>
                <?php } ?>
                <!--/Raças-->
                <!-- Empresa -->
                <?php
                if ($this->UserPermission()->isAllowed('empresa', 'cadastro') || $this->UserPermission()->isAllowed('empresa', 'index')) {
                    ?>
                    <li><a href="#" class="mws-i-24 i-clipboard" style="width: 120px;">Empresa</a>
                        <ul 
                        <?php
                        if ($controller == 'empresa' && $Action == 'index' ||
                                $controller == 'empresa' && $Action == 'cadastro')
                            echo 'class="open"';
                        else
                            echo 'class="closed" ';
                        ?>>
                                <?php if ($this->UserPermission()->isAllowed('empresa', 'cadastro')) { ?>
                                <li><a href="/backend/empresa/cadastro/">Cadastrar Empresa</a></li>
                            <?php } ?>
                            <?php if ($this->UserPermission()->isAllowed('empresa', 'index')) { ?>
                                <li><a href="/backend/empresa/">Listar Empresa</a></li>
                            <?php } ?>
                    </li>    
                </ul>
                </li>
            <?php } ?>
            <!--/Empresa-->
            <!-- Cliente -->
            <?php
            if ($this->UserPermission()->isAllowed('cliente', 'cadastro') || $this->UserPermission()->isAllowed('cliente', 'index')) {
                ?>
                <li><a href="#" class="mws-i-24 i-admin-user-2" style="width: 120px;">Cliente</a>
                    <ul 
                    <?php
                    if ($controller == 'cliente' && $Action == 'index' ||
                            $controller == 'cliente' && $Action == 'cadastro')
                        echo 'class="open"';
                    else
                        echo 'class="closed" ';
                    ?>>
                            <?php if ($this->UserPermission()->isAllowed('cliente', 'cadastro')) { ?>
                            <li><a href="/backend/cliente/cadastro/">Cadastrar Cliente</a></li>
                        <?php } ?>
                        <?php if ($this->UserPermission()->isAllowed('cliente', 'index')) { ?>
                            <li><a href="/backend/cliente/">Listar Cliente</a></li>
                        <?php } ?>
                </li>    
                </ul>
                </li>
            <?php } ?>
            <!--/Cliente-->
            <!-- Setor de Atividade -->
            <?php
            if ($this->UserPermission()->isAllowed('setor-de-atividade', 'cadastro') || $this->UserPermission()->isAllowed('setor-de-atividade', 'index')) {
                ?>
                <li><a href="#" class="mws-i-24 i-list" style="width: 120px;">Setor de Atividade</a>
                    <ul 
                    <?php
                    if ($controller == 'setor-de-atividade' && $Action == 'index' ||
                            $controller == 'setor-de-atividade' && $Action == 'cadastro' ||
                            $controller == 'questionario' && $Action == 'index' ||
                            $controller == 'questionario' && $Action == 'cadastro')
                        echo 'class="open"';
                    else
                        echo 'class="closed" ';
                    ?>>
                            <?php if ($this->UserPermission()->isAllowed('setor-de-atividade', 'cadastro')) { ?>
                            <li><a href="/backend/setor-de-atividade/cadastro/">Cadastrar Setor</a></li>
                        <?php } ?>
                        <?php if ($this->UserPermission()->isAllowed('setor-de-atividade', 'index')) { ?>
                            <li><a href="/backend/setor-de-atividade/">Listar Setor</a></li>
                        <?php } ?>
                </li>    
                </ul>
                </li>
            <?php } ?>
            <!--/Setor de Atividade-->
            <?php if ($this->UserPermission()->isAllowed('seo', 'top-pages')) { ?> 
                <li><a href="#" class="mws-i-24 i-documents">Seo(Google)</a>
                    <ul
                    <?php
                    if ($controller == 'seo')
                        echo 'class="open"';
                    else
                        echo 'class="closed"';
                    ?>>
                            <?php if ($this->UserPermission()->isAllowed('seo', 'top-pages')) { ?> 
                            <li><a href="/backend/seo/top-pages">Páginas Mais Visitadas</a></li>
                        <?php } ?>

                    </ul>
                </li>                   
            <?php } ?>
            <?php
            if ($this->UserPermission()->isAllowed('user', 'list') ||
                    $this->UserPermission()->isAllowed('user', 'add')) {
                ?>
                <li><a href="#" class="mws-i-24 i-group-2" style="width: 120px;">Gerenciar Usuários</a>
                    <ul 
                    <?php
                    if ($controller == 'user' &&
                            $Action == 'list' ||
                            $controller == 'user' &&
                            $Action == 'add' ||
                            $controller == 'user' &&
                            $Action == 'edit')
                        echo 'class="open"';
                    else
                        echo 'class="closed" ';
                    ?>>
                            <?php if ($this->UserPermission()->isAllowed('user', 'add')) { ?>
                            <li><a href="/backend/user/add">Cadastrar Usuário</a></li>
                        <?php } ?>
                        <?php if ($this->UserPermission()->isAllowed('user-permissions', 'list')) { ?>
                            <li><a href="/backend/user/list">Lista de Usuários</a></li>
                        <?php } ?>
                    </ul>
                </li>
            <?php } ?>
            <?php
            if ($this->UserPermission()->isAllowed('user-permissions', 'list') ||
                    $this->UserPermission()->isAllowed('user-permissions', 'add')) {
                ?>
                <li><a href="#" class="mws-i-24 i-key" style="width: 120px;">Gerenciar Permissões de  Usuários</a>
                    <ul 

                        <?php
                        if ($controller == 'user-permissions' &&
                                $Action == 'list' ||
                                $controller == 'user-permissions' &&
                                $Action == 'add' ||
                                $controller == 'user-permissions' &&
                                $Action == 'edit')
                            echo 'class="open"';
                        else
                            echo 'class="closed" ';
                        ?>>
                            <?php if ($this->UserPermission()->isAllowed('user-permissions', 'add')) { ?>
                            <li><a href="/backend/user-permissions/add">Cadastrar Permissão</a></li>
                        <?php } ?>
                        <?php if ($this->UserPermission()->isAllowed('user-permissions', 'list')) { ?>
                            <li><a href="/backend/user-permissions/list">Lista de Permissões</a></li>
                        <?php } ?>
                    </ul>
                </li>
            <?php } ?>            

            <?php if ($this->UserPermission()->isAllowed('config', 'index')) { ?>
                <li>
                    <a href="/backend/config/index/" class="mws-i-24 mws-i-24 i-cog-4">Configuração</a>
                </li>
            <?php } ?>   
            </ul>
        <?php } ?>
    </div>            
</div>
