/* Handcoded by RapidxHTML - http://www.rapidxhtml.com */

/* reset */
body,div,dl,dt,dd,ul,ol,li,pre,form,fieldset,input,textarea,blockquote,th,td {
    margin:0;
    padding:0;
    font-family:"HelveticaNeueLT Std", Arial, Helvetica, sans-serif;
}

fieldset,img {
    border:0;
}

html {
    height:100%;
    margin-bottom:1px;
}

body {
    position:relative;
}

:focus {
    outline:none;
}

/* fonts */
@font-face {
    font-family:'sf_speedwaystarregular';
    src:url('sf_speedwaystar-webfont.eot');
    src:url('sf_speedwaystar-webfont.eot?#iefix') format('embedded-opentype'), url('sf_speedwaystar-webfont.woff') format('woff'), url('sf_speedwaystar-webfont.ttf') format('truetype'), url('sf_speedwaystar-webfont.svg#sf_speedwaystarregular') format('svg');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:'sf_speedwaystarbold';
    src:url('sf_speedwaystar_bold-webfont.eot');
    src:url('sf_speedwaystar_bold-webfont.eot?#iefix') format('embedded-opentype'), url('sf_speedwaystar_bold-webfont.woff') format('woff'), url('sf_speedwaystar_bold-webfont.ttf') format('truetype'), url('sf_speedwaystar_bold-webfont.svg#sf_speedwaystarbold') format('svg');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:'sf_speedwaystar_condensedRg';
    src:url('sf_speedwaystar_condensed-webfont.eot');
    src:url('sf_speedwaystar_condensed-webfont.eot?#iefix') format('embedded-opentype'), url('sf_speedwaystar_condensed-webfont.woff') format('woff'), url('sf_speedwaystar_condensed-webfont.ttf') format('truetype'), url('sf_speedwaystar_condensed-webfont.svg#sf_speedwaystar_condensedRg') format('svg');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:'straitregular';
    src:url('strait-regular-webfont.eot');
    src:url('strait-regular-webfont.eot?#iefix') format('embedded-opentype'), url('strait-regular-webfont.woff') format('woff'), url('strait-regular-webfont.ttf') format('truetype'), url('strait-regular-webfont.svg#straitregular') format('svg');
    font-weight:normal;
    font-style:normal;
}

/* links */
a {
    color:#F00;
    text-decoration:none;
}

a:hover {
    text-decoration:underline;
}

/* header elements */
h1, h2, h3, h4, h5, h6 {
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    line-height:100%;
    margin:0;
}

h1 {
    font-size:300%;
    color:#000;
}

h2 {
    font-size:250%;
    color:#000;
}

h3 {
    font-size:20px;
    color:#a7a7a7;
    font-family:"Droid Sans", Arial;
    font-weight:normal;
}

h4 {
    font-size:18px;
    color:#e0e8eb;
    font-weight:normal;
}

h5 {
    font-size:18px;
    color:#e0e8eb;
    font-family:"straitregular", Arial;
}

h6 {
    font-size:125%;
    color:#000;
}

/* page setup */
body {
    background:#141414;
    color:#666;
    font-size:12px;
}

/* wrapper setup */
div.outerwpr {
    background:url(../images/page_bg.jpg) 70px -56px repeat;
    border-top:#6db0d6 1px solid;
}

div.rapidxwpr {
    margin:auto;
    width:980px;
}

/* header */
header#header {
    height:123px;
    overflow:hidden;
    margin:0 -5px;
}

/* logo */
div.logo {
    float:left;
    width:440px;
    padding:8px 0 0 0;
}

div.logo img {
    float:left;
}

div.logo div.logo_text {
    float:right;
    width:149px;
    color:#FFF;
    font-size:14px;
    font-family:"Droid Sans", Arial;
    font-weight:bold;
    line-height:17px;
    margin:31px 0;
    border-left:#FFF 1px dotted;
    padding:6px 0 7px 20px;
}

/* main body setup */
div#middle {
    width:auto;
    clear:both;
    background:#FFF;
    -webkit-box-shadow:0 0 30px rgba(0, 0, 0, 0.35);
    -moz-box-shadow:0 0 30px rgba(0, 0, 0, 0.35);
    box-shadow:0 0 30px rgba(0, 0, 0, 0.35);
}

/* right column */
aside#right {
    width:290px;
    float:right;
    border-left:#e4e4e4 1px solid;
}

/* content column */
section#main {
    width:auto;
    margin:0 291px 0 0;
}

/* footer */
footer#footer {
    width:auto;
    clear:both;
    background:url(../images/footer_bg.png) 0 0 repeat-x;
}

footer#footer div.rapidxwpr {
    height:370px;
    background:url(../images/footer_top_bg.png) 0px 0 repeat-y;
}

/* clearing & floating */
.clearingfix:after {
    content:".";
    display:block;
    line-height:0;
    clear:both;
    visibility:hidden;
}

.clearingfix {
    display:block;
}

.floatbox {
    overflow:hidden;
}

/* topmenu */
nav#topmenu {
    float:right;
    background:url(../images/topmenu_bg.png) 0 0 no-repeat;
    padding:0 0 0 6px;
    width:840px;
    margin:0 -30px 0 0;
}

nav#topmenu ul {
    list-style:none;
}

nav#topmenu ul li, nav#topmenu ul.logado li {
    float:left;
    display:block;
    background:url(../images/topmenu_line.png) 0 10px no-repeat;
    padding:10px 27px 0 28px;
    font-size:10px;
    font-family:"Droid Sans", Arial;
}

nav#topmenu ul.logado li{
	
	padding:10px 24px 0 30px;
	
}

nav#topmenu ul li.first {
    background:none;
}

nav#topmenu ul li a {
    display:block;
    float:left;
    height:21px;
    color:#999;
    padding:24px 0 0 0;
    position:relative;
}

nav#topmenu ul li a.icon01 {
    background:url(../images/topmenu_icon.png) 50% 0 no-repeat;
}

nav#topmenu ul li a.icon02 {
    background:url(../images/topmenu_icon.png) 50% -100px no-repeat;
}

nav#topmenu ul li a.icon03 {
    background:url(../images/topmenu_icon.png) 50% -200px no-repeat;
}

nav#topmenu ul li a.icon04 {
    background:url(../images/topmenu_icon.png) 50% -300px no-repeat;
}

nav#topmenu ul li a.icon05 {
    background:url(../images/topmenu_icon.png) 50% -400px no-repeat;
}

nav#topmenu ul li a.icon06 {
    background:url(../images/topmenu_icon.png) 50% -500px no-repeat;
}

nav#topmenu ul li a.icon07 {
    background:url(../images/topmenu_icon.png) 50% -600px no-repeat;
}

nav#topmenu ul li a.icon08 {
    background:url(../images/topmenu_icon.png) 50% -700px no-repeat;
}

nav#topmenu ul li a span.notification {
    position:absolute;
    right:0;
    top:5px;
    font-family:Arial;
    font-weight:bold;
    font-size:9px;
    background:#5faad4;
    text-align:center;
    color:#FFF;
    padding:1px 4px 1px 4px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
}

nav#topmenu ul li a.icon04 span.notification {
    right:10px;
}

nav#topmenu ul li a.icon01:hover, nav#topmenu ul li.active a.icon01 {
    background:url(../images/topmenu_icon_hover.png) 50% 0 no-repeat;
    color:#fff;
    text-decoration:none;
}

nav#topmenu ul li a.icon02:hover, nav#topmenu ul li.active a.icon02 {
    background:url(../images/topmenu_icon_hover.png) 50% -100px no-repeat;
    color:#fff;
    text-decoration:none;
}

nav#topmenu ul li a.icon03:hover, nav#topmenu ul li.active a.icon03 {
    background:url(../images/topmenu_icon_hover.png) 50% -200px no-repeat;
    color:#fff;
    text-decoration:none;
}

nav#topmenu ul li a.icon04:hover, nav#topmenu ul li.active a.icon04 {
    background:url(../images/topmenu_icon_hover.png) 50% -300px no-repeat;
    color:#fff;
    text-decoration:none;
}

nav#topmenu ul li a.icon05:hover, nav#topmenu ul li.active a.icon05 {
    background:url(../images/topmenu_icon_hover.png) 50% -400px no-repeat;
    color:#fff;
    text-decoration:none;
}

nav#topmenu ul li a.icon06:hover, nav#topmenu ul li.active a.icon06 {
    background:url(../images/topmenu_icon_hover.png) 50% -500px no-repeat;
    color:#fff;
    text-decoration:none;
}

nav#topmenu ul li a.icon07:hover, nav#topmenu ul li.active a.icon07 {
    background:url(../images/topmenu_icon_hover.png) 50% -600px no-repeat;
    color:#fff;
    text-decoration:none;
}

nav#topmenu ul li a.icon08:hover, nav#topmenu ul li.active a.icon08 {
    background:url(../images/topmenu_icon_hover.png) 50% -700px no-repeat;
    color:#fff;
    text-decoration:none;
}

/* mainmenu */
nav#mainmenu {
    float:left;
    width:692px;
    font-size:16px;
    line-height:40px;
    margin:0 0 0 -2px;
}

nav#mainmenu ul {
    margin:0;
    list-style:none;
    float:left;
    padding:0 0 0 2px;
}

nav#mainmenu ul li {
    float:left;
    background:url(../images/mainmenu_line.png) 100% 0 no-repeat;
    font-family:"sf_speedwaystarregular", Arial;
    padding:0 2px 0 0;
}

nav#mainmenu ul li a {
    display:block;
    float:left;
    color:#FFF;
    padding:0 16px;
}

nav#mainmenu ul li a:hover {
    text-decoration:none;
    color:#FFF;
    background:#dd5e21;
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#fea04f), to(#dd5e21)) 300px 50px no-repeat, -webkit-gradient(linear, 0 0, 0 100%, from(#fea04f), to(#dd5e21)) 0 0 no-repeat;
    background:-moz-linear-gradient(#fea04f, #dd5e21) 300px 50px no-repeat, -moz-linear-gradient(#fea04f, #dd5e21) 0 0 no-repeat;
}

nav#mainmenu ul li.active a {
    text-decoration:none;
    color:#a0dcfa;
}

nav#mainmenu ul li a.home {
    background:url(../images/mainmenu_home.png) 17px 14px no-repeat;
    padding-left:43px;
}

nav#mainmenu ul li a.home.ativo {
    background:url(../images/mainmenu_home_ativo.png) 17px 14px no-repeat;
    padding-left:43px;
}

nav#mainmenu ul li a.home:hover {
    color:#FFF;
    background:url(../images/mainmenu_home.png) 17px 14px no-repeat;
    background:url(../images/mainmenu_home.png) 17px 14px no-repeat, -webkit-gradient(linear, 0 0, 0 100%, from(#fea04f), to(#dd5e21)) 300px 50px no-repeat, -webkit-gradient(linear, 0 0, 0 100%, from(#fea04f), to(#dd5e21)) 0 0 no-repeat;
    background:url(../images/mainmenu_home.png) 17px 14px no-repeat, -moz-linear-gradient(#fea04f, #dd5e21) 300px 50px no-repeat, -moz-linear-gradient(#fea04f, #dd5e21) 0 0 no-repeat;
}

nav#mainmenu a.link {
    float:right;
    color:#FFF;
    text-align:center;
    width:99px;
    height:40px;
    font-family:"sf_speedwaystarregular", Arial;
    background:#dd5e21;
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#fea04f), to(#dd5e21)) 300px 50px no-repeat, -webkit-gradient(linear, 0 0, 0 100%, from(#fea04f), to(#dd5e21)) 0 0 no-repeat;
    background:-moz-linear-gradient(#fea04f, #dd5e21) 300px 50px no-repeat, -moz-linear-gradient(#fea04f, #dd5e21) 0 0 no-repeat;
    text-decoration:none;
}

/* nav bar */
div.nav_bar {
    background:#303030;
    height:54px;
    border-bottom:#242424 1px solid;
    overflow:hidden;
}

div.nav_bar div.nav_profile {
    float:left;
    width:128px;
    padding:6px 0 0 0;
}

div.nav_bar div.nav_profile img.logo {
    float:left;
    margin:1px 0 0 0;
}

div.nav_bar div.nav_profile div.nav_profile_info {
    float:right;
    width:80px;
    font-family:Arial;
    font-size:10px;
    color:#838383;
    line-height:12px;
}

div.nav_bar div.nav_profile div.nav_profile_info a {
    color:#838383;
}

div.nav_bar div.nav_profile div.nav_profile_info h4 {
    font-size:12px;
    color:#3399cc;
    margin:0 0 3px 0;
}

/* header content */
div.header_content {
    float:right;
    width:345px;
}

div.header_content div.header_top {
    padding:0 6px 0 0;
    height:39px;
}

div.header_content div.header_top a.link {
    text-decoration:underline;
    float:left;
    font-family:"Droid Sans", Arial;
    background:url(../images/header_top_link_bg.png) 0 2px no-repeat;
    padding:0 0 0 19px;
    color:#FFF;
    margin:6px 0 0 0;
}

div.header_content div.header_top a:hover.link {
    text-decoration:none;
}

div.header_content div.header_top ul {
    margin:-1px 0 0 0;
    list-style:none;
    float:right;
    background:url(../images/header_top_link.png) 0 0 no-repeat;
    width:129px;
}

div.header_content div.header_top ul li {
    font-family:"Droid Sans", Arial;
    font-size:11px;
    font-weight:bold;
    text-transform:uppercase;
    float:left;
}

div.header_content div.header_top ul li a {
    display:block;
    color:#FFF;
    height:21px;
    background:url(../images/header_top_arrow.png) 10px 9px no-repeat;
    padding:9px 0 0 34px;
}

div.header_content div.searchbox {
    margin:0;
}

div.header_content div.searchbox ul {
    margin:0;
    list-style:none;
}

div.header_content div.searchbox ul li {
    float:left;
    padding:0 0 0 1px;
}

div.header_content div.searchbox ul li.full {
    padding:18px 0 0 20px;
}

div.header_content div.searchbox ul li label {
    display:block;
    font-size:11px;
    font-weight:bold;
    text-transform:uppercase;
    color:#FFF;
    font-family:"Droid Sans", Arial;
    padding:0 0 3px 0;
}

div.header_content div.searchbox ul li input.input_item {
    font-size:13px;
    color:#999;
    float:left;
    background:url(../images/searchbox_input.png) 0 0 no-repeat;
    width:142px;
    padding:8px 30px 8px 10px;
    border:0;
    font-family:"Droid Sans", Arial;
}

div.header_content div.searchbox ul li input.submit {
    font-size:13px;
    font-weight:bold;
    font-family:"Droid Sans", Arial;
    border:0;
    cursor:pointer;
    width:137px;
    height:28px;
    color:#FFF;
    padding:0 6px 5px 0;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    background:url(../images/arrows.png) 92% 9px no-repeat;
    background:url(../images/arrows.png) 92% 9px no-repeat, -webkit-gradient(linear, 0 0, 0 100%, from(#2d9acc), to(#026190)) 300px 50px no-repeat, -webkit-gradient(linear, 0 0, 0 100%, from(#2d9acc), to(#026190)) 0 0 no-repeat;
    background:url(../images/arrows.png) 92% 9px no-repeat, -moz-linear-gradient(#2d9acc, #026190) 300px 50px no-repeat, -moz-linear-gradient(#2d9acc, #026190) 0 0 no-repeat;
}

/* navigation */
div.navigation {
    background:#292929;
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#3E3E3E), to(#292929)) 300px 50px no-repeat, -webkit-gradient(linear, 0 0, 0 100%, from(#3E3E3E), to(#292929)) 0 0 no-repeat;
    background:-moz-linear-gradient(#3E3E3E, #292929) 300px 50px no-repeat, -moz-linear-gradient(#3E3E3E, #292929) 0 0 no-repeat;
    -webkit-border-top-left-radius:3px;
    -webkit-border-top-right-radius:3px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-topright:3px;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    height:41px;
    position:relative;
    z-index:1000;
    overflow:hidden;
    -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.4);
    box-shadow:0 0 10px rgba(0, 0, 0, 0.4);
}

div.navigation div.navigation_search {
    float:right;
    width:290px;
    height:41px;
    background:#4b4b4b;
    
background:-webkit-gradient(linear, 0 0, 0 100%, from(#6c6c6c), to(#4b4b4b)) 300px 50px no-repeat, -webkit-gradient(linear, 0 0, 0 100%, from(#6c6c6c), to(#4b4b4b)) 0 0 no-repeat;
    
background:-moz-linear-gradient(#6c6c6c, #4b4b4b) 300px 50px no-repeat, -moz-linear-gradient(#6c6c6c, #4b4b4b) 0 0 no-repeat;
    -webkit-box-shadow:inset 5px 0px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:inset 5px 0px 4px rgba(0, 0, 0, 0.3);
    box-shadow:inset 5px 0px 4px rgba(0, 0, 0, 0.3);
}

div.navigation div.navigation_search ul {
    margin:0;
    list-style:none;
    padding:0 0 0 19px;
}

div.navigation div.navigation_search ul li {
    float:left;
    padding:8px 12px 0 0;
}

div.navigation div.navigation_search ul li input.input_item {
    color:#b7b7b7;
    font-size:13px;
    font-family:"Droid Sans", Arial;
    background:url(../images/navigation_search_input_icon.png) 0 0 no-repeat;
    border:0;
    width:180px;
    padding:5px 9px 5px 28px;
}

div.navigation div.navigation_search ul li input.submit {
    color:#b7b7b7;
    font-size:15px;
    font-weight:bold;
    font-family:"Droid Sans", Arial;
    border:0;
    background:none;
    cursor:pointer;
    width:25px;
    height:23px;
}

/* latest news */
div.latest_news {
    background:#f5f5f5;
    padding:34px 9px 19px 19px;
    position:relative;
}

div.latest_news span.line_overlay {
    position:absolute;
    left:-1px;
    top:0;
    text-indent:-9999px;
    background:url(../images/line_overlay.png) 0 0 no-repeat;
    height:100%;
    width:1px;
}

div.latest_news div.title {
    overflow:hidden;
    padding:0 13px 14px 0;
    height:100%;
}

div.latest_news div.title h3.title {
    background:url(../images/title_icons.png) 0 -100px no-repeat;
    padding:0 0 0 41px;
    float:left;
}

div.latest_news div.title h3.title span {
    font-family:Arial;
    display:block;
    font-size:11px;
    margin:-1px 0 0 3px;
}

div.latest_news div.title a.plus {
    float:right;
    background:url(../images/side_noticias_plus.png) 0 0 no-repeat;
    text-indent:-9999px;
    width:24px;
    height:24px;
    margin:6px 0 0 0;
}

div.latest_news ul {
    margin:0;
    list-style:none;
}

div.latest_news ul li {
    font-size:11px;
    background:url(../images/arrows.png) 0 -198px no-repeat;
    padding:0 0 5px 13px;
    height:100%;
}

div.latest_news ul li a {
    color:#848889;
}

/* services box */
div.services_box {
    border-top:#e4e4e4 1px solid;
    padding:25px 25px 17px 25px;
}

div.services_box h3.title {
    margin:0 0 5px 0;
}

div.services_box h3.title span {
    background:url(../images/side_servicos_title_arrow.png) 100% 9px no-repeat;
    padding:0 22px 0 0;
}

div.services_box ul {
    margin:0;
    list-style:none;
    padding:0 3px;
}

div.services_box ul li {
    padding:0 0;
    border-bottom:#999 1px dotted;
    overflow:hidden;
    padding:13px 0 15px 0;
    height:100%;
}

div.services_box ul li div.image {
    float:left;
    position:relative;
    width:100px;
    margin:1px 0 0 0;
}

div.services_box ul li div.image a.caption {
    position:absolute;
    left:0;
    top:0;
    color:#FFF;
    font-weight:bold;
    font-size:9px;
    font-family:Arial;
    background-color:rgba(0,0,0,0.7);
    width:90px;
    height:13px;
    padding:2px 5px 0 5px;
}

div.services_box ul li div.detail {
    float:right;
    width:120px;
}

div.services_box ul li div.detail h4 {
    font-size:13px;
    font-family:"Droid Sans", Arial;
    font-weight:normal;
    padding:0 0 5px 0;
}

div.services_box ul li div.detail h4 a {
    color:#666;
}

div.services_box ul li div.detail p {
    margin:0 0 4px 0;
    font-size:11px;
    font-family:Arial;
    line-height:12px;
}

div.services_box ul li div.detail a.mais {
    font-size:10px;
    color:#2c98c9;
    font-family:"Myriad Pro", Arial;
    text-transform:uppercase;
    font-weight:bold;
    background:url(../images/arrows.png) 100% -47px no-repeat;
    padding:0 9px 0 0;
}

/* search sidebox */
div.search_sidebox {
    padding:0 0 33px 28px;
}

div.search_sidebox h3 {
    font-size:12px;
    padding:0 0 6px 0;
}

div.search_sidebox ul {
    margin:0;
    list-style:none;
    overflow:hidden;
    height:100%;
}

div.search_sidebox ul li {
    float:left;
}

div.search_sidebox ul li select {
    float:left;
    font-size:14px;
    color:#999;
    font-family:"Droid Sans", Arial;
    width:188px;
    height:30px;
    background:#f0f0f0;
    border:0;
    padding:6px 7px;
}

div.search_sidebox ul li input.submit {
    border:0;
    cursor:pointer;
    font-size:14px;
    color:#FFF;
    font-weight:bold;
    font-family:"Droid Sans", Arial;
    background:url(../images/side_brasil_submit.png) 0 0 no-repeat;
    width:43px;
    height:30px;
    padding:0 8px 2px 0;
}

/* ask sidebox */
div.ask_sidebox {
    padding:26px 29px 31px 29px;
    background:#ecf1f3;
    border-top:#c1d6de 1px solid;
}

div.ask_sidebox h3.title {
    background:url(../images/title_icons.png) 0 -198px no-repeat;
    padding:0 0 1px 47px;
    color:#5f99af;
}

div.ask_sidebox h3.title span {
    font-family:Arial;
    display:block;
    font-size:11px;
    margin:-1px 0 0 2px;
    text-transform:uppercase;
    color:#ababab;
}

div.ask_sidebox ul {
    margin:0 5px 14px 1px;
    list-style:none;
}

div.ask_sidebox ul li {
    padding:17px 0;
    border-bottom:#acbfc5 2px dotted;
}

div.ask_sidebox ul li h4 {
    font-size:12px;
    color:#656565;
    font-family:"HelveticaNeueLT Std", Arial;
    line-height:14px;
    margin:0 0 1px 0;
}

div.ask_sidebox ul li p {
    margin:0 10px 9px 0;
}

div.ask_sidebox ul li a.veja {
    font-size:10px;
    color:#5f99af;
    font-family:"Myriad Pro", Arial;
    text-transform:uppercase;
    font-weight:bold;
    background:url(../images/arrows.png) 100% -47px no-repeat;
    padding:0 13px 0 0;
}

div.ask_sidebox a.veja_todas {
    font-size:11px;
    color:#5f99af;
    background:url(../images/icon_plus.png) 0 -100px no-repeat;
    padding:0 0 0 16px;
    font-family:"Droid Sans", Arial;
}

/* social sidebox */
div.social_sidebox {
    background:#f5f5f5;
    border-top:#e4e4e4 1px solid;
    padding:25px 5px 91px 25px;
}

div.social_sidebox h3.title {
    padding:0 0 20px 0;
    text-transform:uppercase;
}

div.social_sidebox h3.title span {
    background:url(../images/side_servicos_title_arrow.png) 100% 9px no-repeat;
    padding:0 22px 0 0;
}

div.social_sidebox ul {
    margin:0;
    list-style:none;
    overflow:hidden;
    height:100%;
}

div.social_sidebox ul li {
    padding:0 19px 0 1px;
    float:left;
}

div.social_sidebox ul li a {
    display:block;
    float:left;
    text-indent:-9999px;
    width:22px;
    height:21px;
}

div.social_sidebox ul li a.facebook {
    background:url(../images/social_icons.png) 0 0 no-repeat;
}

div.social_sidebox ul li a.twitter {
    background:url(../images/social_icons.png) -42px 0 no-repeat;
}

div.social_sidebox ul li a.pinterest {
    background:url(../images/social_icons.png) -84px 0 no-repeat;
}

div.social_sidebox ul li a.youtube {
    background:url(../images/social_icons.png) -126px 0 no-repeat;
}

div.social_sidebox ul li a.google {
    background:url(../images/social_icons.png) -168px 0 no-repeat;
}

div.social_sidebox ul li a.insta {
    background:url(../images/social_icons.png) -210px 0 no-repeat;
}

/* featured */
div.featured {
    overflow:hidden;
    height:331px;
}

/* featured slider */
div.featured_slider {
    float:left;
    position:relative;
    width:690px;
}

div.featured_slider div.caption {
    font-family:Arial;
    background:url(../images/featured_capiton_bg.png) 0 0 no-repeat;
    width:648px;
    height:64px;
    position:absolute;
    top:238px;
    left:0;
    color:#999;
    padding:20px 21px;
}

div.featured_slider div.caption h2 {
    font-size:27.74px;
    color:#FFF;
    font-family:"Droid Sans", Arial;
    margin:0 0 7px 0;
}

div.featured_slider div.featured_tabs {
    position:absolute;
    right:11px;
    top:14px;
}

div.featured_slider div.featured_tabs ul {
    margin:0;
    list-style:none;
}

div.featured_slider div.featured_tabs ul li {
    float:left;
    padding:0 7px 0 0;
}

div.featured_slider div.featured_tabs ul li a {
    float:left;
    display:block;
    text-indent:-9999px;
    background:url(../images/featured_tab.png) -18px 0 no-repeat;
    width:11px;
    height:11px;
}

div.featured_slider div.featured_tabs ul li a:hover, div.featured_slider div.featured_tabs ul li.active a {
    background:url(../images/featured_tab.png) 0 0 no-repeat;
    text-decoration:none;
}

div.featured_slider a.prev {
    position:absolute;
    right:17px;
    top:287px;
    text-indent:-9999px;
    background:url(../images/featured_main_arrow.png) 0 -25px no-repeat;
    width:17px;
    height:18px;
}

div.featured_slider a.next {
    position:absolute;
    right:17px;
    top:262px;
    text-indent:-9999px;
    background:url(../images/featured_main_arrow.png) 0 0 no-repeat;
    width:17px;
    height:18px;
}

/* featured tools */
div.featured_tools {
    width:291px;
    margin:0 0 0 -1px;
    float:right;
}

div.featured_tools div.featured_tools_box {
    background:#e0e8eb url(../images/side_ferramentas_bg.png) 0 0 no-repeat;
    padding:19px 28px 27px 28px;
    height:192px;
}

div.featured_tools div.featured_tools_box h3 {
    color:#5f99af;
    padding:0;
}

div.featured_tools div.featured_tools_box ul {
    margin:0;
    list-style:none;
    overflow:hidden;
}

div.featured_tools div.featured_tools_box ul li {
    float:left;
    font-size:11.18px;
    text-align:center;
    padding:22px 0 4px 4px;
    width:72px;
}

div.featured_tools div.featured_tools_box ul li a {
    color:#5f99af;
    display:block;
    padding:44px 0 0 0;
}

div.featured_tools div.featured_tools_box ul li a.icon_agenda {
    background:url(../images/featured_tools_icons.png) 50% -200px no-repeat;
}

div.featured_tools div.featured_tools_box ul li a.icon_racas {
    background:url(../images/featured_tools_icons.png) 50% 0 no-repeat;
}

div.featured_tools div.featured_tools_box ul li a.icon_pet {
    background:url(../images/featured_tools_icons.png) 50% -100px no-repeat;
}

div.featured_tools div.featured_tools_box ul li a.icon_cadastro {
    background:url(../images/featured_tools_icons.png) 50% -300px no-repeat;
}

div.featured_tools div.emergencia_note {
    font-size:13px;
    font-family:"Droid Sans", Arial;
    color:#f6f7f9;
    background:url(../images/side_emergencia_bg.png) 0 0 no-repeat;
    padding:16px 57px 18px 27px;
    line-height:16px;
}

div.featured_tools div.emergencia_note h3 {
    font-size:22px;
    color:#f6f7f9;
    padding:0 0 5px 0;
    font-weight:bold;
}

/* featured box */
div.featured_box {
    background:#f0f5f7;
    padding:30px 23px 22px 33px;
    border-bottom:#ddd 1px solid;
    overflow:hidden;
    height:100%;
    margin:0 0 25px 0;
}

div.featured_box div.featured_services {
    float:left;
    width:300px;
    padding:1px 0 0 0;
}

div.featured_box div.featured_services h3.title {
    background:url(../images/title_icons.png) 0 -300px no-repeat;
    padding:3px 0 14px 39px;
    color:#5f99af;
}

div.featured_box div.featured_services h3.title span {
    font-family:Arial;
    display:block;
    font-size:11px;
    margin:0 0 0 2px;
    text-transform:uppercase;
    color:#ababab;
}

div.featured_box div.featured_services ul {
    margin:0;
    list-style:none;
    padding:0 1px;
}

div.featured_box div.featured_services ul li {
    float:left;
    font-size:11.5px;
    background:url(../images/arrows.png) 0 -147px no-repeat;
    padding:0 0 3px 11px;
    width:131px;
}

div.featured_box div.featured_services ul li a {
    color:#848889;
}

div.featured_box div.featured_services ul li a:hover, div.featured_box div.featured_services ul li.active a {
    color:#555758;
    text-decoration:none;
}

div.featured_box div.featured_services a.veja_todos {
    font-size:10px;
    color:#5f99af;
    background:url(../images/icon_plus.png) 0 -99px no-repeat;
    padding:0 0 0 16px;
    font-family:"Myriad Pro", Arial;
}

div.featured_box div.featured_services ul li.link {
    background:none;
    padding:2px 0 0 0;
}

div.featured_box div.pet_care_box {
    float:right;
    width:292px;
    border-left:#bfd2d8 1px solid;
    padding:1px 0 5px 30px;
}

div.featured_box div.pet_care_box h3.title {
    background:url(../images/title_icons.png) 0 2px no-repeat;
    padding:3px 0 13px 47px;
    color:#5f99af;
}

div.featured_box div.pet_care_box h3.title span {
    font-family:Arial;
    display:block;
    font-size:11px;
    margin:0 0 0 2px;
    text-transform:uppercase;
    color:#ababab;
}

div.featured_box div.pet_care_box ul {
    margin:0;
    list-style:none;
    overflow:hidden;
}

div.featured_box div.pet_care_box ul li {
    float:left;
    font-size:11.18px;
    text-align:center;
    padding:0 16px 4px 16px;
}

div.featured_box div.pet_care_box ul li a {
    color:#5f99af;
    display:block;
    padding:44px 0 0 0;
}

div.featured_box div.pet_care_box ul li a.icon_agenda {
    background:url(../images/featured_tools_icons.png) 50% -200px no-repeat;
}

div.featured_box div.pet_care_box ul li a.icon_racas {
    background:url(../images/featured_tools_icons.png) 50% 0 no-repeat;
}

div.featured_box div.pet_care_box ul li a.icon_pet {
    background:url(../images/featured_tools_icons.png) 50% -100px no-repeat;
}

div.featured_box div.pet_care_box ul li a.icon_cadastro {
    background:url(../images/featured_tools_icons.png) 50% -300px no-repeat;
}

/* articles box */
section.articles_box {
    padding:0 29px 20px 29px;
    overflow:hidden;
    height:100%;
}

section.articles_box div.title {
    background:url(../images/articles_box_title_bg.png) 0 3px repeat-x;
    height:100%;
    overflow:hidden;
    padding:0 0 5px 0;
}

section.articles_box div.title h3 {
    float:left;
    text-transform:uppercase;
    background:#fff;
    padding:0 10px 0 0;
    color:#fc8b26;
}

section.articles_box div.title h3 span {
    display:block;
    background:url(../images/articles_box_title_arrow.png) 100% 9px no-repeat;
    padding:0 17px 0 0;
    float:left;
}

section.articles_box div.title span.link {
    float:right;
    font-size:11px;
    font-family:"Droid Sans", Arial;
    padding:3px 1px 3px 6px;
    background:#FFF;
    letter-spacing:-0.04em;
}

section.articles_box div.title span.link a {
    display:block;
    color:#999;
    background:url(../images/icon_plus.png) 0 1px no-repeat;
    padding:0 0 0 19px;
    float:right;
}

section.articles_box section.articles_box_content {
    overflow:hidden;
    height:100%;
}

section.articles_box article.featured_articles {
    float:left;
    width:350px;
    padding:10px 0 0 1px;
}

section.articles_box article.featured_articles ul {
    margin:0;
    list-style:none;
}

section.articles_box article.featured_articles ul li {
    overflow:hidden;
    padding:27px 0 0 0;
    height:100%;
}

section.articles_box article.featured_articles ul li.first {
    padding-top:0;
}

section.articles_box article.featured_articles ul li div.image {
    float:left;
}

section.articles_box article.featured_articles ul li div.detail {
    float:right;
    width:250px;
    padding:0;
}

section.articles_box article.featured_articles ul li div.detail h4 {
    font-size:16px;
    font-weight:bold;
    font-family:"Droid Sans", Arial;
    margin:0 0 5px 0;
    line-height:normal;
}

section.articles_box article.featured_articles ul li div.detail h4 a {
    color:#111;
}

section.articles_box article.featured_articles ul li div.detail p {
    margin:0 0 6px 0;
}

section.articles_box article.featured_articles ul li div.detail a.mais {
    font-size:10px;
    color:#fc8823;
    font-family:"Myriad Pro", Arial;
    text-transform:uppercase;
    font-weight:bold;
    background:url(../images/arrows.png) 100% -247px no-repeat;
    padding:0 9px 0 0;
}

section.articles_box article.more_articles {
    float:right;
    width:238px;
    border-left:#e1e1e1 1px solid;
    padding:0 0 0 20px;
}

section.articles_box article.more_articles ul {
    margin:0;
    list-style:none;
}

section.articles_box article.more_articles ul li {
    line-height:14px;
    background:url(../images/arrows.png) 0 -87px no-repeat;
    padding:11px 0 0 13px;
    border-top:#999 1px dotted;
    margin:14px 0 0 0;
}

section.articles_box article.more_articles ul li a {
    color:#666;
}

section.articles_box article.more_articles ul li.first {
    border-top:0;
    margin-top:0;
}

/* articles boxes */
section.articles_boxes {
    height:100%;
    overflow:hidden;
    padding:28px 0;
    margin:6px 30px 3px 30px;
    border-top:#e1e1e1 1px solid;
}

section.articles_boxes article.articles_list {
    float:left;
    width:286px;
    padding:0;
}

section.articles_boxes article.articles_list.right {
    float:right;
    padding:0 0 0 29px;
    border-left:#e1e1e1 1px solid;
}

section.articles_boxes h3 {
    color:#fc8b26;
    text-transform:uppercase;
    padding:0 0 25px 0;
}

section.articles_boxes h3 span {
    background:url(../images/articles_box_title_arrow.png) 100% 9px no-repeat;
    padding:0 17px 0 0;
}

section.articles_boxes ul {
    margin:0 0 26px 0;
    list-style:none;
}

section.articles_boxes ul li {
    overflow:hidden;
    padding:27px 0 0 0;
    height:100%;
}

section.articles_boxes ul li.first {
    padding-top:0;
}

section.articles_boxes ul li div.image {
    float:left;
}

section.articles_boxes ul li div.detail {
    float:right;
    width:186px;
    padding:0;
}

section.articles_boxes ul li div.detail h4 {
    font-size:16px;
    font-weight:bold;
    font-family:"Droid Sans", Arial;
    margin:0 0 5px 0;
    line-height:normal;
}

section.articles_boxes ul li div.detail h4 a {
    color:#111;
}

section.articles_boxes ul li div.detail p {
    margin:0 0 6px 0;
}

section.articles_boxes ul li div.detail a.mais {
    font-size:10px;
    color:#fc8823;
    font-family:"Myriad Pro", Arial;
    text-transform:uppercase;
    font-weight:bold;
    background:url(../images/arrows.png) 100% -247px no-repeat;
    padding:0 9px 0 0;
}

section.articles_boxes a.veja {
    color:#fc8b26;
    font-size:13px;
    font-family:"Droid Sans", Arial;
    background:url(../images/racas_veja_bg.png) 0 2px no-repeat;
    padding:0 0 0 16px;
}

/* featured services box */
section.featured_services_box {
    overflow:hidden;
    border-top:#e1e1e1 1px solid;
    padding:23px 0;
    margin:0 30px;
}

section.featured_services_box div.title {
    height:100%;
    overflow:hidden;
    padding:0 0 23px 0;
}

section.featured_services_box div.title h3 {
    float:left;
    text-transform:uppercase;
    padding:0 10px 0 0;
}

section.featured_services_box div.title h3 span {
    display:block;
    background:url(../images/side_servicos_title_arrow.png) 100% 9px no-repeat;
    padding:0 17px 0 0;
    float:left;
}

section.featured_services_box div.title a.link {
    display:block;
    color:#a7a7a7;
    font-family:"Droid Sans", Arial;
    background:url(../images/icon_plus.png) 0 1px no-repeat;
    padding:0 0 0 19px;
    float:right;
    font-size:11px;
    margin:5px 0 0 0;
}

section.featured_services_box article.services_box_content {
    overflow:hidden;
    height:100%;
}

section.featured_services_box article.services_box_content ul {
    margin:0;
    list-style:none;
}

section.featured_services_box article.services_box_content ul li {
    background:#f5f5f5;
    float:left;
    width:148px;
    margin:0 0 0 11px;
}

section.featured_services_box article.services_box_content ul li.first {
    margin-left:0;
}

section.featured_services_box article.services_box_content ul li div.image {
    position:relative;
}

section.featured_services_box article.services_box_content ul li div.image a.caption {
    position:absolute;
    left:0;
    top:73px;
    color:#FFF;
    font-weight:bold;
    font-size:9px;
    font-family:Arial;
    background-color:rgba(0,0,0,0.7);
    width:138px;
    height:14px;
    padding:2px 6px 0 4px;
}

section.featured_services_box article.services_box_content ul li div.detail {
    padding:12px 17px 22px 17px;
}

section.featured_services_box article.services_box_content ul li div.detail h4 {
    font-size:15px;
    font-family:"Droid Sans", Arial;
    color:#111;
    padding:0 0 3px 0;
}

section.featured_services_box article.services_box_content ul li div.detail span.link {
    font-size:10px;
    font-family:Tahoma, Geneva, sans-serif;
    color:#848889;
    font-style:italic;
}

section.featured_services_box article.services_box_content ul li div.detail span.link a {
    color:#848889;
}

section.featured_services_box article.services_box_content ul li div.detail p {
    margin:5px 0 6px 0;
    line-height:13px;
}

section.featured_services_box article.services_box_content ul li div.detail a.mais {
    font-size:10px;
    color:#fc8823;
    font-family:"Myriad Pro", Arial;
    text-transform:uppercase;
    font-weight:bold;
    background:url(../images/arrows.png) 100% -247px no-repeat;
    padding:0 9px 0 0;
}

section.featured_services_box article.services_box_content ul li.alt div.image a.caption {
    width:137px;
}

/* footer content */
div.footer_content {
    padding:9px 5px 3px 5px;
    overflow:hidden;
    height:282px;
}

div.footer_content div.footer_logo {
    margin:0 0 0 17px;
    height:132px;
}

div.footer_content div.footer_menu {
    float:left;
    width:336px;
}

div.footer_content div.footer_menu ul {
    margin:0 0 41px 5px;
    list-style:none;
}

div.footer_content div.footer_menu ul li {
    font-size:11px;
    background:url(../images/footer_top_left_dot.png) 0 3px no-repeat;
    padding:0 0 11px 13px;
}

div.footer_content div.footer_menu ul li a {
    color:#e0e8eb;
}

div.footer_content div.footer_menu span.copyright {
    display:block;
    font-size:11px;
    color:#777;
}

div.footer_content div.footer_menu span.copyright a {
    color:#777;
    margin:0 0 0 15px;
}

/* footer links */
div.footer_links {
    float:left;
    width:155px;
    padding:11px 0 0 33px;
}

div.footer_links h5 {
    margin:0 0 9px 0;
    text-transform:uppercase;
}

div.footer_links ul {
    margin:0;
    list-style:none;
}

div.footer_links ul li {
    font-size:11px;
    padding:0 0 5px 0;
}

div.footer_links ul li a {
    color:#777;
}

/* footer bottom */
div.footer_bottom {
    background:url(../images/footer_bottom_bg.png) 0 0 no-repeat;
    height:55px;
    margin:0 0px;
    padding:21px 0 0 116px;
    position:fixed;
    bottom:0;
    width: 979px;
	z-index:5;
}

div.footer_bottom h3.title {
    font-size:30.44px;
    color:#fcc25e;
    font-family:"Droid Sans", Arial;
    font-weight:bold;
    text-transform:uppercase;
    letter-spacing:-2px;
    float:left;
    width:201px;
}

div.footer_bottom h3.title span {
    font-size:14px;
    color:#848889;
    display:block;
    font-weight:normal;
    margin:-6px 0 0 3px;
    letter-spacing:-0.5px;
}

div.footer_bottom div.footer_bottom_links {
    border-left:#848889 1px dotted;
    float:left;
    padding:0;
    margin:3px 0 0 0;
    width:210px;
}

div.footer_bottom div.footer_bottom_links ul {
    margin:0;
    list-style:none;
    float:right;
}

div.footer_bottom div.footer_bottom_links ul li {
    float:left;
    font-size:10.54px;
    width:50px;
}

div.footer_bottom div.footer_bottom_links ul li a {
    display:block;
    float:left;
    color:#848889;
    padding:32px 4px 0 3px;
}

div.footer_bottom div.footer_bottom_links ul li a.icon01 {
    background:url(../images/footer_icon.png) 50% 0 no-repeat;
}

div.footer_bottom div.footer_bottom_links ul li a.icon02 {
    background:url(../images/footer_icon.png) 50% -100px no-repeat;
}

div.footer_bottom div.footer_bottom_links ul li a.icon03 {
    background:url(../images/footer_icon.png) 50% -200px no-repeat;
}

div.footer_bottom div.footer_bottom_links ul li a.icon04 {
    background:url(../images/footer_icon.png) 50% -300px no-repeat;
}

div.footer_bottom div.signup_form {
    float:right;
    border-left:#848889 1px dotted;
    padding:6px 0 7px 0px;
    width:550px;
    margin:3px 0 0 0;
}

div.footer_bottom div.signup_form ul {
    margin:0;
    list-style:none;
}

div.footer_bottom div.signup_form ul li {
    float:left;
    padding:0 0 0 15px;
}

div.footer_bottom div.signup_form ul li.full {
    padding:1px 0 0 13px;
}

div.footer_bottom div.signup_form ul li input.input_item {
    float:left;
    font-family:"Droid Sans", Arial;
    font-size:11px;
    color:#666;
    padding:10px 11px;
    border:0;
    background:#E3E4E6;
    width:125px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}


div.footer_bottom div.signup_form ul li input.submit {
    font-size:14.51px;
    color:#f6f7f9;
    font-weight:bold;
    border:0;
    cursor:pointer;
    font-family:"Droid Sans", Arial;
    width:82px;
    height:31px;
    padding:0 10px 4px 0;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    background:url(../images/arrows.png) 86% 11px no-repeat;
    background:url(../images/arrows.png) 86% 11px no-repeat, -webkit-gradient(linear, 0 0, 0 100%, from(#2d9acc), to(#026190)) 300px 50px no-repeat, -webkit-gradient(linear, 0 0, 0 100%, from(#2d9acc), to(#026190)) 0 0 no-repeat;
    background:url(../images/arrows.png) 86% 11px no-repeat, -moz-linear-gradient(#2d9acc, #026190) 300px 50px no-repeat, -moz-linear-gradient(#2d9acc, #026190) 0 0 no-repeat;
}



/**
CSS SOURCENET

**/
/**
CSS SOURCENET

**/

.botoes_header_cadastre_se {
    float:left;
    margin-left: 20px;
    margin-top: 18px;
    font-size:13px;
    font-weight:bold;
    font-family:"Droid Sans", Arial;
    border:0;
    cursor:pointer;
    width:93px;
    text-align: center;
    height: 27px;
    line-height: 32px;
    color:#FFF;
    padding:0 6px 5px 0;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    border-right:solid 1px #085E8D;
    background:url(../images/arrows.png) 96% 13px no-repeat;
    background:url(../images/arrows.png) 96% 13px no-repeat, -webkit-gradient(linear, 0 0, 0 100%, from(#2d9acc), to(#026190)) 300px 50px no-repeat, -webkit-gradient(linear, 0 0, 0 100%, from(#2d9acc), to(#026190)) 0 0 no-repeat;
    background:url(../images/arrows.png) 96% 13px no-repeat, -moz-linear-gradient(#2d9acc, #026190) 300px 50px no-repeat, -moz-linear-gradient(#2d9acc, #026190) 0 0 no-repeat;
}

.botoes_header_entre {
    float:left;
    margin-top: 18px;
    font-size:13px;
    font-weight:bold;
    font-family:"Droid Sans", Arial;
    border:0;
    cursor:pointer;
    width:65px;
    height:32px;
    line-height: 32px;
    color:#FFF;
    padding:0 6px 5px 4;
    text-align: center;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    border-left:solid 1px #4096C5;
    background:url(../images/arrows.png) 86% 13px no-repeat;
    background:url(../images/arrows.png) 86% 13px no-repeat, -webkit-gradient(linear, 0 0, 0 100%, from(#2d9acc), to(#026190)) 300px 50px no-repeat, -webkit-gradient(linear, 0 0, 0 100%, from(#2d9acc), to(#026190)) 0 0 no-repeat;
    background:url(../images/arrows.png) 86% 13px no-repeat, -moz-linear-gradient(#2d9acc, #026190) 300px 50px no-repeat, -moz-linear-gradient(#2d9acc, #026190) 0 0 no-repeat;
}

.botoes_header_acesso_empresa {
    float:left;
    margin-left: 10px;
    margin-top: 18px;
    font-size:13px;
    font-weight:bold;
    font-family:"Droid Sans", Arial;
    border:0;
    cursor:pointer;
    width: 139px;
    height: 27px;
    text-align: center;
    line-height: 32px;
    color:#FFF;
    padding:0 6px 5px 0;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    background:url(../images/arrows.png) 96% 13px no-repeat;
    background:url(../images/arrows.png) 96% 13px no-repeat, -webkit-gradient(linear, 0 0, 0 100%, from(#2d9acc), to(#026190)) 300px 50px no-repeat, -webkit-gradient(linear, 0 0, 0 100%, from(#2d9acc), to(#026190)) 0 0 no-repeat;
    background:url(../images/arrows.png) 96% 13px no-repeat, -moz-linear-gradient(#2d9acc, #026190) 300px 50px no-repeat, -moz-linear-gradient(#2d9acc, #026190) 0 0 no-repeat;
}

.login_botao_entrar {
    margin-left: 20px;
    font-size:13px;
    font-weight:bold;
    font-family:"Droid Sans", Arial;
    border:0;
    cursor:pointer;
    width:97px;
    height:32px;
    color:#FFF;
    padding:0 6px 5px 0;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    background:url(../images/arrows.png) 74% 12px no-repeat;
    background:url(../images/arrows.png) 74% 12px no-repeat, -webkit-gradient(linear, 0 0, 0 100%, from(#2d9acc), to(#026190)) 300px 50px no-repeat, -webkit-gradient(linear, 0 0, 0 100%, from(#2d9acc), to(#026190)) 0 0 no-repeat;
    background:url(../images/arrows.png) 74% 12px no-repeat, -moz-linear-gradient(#2d9acc, #026190) 300px 50px no-repeat, -moz-linear-gradient(#2d9acc, #026190) 0 0 no-repeat;
}

 .login {
    float: left;
    height: 210px;
    width: 262px;
    margin-top:30px;
}		
	
 .login input[type="text"],  .login input[type="password"]{
    background:#FFF;
    border:0;
    padding:10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size:10px;
    width:150px;
    color:#999;
}
 .login input.login_email {
    background:#FFF url(../images/bg_login_email.png) no-repeat;
    background-position:12px 12px;
    padding-left:72px;
    margin-bottom:15px;
}
 .login input.login_pass {
    background:#FFF url(../images/bg_login_senha.png) no-repeat;
    background-position:12px 12px;
    padding-left:72px;
    margin-bottom:15px;
}
 .login .login_fb {
    float:left;
}
 
 .login .esqueceu a{
    color:#5f99af;
    font-size:11px;
    float:left;
    margin-top:10px;
}

.content-painel-login { 
    margin-top: -10px;
}
.painel-login {
    background: url("../images/arrows.png") no-repeat scroll 0 -147px transparent;
    float: left;
    font-size: 13px;
    padding: 0px 0px 3px 11px;
    width: 200px;
    color: #6D91A7;
    margin-bottom:3px;
    text-shadow: 1px 1px #fff; 
    
}

/* Login */


.topo_cadastro{background: #eff4f6; padding: 20px 36px; height:40px;}
.topo_cadastro h1{float:left; color:#1e8fc5; font-family: "Droid Sans", Arial; font-size: 22px; margin-top:10px;}
.topo_cadastro img.nivel-cadastro{float:right; margin-top:10px;}

.background-modal { width:100%; height: 100%; position: fixed; background-color: #000; z-index: 3; !important; opacity:0.8; display:none;}

#modal-acesso{width:713px; background: #fff; float:left; margin-top:130px; padding-bottom:30px; 
              margin-left: 25%; z-index: 5; position: fixed; display:none;
        -webkit-box-shadow: #156689 0px 0px 26px; -moz-box-shadow: #156689 0px 0px 26px; box-shadow: #156689 0px 0px 26px; z-index:4 !important;}

#modal-acesso .box_left{width:375px; float:left; margin-top:36px; margin:20px 0 0 36px; }
#modal-acesso .box_left .bnt-facebook small{ border-top:1px dotted #A6A6A6; width:373px; float:left; margin-top:20px;}
#modal-acesso .box_left .bnt-facebook span{ color:#999999; font: 14px Arial; float:left; background: #fff; margin:-10px 166px 0; padding:0 5px;}
#modal-acesso .box_left form{float:left; margin-top:10px;}
#modal-acesso .box_left a{color:#333333;}
#modal-acesso .box_left fieldset{border:none; width:auto; border: 1px solid #CCCCCC; padding: 3px 10px; float:left; border-radius:3px; -webkit-border-radius: 3px; -moz-border-radius: 3px;}
#modal-acesso .box_left ol{list-style: none; padding: 0; float:left; margin:0;}
#modal-acesso .box_left ol li{margin-top:17px; float:left; width:100%;}
#modal-acesso .box_left fieldset label{font-size:14px; color:#999999; border-right: 1px dotted #cccccc; padding-right:10px; text-transform: uppercase;}
#modal-acesso .box_left .email{width:274px;}
#modal-acesso .box_left .senha{width:276px;}
#modal-acesso .box_left input, .cont-cadastro .box_left select{font-size:14px; color:#1e8fc5; border:none; background:#fff; }
#modal-acesso .box_left p.desc_tool{float:left; font-size:12px; color:#999999; margin:7px  0 0 0;}
#modal-acesso .box_left .bnt_entrar{float:right; margin-right:16px;}

#modal-acesso .box_right{width:250px; margin:20px 36px 0 0; float:right;}
#modal-acesso .box_right ul.opcoes_info-cadastro{ background: none repeat scroll 0 0 #EFF4F6; position:relative; z-index:1;  border: 1px solid #D7E3E8; float: left; list-style: none outside none; margin: -10px 0 0; padding: 10px 0 0; width: 248px; border-radius:3px; -webkit-border-radius: 3px; -moz-border-radius: 3px;}
#modal-acesso .box_right .opcoes_info-cadastro li{padding:20px; float:left; background: url('../images/linha-azul.jpg') repeat-x 0 bottom;}
#modal-acesso .box_right .opcoes_info-cadastro li.none{background: none;}
#modal-acesso .box_right .opcoes_info-cadastro li img{float:left;}
#modal-acesso .box_right .opcoes_info-cadastro li p{float:left; color:#5f99af; font-size:12px; width:140px; margin:0 0 0 20px;}

#modal-acesso .topo_cadastro h1{border-right:1px dotted #A6A6A6; padding-right:30px; float:left;}
#modal-acesso .topo_cadastro div{float:right; width:400px;}
#modal-acesso .topo_cadastro p{float:left; margin:16px 0 0 35px; color:#818181;}
#modal-acesso .topo_cadastro a{float:right; margin-top:10px; border:0;}
#modal-acesso .topo_cadastro img{ border:0;}

#modal-acesso .rodape {width:579px; padding:10px 30px; background: #eff4f6; float:left; margin:20px 36px 0; border:1px solid #dae5e9;}
#modal-acesso .rodape small {border-right:1px dotted #A6A6A6; padding-right:10px; float:left; color:#1e8fc5; font-size:16px;}
#modal-acesso .rodape p {font:12px arial; color:#999999; float:left; margin:5px 0 0 20px; }
#modal-acesso span.consulte {font:10px arial; color:#999999; float:right; margin:10px 36px 0 20px;}

.close-modal{position:absolute; top:-10px; right:-10px; background: url(../images/bnt_close.gif) no-repeat; width:24px; height:24px; text-indent:-99999px;}

.jquery-modal{z-index:3 !important;}
.part {
  display: none;
}
/* Login */

/*/ 600-post /*/

#post p {
	font-size: 14px;
	color: #333333;
	font-family: "Droid Sans", Arial; }
 
#navcaminho {
	width: 660px;
	height: 30px;
	padding-top: 20px;
	padding-left: 10px; }
 
	#navcaminho li {
		list-style: none;
		padding-right: 20px;
		margin-left: 10px;
		background: url(../images/arrows.png) right -147px no-repeat;
		float: left;
		color:#7E7E7E;
		font-size: 11px; }
 
		#navcaminho li.primeiro { }
 
		#navcaminho li.ultimo {
			color: #5d95aa;
			background: none;
			font-weight: bold; }
 
#post
{
	padding:0px 30px 20px 20px
}
section.articles_box .titulopost {
	margin: 0;
	padding: 0;
	font-size: 30px;
	font-weight: bold;
	font-family: "Droid Sans", Arial; }
 
section.articles_box .subpost {
	color: #656565;
	font-size: 13px;
	font-weight: normal;
	padding-top: 12px;
	padding-bottom: 12px; }
 
.linhasdot {
	padding-top: 10px;
	min-height: 25px;
	border-top: dotted 1px #ccc;
	border-bottom: dotted 1px #ccc;
	margin-bottom: 15px; }
 
	.linhasdot .leiatb {
		margin: 0;
		padding: 0;
		font-family: "Droid Sans", Arial; }
 
		.linhasdot .leiatb span {
			text-transform: capitalize;
			color: #666666;
			font-weight: bold; }
 
		.linhasdot .leiatb a {
			color: #2c98c9;
			font-size: 14px; }
 
#creditosocial .autor {
	margin: 0;
	padding: 0;
	color: #999999;
	font-size: 11px;
	font-family:Arial, Helvetica, sans-serif;
	float: left; }
 
#creditosocial #compartilhar {
	width: 520px;
	float: right;
	background-color: #ccc; }
 
#categorias li , #tags li {
	list-style: none;
	display: inline;
	font-family: "Droid Sans", Arial;
	font-size: 13px;
	color: #333333; }
 
#categorias  .labelcategoria , #tags  .labeltag {
	font-weight: bold;
	margin-right: 5px; }
 
#prox_and {
	margin-top: 25px;
	margin-bottom:25px;
	min-height: 40px;
	padding-bottom: 10px; }
 
	#prox_and a:hover { color: #2c98c9 }
 #prox_and .ant a, 
#prox_and .prox a
{
	display:block;
}
	#prox_and .ant, 
#prox_and .prox {
		margin: 0;
		padding: 0;
		font-size: 12px;
		float: left;
		max-width: 320px;
		font-family:Arial, Helvetica, sans-serif;
		color: #2c98c9; }
 
	#prox_and .ant .ant_noticia {
		border-left: 1px dotted #2c98c9;
		padding-left: 5px;
		margin-left: 10px;
		font-size: 11px;
		color: #989898;
		display: block;
		padding-left: 20px;
		margin-top: -3px;
		margin-left: 10px; }
		
		#prox_and .prox .prox_noticia {
	
	color: #989898;
font-size: 11px;
text-align: right;
display: block;
padding-right: 15px;
margin-top: -3px;
margin-right: 15px;
border-right: 1px dotted #2c98c9;
		
					}
 
	#prox_and .prox { float: right; }
 
	#prox_and .prox .prox_btn, 
#prox_and .ant .ant_btn {
		color: #2c98c9;
		font-weight: bolder;
		padding-left: 30px;
		line-height: 20px;
		display: block;
		height: 20px;
		background: url(../images/flechas_post.png) 2px 1px no-repeat; }
 
 #prox_and .prox .prox_btn
 {
	 padding-left:0;
	 padding-right:30px;
	 background-position:215px -19px;
	 text-align:right ;
	
	 display:block;
}
 #autor 
 {
	 padding:15px;
	
	 background: url(../images/dot_autor.png) 15px 30px no-repeat;
}

#autor .fotoautor
{
	float:left;
	margin-right:10px;
	
}
 #autor .labelautor
 {
	 margin:0;
	 padding:0;
	 font-weight: bolder;
	 font-size:12px;
	 color:#999999;
	 
}
#autor #sobreautor
{
	padding:10px;
	padding-left:20px;
}
#autor #sobreautor .titautor
{
	margin:0;
	padding:0;
		font-family: "Droid Sans", Arial;
	font-size: 15px;
	font-weight:bold;
	color: #333333;
}

#autor #sobreautor .descautor
{
	margin:0;
	padding-top:5px;
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
}

section.articles_box_content.linhasdot
{
	padding-bottom:20px;

}
#artigosrelacionados
{
	border-top:none;
}
section.articles_box_content.linhasdot div.title h3 span
{
	margin:0;
	padding:0;
	text-transform:capitalize;
	font-family: "Droid Sans", Arial;
	font-size:18px;
	color:#666666;
	background:none;
}

section.articles_box_content.linhasdot .featured_articles 
{
	padding:0;
	float:left;
	
	width:308px;
	margin-top:20px;
}

section.articles_box_content.linhasdot #artigo1
{
	border-right:1px #ccc  solid ;
	padding-right:5px;

}
section.articles_box_content.linhasdot #artigo2
{
	border:none;
	margin-left:15px;
}
section.articles_box_content.linhasdot .featured_articles ul .first
{
	background:none;
	padding:0;
	margin-bottom:10px;
}

section.articles_box_content.linhasdot .featured_articles ul li
{
	margin:0;
	padding:0;
	padding-left:15px;	
	color:#666;
	
	min-height:20px;
	 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:lighter;
	background:url(../images/arrows.png) 5px -145px no-repeat
	
}
section.articles_box_content.linhasdot .featured_articles ul li a
{
	color:#666;
	font-family:"HelveticaNeueLT Std", Arial, Helvetica, sans-serif;
}
section.articles_box_content.linhasdot .featured_articles ul li div.detail
{
	width:210px;
}

section.articles_box_content.linhasdot .featured_articles ul li div.detail h4
{
	font-size:13px;
	font-weight:bolder;
	font-family: "Droid Sans", Arial;
	
}
#post section.articles_box_content.linhasdot .featured_articles ul li div.detail p
{
	font-size:12px;
	font-weight:lighter;
	font-family:"HelveticaNeueLT Std", Arial, Helvetica, sans-serif;
	color:#656565;
}
section.articles_box_content.linhasdot .featured_articles ul li div.detail .mais

{
	color:#2c98c9;
	background-position: 100% -46px ;
}


#facecomente div.title h3 span
{
	display: block;
	background:none;
padding: 0 10px 0 0;
float: left;
color:#666666;
font-size:18px;
text-transform:capitalize;	
}


#facecomente div.title h3 .numerodecomentarios
{
	padding:0;
	font-size:15px;
	color:#999999;
}
#face
{
	min-height:300px;
	width:100%;
	background:#ccc;
	margin-bottom:30px;
}
#recomende
{
	border:1px dotted #ccc;
	padding:20px;
	padding-right:10px;
}

#recomende form 
{
	margin:0;
	padding:0;
}
#recomende form label
{
	margin:0;
	padding:0;
	padding-right:10px;
		line-height:28px;
	font-size:17px;
	font-family: "Droid Sans", Arial;
	
}

#recomende form input[type="text"]
{
	margin:0;
	padding:0;
	line-height:29px;
	height: 28px;
	padding: 0px 5px;
	border:1px solid #CCC;
	border-radius:3px;
	font-size:12px;
	color:#999999;
	width:220px;
}

#recomende form input[type="submit"]
{
	border: 0;
cursor: pointer;
font-size: 11px;
color: #FFF;
font-weight: bold;
font-family: "Droid Sans", Arial;
background: #8a8a8a url(../images/side_brasil_submitb.png) right top no-repeat;
width: 75px;
height: 30px;
line-height:30px;
margin-left:-5px;
padding: 0 8px 2px 0;
}

#publicidade
{
	background:#f5f5f5;
	margin-top:15px;
	padding:10px;
	padding-left:10px;
    position:relative;
	width:250px;
	margin-bottom:28px;
}

#publicidade p
{
	margin:0;
	padding:0;
	font-size:9px;
	font-weight:lighter;
	font-family:  Arial;
	color:#a7a7a7;
	text-transform:uppercase;
}

#publicidade  img
{
	border:1px #ccc solid;
}

aside#right.clearingfix.post
{
	border:none;
	
}

aside#right.clearingfix.post div.services_box
{
	border: none;
background-color: #efefef;
overflow: auto;
padding-top: 10px;
padding-left: 20px;
width: 225px;
}

aside#right.clearingfix.post div.services_box ul li div.detail
{
	width:105px;
}

aside#right.clearingfix.post div.search_sidebox
{
	border:none;
	background-color:#efefef;
	overflow:auto;
	margin-bottom:25px;
	width:242px;
}
aside#right.clearingfix.post div.services_box h3.title span
{
	font-size:18px;
	
}
aside#right.clearingfix.post div.search_sidebox ul li select
{
	background-color:#FFF;
}

aside#right.clearingfix.post div.ask_sidebox
{
	width:220px;
	padding-left:22px;
}
aside#right.clearingfix.post div.social_sidebox
{
	margin-top:27px;
	padding:0;
	padding-left:22px;
	padding-top:20px;
	padding-bottom:30px;
	width:247px;
	}
	
	aside#right.clearingfix.post div.social_sidebox ul li
	{
		padding-right:17px;
	}

/*/ 111-cadastro3campos/*/


nav#topmenu.fornecedor ul li a.icon01
{
	background:url(../images/fornecedor_menu.png) 50% 0 no-repeat;
}

nav#topmenu.fornecedor ul li a.icon01:hover,  nav#topmenu.fornecedor ul li.active a.icon01
{
	background:url(../images/fornecedor_menu_hover.png) 50% 0 no-repeat;
}

nav#topmenu.fornecedor ul li a.icon03:hover, nav#topmenu.fornecedor ul li.active a.icon03
{
	background: url(../images/fornecedor_menu_hover.png) 50% -98px no-repeat;
}

nav#topmenu.fornecedor ul li a.icon03
{
	background: url(../images/fornecedor_menu.png) 50% -98px no-repeat;
}

section#main.clearingfix.largo
{
	margin:0;
}

#bannerupgrade
{
	padding-left:15px;
	
	padding-top:15px;
	background: url(../images/topmenu_bg.png) 0 0 no-repeat;
	float:right;
	width:320px;
}

#bannerupgrade p
{
	margin:0;
	padding:0;	
	
font-family: "Droid Sans", Arial;
font-size:11px;
color:#fff;
float:left;
	width:170px;
}
#bannerupgrade p span
{
	display:block;
	clear:both;
	color:#999;
	font-size:11px;

	
}

#bannerupgrade a
{
font-family: "Droid Sans", Arial;
font-size:13px;
font-weight:bolder;
text-transform:capitalize;
color:#fff;
display:block;
width:75px;
height:25px;
line-height:25px;
padding-left:20px;
float:right;
margin-right:32px;

border:1px solid #666;
border-radius:5px;
background: #7c7c7c; /* Old browsers */
background: -moz-linear-gradient(top,  #7c7c7c 18%, #7c7c7c 24%, #575757 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(18%,#7c7c7c), color-stop(24%,#7c7c7c), color-stop(100%,#575757)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #7c7c7c 18%,#7c7c7c 24%,#575757 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #7c7c7c 18%,#7c7c7c 24%,#575757 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #7c7c7c 18%,#7c7c7c 24%,#575757 100%); /* IE10+ */
background: linear-gradient(to bottom,  #7c7c7c 18%,#7c7c7c 24%,#575757 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c7c7c', endColorstr='#575757',GradientType=0 ); /* IE6-9 */



	
}
div.logo  div.logo_text.forncecedores
{
	font-size:28px;
	height:40px;
	line-height:40px;
	margin-top:25px;
}

#mainmenu.fornecedor
{
	width:965px;
	
}

#mainmenu.fornecedor ul li
{
	padding-left:4px;
	text-transform:uppercase;
}
#mainmenu.fornecedor ul .ultimo
{
	background:none;
}


div.header_content.forncecedores
{
	width:360px;
}
div.header_content div.header_top.forncecedores
{
	
	position:relative;
	padding-top:40px;
}

div.header_content div.header_top.forncecedores #fundotransparente
{
	background-color:#000;
	width:350px;
	height:50px;
	border-radius:6px;
	position:absolute;
	z-index:1;
	opacity: 0.15;
-moz-opacity: 0.15;
filter: alpha(opacity=15);
-webkit-transition: 0.5s;
transition: 0.5s;
-moz-transition: 0.5s;
	
}

div.header_content div.header_top.forncecedores #apoio 
{
	position:relative;
	line-height:25px;
	padding-left:50px;
	z-index:2;
	
	background: url(../images/apoio.png) 20px 2px no-repeat;
}
div.header_content div.header_top.forncecedores #apoio p
{
	color:#fff;
	font-family: "Droid Sans", Arial;
font-size:13px;
font-weight:bolder;

}

div.header_content div.header_top.forncecedores #apoio p .telefone
{
	color:#b7d8eb;
	font-size:20px;
	padding-left:5px;
}


#fornecedor #navcaminho
{
	float:right;
	width:auto;
}

section#fornecedor.articles_box div.title
{
	margin-top:20px;
	
}
section#fornecedor.articles_box div.title h3 span
{
	background:none;
	font-size:23px;
	color:#666;
}


.info
{
	background: #efefef  url(../images/aviso.png) 30px 20px no-repeat;
	min-height:40px;
	margin-top:20px;
	margin-bottom:20px;
	padding:25px 95px;
	position:relative;
}

.info p
{
	margin:0;
	padding:0;
	font-family: "Droid Sans", Arial;
	 font-size:15px;
}

.info .fechar
{

font-size:13px;
position:absolute;
top:5px;
right:5px;
display:block;
width:15px;
height:20px;

	background: #efefef  url(../images/fechar.png) 0px 0px no-repeat;

}

.navegacaocadastro
{
	border-bottom:1px solid #dedede;
	height:50px;
	padding-top:10px;
}

.navegacaocadastro .titulopasso
{
	margin:0;
	padding:0;
	font-size:22px;
	font-family: "Droid Sans", Arial;
	width:400px;
	text-align:right;
	
	float:left;
	color:#999;
	background:url(../images/perfil_cadastro.png) 10px 05px no-repeat;

	
}

.navegacaocadastro #passos
{
	margin:0;
	padding:0;

	float:right;
		width:485px;
	
}

.navegacaocadastro #passos li 
{
	width:125px;
	
	float:left;

	margin-left:10px;
	list-style:none;
	background:url(../images/linha_b.png) 96px 12px no-repeat;
}

.navegacaocadastro #passos li .numero
{
	display:block;
	width:15px;
	height:17px;
	padding-top:3px;
	padding-left:7px;
	background:#cccccc;
	border-radius:10px;

	color:#FFF;
	font-family: "Droid Sans", Arial;
	font-weight:bolder;
	font-size:12px;
	float:left;


}
.navegacaocadastro #passos li.ativo .numero
{
	background-color:#4facdc;
	
}
.navegacaocadastro #passos li.ativo .informacaodopasso
{
color:#2c98c9;
}
.navegacaocadastro #passos li  .informacaodopasso
{
	margin:0;
		display:block;
		font-family:  Arial;
		font-size:11px;
		padding-left:30px;
		width:55px;
		color:#CCC;
}

.navegacaocadastro #passos li.ultimo
{
	background:none;
	width:50px;
	
}

#formulariocontrole form .pergunta
{
	border-bottom:1px solid #dedede;
	width:700px;
	min-height:100px;
	overflow:auto;
	padding-top:50px;
	margin:auto;
}

#formulariocontrole form label
{
	font-family: "Droid Sans", Arial;
	font-size:12px;
	color:#999999;
}
#formulariocontrole form .titulopergunta
{
	font-family: "Droid Sans", Arial;
	font-weight:bolder;
	font-size:17px;
	color:#2c98c9;
	padding-right:20px;
	background:url(../images/arrow_b.jpg) right 12px no-repeat;
	
	
}
#formulariocontrole form  .conteudoperguntas
{
	padding-top:30px;
	padding-bottom:30px;
	overflow:auto;
}


#formulariocontrole form  #checksboxconteudo label
{
	
	width:348px;
	margin-bottom:5px;
}
#formulariocontrole form .selecte
{
	
	font-family: "Droid Sans", Arial;	
	font-size:12px;
	display:block;
	border-top:1px solid #ccc;	
	border-left:1px solid #ccc;
	border-bottom:1px solid #ccc;
	
	
	margin-top:2px;
	margin-right:-3px;
	width:49px;
	line-height:28px;
	float:left;
	border-radius:3px;
	padding-left:6px;
}

.selectorcontain 
{
	float:left;
	margin-left:50px;
}

.selectorcontain  div.selector span
{
	  width: 260px !important ;

}
.selectorcontain  div.selector
{
	 width: 285px !important ;
}

.selectorcontain div.selector select
{
	 width: 295px !important ;
}

#formulariocontrole form  .conteudoperguntas label
{
	display:block;
	width:220px;
	float:left;	

}
#formulariocontrole form .titulopergunta .numero
{
	color:#999999;
	padding-right:20px;
}

#formulariocontrole form textarea
{
	margin-top:20px;
	margin-bottom:20px;
}

#formulariocontrole form .btn_continhar
{
	
	
	font-family: "Droid Sans", Arial;
font-size: 13px;
font-weight: bolder;
text-transform: capitalize;
color: #fff;
display:block;
width:108px;
line-height:10px;
padding-left:1px;
padding-top:-5px;
height:40px;
border:none;
	
background-image:url(../images/bt_continuar.png);
background-position:top left;
background-repeat:no-repeat;

float:left;
cursor:pointer;
}

#ajuda
{
	width:690px;
	margin:auto;
	padding:10px ;
	
	border:1px solid #CCC;
}

#ajuda p
{
	margin:0;
	padding:0;
	padding-left:25px;
	font-size:12px;
		
background-image:url(../images/duvidas_btn.jpg);
background-position:top left;
background-repeat:no-repeat;
color:#999999;
font-family: "Droid Sans", Arial;
}


#ajuda p strong
{
	border-bottom:1px dotted #ccc;
		font-family: "Droid Sans", Arial;
		color:#656565;
}


/*/ 210- cadastro /*/


.rapidxwpr.cadastro { width: 715px; }
 
	.rapidxwpr.cadastro div.logo { width: 360px; }
 
div.header_content.cadastro {
	padding: 0;
	margin: 0;
	margin-top: 30px;
	margin-right: 0px; }
 
.botoes_header_cadastre_se {
	float: left;
	margin-left: 20px;
	margin-top: 18px;
	font-size: 13px;
	font-weight: bold;
	font-family: "Droid Sans", Arial;
	border: 0;
	cursor: pointer;
	width: 93px;
	text-align: center;
	height: 27px;
	line-height: 32px;
	color: #FFF;
	padding: 0 6px 5px 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border-right: solid 1px #085E8D;
	background: url(../images/arrows.png) 96% 13px no-repeat;
	background: url(../images/arrows.png) 96% 13px no-repeat, -webkit-gradient(linear, 0 0, 0 100%, from(#2d9acc), to(#026190)) 300px 50px no-repeat, -webkit-gradient(linear, 0 0, 0 100%, from(#2d9acc), to(#026190)) 0 0 no-repeat;
	background: url(../images/arrows.png) 96% 13px no-repeat, -moz-linear-gradient(#2d9acc, #026190) 300px 50px no-repeat, -moz-linear-gradient(#2d9acc, #026190) 0 0 no-repeat; }
 
.botoes_header_entre {
	float: left;
	margin-top: 18px;
	font-size: 13px;
	font-weight: bold;
	font-family: "Droid Sans", Arial;
	border: 0;
	cursor: pointer;
	width: 65px;
	height: 32px;
	line-height: 32px;
	color: #FFF;
	padding: 0 6px 5px 4;
	text-align: center;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border-left: solid 1px #4096C5;
	background: url(../images/arrows.png) 86% 13px no-repeat;
	background: url(../images/arrows.png) 86% 13px no-repeat, -webkit-gradient(linear, 0 0, 0 100%, from(#2d9acc), to(#026190)) 300px 50px no-repeat, -webkit-gradient(linear, 0 0, 0 100%, from(#2d9acc), to(#026190)) 0 0 no-repeat;
	background: url(../images/arrows.png) 86% 13px no-repeat, -moz-linear-gradient(#2d9acc, #026190) 300px 50px no-repeat, -moz-linear-gradient(#2d9acc, #026190) 0 0 no-repeat; }
 
.botoes_header_acesso_empresa {
	float: left;
	margin-left: 10px;
	margin-top: 18px;
	font-size: 13px;
	font-weight: bold;
	font-family: "Droid Sans", Arial;
	border: 0;
	cursor: pointer;
	width: 139px;
	height: 27px;
	text-align: center;
	line-height: 32px;
	color: #FFF;
	padding: 0 6px 5px 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: url(../images/arrows.png) 96% 13px no-repeat;
	background: url(../images/arrows.png) 96% 13px no-repeat, -webkit-gradient(linear, 0 0, 0 100%, from(#2d9acc), to(#026190)) 300px 50px no-repeat, -webkit-gradient(linear, 0 0, 0 100%, from(#2d9acc), to(#026190)) 0 0 no-repeat;
	background: url(../images/arrows.png) 96% 13px no-repeat, -moz-linear-gradient(#2d9acc, #026190) 300px 50px no-repeat, -moz-linear-gradient(#2d9acc, #026190) 0 0 no-repeat; }
 
#cadastrosteps {
	padding-top: 25px;
	padding-left: 30px;
	background-color: #eff4f6; }
 
	#cadastrosteps.navegacaocadastro .titulopasso {
		color: #1e8fc5;
		background: url(../images/avatar_step.png) 15px 0px no-repeat;
		letter-spacing: -1px;
		width: 340px;
		text-align: left;
		padding-left: 50px; }
 
	#cadastrosteps.navegacaocadastro #passos li {
		background: url(../images/linhasstep.png) 35px 10px no-repeat;
		width: 105px; }
 
	#cadastrosteps.navegacaocadastro #passos .ativo { background-position: 30px 10px; }
 
	#cadastrosteps.navegacaocadastro #passos {
		margin-top: 5px;
		width: 290px; }
 
		#cadastrosteps.navegacaocadastro #passos li .numero { background-color: #cedee5; }
 
		#cadastrosteps.navegacaocadastro #passos li.ativo .numero { background-color: #4facdc; }
 
		#cadastrosteps.navegacaocadastro #passos .ultimo {
			width: 40px;
			background: none; }
 
.introcastro {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	border-bottom: 1px dotted #CCC;
	padding: 10px;
	padding-top: 30px;
	height: 50px;
	width: 610px;
	margin: auto; }
 
aside#right.clearingfix.post.cad {
	margin-top: 20px;
	width: 280px; }
 
#chamada1 .introchamada,  #chamada2 .introchamada {
	margin: 0;
	padding: 0;
	width: 215px;
	height: 70px;
	color: #FFF;
	font-size: 14px;
	padding: 20px;
	font-family: Arial, Helvetica, sans-serif;
	background: none;
	background: url(../images/sprite_cadastro.png) 0px 0px no-repeat;
	z-index: 3;
	position: relative; }
 
#chamada1 ul, #chamada2 ul {
	border: 1px solid #D7E3E8;
	background-color: #eff4f6;
	z-index: 1;
	position: relative;
	margin-top: -12px;
	overflow: auto;
	width: 248px; }
 
#chamada1 ul li, #chamada2  ul li {
	border-bottom: 1px solid #D7E3E8;
	padding-left: 80px;
	padding-right: 20px;
	padding-top: 22px;
	padding-bottom:10px;
	height: 40px;
	font-size: 11px;
	color: #5f99af;
	background: url(../images/featured_tools_icons.png) 25px -90px no-repeat }
 
#chamada2 .introchamada { background: url(../images/sprite_cadastro.png) 0px -205px no-repeat; }
 
#chamada2  ul {
	border: 1px solid #E5D3C6;
	background-color: #F6F2EE; }
 
	#chamada2  ul li {
		color: #B17849;
		border-bottom: 1px solid #EEE2D9;
		background: url(../images/featured_tools_iconsbronze.png) 25px -90px no-repeat }
 
#chamada1 ul .relogio { background: url(../images/featured_tools_icons.png) 25px -190px no-repeat }
 
#chamada1 ul .cao { background: url(../images/featured_tools_icons.png) 30px 10px no-repeat }
 
#chamada2 ul .relogio { background: url(../images/featured_tools_iconsbronze.png)25px -190px no-repeat }
 
#chamada2 ul .cao { background: url(../images/featured_tools_iconsbronze.png) 25px 10px no-repeat }
 
#chamada2 { margin-top: 40px; }
 
#sessaoface {
	margin-top: 20px;
	height: 90px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px; }
 
	#sessaoface .facebooktbtn {
		width: 240px;
		height: 30px;
		display: block;
		margin: auto;
		background: url(../images/sprite_cadastro.png) 0px -401px no-repeat }
 
section#main.clearingfix.cadastrese {
	margin-left: 35px;
	width: 360px;
	min-height:1020px;
	}
 
#sessaoface p {
	color: #999;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px; }
 
.corte {
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	background: url(../images/linhas_p.gif) 0px 0px no-repeat }
 
#formulariodecadastro { margin-top: 20px; }
 
.formtext label {
	margin-bottom: 20px;
	font-family: "Droid Sans", Arial;
	color: #999999;
	padding-left:3px;
	}
 
.formtext .nome, .formtext .sobrenome, .formtext .textoentrada, .formtext .entradagrande {
	text-transform: uppercase;
	font-weight: normal;
	font-size: 12px;
	border: 1px solid #ccc;
	display: block;
	padding: 3px;
	border-radius: 3px;
	padding-right: 5px;
	height:20px;
	width: 160px;
	float: left; }
 
.formtext .sexo {  }
 
.formtext .data, .formtext .estado {
	margin-top: 20px;
	height: 30px;
	width: 353px;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 12px;
	border: 1px solid #ccc;
	display: block;
	border-radius: 3px; }
 
.formtext .estado {
	margin-top: 0;
	float: left;
	width: 140px; }
 
.formtext .data div.selector, .formtext .estado div.selector {
	width: 55px !important;
	background: none;
	text-align: center;
	color: #5DBAEB; }
 
.formtext .data div.selector span, .formtext .estado div.selector span {
	width: 40px !important;
	font-weight:bold;
	background-position: right -75px;
	color: #5DBAEB;
	font-family: "Droid Sans", Arial; }
 
.formtext .data div.selector option {  }
 
.formtext .textoentrada.continuacao { margin-left: 18px; }

.formtext .textoentrada.continuacao .text{ border:none;}
 
.formtext .nome.continuacao .text { border: none; }
 
.formtext .sobrenome, .formtext .entradagrande { width: 350px; }

.formtext .entradagrande .text{ width:195px;}
 
.formtext label span { color: #5DBAEB; }

 #complemento .text
{
	width:55px;
	border-left: 1px dotted #ccc;
}

.formtext label .linhaas
{
	padding-right:5px;
	border-right:1px dotted #ccc;
}
 
.formtext .text {
	padding:0;
	margin-top:2px;
	line-height:10px;
	border: none;
	border-left: 1px dotted #ccc;
	padding-left: 5px;
	width: 55%;
	border-radius:0;	
	
	
	 }
 
.formtext .conteudoperguntas { float:right;}
 
	.formtext .conteudoperguntas  label div.checker {
		float: left;
		height: 30px; }
 
	.formtext .conteudoperguntas  label strong { text-decoration: underline; }
 
	.formtext .conteudoperguntas label { display: block; }
 
.finalizarcadastro, .proximopasso {
	width: 140px;
	height: 30px;
	/* modo sprite
	display: block;
	margin: auto;
	background: url(../images/sprite_cadastro.png) 0px -482px no-repeat;
	*/float: left;
	
	
	display: block;	
	border:1px solid #1C8EC2;
	font-family: "Droid Sans", Arial;
	font-size:13px;
	font-weight:bold;
	color:#FFF;
	line-height:30px;
	padding-left:10px;
	border-radius:4px;
	
	

background: #73bad6; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIyJSIgc3RvcC1jb2xvcj0iIzczYmFkNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ2JSIgc3RvcC1jb2xvcj0iIzMwYTVkYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzMDgyYTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);

background: url(../images/setasbotoes.png) 95% 12px no-repeat, -moz-linear-gradient(top,  #73bad6 2%, #30a5db 46%, #0671A8 100%); /* FF3.6+ */
background: url(../images/setasbotoes.png) 95% 12px no-repeat,-webkit-gradient(linear, left top, left bottom, color-stop(2%,#73bad6), color-stop(46%,#30a5db), color-stop(100%,#0671A8)); /* Chrome,Safari4+ */
background: url(../images/setasbotoes.png) 95% 12px no-repeat,-webkit-linear-gradient(top,  #73bad6 2%,#30a5db 46%,#0671A8 100%); /* Chrome10+,Safari5.1+ */
background: url(../images/setasbotoes.png) 95% 12px no-repeat,-o-linear-gradient(top,  #73bad6 2%,#30a5db 46%,#0671A8 100%); /* Opera 11.10+ */
background: url(../images/setasbotoes.png) 95% 12px no-repeat,-ms-linear-gradient(top,  #73bad6 2%,#30a5db 46%,#0671A8 100%); /* IE10+ */
background: linear-gradient(to bottom,  #73bad6 2%,#30a5db 46%,#0671A8 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73bad6', endColorstr='#0671A8',GradientType=0 ); /* IE6-8 */

	
	
	 }
 
.proximopasso {
	/*	background: url(../images/sprite_cadastro.png) 0px -556px no-repeat;*/
	float: right;	
	width: 115px;
	border:1px solid #EB8937;



background: #fea04f; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIyJSIgc3RvcC1jb2xvcj0iI2ZlYTA0ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkYTU5MWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: url(../images/setasbotoes.png) 95% -10px no-repeat,-moz-linear-gradient(top,  #fea04f 2%, #DB5B1F 100%); /* FF3.6+ */
background: url(../images/setasbotoes.png) 95% -10px no-repeat,-webkit-gradient(linear, left top, left bottom, color-stop(2%,#fea04f), color-stop(100%,#DB5B1F)); /* Chrome,Safari4+ */
background: url(../images/setasbotoes.png) 95% -10px no-repeat,-webkit-linear-gradient(top,  #fea04f 2%,#DB5B1F 100%); /* Chrome10+,Safari5.1+ */
background: url(../images/setasbotoes.png) 95% -10px no-repeat,-o-linear-gradient(top,  #fea04f 2%,#DB5B1F 100%); /* Opera 11.10+ */
background: url(../images/setasbotoes.png) 95% -10px no-repeat,-ms-linear-gradient(top,  #fea04f 2%,#DB5B1F 100%); /* IE10+ */
background: linear-gradient(to bottom,  #fea04f 2%,#da591d 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fea04f', endColorstr='#DB5B1F',GradientType=0 ); /* IE6-8 */



	
	
	 }
 
.ajuda {
	clear: both;
	color: #999999;
	font-family: "Droid Sans", Arial;
	line-height: 35px;
	font-size: 11px; }
 
.dica
{
	font-family: "Droid Sans", Arial;
	font-size:12px;
	color:#999999;
	background: url(../images/descubra.png) 190px 4px no-repeat;
	line-height:30px;
	text-align:right;
}

.footer_bottom.escondio
{
	display:none;
	
}
footer#footer.cadastrese {
	background:#000 url(../images/footer_bg2.jpg) 0 0 repeat-x;
	height:85px;
	overflow:hidden;
	
}

footer#footer.cadastrese .rapidxwpr
{
	background:none;
	height:85px;
	width: 710px;
margin: auto;

		
}
footer#footer.cadastrese .rapidxwpr .footer_content
{
	height:85px;
	
}

footer#footer.cadastrese .rapidxwpr .footer_content .footer_links, footer#footer.cadastrese .rapidxwpr .footer_content .footer_menu .footer_logo, footer#footer.cadastrese .rapidxwpr .footer_content .footer_menu ul
{
	display:none;
}

footer#footer.cadastrese .footer_content div.footer_menu span.copyright
{
	margin-top:10px;
	margin-left:35px;
}
#minimenu
{
	margin:0;
	padding:0;
	width:680px;
padding-top: 10px;
margin-left: 35px;
height: 10px;
}
#minimenu .item, #minimenu .item .item-link
{
	display:block;
	float:left;
	
}

#minimenu .item .item-link
{
	color:#999999;
	font-family: "Droid Sans", Arial;
	padding-right:5px;
	border-right:1px #656565 solid;

	height:10px;
	line-height:10px;
	
	padding: 0px 10px;
	padding-left:0;
}

#minimenu .item  + .item .item-link 
{
	padding:0px 10px;
}

#minimenu .item  + .item + .item  + .item + .item .item-link 
{
	padding:0;
	border:none;
	padding-left:10px;
}
/*/115-add_pet/*/


aside#right.clearingfix.pet
{
	float:left;
	background:none;
	
}
aside#right.clearingfix.pet #perfil
{
	background:#1881B0;
	margin-left:20px;
}

aside#right.clearingfix.pet #perfil_menu
{
	background-color:#474747;
	margin-left:20px;
	width: 270px;
	height: 569px;
	margin-top:25px;
	
}

aside#right.clearingfix.pet #perfil_menu h1
{
	display:block;
	background:#1881B0;
	font-size:18px;
	line-height:50px;
	padding-left:45px;
	margin-bottom:10px;
	color:#A6A6A6;
	font-weight:normal;
	display:block;
	font-family: "Droid Sans", Arial;
	border-bottom:1px #A6A6A6 dotted;
	background: url(../images/perfil_menu.gif) 20px 16px no-repeat;
}

aside#right.clearingfix.pet #perfil_menu ul {
	list-style:none;
	
	float:left;
	padding:30px;
	padding-top:20px;	
}
aside#right.clearingfix.pet #perfil_menu ul li{
	display:block;
	width:100px;
	height:65px;

	float:left;


	text-align:center;

	margin-bottom:30px;
	
	
}
aside#right.clearingfix.pet #perfil_menu ul li a
{
	display:block;
		
	height:65px;	
color: #A6A6A6;
font-weight: normal;
font-size: 11px;
line-height:120px;
position:relative;
font-family:Arial, Helvetica, sans-serif;
}
aside#right.clearingfix.pet #perfil_menu ul li .icone1
{
	background: url(../images/sprite_menu.png) 60% 1px no-repeat;
}
aside#right.clearingfix.pet #perfil_menu ul li .icone2
{
	background: url(../images/sprite_menu.png) 50% -440px no-repeat;
}

aside#right.clearingfix.pet #perfil_menu ul li .icone3
{
	background: url(../images/sprite_menu.png) 50% -75px no-repeat;
}

aside#right.clearingfix.pet #perfil_menu ul li .icone4
{
	background: url(../images/sprite_menu.png) 50% -545px no-repeat;
}

aside#right.clearingfix.pet #perfil_menu ul li .icone5
{
	background: url(../images/sprite_menu.png) 50% -180px  no-repeat;
}

aside#right.clearingfix.pet #perfil_menu ul li .icone6
{
	background: url(../images/sprite_menu.png) 50% -645px no-repeat;
}
aside#right.clearingfix.pet #perfil_menu ul li .icone7
{
	background: url(../images/sprite_menu.png) 50% -270px no-repeat;
}

aside#right.clearingfix.pet #perfil_menu ul li .icone8
{
	background: url(../images/sprite_menu.png) 50% -738px no-repeat;
}
aside#right.clearingfix.pet #perfil_menu ul li .icone9
{
	background: url(../images/sprite_menu.png) 50% -358px no-repeat;
}


aside#right.clearingfix.pet #perfil_menu  ul li a span.notification {
position: absolute;
right: 20px;
top: 26px;
font-family: Arial;
font-weight: bold;
font-size: 12px;
line-height: normal;
background: #5faad4;
text-align: center;
color: #FFF;
padding: 1px 4px 1px 4px;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
}

aside#right.clearingfix.pet #perfil img
{
	float:left;
	margin:15px;
	margin-left:20px;
	margin-right:20px
	
}

aside#right.clearingfix.pet #perfil h1
{
	display:block;
	background:#1881B0;
	font-size:18px;
	line-height:50px;
	padding-left:45px;
	margin-bottom:10px;
	color:#65CBFF;
	font-weight:normal;
	display:block;
	font-family: "Droid Sans", Arial;
	border-bottom:1px #38A3D2  dotted;
	background: url(../images/perfil.gif) 20px 16px no-repeat;
}

aside#right.clearingfix.pet #perfil ul 
{
	
	list-style:none;
	margin-top:0px;
	margin-top:20px;
	
}
aside#right.clearingfix.pet #perfil ul  li.inicio
{
	color:#FFF;
	font-size:13px;
	background:none;
	font-weight:bold;
}
aside#right.clearingfix.pet #perfil ul  li
{
background: url(../images/arrow_c.png)110px 3px no-repeat;
color:#65CBFF;
font-size:11px;

font-family:Arial, Helvetica, sans-serif;
}
section#pet.articles_box div.title h3 span {
background: none;
font-size: 23px;
color: #666;
}

section#main.clearingfix.pet
{
	
width: auto;

margin: 0 0 0 330px;
width: 620px;

}

section#main.clearingfix.pet .info
{
	padding:0;
	margin:0;
	padding:25px;
	padding-right:35px;section#main.clearingfix.pet .info
	color:#656565;
	background-image:none;
	
	
}

.informacoes
{
	margin:0;
	padding:0;
	font-family: "Droid Sans", Arial;
	color:#2C97C9;
	font-size:17px;
	font-weight:bold;
	margin-bottom:20px;
	margin-top:30px;
}
#perfil
{
	width:270px;
	height:200px;
}

aside#right.clearingfix.pet #publicidade
{
	margin:0;
	padding:0;	
	
	padding: 30px;
padding-top: 20px;
}

#formulariodecastrarpet
{
	
	height:auto;
}
#formulariodecastrarpet label
{
	font-family: "Droid Sans", Arial;
color: #999999;	
}
#formulariodecastrarpet .campodeinput
{

font-family: "Droid Sans", Arial;
color: #999999;	
text-transform: uppercase;
display:block;
font-weight: normal;
font-size: 12px;
border: 1px solid #ccc;
display: block;
border-radius: 3px;
float: left;
line-height:22px;
padding:2px;
padding-left:5px;
width:98%;
	
}

#formulariodecastrarpet .campodeinput .text
{
	
border: none;
line-height:16px;
border-left: 1px  dotted #ccc;
padding-left: 5px;
width: 500px;
float:right;

}


#formulariodecastrarpet .data	 {
margin-top: 20px;
height: 30px;
width: 280px;
padding-left:5px;
text-transform: uppercase;
font-weight: normal;
font-size: 12px;
border: 1px solid #ccc;
display: block;
border-radius: 3px;
float:left;
font-family: "Droid Sans", Arial;
color:#999999;
}




/*/ mudando pocisoes */
#formulariodecastrarpet .data div.selector {
width: 42px !important;
background: none;
/*text-align: center;*/
color: #5DBAEB;

}

#formulariodecastrarpet .data div.selector span {
width: 30px !important;
background-position: right -75px;
color: #5DBAEB;
font-family: "Droid Sans", Arial;
}
#formulariodecastrarpet #idade div.selector span 
{
	width: 50px !important;
}
#formulariodecastrarpet #idade  div.selector 
{
	width: 60px !important;
}

#formulariodecastrarpet #raca, #formulariodecastrarpet #cor,  #formulariodecastrarpet #faixa
{ width:257px; margin-right:15px;}
#formulariodecastrarpet #raca div.selector span, #formulariodecastrarpet #cor div.selector span
{
	width: 170px !important;
}
#formulariodecastrarpet #faixa div.selector span   
{
	width: 115px !important;
}

 #formulariodecastrarpet #faixa  div.selector
{
	width: 140px  !important;
}
#formulariodecastrarpet #raca  div.selector, #formulariodecastrarpet #cor  div.selector 
{
	width: 180px !important;
}

#formulariodecastrarpet #porte, #formulariodecastrarpet #pelagem
{ width:170px;
}
#formulariodecastrarpet #porte div.selector span, #formulariodecastrarpet #pelagem div.selector span  
{
	width: 70px !important;
}
#formulariodecastrarpet #porte  div.selector, #formulariodecastrarpet #pelagem  div.selector 
{
	width: 90px !important;
}
#formulariodecastrarpet #pesagem
{
	width:210px !important;
	margin-top:20px;
	height:26px;
}
#formulariodecastrarpet #pesagem .text
{
	width:70px;
	
}
#formulariodecastrarpet #pesagem .sub
{
	float:right;
	color:#999999;
	font-size:14px;
	font-weight:bold;
	margin-right:5px;
	text-transform:lowercase;
	
}

.linha
{
	
	float:left;
	width:621px;
	position:relative;
}
.linha .chamada
{
	position:absolute;
	top:30px;
	color:#CCC;
	left:49%;
}
.linha #idade
{
	float:right
}


.raios
{
	font-family: "Droid Sans", Arial;

	height:30px;
	margin-top:10px;
	
	line-height:30px;
	float:left;
	width:100%;
	color:#999999;
}


.raios #sexo
{
	
	border-right:1px dotted #ccc;
	padding-right:30px; margin-right:25px;
}
#formulariodecastrarpet  label span {
color: #5DBAEB;

}
#formulariodecastrarpet label  .linhaas
{
	padding-right:5px;
	border-right:1px dotted #ccc;
}


#basicas
{
	width:605px;
	
	border-top:#CECECE 1px solid ;
	margin-top:25px;
	
}
#basicas .informacoes {
	margin-top:20px;
	width:180px;
background: url(../images/arrow_b.jpg) right 9px no-repeat;
}

#basicas #barralateral
{
	float:left;
	height:400px;
	padding-right:20px;
	width:126px;

	text-align:center;
}
#basicas #barralateral .fotopet
{
	width:126px;
	height:126px;
	border:1px solid #000;
}

#basicas #barralateral .upload  {
	
width: 120px;
height: 23px;
float: left;
display: block;
border: 1px solid #1C8EC2;
font-family: "Droid Sans", Arial;
font-size: 10px;
font-weight: bold;
color: #FFF;
line-height: 20px;
padding-left: 5px;
border-radius: 4px;
background: #73bad6;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #2A95C6 2%, #1C83B3 46%, #076997 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#2A95C6), color-stop(46%,#1C83B3), color-stop(100%,#076997));
background: -webkit-linear-gradient(top, #2A95C6 2%,#1C83B3 46%,#076997 100%);
background: -o-linear-gradient(top, #2A95C6 2%,#1C83B3 46%,#076997 100%);
background: -ms-linear-gradient(top, #2A95C6 2%,#1C83B3 46%,#076997 100%);
background: linear-gradient(to bottom, #2A95C6 2%,#1C83B3 46%,#076997 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73bad6', endColorstr='#076997',GradientType=0 );


margin-left:5px;
margin-top:7px;
cursor:pointer;
}

#basicas .raios
{
width: 350px;
margin: 0px;
height: 20px;
line-height:20px;

}
#basicas  .raios #sexo
{
	border:none;
	}
#formulariodecastrarpet #basicas .data
{
	height:16px;
	line-height:16px;
	font-size:10px;
	width:200px;
	margin:0;
	margin-top:10px;
}


#formulariodecastrarpet #basicas  .data div.selector
{
	height:15px;
	font-size:11px;
	width:115px !important;
}
#formulariodecastrarpet #basicas  .data div.selector span
{
	height:20px;
	line-height:16px;
	width:90px  !important;
	background-position: right -84px;
}

#formulariodecastrarpet #basicas .linhasdotb
{
	height:1px;
	width:450px;
	border-top:1px dotted #ccc;
	float:left;
	margin-top:20px;
	margin-bottom:20px;
}

#formulariodecastrarpet #basicas  .titulolabel
{
	width:455px;
	font-size:11px;
	color:#999999;
	display:block;
	margin-bottom:5px;
}

#formulariodecastrarpet .conteudoperguntas
{
	
	width:455px;
	float:left;
}
#formulariodecastrarpet .conteudoperguntas .checkselect
{
	display:block;
	
	min-height:20px;
	margin-bottom:10px;
	margin-top:10px;
	clear:both;
}
#formulariodecastrarpet .conteudoperguntas .checkselect label
{
	float:left;
}

#formulariodecastrarpet .conteudoperguntas .checkselect .listaselectcheck
{
	
	display:block;
	float:left;
}

#formulariodecastrarpet .conteudoperguntas .checkselect .listaselectcheck .listaselect .data
{
	width:auto !important;
}

#formulariodecastrarpet .conteudoperguntas .checkselect .listaselectcheck .listacheck
{
	margin-left:8px;
	margin-bottom:2px;
	margin-top:2px;
	clear:both;
}

#formulariodecastrarpet .conteudoperguntas .checkselect .listaselect .entradadetexto
{
	line-height: 16px;
font-size: 10px;
padding-left:5px;

}

#formulariodecastrarpet .conteudoperguntas .checkselect .listaselect .entradadetexto input
{
	border:none;
	
	height: 16px;
font-size: 11px;

}

#formulariodecastrarpet .conteudoperguntas .checkselect .listaselect
{
	border: 1px solid #ccc;
	display: block;
	border-radius: 3px;
	float:left;
	margin-left:10px;
}

#formulariodecastrarpet .conteudoperguntas .checkselect .listaselect .data
{
	border:none;

}
#formulariodecastrarpet #basicas .conteudoperguntas .checkselect   .data 
{
	float:left;
	margin:0;
	margin-left:0px;
	width:40px;
}

#formulariodecastrarpet #basicas .conteudoperguntas .checkselect   .data div.selector
{
	margin:0;
	padding:0;
	width:50px !important;
}


#formulariodecastrarpet #basicas .conteudoperguntas .checkselect   .data div.selector span
{
	margin:0;
	padding:0;
	width:50px !important;
}
#formulariodecastrarpet #basicas .conteudoperguntas .checkselect   .data .titulolista
{
	color:#999999;
	margin-right:5px;
	padding-right:5px;
	border-right:1px dotted #999999;
}
