  <div id="mws-container" class="clearfix">
        
        	<!-- Inner Container Start -->
            <div class="container">
            	<div id="mws-error-container">
                	<div id="mws-error-code">
                            <h1 style="font-size: 25px;padding-left: 77px;"><?= utf8_decode($this->message);?></h1>
                    </div>
                    
                </div>
            </div>
          
        </div>


<br />
  <?php if (isset($this->exception)): ?>

  <h3>Exception information:</h3>
  <p>
      <b>Message:</b> <?php echo $this->exception->getMessage() ?>
  </p>
<br />
  <h3>Stack trace:</h3>
  <pre><?php echo $this->exception->getTraceAsString() ?>
  </pre>
<br />
  <h3>Request Parameters:</h3>
  <pre><?php echo var_export($this->request->getParams(), true) ?>
  </pre>
  </div>
  <?php endif ?>

 
<br />
 