<table>
    <tr>
        <td>
            <div class="mws-form-cols clearfix">
                <div class="mws-form-col-8-8 alpha">
                    <label>Title: </label>
                    <div class="mws-form-item large" style="width: 730px;">
                        <input type="text" id="vc_seo_title"  name="vc_seo_title" class="mws-textinput required"  value="<?php echo $this->formulario['vc_seo_title']; ?>" />
                    </div>
                </div>
                <div class="mws-form-col-8-8 alpha">
                    <label>URL:</label>
                    <div class="mws-form-item large" style="width: 730px;">
                        <input type="text" name="vc_seo_url" id="vc_seo_url "  class="mws-textinput required" value="<?php echo $this->formulario['vc_seo_url']; ?>" />
                    </div>
                </div>

                <div class="mws-form-col-8-8 alpha">
                    <label>Keywords:</label>
                    <div class="mws-form-item large" style="width: 730px;">
                        <input type="text" name="vc_seo_keywords" id="vc_seo_keywords"  class="mws-textinput required" value="<?php echo $this->formulario['vc_seo_keywords']; ?>" />
                    </div>
                </div>

                <div class="mws-form-col-8-8 alpha">
                    <label>Description:</label>
                    <div class="mws-form-item " style="width: 730px;">
                        <textarea id="vc_seo_description" name="vc_seo_description" rows="auto" cols="auto" class="required"><?php echo $this->formulario['vc_seo_description']; ?></textarea>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>