<table>
    <tr>
        <td>
            <div class="mws-form-cols">
                <div class="mws-form-col-8-8 alpha">
                    <label>Imagem de Listagem: </label>
                    <div class="mws-form-item large" style="width: 730px;">
                        <input type="file" id="vc_imagem_lista"  name="vc_imagem_lista" class="mws-textinput"  value="<?php echo $this->formulario['vc_seo_title']; ?>" />
                    </div>
                </div>
                <div class="mws-form-col-8-8 alpha">
                    <label>Preview: </label>
                    <div class="mws-form-item large" style="width: 730px;">
                        <img src="http://cachorrogato/images/pet_img3.jpg">
                    </div>
                </div>
                <div class="mws-form-col-8-8 alpha">
                    <label>Banner Superior</label>
                    <div class="mws-form-item large" style="width: 730px;">
                        <input type="file" name="vc_seo_url" id="vc_seo_url "  class="mws-textinput" value="<?php echo $this->formulario['vc_seo_url']; ?>" />
                    </div>
                </div>
                <div class="mws-form-col-8-8 alpha">
                    <label>Preview: </label>
                    <div class="mws-form-item large" style="width: 730px;">
                        <img src="http://cachorrogato/layout/images/conteudo/slide5.png">
                    </div>
                </div>
        </td>
    </tr>
</table>