<table>
    <tr>
        <td>
            <div class = "mws-form-cols clearfix">
                <div class = "mws-form-col-8-8 alpha">
                    <label>Nome da Raca: </label>
                    <div class = "mws-form-item large">
                        <input type="text" id="vc_raca_gato" name="vc_raca_gato" class="mws-textinput required" value="<?php echo $this->formulario['vc_raca_gato']; ?>" />
                    </div>
                </div>
                <div class = "mws-form-col-8-8 alpha">
                    <label>Apelidos: </label>
                    <div class = "mws-form-item large">
                        <input type="text" id="vc_descricao" name="vc_descricao" class="mws-textinput required" value="<?php echo $this->formulario['vc_descricao']; ?>" />
                    </div>
                </div>
                <div class = "mws-form-col-8-8 alpha">
                    <label>Breve Descrição: </label>
                    <div class = "mws-form-item large">
                        <input type="text" id="vc_apelidos" name="vc_apelidos" class="mws-textinput required" value="<?php echo $this->formulario['vc_apelidos']; ?>" />
                    </div>
                </div>
                <div class = "mws-form-col-1-8 alpha">
                    <label>Altura de: </label>
                    <div class = "mws-form-item large">
                        <input type="text" id="it_altura_a" name="it_altura_a" class="mws-textinput required digits" value="<?php echo $this->formulario['it_altura_a']; ?>" />
                    </div>
                </div>
                 <div class = "mws-form-col-1-8 alpha">
                    <label>Altura Ate: </label>
                    <div class = "mws-form-item large">
                        <input type="text" id="it_altura_b" name="it_altura_b" class="mws-textinput required digits" value="<?php echo $this->formulario['it_altura_b']; ?>" />
                    </div>
                </div>
                <div class = "mws-form-col-1-8 alpha">
                    <label>Peso de: </label>
                    <div class = "mws-form-item large">
                        <input type="text" id="it_peso_a" name="it_peso_a" class="mws-textinput required digits" value="<?php echo $this->formulario['it_peso_a']; ?>" />
                    </div>
                </div>
                 <div class = "mws-form-col-1-8 alpha">
                    <label>Peso Ate: </label>
                    <div class = "mws-form-item large">
                        <input type="text" id="it_peso_b" name="it_peso_b" class="mws-textinput required digits" value="<?php echo $this->formulario['it_peso_b']; ?>" />
                    </div>
                </div>
                <div class = "mws-form-col-2-8 alpha">
                    <label>Expectativa de Vida: </label>
                    <div class = "mws-form-item large">
                        <input type="text" id="it_expectativa_vida_a" name="it_expectativa_vida_a" class="mws-textinput required digits" value="<?php echo $this->formulario['it_expectativa_vida_a']; ?>" />
                    </div>
                </div>
                 <div class = "mws-form-col-2-8 alpha">
                    <label>Expectativa Ate: </label>
                    <div class = "mws-form-item large">
                        <input type="text" id="it_expectativa_vida_b" name="it_expectativa_vida_b" class="mws-textinput required digits" value="<?php echo $this->formulario['it_expectativa_vida_b']; ?>" />
                    </div>
                </div>
                <div class = "mws-form-col-2-8 alpha">
                    <label>Cor A: </label>
                    <div class = "mws-form-item large">
                        <input type="text" id="vc_cor_a" name="vc_cor_a" class="mws-textinput required" value="<?php echo $this->formulario['vc_cor_a']; ?>" />
                    </div>
                </div>
                <div class = "mws-form-col-2-8 alpha">
                    <label>Cor B: </label>
                    <div class = "mws-form-item large">
                        <input type="text" id="vc_cor_b" name="vc_cor_b" class="mws-textinput" value="<?php echo $this->formulario['vc_cor_b']; ?>" />
                    </div>
                </div>
                <div class = "mws-form-col-2-8 alpha">
                    <label>Cor C: </label>
                    <div class = "mws-form-item large">
                        <input type="text" id="vc_cor_c" name="vc_cor_c" class="mws-textinput" value="<?php echo $this->formulario['vc_cor_c']; ?>" />
                    </div>
                </div>
                <div class = "mws-form-col-2-8 alpha">
                    <label>Cor D: </label>
                    <div class = "mws-form-item large">
                        <input type="text" id="vc_cor_d" name="vc_cor_d" class="mws-textinput" value="<?php echo $this->formulario['vc_cor_d']; ?>" />
                    </div>
                </div>
                <div class = "mws-form-col-4-8 alpha">
                    <label>Temperamento: </label>
                    <div class = "mws-form-item large">
                        <?php echo $this->formSelect('bl_temperamento', $this->formulario['bl_temperamento'], null, $this->temperamentos) ?>
                    </div>
                </div>
                 <div class = "mws-form-col-4-8 alpha">
                    <label>Relacionamento com Crianças: </label>
                    <div class = "mws-form-item large">
                        <?php echo $this->formSelect('bl_relacionamento_crianca', $this->formulario['bl_relacionamento_crianca'], null, $this->relacionamentos) ?>
                    </div>
                </div>
                <div class = "mws-form-col-4-8 alpha">
                    <label>Relacionamento com outros Gatos: </label>
                    <div class = "mws-form-item large">
                        <?php echo $this->formSelect('bl_relacionamento_gatos', $this->formulario['bl_relacionamento_gatos'], null, $this->relacionamentos) ?>
                    </div>
                </div>
                <div class = "mws-form-col-4-8 alpha">
                    <label>Espaço Necessário: </label>
                    <div class = "mws-form-item large">
                        <input type="text" id="vc_espaco_necessario" name="vc_espaco_necessario" class="mws-textinput" value="<?php echo $this->formulario['vc_espaco_necessario']; ?>" />
                    </div>
                </div>
                <div class = "mws-form-col-4-8 alpha">
                    <label>Cuidados: </label>
                    <div class = "mws-form-item large">
                        <input type="text" id="vc_cuidados" name="vc_cuidados" class="mws-textinput" value="<?php echo $this->formulario['vc_cuidados']; ?>" />
                    </div>
                </div>
                <div class = "mws-form-col-4-8 alpha">
                    <label>Alimentação: </label>
                    <div class = "mws-form-item large">
                        <input type="text" id="vc_alimentacao" name="vc_alimentacao" class="mws-textinput" value="<?php echo $this->formulario['vc_alimentacao']; ?>" />
                    </div>
                </div>
                <div class = "mws-form-col-4-8 alpha">
                    <label>Habilidades: </label>
                    <div class = "mws-form-item large">
                        <input type="text" id="vc_habilidades" name="vc_habilidades" class="mws-textinput" value="<?php echo $this->formulario['vc_habilidades']; ?>" />
                    </div>
                </div>
                <div class = "mws-form-col-4-8 alpha">
                    <label>Manutenção: </label>
                    <div class = "mws-form-item large">
                        <input type="text" id="vc_manutencao" name="vc_manutencao" class="mws-textinput" value="<?php echo $this->formulario['vc_manutencao']; ?>" />
                    </div>
                </div>
                <div class = "mws-form-col-8-8 alpha">
                    <label>Ficha Técnica:</label>
                    <div class = "mws-form-item large">
                        <textarea id = "vc_ficha_tecnica" name = "vc_ficha_tecnica" class = "" rows = "auto" cols = "auto"><?php echo $this->formulario['vc_ficha_tecnica']; ?></textarea>
                    </div>
                </div>
                <div class = "mws-form-col-8-8 alpha">
                    <label>História:</label>
                    <div class = "mws-form-item large">
                        <textarea id="vc_historia" name="vc_historia" class="" rows="auto" cols="auto"><?php echo $this->formulario['vc_historia']; ?></textarea>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>