<div id="perfil_menu">
    <h1>MINHAS FERRAMENTAS</h1>
    <ul>
        <li class="inicio"><a  href="/area-cliente/meu-pet" class="icone1" >Meu Pet</a></li>
        <li><a  class="icone2"  href="/area-cliente/mensagens" >Mensagens<span class="notification">1</span></a></li>
        <li><a class="icone3"   href="/area-cliente/meus-orcamentos">Orçamentos</a></li>
        <li><a class="icone4"   href="/area-cliente/meus-fornecedores">Fornecedores</a></li>
        <li><a class="icone5"  href="/area-cliente/notificacoes">Notificações</a></li>
        <li><a class="icone6"  href="/area-cliente/tarefas">Tarefas</a></li>
        <li><a class="icone7" href="/area-cliente/meus-favoritos">Favoritos</a></li>
        <li><a class="icone8" href="/area-cliente/convidar-amigo">Convidar amigo</a></li>
        <li><a  class="icone9"href="/area-cliente/meus-agendamentos">Agendamentos</a></li>
    </ul>
</div>