<div id="perfil">
    <h1>MEU PERFIL</h1>
    <img src="/images/dog.gif" alt=""/>
    <ul>
        <li class="inicio"><a href="/area-cliente/dashboard">André Gomes</a></li>
        <li><a href="/area-cliente/editar-perfil">Editar perfil</a></li>
        <li><a href="/area-cliente/ajustes-conta">Ajustes de conta</a></li>
        <li><a href="/area-cliente/notificacoes">Notificações</a></li>
    </ul>
</div>