<!-- main body -->
<div id="middle">
    <!-- right column -->
    <aside id="right" class="clearingfix post ">
        <?php echo $this->partial('includes/widget-publicidade.phtml') ?>
        <?php echo $this->partial('includes/widget-bloco-servicos-index.phtml') ?>
        <?php echo $this->partial('includes/widget-busca-servicos.phtml') ?>
        <?php echo $this->partial('includes/widget-dr-responde.phtml') ?>
        <?php echo $this->partial('includes/widget-redes-sociais.phtml') ?>
    </aside>
    <!-- / right column -->

    <!-- content column -->
    <section id="main" class="clearingfix">
        <?php echo $this->partial('includes/breadcrumbs.phtml', array('breadcrumb' => $this->breadcrumb)) ?>

        <section id="post" class="articles_box">
            <h1 class="titulopost"><?php echo $this->conteudo['vc_titulo']; ?></h1>
            <h2 class="subpost"><?php echo $this->conteudo['vc_subtitulo']; ?></h2>

            <div id="creditosocial" class="linhasdot">
                <p class="autor">Por <?php echo $this->conteudo['autor']['firstname'] ?> <?php echo $this->conteudo['autor']['secondname'] ?></p>
                <div id="compartilhar">
                    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
                    <script type="text/javascript">stLight.options({publisher: "7a84abb0-ebef-4473-90fa-8d52f6c530be", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
                    <a href="#" class="art_favorito">Artigo Favorito</a>
                    <div>
                        <div class="plugin_bt_like"><span class='st_fblike_hcount' displayText='Facebook Like'></span></div>
                        <span class='st_facebook_hcount' displayText='Facebook'></span>
                        <span class='st_twitter_hcount' displayText='Tweet'></span>
                        <span class='st_pinterest_hcount' displayText='Pinterest'></span>
                    </div>
                </div>

            </div>
            <?php echo $this->conteudo['conteudo']['vc_conteudo'] ?>

            <ul id="categorias">
                <li class="labelcategoria"> Categorias:</li>
                <?php 
                $total = count($this->conteudo['categoria']);
                $x= 1;
                foreach ($this->conteudo['categoria'] as $id_categoria => $array) { ?>   
                    <li <?php echo ($total == $x?'class="ultimacategoria"':'') ?>><?php echo $array['vc_categoria']; ?><?php echo ($total  == $x?'':',') ?></li>
                <?php 
                $x++;
                } ?>
            </ul>

            <ul id="tags">
                <li class="labeltag"> Tags:</li>
                <?php 
                $total = count($this->conteudo['tag']);
                $x= 1;
                foreach ($this->conteudo['tag'] as $id_tag => $array) { ?>   
                    <li <?php echo ($total == $x?'class="ultimatag"':'') ?>><?php echo $array['vc_tag']; ?><?php echo ($total  == $x?'':',') ?></li>
                <?php 
                $x++;
                } ?>
            </ul>

            <div class="linhasdot" id="prox_and">    

                <p class="ant">
                    <a href="#">    
                        <span class="ant_btn">ANTERIOR</span>
                        <span class="ant_noticia">O que devo saber sobre roupas para cães</span>
                    </a>
                </p>
                <p class="prox">
                    <a href="#" >
                        <span class="prox_btn">PROXIMO</span>
                        <span class="prox_noticia">O que devo saber sobre roupas para cães</span>
                    </a>
                </p>
            </div>
            <div class="linhasdot" id="autor">
                <p class="labelautor">SOBRE O AUTOR:</p>
                <div id="sobreautor">
                    <img src="/upload/admin/<?php echo $this->conteudo['autor']['photo'] ?>" alt="" width="60" class="fotoautor"/>
                    <h4 class="titautor"><?php echo $this->conteudo['autor']['firstname'] ?> <?php echo $this->conteudo['autor']['secondname'] ?></h4>
                    <p class="descautor"><?php echo $this->conteudo['autor']['about'] ?></p>
                </div>

            </div>
            <section id="artigosrelacionados" class="articles_box_content linhasdot">
                <div class="title">
                    <h3><span>Artigos relacionados</span></h3>
                </div>
                <?php foreach ($this->conteudo_relacionado as $conteudo) { ?>
                    <article id="artigo1" class="featured_articles">
                        <ul>
                            <li class="first">
                                <div class="image"><a href=""><img src="/images/pet_img1.jpg" alt="" /></a></div>
                                <div class="detail">
                                    <h4><a href=""><?php echo $conteudo['vc_titulo'] ?></a></h4>
                                    <p><?php echo $conteudo['vc_subtitulo'] ?></p>
                                    <a href="" class="mais">Leia mais</a>
                                </div>
                            </li>
                        </ul>
                    </article>
                <?php } ?>
            </section>
            <section id="facecomente">
                <div class="title">
                    <h3><span>Comentários</span></h3>
                </div>
                <div id="face">
                    <div id="fb-root"></div>
                    <script>(function(d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0];
                            if (d.getElementById(id))
                                return;
                            js = d.createElement(s);
                            js.id = id;
                            js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1";
                            fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));</script>
                    <div class="fb-comments" data-href="http://www.cachorrogato.com.br<?php echo $_SERVER["REQUEST_URI"] ?>" data-width="640" data-num-posts="5"></div>
                </div>
                <div id="recomende">
                    <form action="/conteudo/recomendar" method="get">
                        <label>Recomenda essa página a um amigo:</label>
                        <input type="hidden" name="id_conteudo" id="id_conteudo" value="<?php echo $this->conteudo['conteudo']['id_conteudo'] ?>">
                        <input type="text" placeholder="E-mail do seu amigo...">
                        <input type="submit" value="ENVIAR">
                        <div class="limpa"></div>
                    </form>
                </div>
            </section>
        </section>
    </section>
    <!-- / content column -->

</div>
<!-- / main body -->