<?php
/**
 * @author @acidcode
 */
$return = '/' . Zend_Controller_Front::getInstance()->getRequest()->getModuleName() . '/' .
        Zend_Controller_Front::getInstance()->getRequest()->getControllerName() . '/';

$this->jQuery()->addOnLoad("
    $('#dialog-message').dialog({
        modal: true,
        autoOpen: true,
        resizable: false,
        open: function(event, ui) { 
            setTimeout(cls,9000)
            function cls(){ $( '#dialog-message' ).dialog('close'); }
        },
        buttons: {
            'OK': function() {
                location.href='$return';
            },
            'VOLTAR': function() {
                $(this).dialog('close');
            }
        }
    });
");
?>
<div id="dialog-message" title="SourceNET CMS">
    <p style="padding:5px; margin:0px">
        <span class="ui-icon ui-icon-check" style="float:left; margin:0 7px 50px 0;"></span>
        Comando executado com Sucesso!
    </p>
</div>