<?php $this->headLink()->appendStylesheet('/css/paginacao.css'); ?>
<center>
<div id="pg">
<?php if (isset($this->previous)): ?>
      <a href="<?php echo  $this->url(array('pagina' => $this->first)); ?>">&laquo; Início</a>
<?php else: ?>
        <span class="disabled">&laquo; Início</span>
<?php endif; ?>
<?php if (isset($this->previous)): ?>
      <a href="<?php echo  $this->url(array('pagina' => $this->previous)); ?>">&lt; Anterior</a>
<?php else: ?>
    <span class="disabled">&lt; Anterior</span>
<?php endif; ?>
<?php foreach ($this->pagesInRange as $page): ?>
    <?php if ($page != $this->current): ?>
        <a href="<?php echo  $this->url(array('pagina' => $page)); ?>"><?php echo  $page; ?></a>
    <?php else: ?>
        <a class="current" href="<?php echo  $this->url(array('pagina' => $page)); ?>"><?php echo  $page; ?></a>
    <?php endif; ?>
<?php endforeach; ?>
<?php if (isset($this->next)): ?>
      <a href="<?php echo  $this->url(array('pagina' => $this->next)); ?>">Próxima &gt;</a>
<?php else: ?>
    <span class="disabled">Próxima &gt;</span>
<?php endif; ?>
<?php if (isset($this->next)): ?>
      <a href="<?php echo  $this->url(array('pagina' => $this->last)); ?>">Última &raquo;</a>
<?php else: ?>
    <span class="disabled">Última &raquo;</span>
<?php endif; ?></td>
</div>
</center>