<ul id="navcaminho">
    <?php foreach ($this->breadcrumb as $breadcrumb) : ?>
        <li class="<?php echo $breadcrumb['class'] ?>"><a href="<?php echo $breadcrumb['link'] ?>"><?php echo $breadcrumb['legenda'] ?></a></li>
    <?php endforeach; ?>
</ul>