<li>
    <div class="image"><a href="/conteudo"><img src="/images/services_thumb1.jpg" alt=""></a> <a href="" class="caption">ALIMENTAÇÃO</a></div>
    <div class="detail">
        <h4><a href="/conteudo">Cia dos Bichos</a></h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        <a href="" class="mais">Leia mais</a>
    </div>
</li>