<div class="ask_sidebox">
    <h3 class="title">Dr. Responde <span>Pergunte ao VETERINÁRIO:</span></h3>
    <ul>
        <li>
            <p class="pergunta">Quisque scelerisque pulvinar vestib ulum. Curabitur quis ipsum convallis urna vestibulum vel in nisl?</p>
            <p>André Gomes, dono de um cachorro Sem Raça Refinida</p>
            <a href="" class="veja">veja a resposta</a>
        </li>
    </ul>
    <a href="/dr-responde" class="veja_todas">VEJA TODAS AS PERGUNTAS</a>
</div>