<div class="social_sidebox">
    <h3 class="title"><span>redes sociais</span></h3>
    <ul>
        <li><a href="" class="facebook">facebook</a></li>
        <li><a href="" class="twitter">twitter</a></li>
        <li><a href="" class="pinterest">PINTEREST</a></li>
        <li><a href="" class="youtube">youtube</a></li>
        <li><a href="" class="google">google</a></li>
        <li><a href="" class="insta">INSTA</a></li>
    </ul>
</div>