<div class="services_box">
    <h3 class="title"><span>SERVIÇOS</span></h3>
    <ul>
        <li>
            <div class="image"><a href=""><img src="/images/services_thumb1.jpg" alt="" /></a> <a href="" class="caption">ALIMENTAÇÃO</a></div>
            <div class="detail">
                <h4><a href="">Cia dos Bichos</a></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                <a href="" class="mais">Leia mais</a>
            </div>
        </li>
    </ul>
</div>