<div class="search_sidebox">
    <h3>TUDO PARA SEU PET:</h3>
    <form action="/servicos/busca" method="POST">
        <ul>
            <li><select><option>Brasil</option></select></li>
            <li><input name="" type="submit" value="IR" class="submit"></li>
        </ul>
    </form>
</div>