<article class="services_box_content">
    <ul>
        <li class="first">
            <div class="image"><a href=""><img src="/images/services_img1.jpg" alt=""></a> <a href="" class="caption">SALÃO DE BELEZA</a></div>
            <div class="detail">
                <h4>Pet Society</h4>
                <span class="link"><a href="">São Paulo</a> &gt; <a href="">São Paulo</a></span>
                <p>Lorem ipsum dolor sit amet, consec tetur adicing elit, sed do eiusm tempor inci didunt ut labore et dolore magna aliqua. Lorem ipsum dolor</p>
                <a href="" class="mais">Leia mais</a>
            </div>
        </li>
    </ul>
</article>