<div class="services_box racas">
    <h3 class="title"><span>CRIADORES</span></h3>
    <ul>
        <li>
            <div class="image"><a href=""><img src="/images/conteudo/tumbpit.jpg" alt=""></a> </div>
            <div class="detail">
                <h4><a href="">Pitbull</a></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                <a href="" class="mais">Leia mais</a> </div>
        </li>

    </ul>
</div>