<?php
$this->jQuery()->addJavascriptFile('/js/jquery.uniform.js')
        ->addStylesheet('/css/formularios.css');
$this->jQuery()->addOnLoad('
    $("input:text, input:radio, input:password, input:file, input:checkbox, textarea, select").uniform()    
');
?>


<!-- main body -->
<div id="middle" class="cadpet">
    <section id="fornecedor" class="articles_box">
        <?php echo $this->partial('includes/breadcrumbs.phtml', array('breadcrumb' => $this->breadcrumb)) ?>
        <div class="title">
            <h3><span> CADASTRAR PET</span></h3>
        </div>
    </section>

    <!-- right column -->
    <aside id="right" class="clearingfix pet ">
        <?php echo $this->partial('area-cliente/includes/meu-perfil.phtml') ?>
        <?php echo $this->partial('area-cliente/includes/menu-perfil.phtml') ?>
        <?php echo $this->partial('area-cliente/includes/publicidade.phtml') ?>


    </aside>
    <!-- / right column --> 

    <!-- content column -->
    <section id="main" class="clearingfix pet">
        <div class="info">
            <p><strong>Agora o seu pet tem RG! </strong>Preencha abaixo as informações do seu pet para aproveitar todas as vantagens exclusivas. As informações técnicas serão confirmadas durante o primeiro atendimento realizado por um profissional veterinário e serão armazenadas no prontuário online do seu animalzinho. </p>
        </div>
        <form method="GET" action="?" id="formulariodecastrarpet">
            <p class="informacoes">Informações básicas</p>
            <fieldset>
                <label class="campodeinput" id="nomedopet"> NOME DO PET <span>*</span>
                    <input type="text" name="text" class="text">
                </label>
                <div class="raios">
                    <label id="sexo"> SEXO
                        <input type="radio" name="radio"  />
                        Masculino
                        <input type="radio" name="radio"  />
                        Feminino </label>
                    <label id="pet"> PET
                        <input type="radio" name="radio"  />
                        Cachorro
                        <input type="radio" name="radio"  />
                        Gato</label>
                </div>
                <div class="linha">
                    <label class="data">Nascimento <span class="linhaas">*</span>
                        <select>
                            <option value="google"> 1</option>
                            <option value="google">Through Google</option>
                            <option value="twitter">Through Twitter</option>
                            <option value="other">Other…</option>
                            <option value="hi">&lt;Hi&gt;</option>
                            <option value="hi">&lt;Hi&gt;</option>
                            <option value="hi">&lt;Hi&gt;</option>
                            <option value="hi">&lt;Hi&gt;</option>
                        </select>
                        <select>
                            <option value="google"> 01</option>
                            <option value="google">Through Google</option>
                            <option value="twitter">Through Twitter</option>
                            <option value="other">Other…</option>
                            <option value="hi">&lt;Hi&gt;</option>
                            <option value="hi">&lt;Hi&gt;</option>
                            <option value="hi">&lt;Hi&gt;</option>
                            <option value="hi">&lt;Hi&gt;</option>
                        </select>
                        <select>
                            <option value="google"> 1999</option>
                            <option value="google">Through Google</option>
                            <option value="twitter">Through Twitter</option>
                            <option value="other">Other…</option>
                            <option value="hi">&lt;Hi&gt;</option>
                            <option value="hi">&lt;Hi&gt;</option>
                            <option value="hi">&lt;Hi&gt;</option>
                            <option value="hi">&lt;Hi&gt;</option>
                        </select>
                    </label>
                    <span class="chamada">OU</span>
                    <label id="idade" class="data"> IDADE APROX. <span class="linhaas" >*</span>
                        <select>
                            <option value="google"> 01</option>
                            <option value="google">02</option>
                            <option value="twitter">03</option>
                            <option value="other">Other…</option>
                            <option value="hi">&lt;Hi&gt;</option>
                            <option value="hi">&lt;Hi&gt;</option>
                            <option value="hi">&lt;Hi&gt;</option>
                            <option value="hi">&lt;Hi&gt;</option>
                        </select>
                        <select>
                            <option value="google">Janeiro</option>
                            <option value="google">Fevereiro</option>
                            <option value="twitter">Abril</option>
                            <option value="other">Other…</option>
                            <option value="hi">&lt;Hi&gt;</option>
                            <option value="hi">&lt;Hi&gt;</option>
                            <option value="hi">&lt;Hi&gt;</option>
                            <option value="hi">&lt;Hi&gt;</option>
                        </select>
                    </label>
                </div>
                <label class="data" id="raca"> RAÇA<span class="linhaas"> *</span>
                    <select>
                        <option value="google"> Parson Russell Terrier</option>
                        <option value="google">Through Google</option>
                        <option value="twitter">Through Twitter</option>
                        <option value="other">Other…</option>
                        <option value="hi">&lt;Hi&gt;</option>
                        <option value="hi">&lt;Hi&gt;</option>
                        <option value="hi">&lt;Hi&gt;</option>
                        <option value="hi">&lt;Hi&gt;</option>
                    </select>
                </label>
                <label class="data" id="porte"> PORTE <span class="linhaas" >*</span>
                    <select>
                        <option value="google"> Pequeno</option>
                        <option value="google">Through Google</option>
                        <option value="twitter">Through Twitter</option>
                        <option value="other">Other…</option>
                        <option value="hi">&lt;Hi&gt;</option>
                        <option value="hi">&lt;Hi&gt;</option>
                        <option value="hi">&lt;Hi&gt;</option>
                        <option value="hi">&lt;Hi&gt;</option>
                    </select>
                </label>
                <label class="data" id="cor"> COR<span class="linhaas" >*</span>
                    <select>
                        <option value="google"> Vermelho Sanguinário</option>
                        <option value="google">Through Google</option>
                        <option value="twitter">Through Twitter</option>
                        <option value="other">Other…</option>
                        <option value="hi">&lt;Hi&gt;</option>
                        <option value="hi">&lt;Hi&gt;</option>
                        <option value="hi">&lt;Hi&gt;</option>
                        <option value="hi">&lt;Hi&gt;</option>
                    </select>
                </label>
                <label class="data" id="pelagem"> PELAGEM<span class="linhaas" >*</span>
                    <select>
                        <option value="google"> Longo</option>
                        <option value="google">Through Google</option>
                        <option value="twitter">Through Twitter</option>
                        <option value="other">Other…</option>
                        <option value="hi">&lt;Hi&gt;</option>
                        <option value="hi">&lt;Hi&gt;</option>
                        <option value="hi">&lt;Hi&gt;</option>
                        <option value="hi">&lt;Hi&gt;</option>
                    </select>
                </label>
                <label class="data" id="faixa"> FAIXA DE PESO<span class="linhaas" >*</span>
                    <select>
                        <option value="google">Longo</option>
                        <option value="google">Through Google</option>
                        <option value="twitter">Through Twitter</option>
                        <option value="other">Other…</option>
                        <option value="hi">&lt;Hi&gt;</option>
                        <option value="hi">&lt;Hi&gt;</option>
                        <option value="hi">&lt;Hi&gt;</option>
                        <option value="hi">&lt;Hi&gt;</option>
                    </select>
                </label>
                <label class="campodeinput" id="pesagem"> ÚLTIMA PESAGEM <span class="sub">kg</span>
                    <input type="text" name="text" class="text">
                </label>
                <div class="raios">
                    <label id="sexo"> CASTRADO:
                        <input type="radio" name="radio"  />
                        Sim
                        <input type="radio" name="radio"  />
                        Não </label>
                    <label id="pet"> PRETENDE CRUZAR:
                        <input type="radio" name="radio"  />
                        Sim
                        <input type="radio" name="radio"  />
                        Não </label>
                </div>
            </fieldset>
            <fieldset id="basicas" >
                <p class="informacoes" >Informações opcionais</p>
                <div id="barralateral">
                    <div class="fotopet">
                        <img class="logo" src="images/perfil_pet.jpg" alt="" />
                    </div>
                    <input class="upload " type="button" value="ADICIONAR FOTO">
                </div>
                <div class="raios">
                    <label id="sexo"> PRETENDE CRUZAR:
                        <input type="radio" name="radio"  />
                        Sim
                        <input type="radio" name="radio"  />
                        Não </label>
                </div>
                <label class="data" id="faixa"> FAIXA DE PESO<span class="linhaas" ></span>
                    <select>
                        <option value="google">0 a 24 meses</option>
                        <option value="google">0 a 24 meses</option>
                        <option value="twitter">Through Twitter</option>
                        <option value="other">Other…</option>
                        <option value="hi">&lt;Hi&gt;</option>
                        <option value="hi">&lt;Hi&gt;</option>
                        <option value="hi">&lt;Hi&gt;</option>
                        <option value="hi">&lt;Hi&gt;</option>
                    </select>
                </label>
                <div class="linhasdotb"></div>
                <div class="conteudoperguntas" >
                    <label class="titulolabel">VACINAS TOMADAS NO ÚLTIMO ANO:</label>
                    <div class="checkselect">
                        <label>
                            <input type="checkbox" id="contactBack" />
                            V8 com V10 </label>
                        <label class="listaselect">
                            <label class="data" >
                                <select>
                                    <option value="google">01</option>
                                    <option value="google">01</option>
                                    <option value="twitter">Through Twitter</option>
                                    <option value="other">Other…</option>
                                    <option value="hi">&lt;Hi&gt;</option>
                                    <option value="hi">&lt;Hi&gt;</option>
                                    <option value="hi">&lt;Hi&gt;</option>
                                    <option value="hi">&lt;Hi&gt;</option>
                                </select>
                            </label>
                            <label class="data" >
                                <select>
                                    <option value="google">24 </option>
                                    <option value="google">0 a 24 meses</option>
                                    <option value="twitter">Through Twitter</option>
                                    <option value="other">Other…</option>
                                    <option value="hi">&lt;Hi&gt;</option>
                                    <option value="hi">&lt;Hi&gt;</option>
                                    <option value="hi">&lt;Hi&gt;</option>
                                    <option value="hi">&lt;Hi&gt;</option>
                                </select>
                            </label>
                            <label class="data">
                                <select>
                                    <option value="google">1111</option>
                                    <option value="google">0 a 24 meses</option>
                                    <option value="twitter">Through Twitter</option>
                                    <option value="other">Other…</option>
                                    <option value="hi">&lt;Hi&gt;</option>
                                    <option value="hi">&lt;Hi&gt;</option>
                                    <option value="hi">&lt;Hi&gt;</option>
                                    <option value="hi">&lt;Hi&gt;</option>
                                </select>
                            </label>
                        </label>
                    </div>
                    <div class="checkselect">
                        <label>
                            <input type="checkbox" id="contactBack" />
                            Gripe </label>
                        <label class="listaselect">
                            <label class="data" >
                                <select>
                                    <option value="google">01</option>
                                    <option value="google">01</option>
                                    <option value="twitter">Through Twitter</option>
                                    <option value="other">Other…</option>
                                    <option value="hi">&lt;Hi&gt;</option>
                                    <option value="hi">&lt;Hi&gt;</option>
                                    <option value="hi">&lt;Hi&gt;</option>
                                    <option value="hi">&lt;Hi&gt;</option>
                                </select>
                            </label>
                            <label class="data" >
                                <select>
                                    <option value="google">24 </option>
                                    <option value="google">0 a 24 meses</option>
                                    <option value="twitter">Through Twitter</option>
                                    <option value="other">Other…</option>
                                    <option value="hi">&lt;Hi&gt;</option>
                                    <option value="hi">&lt;Hi&gt;</option>
                                    <option value="hi">&lt;Hi&gt;</option>
                                    <option value="hi">&lt;Hi&gt;</option>
                                </select>
                            </label>
                            <label class="data">
                                <select>
                                    <option value="google">1111</option>
                                    <option value="google">0 a 24 meses</option>
                                    <option value="twitter">Through Twitter</option>
                                    <option value="other">Other…</option>
                                    <option value="hi">&lt;Hi&gt;</option>
                                    <option value="hi">&lt;Hi&gt;</option>
                                    <option value="hi">&lt;Hi&gt;</option>
                                    <option value="hi">&lt;Hi&gt;</option>
                                </select>
                            </label>
                        </label>
                    </div>
                    <div class="checkselect">
                        <label>
                            <input type="checkbox" id="contactBack" />
                            Giardia </label>
                        <label class="listaselect">
                            <label class="data" >
                                <select>
                                    <option value="google">01</option>
                                    <option value="google">01</option>
                                    <option value="twitter">Through Twitter</option>
                                    <option value="other">Other…</option>
                                    <option value="hi">&lt;Hi&gt;</option>
                                    <option value="hi">&lt;Hi&gt;</option>
                                    <option value="hi">&lt;Hi&gt;</option>
                                    <option value="hi">&lt;Hi&gt;</option>
                                </select>
                            </label>
                            <label class="data" >
                                <select>
                                    <option value="google">24 </option>
                                    <option value="google">0 a 24 meses</option>
                                    <option value="twitter">Through Twitter</option>
                                    <option value="other">Other…</option>
                                    <option value="hi">&lt;Hi&gt;</option>
                                    <option value="hi">&lt;Hi&gt;</option>
                                    <option value="hi">&lt;Hi&gt;</option>
                                    <option value="hi">&lt;Hi&gt;</option>
                                </select>
                            </label>
                            <label class="data">
                                <select>
                                    <option value="google">1111</option>
                                    <option value="google">0 a 24 meses</option>
                                    <option value="twitter">Through Twitter</option>
                                    <option value="other">Other…</option>
                                    <option value="hi">&lt;Hi&gt;</option>
                                    <option value="hi">&lt;Hi&gt;</option>
                                    <option value="hi">&lt;Hi&gt;</option>
                                    <option value="hi">&lt;Hi&gt;</option>
                                </select>
                            </label>
                        </label>
                    </div>
                    <div class="checkselect">
                        <label>
                            <input type="checkbox" id="contactBack" />
                            Antirábica </label>
                        <label class="listaselect">
                            <label class="data" >
                                <select>
                                    <option value="google">01</option>
                                    <option value="google">01</option>
                                    <option value="twitter">Through Twitter</option>
                                    <option value="other">Other…</option>
                                    <option value="hi">&lt;Hi&gt;</option>
                                    <option value="hi">&lt;Hi&gt;</option>
                                    <option value="hi">&lt;Hi&gt;</option>
                                    <option value="hi">&lt;Hi&gt;</option>
                                </select>
                            </label>
                            <label class="data" >
                                <select>
                                    <option value="google">24 </option>
                                    <option value="google">0 a 24 meses</option>
                                    <option value="twitter">Through Twitter</option>
                                    <option value="other">Other…</option>
                                    <option value="hi">&lt;Hi&gt;</option>
                                    <option value="hi">&lt;Hi&gt;</option>
                                    <option value="hi">&lt;Hi&gt;</option>
                                    <option value="hi">&lt;Hi&gt;</option>
                                </select>
                            </label>
                            <label class="data">
                                <select>
                                    <option value="google">1111</option>
                                    <option value="google">0 a 24 meses</option>
                                    <option value="twitter">Through Twitter</option>
                                    <option value="other">Other…</option>
                                    <option value="hi">&lt;Hi&gt;</option>
                                    <option value="hi">&lt;Hi&gt;</option>
                                    <option value="hi">&lt;Hi&gt;</option>
                                    <option value="hi">&lt;Hi&gt;</option>
                                </select>
                            </label>
                        </label>
                    </div>
                </div>
                <div class="linhasdotb"></div>
                <div class="conteudoperguntas" >
                    <label class="titulolabel">ATIVIDADES:</label>


                    <!-- SELECT+CHECK CAIXA-->  
                    <div class="checkselect">
                        <label>
                            <input type="checkbox" id="contactBack" />
                            Banho fora de casa 
                        </label>

                        <!-- LISTA DE SELECT+CHECK --->            
                        <div class="listaselectcheck">
                            <label class="listaselect">
                                <label class="entradadetexto"> ONDE? <span class="linhaas">&nbsp;</span>
                                    <input type="text" name="text" class="text">
                                </label>
                            </label>

                            <label class="listacheck">
                                <input type="checkbox" id="contactBack" />
                                Banho terapêutico0                    
                            </label>

                            <label class="listacheck">
                                <input type="checkbox" id="contactBack" />
                                Hidratação
                            </label>
                        </div>

                        <!-- FIM LISTA DE SELECT+CHECK --->   

                    </div>
                    <!--  FIM SELECT+CHECK CAIXA-->  




                    <div class="checkselect">
                        <label>
                            <input type="checkbox" id="contactBack" />
                            Utiliza serviço de "leva e traz" em pet shops
                        </label>

                        </label>
                    </div>
                    <div class="checkselect">
                        <label>
                            <input type="checkbox" id="contactBack" />
                            Frequenta DaySpa

                        </label>

                        <div class="listaselectcheck">
                            <label class="listaselect">
                                <label class="entradadetexto"> QUAL? <span class="linhaas">&nbsp;</span>
                                    <input type="text" name="text" class="text">
                                </label>
                            </label>
                        </div>
                    </div>


                    <div class="checkselect">
                        <label>
                            <input type="checkbox" id="contactBack" />
                            Consulta regular ao veterinário


                        </label>

                        <div class="listaselectcheck">
                            <label class="listaselect">
                                <label class="entradadetexto"> QUAL? <span class="linhaas">&nbsp;</span>
                                    <input type="text" name="text" class="text">
                                </label>
                            </label>
                        </div>
                    </div>

                    <div class="checkselect">
                        <label>
                            <input type="checkbox" id="contactBack" />
                            Frequenta DayCare                       
                        </label>
                        <div class="listaselectcheck">
                            <label class="listaselect">
                                <label class="entradadetexto"> QUAL? <span class="linhaas">&nbsp;</span>
                                    <input type="text" name="text" class="text">
                                </label>
                            </label>
                        </div>
                    </div>

                    <div class="checkselect">
                        <label>
                            <input type="checkbox" id="contactBack" />
                            Pratica Agility                   
                        </label>
                        <div class="listaselectcheck">
                            <label class="listaselect">
                                <label class="entradadetexto"> QUAL? <span class="linhaas">&nbsp;</span>
                                    <input type="text" name="text" class="text">
                                </label>
                            </label>
                        </div>
                    </div>

                    <div class="checkselect">
                        <label>
                            <input type="checkbox" id="contactBack" />
                            Adestramento profissional                 
                        </label>
                        <div class="listaselectcheck">
                            <label class="listaselect">
                                <label class="entradadetexto"> COM QUEM? <span class="linhaas">&nbsp;</span>
                                    <input type="text" name="text" class="text">
                                </label>
                            </label>
                        </div>
                    </div>


                    <div class="checkselect">
                        <label>
                            <input type="checkbox" id="contactBack" />
                            Viaja comigo para hotéis              
                        </label>
                        <div class="listaselectcheck">
                            <label class="listaselect">
                                <label class="entradadetexto"> QUAL? <span class="linhaas">&nbsp;</span>
                                    <input type="text" name="text" class="text">
                                </label>
                            </label>
                        </div>
                    </div>


                    <div class="checkselect">
                        <label>
                            <input type="checkbox" id="contactBack" />
                            Fica em hotéis para pets          
                        </label>
                        <div class="listaselectcheck">
                            <label class="listaselect">
                                <label class="entradadetexto"> QUAL? <span class="linhaas">&nbsp;</span>
                                    <input type="text" name="text" class="text">
                                </label>
                            </label>
                        </div>
                    </div>



                    <div class="checkselect">
                        <label>
                            <input type="checkbox" id="contactBack" />
                            Passeia com DogWalke      
                        </label>
                        <div class="listaselectcheck">
                            <label class="listaselect">
                                <label class="entradadetexto"> QUAL? <span class="linhaas">&nbsp;</span>
                                    <input type="text" name="text" class="text">
                                </label>
                            </label>
                        </div>
                    </div>



                    <div class="checkselect">
                        <label>
                            <input type="checkbox" id="contactBack" />
                            Tem book de fotos profissional    
                        </label>
                        <div class="listaselectcheck">
                            <label class="listaselect">
                                <label class="entradadetexto"> QUAL? <span class="linhaas">&nbsp;</span>
                                    <input type="text" name="text" class="text">
                                </label>
                            </label>
                        </div>
                    </div>



                    <div class="checkselect">
                        <label>
                            <input type="checkbox" id="contactBack" />
                            Faz parte do casting de agência   
                        </label>
                        <div class="listaselectcheck">
                            <label class="listaselect">
                                <label class="entradadetexto"> QUAL? <span class="linhaas">&nbsp;</span>
                                    <input type="text" name="text" class="text">
                                </label>
                            </label>
                        </div>
                    </div>
                    <div class="checkselect">
                        <label>
                            <input type="checkbox" id="contactBack" />
                            Usa assessórios especiais
                        </label>
                        <div class="listaselectcheck">
                            <label class="listaselect">
                                <label class="entradadetexto"> QUAL? <span class="linhaas">&nbsp;</span>
                                    <input type="text" name="text" class="text">
                                </label>
                            </label>
                        </div>
                    </div>


                    <div class="checkselect">
                        <label>
                            <input type="checkbox" id="contactBack" />
                            Usa roupinhas
                        </label>
                        <div class="listaselectcheck">
                            <label class="listaselect">
                                <label class="entradadetexto"> QUAL? <span class="linhaas">&nbsp;</span>
                                    <input type="text" name="text" class="text">
                                </label>
                            </label>
                        </div>
                    </div>


                    <div class="linhasdotb"></div>
                </div>
            </fieldset>


            <fieldset id="complementar">
                <label class="data" id="racao"> ALIMENTA-SE DE ALGUMA RAÇÃO?<span class="linhaas">&nbsp;</span>
                    <select>
                        <option value="google"> Sim</option>
                        <option value="google">Nao</option>

                    </select>
                </label>


                <label class="campodeinput qual"> QUAL?<span>&nbsp;</span>
                    <input type="text" name="text" class="text">
                </label>



                <label class="data" id="conheceu"> COMO CONHECEU SEU PET?<span class="linhaas">&nbsp;</span>
                    <select>
                        <option value="google">Procurei um criador</option>
                        <option value="google">Nao</option>

                    </select>
                </label>

                <label class="campodeinput qual" > ONDE?<span>&nbsp;</span>
                    <input type="text" name="text" class="text">
                </label>


                <input  class="bt_cad" type="submit" value="Cadastrar meu pet">


                <p class="ajuda">* Campos obrigatórios</p>


            </fieldset> 



        </form>
    </section>
    <!-- / content column --> 

</div>
<!-- / main body --> 
