<link rel="stylesheet" href="/css/formularios.css" type="text/css" media="screen">
<link rel="stylesheet" href="/css/empresa.css" type="text/css" media="screen">
<link rel="stylesheet" href="/css/area-cliente.css" type="text/css" media="screen">
<!-- main body -->
<div id="middle" class="cadpet">
    <section id="fornecedor" class="articles_box">
        <?php echo $this->partial('includes/breadcrumbs.phtml', array('breadcrumb' => $this->breadcrumb)) ?>
        <div class="titulo_pagina">
            <h1><span> EDITAR PERFIL</span></h1>
        </div>
    </section>

    <!-- right column -->
    <aside id="right" class="clearingfix pet ">
        <?php echo $this->partial('area-cliente/includes/meu-perfil.phtml') ?>
        <?php echo $this->partial('area-cliente/includes/menu-perfil.phtml') ?>
        <?php echo $this->partial('area-cliente/includes/publicidade.phtml') ?>
    </aside>
    <!-- / right column --> 
    <!-- content column -->
    <section id="main" class="clearingfix pet">
        <div id="tabs-editar-usuario">
            <ul id="navegacao-tab">
                <li class="itens"><span class="sombra-esquerda"></span><a href="#tab-editar-usuario">Editar usuário</a><span class="sombra-direira"></span></li>
                <li class="itens"><span class="sombra-esquerda"></span><a href="#tab-ajustes">Ajustes na conta</a><span class="sombra-direira"></span></li>
                <li class="itens"><span class="sombra-esquerda"></span><a href="#tab-notificacoes">Notificações</a><span class="sombra-direira"></span></li>
            </ul>
            <div id="tab-editar-usuario">
                <div class="imagem-usuario">
                    <img src="/images/padrao-usuario.jpg" alt="Nome do Usuário" />
                    <a href="#">Modificar foto</a>
                </div>
                <form>
                    <div class="formtext">
                        <label class="sobrenome" for="vc_nome" id="label_vc_nome">
                            Nome <span>*</span>
                            <?php echo $this->formText('vc_nome', $this->me['vc_nome'], array('maxlength' => 100)); ?> 
                        </label>

                        <label class="sobrenome" for="vc_sobrenome" id="label_vc_sobrenome">
                            Sobrenome <span>*</span>
                            <?php echo $this->formText('vc_sobrenome', $this->me['vc_sobrenome'], array('maxlength' => 255)); ?>
                        </label>

                        <label class="sexo" for="bl_sexo" id="label_bl_sexo">
                            SEXO <span>*</span>
                            <?php echo $this->formRadio('bl_sexo', 'masculino', array('onclick' => 'blSexoValue();'), array('masculino' => "Masculino", 'feminino' => "Feminino"), ''); ?> 
                            <?php echo $this->formHidden('bl_sexo_value', 'masculino', array('')); ?>
                        </label>
                        <label class="data" id="label_dt_nascimento"> Data de nascimento <span class="linhaas">*</span>
                            <?php echo $this->formSelect('dt_nascimento[dia]', null, null, $this->dataNascimento['dia']); ?>
                            <?php echo $this->formSelect('dt_nascimento[mes]', null, null, $this->dataNascimento['mes']); ?>
                            <?php echo $this->formSelect('dt_nascimento[ano]', null, null, $this->dataNascimento['ano']); ?>
                        </label>

                        <label class="textoentrada" for="it_cep" id="label_it_cep">
                            CEP <span>*</span>
                            <?php echo $this->formText('it_cep', $this->me[''], array('maxlength' => 9, 'onblur' => 'buscarEnderecoPorCep();')) ?>
                        </label>

                        <a class="dica">Não sabe o cep? Descubra</a>

                        <label class="entradagrande" for="vc_endereco" id="label_vc_endereco">
                            Endereço <span>*</span>
                            <?php echo $this->formText('vc_endereco', $this->me[''], array('maxlength' => 100)); ?>
                        </label>

                        <label class="textoentrada numero" for="vc_numero" id="label_vc_numero">
                            NÚMERO <span>*</span>
                            <?php echo $this->formText('vc_numero', $this->me[''], array('maxlength' => 10)); ?>
                        </label>

                        <label id="complemento" class="textoentrada continuacao complemento"  for="vc_complemento" id="label_vc_complemento">
                            COMPL.
                            <?php echo $this->formText('vc_complemento', $this->me[''], array('maxlength' => 45)); ?>
                        </label>

                        <label class="entradagrande"  for="vc_cidade" id="label_vc_cidade">
                            CIDADE  <span>*</span>
                            <?php echo $this->formText('vc_cidade', $this->me[''], array('maxlength' => 100)); ?>
                        </label>

                        <label class="estado" for="vc_estado" id="label_vc_estado"> Estado <span class="linhaas" >*</span>
                            <?php echo $this->formSelect('vc_estado', null, null, $this->UF()); ?> 
                        </label>

                        <label class="entradagrande" for="vc_bairro" id="label_vc_bairro" > Bairro
                            <?php echo $this->formText('vc_bairro', $this->me[''], array('maxlength' => 100)); ?>
                        </label>

                        <label class="entradagrande" for="vc_email" id="label_vc_email" >
                            E-MAIL<span>*</span>
                            <?php echo $this->formText('vc_email', $this->me['vc_email'], array('maxlength' => 150, 'onblur' => 'return verificaEmail();')); ?>
                        </label>
                        <label class="entradagrande" for="vc_email_confirmar" id="label_vc_email_confirmar">
                            CONFIRMAR E-MAIL <span>*</span>
                            <?php echo $this->formText("vc_email_confirmar", $this->me['vc_email_confirmar'], array('maxlength' => 150, 'onblur' => 'return verificaEmail();')); ?>
                        </label>
                        <label class="entradagrande" for="vc_senha" id="label_vc_senha">
                            SENHA  <span>*</span>
                            <?php echo $this->formPassword('vc_senha', null, array('maxlength' => 30, 'onblur' => 'return verificaSenha();', 'class' => 'text')); ?>
                        </label>

                        <label class="entradagrande" for="vc_senha_confirmar" id="label_vc_senha_confirmar">
                            CONFIRMAR SENHA <span>*</span>
                            <?php echo $this->formPassword('vc_senha_confirmar', null, array('maxlength' => 30, 'onblur' => 'return verificaSenha();', 'class' => 'text')); ?>
                        </label>
                        <a href="javascript:void(0);" onclick="validarStep1CadastroCliente(true);" class="finalizarcadastro">Finalizar</a>
                        <p class="ajuda">* Campos obrigatórios</p>
                    </div>
                </form>
            </div>
            <div id="tab-ajustes">
                <form>
                    <fieldset class="facebook-dados">
                        <legend>Ajustes na conta</legend>
                        <label class="texto-grande">
                            Sua conta de Facebook:
                            <input type="text" />
                        </label>
                        <div class="sessao-facebook">
                            <p>Sincronize a conta do Facebook com cachorrogato.com.br</p>
                            <a href="#" class="bt-iniciar-facebook">Inicie Sessão com o Facebook</a>
                            <p class="info-dados">Não publicaremos nada sem sua autorização</p>
                        </div>
                        <div class="check-opc-facebook">
                            <label class="checkbox"><input type="checkbox" />Importe sua foto com um click</label>
                            <label class="checkbox"><input type="checkbox" />Poderá convidar seus amigos</label>
                            <label class="checkbox"><input type="checkbox" />Com toda a segurança de que NUNCA publicaremos nada sem sua permissão</label>                            
                        </div>
                        <div class="limpa"></div>
                    </fieldset>
                    <fieldset class="dados-conta">
                        <label class="texto-medio">
                            E-mail: <input type="text" />
                        </label>
                        <a href="#" class="modificar">Modificar E-mail</a>
                        <span class="info-dados">Enviamos todos os emails para <strong>seuemail@exemplo.com.br</strong>.</span>
                        <label class="texto-medio">
                            A sua senha: <input type="password" />
                        </label>
                        <a href="#" class="modificar">Modificar Senha</a>
                        <div class="limpa"></div>
                    </fieldset>
                    <fieldset class="dados-visibilidade">
                        <legend>Visibilidade</legend>
                        <label class="checkbox"><input type="checkbox" />Quero que o meu perfil seja visível em buscadores como o Google para que os meus conhecidos possam me encontrar.</label>
                        <label class="checkbox"><input type="checkbox" />Desejo que qualquer pessoa possa me enviar uma mensagem dentro da Comunidade. Caso contrário somente seus contatos da web de casamentos.com.br poderão enviar mensagens.</label>
                    </fieldset>
                    <a href="#" class="guardar-modificacoes">Guardar modificações</a>
                    <fieldset class="cancelar-conta">
                        <legend>Cancelar conta</legend>
                        <p>Essa ação eliminará todos os seus dados do nosso serviço.</p>
                        <a href="#" class="bt-cancelar">Cancelar minha conta</a>
                    </fieldset>
                </form>
            </div>
            <div id="tab-notificacoes">
                <form>
                    <fieldset class="notificacoes">
                        <legend>Notificações</legend>
                        <p>Enviamos todos os emails para <strong>seuemail@exemplo.com.br</strong></p>
                        <a href="#" class="modificar">Modificar E-mail</a>
                        <div class="limpa"></div>
                    </fieldset>
                    <fieldset class="comunidade">
                        <legend>Comunidade</legend>
                        <p>Enviar um e-mail quando alguém...</p>
                        <div class="check-box-comunidade">
                            <label><input type="checkbox" />Me enviou uma mensagem</label>
                            <label><input type="checkbox" />Participou de um dos debates</label>
                            <label><input type="checkbox" />Avaliou uma das minhas publicações</label>
                            <label><input type="checkbox" />Me adicionou como amigo</label>
                            <label><input type="checkbox" />Me aceitou como amigo</label>
                        </div>
                        <div class="limpa"></div>
                    </fieldset>
                    <fieldset>
                        <legend>E-mails Informativos</legend>
                        <label><input type="checkbox" />Me enviou uma mensagem</label>
                    </fieldset>
                    <fieldset>
                        <legend>Boletins</legend>
                        <p>Enviar um e-mail quando alguém...</p>
                        <div class="check-box-comunidade">
                            <label><input type="checkbox" />Receber email semanal com novidades</label>
                            <label><input type="checkbox" />Receber convites para eventos, desfiles e ofertas especiais de casamentos.com.br e empresas colaboradoras.</label>
                        </div>
                        <div class="limpa"></div>
                    </fieldset>
                    <a href="#" class="guardar-modificacoes">Guardar modificações</a>
                </form>
            </div>
        </div>
    </section>
    <!-- / content column --> 
</div>
<!-- / main body --> 
