<!-- main body -->
<div id="middle" class="cadpet">
    <section id="fornecedor" class="articles_box">
        <?php echo $this->partial('includes/breadcrumbs.phtml', array('breadcrumb' => $this->breadcrumb)) ?>
        <div class="title">
            <h3><span> MEUS ORÇAMENTOS</span></h3>
        </div>
    </section>

    <!-- right column -->
    <aside id="right" class="clearingfix pet ">
        <?php echo $this->partial('area-cliente/includes/meu-perfil.phtml') ?>
        <?php echo $this->partial('area-cliente/includes/menu-perfil.phtml') ?>
        <?php echo $this->partial('area-cliente/includes/publicidade.phtml') ?>
    </aside>
    <!-- / right column --> 
    <!-- content column -->
    <section id="main" class="clearingfix pet">
        Meus Favoritos
    </section>
    <!-- / content column --> 
</div>
<!-- / main body --> 
