<link rel="stylesheet" href="/css/formularios.css" type="text/css" media="screen">
<link rel="stylesheet" href="/css/dr-responde.css" type="text/css" media="screen">
<link rel="stylesheet" href="/css/emergencia24h.css" type="text/css" media="screen">
<div id="middle">
    <section class="articles_box conteudotitulo">
        <ul id="navcaminho">
            <li class="primeiro"><a href="/">Home</a></li>
            <li><a href="/">Emergência</a></li>
            <li class="ultimo"><a href="/cachorro">Informações</a></li>
        </ul>
        <div class="titulo_pagina">
            <h1><span>Informações de emergência</span></h1>
        </div>
    </section>
    <section class="conteudo-box">
        <aside class="dir-lista-guia">
            <div class="servicos-lista">
                <h3>Serviços</h3>
                <div class="item_servico">
                    <img src="/images/conteudo/alimentacao_fornecedor.jpg" alt="" />
                    <span class="leg_imagem">Alimentação</span>
                    <h4>Cia dos Bichos</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    <a href="#" class="leiamais">Leia Mais ></a>
                </div>
                <div class="item_servico">
                    <img src="/images/conteudo/alimentacao_fornecedor.jpg" alt="" />
                    <span class="leg_imagem">Alimentação</span>
                    <h4>Cia dos Bichos</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    <a href="#" class="leiamais">Leia Mais ></a>
                </div>
                <div class="item_servico">
                    <img src="/images/conteudo/alimentacao_fornecedor.jpg" alt="" />
                    <span class="leg_imagem">Alimentação</span>
                    <h4>Cia dos Bichos</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    <a href="#" class="leiamais">Leia Mais ></a>
                </div>
                <div class="item_servico ultimo">
                    <img src="/images/conteudo/alimentacao_fornecedor.jpg" alt="" />
                    <span class="leg_imagem">Alimentação</span>
                    <h4>Cia dos Bichos</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    <a href="#" class="leiamais">Leia Mais ></a>
                </div>
            </div>
        </aside>
        <div class="info-geral-pequeno">
            <p>Busque abaixo informações de emergências. Mas lembre-se: <strong>consulte sempre um veterinário</strong> ou encontre agora serviços abertos próximos a você.</p>
            <a href="javascript:;" class="fechar" onclick="$('.info-geral-pequeno').fadeOut();"></a>
        </div>
        <form class="busca-emergencia">
            <input type="text" value="Busque o conteúdo de emergência..." />
            <a href="#">Buscar</a>
        </form>
        <div class="item-emergencia-conteudo">
            <img src="/images/conteudo/conteudo_emergencia_lista.jpg" alt="" />
            <h2>Título do conteúdo de emergência</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <a href="detalhe" class="leiamais">Leia mais ></a>
        </div>
        <div class="item-emergencia-conteudo">
            <img src="/images/conteudo/conteudo_emergencia_lista.jpg" alt="" />
            <h2>Título do conteúdo de emergência</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <a href="detalhe" class="leiamais">Leia mais ></a>
        </div>
        <div class="item-emergencia-conteudo">
            <img src="/images/conteudo/conteudo_emergencia_lista.jpg" alt="" />
            <h2>Título do conteúdo de emergência</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <a href="detalhe" class="leiamais">Leia mais ></a>
        </div>
        <div class="item-emergencia-conteudo">
            <img src="/images/conteudo/conteudo_emergencia_lista.jpg" alt="" />
            <h2>Título do conteúdo de emergência</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <a href="detalhe" class="leiamais">Leia mais ></a>
        </div>
        <div class="item-emergencia-conteudo">
            <img src="/images/conteudo/conteudo_emergencia_lista.jpg" alt="" />
            <h2>Título do conteúdo de emergência</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <a href="detalhe" class="leiamais">Leia mais ></a>
        </div>
        <div class="item-emergencia-conteudo ultimo">
            <img src="/images/conteudo/conteudo_emergencia_lista.jpg" alt="" />
            <h2>Título do conteúdo de emergência</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <a href="detalhe" class="leiamais">Leia mais ></a>
        </div>
        <!-- / content column -->
        <div class="limpa"></div>
    </section>
</div>
<!-- / main body -->