<link rel="stylesheet" href="/css/formularios.css" type="text/css" media="screen">
<link rel="stylesheet" href="/css/dr-responde.css" type="text/css" media="screen">
<link rel="stylesheet" href="/css/emergencia24h.css" type="text/css" media="screen">
<div id="middle">
    <section class="articles_box conteudotitulo">
        <ul id="navcaminho">
            <li class="primeiro"><a href="/">Home</a></li>
            <li><a href="/">Emergência</a></li>
            <li class="ultimo"><a href="/cachorro">Informações</a></li>
        </ul>
        <div class="titulo_pagina">
            <h1><span>Informações de emergência</span></h1>
        </div>
    </section>
    <section class="conteudo-box">
        <aside class="dir-lista-guia">
            <div class="servicos-lista">
                <h3>Serviços</h3>
                <div class="item_servico">
                    <img src="/images/conteudo/alimentacao_fornecedor.jpg" alt="" />
                    <span class="leg_imagem">Alimentação</span>
                    <h4>Cia dos Bichos</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    <a href="#" class="leiamais">Leia Mais ></a>
                </div>
                <div class="item_servico">
                    <img src="/images/conteudo/alimentacao_fornecedor.jpg" alt="" />
                    <span class="leg_imagem">Alimentação</span>
                    <h4>Cia dos Bichos</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    <a href="#" class="leiamais">Leia Mais ></a>
                </div>
                <div class="item_servico">
                    <img src="/images/conteudo/alimentacao_fornecedor.jpg" alt="" />
                    <span class="leg_imagem">Alimentação</span>
                    <h4>Cia dos Bichos</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    <a href="#" class="leiamais">Leia Mais ></a>
                </div>
                <div class="item_servico ultimo">
                    <img src="/images/conteudo/alimentacao_fornecedor.jpg" alt="" />
                    <span class="leg_imagem">Alimentação</span>
                    <h4>Cia dos Bichos</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    <a href="#" class="leiamais">Leia Mais ></a>
                </div>
            </div>
        </aside>
        <div class="conteudo-detalhe">
            <h2>Título de detalhe do conteúdo de emergência</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ornare malesuada risus vel tincidunt. Sed porta, ligula in elementum volutpat, elit neque sagittis diam, quis ornare nunc turpis id lectus. In adipiscing dictum elit, quis vulputate sem laoreet ut. Pellentesque vitae dui a lectus blandit accumsan eget lacinia urna. Phasellus ultrices ullamcorper pharetra. Mauris fermentum semper massa non mattis. Ut consectetur malesuada libero a pellentesque. Maecenas sed elit turpis. Donec vel dui ante, nec tempor erat. Quisque eleifend suscipit sodales. Vivamus sed nisl id massa venenatis pellentesque. Duis commodo enim sed sapien placerat ut pretium lectus fermentum.</p>
            <p>Donec sagittis urna at lectus eleifend mollis. Praesent faucibus vehicula nulla id dignissim. Duis at metus id nibh bibendum blandit. Sed in volutpat nisi. Integer a magna libero, eu bibendum ipsum. Duis condimentum massa eu sapien bibendum vehicula. Nulla facilisi. Sed lectus metus, condimentum id tristique id, tempor at odio. Nunc orci nulla, hendrerit ut accumsan et, consequat eget risus. Aliquam in urna ut risus suscipit dictum. Nam non dolor eget nulla venenatis vehicula. Maecenas eu purus mi.</p>
            <p>Sed nec risus risus. Curabitur venenatis dolor at sem cursus rutrum. Curabitur vehicula lobortis elit, nec sollicitudin eros dapibus quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt tristique quam a vehicula. Mauris posuere fringilla semper. Integer semper vehicula lorem, et feugiat justo adipiscing a. Nullam feugiat augue tincidunt odio consequat gravida.</p>
            <p>Sed molestie metus quis nisl fermentum lobortis. Praesent non elit ac nisi posuere feugiat. Aliquam vel massa elit, nec commodo nisi. Nulla mollis ipsum in magna bibendum nec venenatis tortor vulputate. Duis quis eros in dolor vulputate rhoncus sit amet quis lorem. Nunc quis sollicitudin mi. Nullam odio tortor, dictum at fermentum in, fermentum sit amet metus.</p>
            <p>Aliquam ante lectus, consequat ac volutpat ut, vehicula at diam. Integer pretium metus a enim semper fringilla. Cras ullamcorper, mi sit amet aliquet varius, nibh libero eleifend ipsum, ac volutpat libero lacus nec nunc. Integer et metus nisl, vel feugiat nunc. Integer volutpat arcu eu nunc blandit vulputate. Nunc in nunc neque, molestie semper erat. Quisque sodales dapibus mi in varius. Phasellus varius tincidunt magna quis rutrum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi sed nunc ut nisl venenatis elementum sed vel dolor. Nunc lobortis nisl ultricies nunc aliquet id iaculis velit facilisis.</p>
        </div>
        <!-- / content column -->
        <div class="limpa"></div>
    </section>
</div>
<!-- / main body -->