<link rel="stylesheet" href="/css/formularios.css" type="text/css" media="screen">
<link rel="stylesheet" href="/css/dr-responde.css" type="text/css" media="screen">
<link rel="stylesheet" href="/css/emergencia24h.css" type="text/css" media="screen">
<!-- main body -->
<div id="middle">
    <section class="articles_box conteudotitulo">
        <ul id="navcaminho">
            <li class="primeiro"><a href="/">Home</a></li>
            <li><a href="/">Crumb</a></li>
            <li><a href="/">Pet perdido</a></li>
            <li class="ultimo"><a href="/cachorro">Cartaz procurado</a></li>
        </ul>
        <div class="titulo_pagina">
            <h1><span>Imprima um cartaz de "procura-se pet"</span></h1>
        </div>
    </section>
    <!-- content column -->
    <div class="conteudo-box">
        <p class="cartaz_tit"><span>Bairro:</span> Parque São Rafael</p>
        <div class="cartaz">
            <h2>Procura-se</h2>
            <div class="imagem">
                <img src="/images/conteudo/antonio_carlos_imprimir.jpg" alt="Antonio Carlos" />
                <span class="mascara"></span>
            </div>
            <div class="dados_animal">
                <p class="nome">Antonio Carlos</p>
                <p><span>Raça:</span> Llasa Apsu</p>
                <p><span>Idade:</span> 5 anos</p>
                <p><span>Pelo:</span> Branco e marrom</p>
                <p><span>Porte:</span> Pequeno</p>
                <p><span>Perdido:</span> 14/11/2099 às 10:00</p>
            </div>
            <div class="limpa"></div>
            <p><strong>Recompensa:</strong> R$ 1000,00</p>
            <p><strong>Referência sobre o local da perda:</strong>  Perdi perto do posto de gasolina da Rua das Flores, esquina Av. Brasil e Av. Europa, em frente ao ponto de táxi.</p>
            <p><strong>Alguns traços que possa ajudar a identificar o pet:</strong>  Antônio Carlos é muito manso e tem uma falha de pêlo na cabeça.</p>
            <p><strong>Observações:</strong> Meu filho é muito apegado a esse cachorro. Por favor me ajudem a recupera-lo!</p>
            <div class="banner-cachorrogato">
                <img src="/images/banner_cachorro_gato.jpg" alt="Cachorro Gato - tudo sobre cães e gatos. www.cachorrogato.com.br" />
            </div>
            <div class="area-destaques">
                <div class="area-destaque">
                    <div>
                        <p><strong>Nome:</strong> Antonio Carlos</p>
                        <p><strong>Telefone:</strong> (11) 99871 0869</p>
                        <p><strong>Recompensa:</strong> R$1000,00</p>
                    </div>
                </div>
                <div class="area-destaque">
                    <div>
                        <p><strong>Nome:</strong> Antonio Carlos</p>
                        <p><strong>Telefone:</strong> (11) 99871 0869</p>
                        <p><strong>Recompensa:</strong> R$1000,00</p>
                    </div>
                </div>
                <div class="area-destaque">
                    <div>
                        <p><strong>Nome:</strong> Antonio Carlos</p>
                        <p><strong>Telefone:</strong> (11) 99871 0869</p>
                        <p><strong>Recompensa:</strong> R$1000,00</p>
                    </div>
                </div>
                <div class="area-destaque">
                    <div>
                        <p><strong>Nome:</strong> Antonio Carlos</p>
                        <p><strong>Telefone:</strong> (11) 99871 0869</p>
                        <p><strong>Recompensa:</strong> R$1000,00</p>
                    </div>
                </div>
                <div class="area-destaque">
                    <div>
                        <p><strong>Nome:</strong> Antonio Carlos</p>
                        <p><strong>Telefone:</strong> (11) 99871 0869</p>
                        <p><strong>Recompensa:</strong> R$1000,00</p>
                    </div>
                </div>
                <div class="area-destaque">
                    <div>
                        <p><strong>Nome:</strong> Antonio Carlos</p>
                        <p><strong>Telefone:</strong> (11) 99871 0869</p>
                        <p><strong>Recompensa:</strong> R$1000,00</p>
                    </div>
                </div>
                <div class="area-destaque">
                    <div>
                        <p><strong>Nome:</strong> Antonio Carlos</p>
                        <p><strong>Telefone:</strong> (11) 99871 0869</p>
                        <p><strong>Recompensa:</strong> R$1000,00</p>
                    </div>
                </div>
                <div class="area-destaque">
                    <div>
                        <p><strong>Nome:</strong> Antonio Carlos</p>
                        <p><strong>Telefone:</strong> (11) 99871 0869</p>
                        <p><strong>Recompensa:</strong> R$1000,00</p>
                    </div>
                </div>
                <div class="area-destaque">
                    <div>
                        <p><strong>Nome:</strong> Antonio Carlos</p>
                        <p><strong>Telefone:</strong> (11) 99871 0869</p>
                        <p><strong>Recompensa:</strong> R$1000,00</p>
                    </div>
                </div>
                <div class="area-destaque">
                    <div>
                        <p><strong>Nome:</strong> Antonio Carlos</p>
                        <p><strong>Telefone:</strong> (11) 99871 0869</p>
                        <p><strong>Recompensa:</strong> R$1000,00</p>
                    </div>
                </div>
                <div class="area-destaque">
                    <div>
                        <p><strong>Nome:</strong> Antonio Carlos</p>
                        <p><strong>Telefone:</strong> (11) 99871 0869</p>
                        <p><strong>Recompensa:</strong> R$1000,00</p>
                    </div>
                </div>
                <div class="area-destaque ultimo">
                    <div>
                        <p><strong>Nome:</strong> Antonio Carlos</p>
                        <p><strong>Telefone:</strong> (11) 99871 0869</p>
                        <p><strong>Recompensa:</strong> R$1000,00</p>
                    </div>
                </div>
                <div class="limpa"></div>
            </div>
        </div>
    </div>
    <!-- / content column -->
</div>
<!-- / main body -->