<link rel="stylesheet" href="/css/formularios.css" type="text/css" media="screen">
<link rel="stylesheet" href="/css/dr-responde.css" type="text/css" media="screen">
<link rel="stylesheet" href="/css/emergencia24h.css" type="text/css" media="screen">
<link rel="stylesheet" href="/css/nivoslider.css" type="text/css" media="screen">
<script type="text/javascript" src="/js/jquery.nivo.slider.js"></script>
<script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider();
    });
</script>
<!-- main body -->
<div id="middle">
    <section class="articles_box conteudotitulo">
        <ul id="navcaminho">
            <li class="primeiro"><a href="/">Home</a></li>
            <li><a href="/">Crumb</a></li>
            <li><a href="/">Acesso usuário</a></li>
            <li class="ultimo"><a href="/cachorro">Conteúdos de emergência</a></li>
        </ul>
        <div class="titulo_pagina">
            <h1><span>Conteúdos de emergência</span></h1>
        </div>
    </section>
    <div id="slider_emergencia">
        <div id="slider" class="nivoSlider">
            <a href="#"><img src="/images/conteudo/foto_slider_emergencia.jpg" alt="Conteúdos de emergência"></a>
            <a href="#"><img src="/images/conteudo/foto_slider_emergencia2.jpg" alt="Conteúdos de emergência" title="Conteúdos de emergência"></a>
        </div>
    </div>
    <!-- content column -->
    <section class="conteudo-box emergencia24h">
        <h2>Você chegou nesta página porque você tem alguma emergência com o seu pet.</h2>
        <p>Mantenha a calma e escolha uma destas opções de acordo com a sua necessidade. Você encontra informações sobre primeiros-socorros na sessão de <a href="#">Conteúdos de Emergências</a>. Mesmo entendendo o problema, é altamente recomendável que você procure a ajuda de um profissional. Consulte um veterinário, hospital ou clínica na nossa lista de <a href="#">Serviços 24 Horas</a>. Caso você, infelizmente, tenha perdido o seu cachorro ou gato, utilize a nossa ferramenta <a href="#">PERDI MEU PET</a>. A ferramenta enviará uma notificação para nossos usuários que estejam próximos ao local da perda.</p>
        <div class="box_emergencia">
            <h3>Conteúdos de emergência</h3>
            <img src="/images/conteudo_emergencia.jpg" alt="Conteúdos de emergência" />
            <p>Leia conteúdos escritos por veterinários relacionados a sintomas, primeiros-socorros e procedimentos de emergência.</p>
            <a href="conteudo">Acessar</a>
        </div>
        <div class="box_emergencia">
            <h3>Serviços 24 horas</h3>
            <img src="/images/servico_24h.jpg" alt="Conteúdos de emergência" />
            <p>Uma lista de serviços que estão abertos neste momento e podem ajudar você em caso de emergência e urgências.</p>
            <a href="servicos24h">Acessar</a>
        </div>
        <div class="box_emergencia ultimo">
            <h3>Perdi meu pet</h3>
            <img src="/images/perdi_meu_pet.jpg" alt="Conteúdos de emergência" />
            <p>Informe dados, características e informações do seu cachorro ou gato que possam nos ajudar a encontrá-lo.</p>
            <a href="perdi">Acessar</a>
        </div>
        
    </section>
    <!-- / content column -->
    <div class="limpa"></div>
</div>
<!-- / main body -->