<link rel="stylesheet" href="/css/formularios.css" type="text/css" media="screen">
<link rel="stylesheet" href="/css/dr-responde.css" type="text/css" media="screen">
<link rel="stylesheet" href="/css/emergencia24h.css" type="text/css" media="screen">
<!-- main body -->
<div id="middle">
    <section class="articles_box conteudotitulo">
        <ul id="navcaminho">
            <li class="primeiro"><a href="/">Home</a></li>
            <li><a href="/">Crumb</a></li>
            <li><a href="/">Emergência</a></li>
            <li class="ultimo"><a href="/cachorro">Perdi meu pet</a></li>
        </ul>
        <div class="titulo_pagina">
            <h1><span>Perdi meu pet</span></h1>
        </div>
    </section>
    <!-- content column -->
    <section class="dados_busca_pet">
        <form>
            <fieldset class="local">
                <legend>Local de ocorrência</legend>
                <table>
                    <thead>
                        <tr>
                            <th class="dono">dono</th>
                            <th class="rua">rua</th>
                            <th class="bairro">bairro</th>
                            <th class="cidade">cidade</th>
                            <th class="estado">estado</th>
                            <th class="cep">cep</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>João da Silva dos Santos Araújo</td>
                            <td>Lucas Fernandes da Silva</td>
                            <td>Parque São Rafael</td>
                            <td>Santa Rita do Passa Quatro</td>
                            <td>São Paulo</td>
                            <td>08211-040</td>
                        </tr>
                    </tbody>
                </table>
                <a href="#" class="outro_endereco">Perdi meu pet em outro endereço</a>
                <label class="select estado">Estado<span class="borda-direita">*</span>
                    <select>
                        <option>SP</option>
                    </select>
                </label>
                <label class="select cidade">Cidade<span class="borda-direita">*</span>
                    <select>
                        <option>fgdsfg</option>
                    </select>
                </label>
                <label class="select bairro">Bairro<span class="borda-direita">*</span>
                    <select>
                        <option>sdfgdfg</option>
                    </select>
                </label>
            </fieldset>
            <fieldset class="qual-pet">
                <legend>Selecione qual pet</legend>
                <div class="lista_pet">
                    <img src="/images/conteudo/antonio_carlos.jpg" alt="" />
                    <p class="nome">Antonio Carlos</p>
                    <p><span>Idade</span> 6 anos</p>
                    <p><span>Raça</span> Lhasa Apsu Lorem Ipsum</p>
                    <p><span>Peso</span> 7 kg</p>
                </div>
                <div class="lista_pet">
                    <img src="/images/conteudo/guilherme_henrique.jpg" alt="" />
                    <p class="nome">Guilherme Henrique</p>
                    <p><span>Idade</span> 4 anos</p>
                    <p class="raca"><span>Raça</span> Pit Bull Francês Rasga-Sacos</p>
                    <p><span>Peso</span> 9 kg</p>
                </div>
                <div class="limpa"></div>
                <a href="#" class="outro_pet">Perdi outro pet</a>
            </fieldset>
            <fieldset class="mais-info">
                <legend>Precisamos de mais algumas informações</legend>
                <label class="select data">
                    Data da perda <span class="borda-direita">*</span>
                    <select>
                        <option>01</option>
                    </select>
                    <select>
                        <option>01</option>
                    </select>
                    <select>
                        <option>1980</option>
                    </select>
                </label>
                <label class="select horario">
                    Horário <span class="borda-direita">*</span>
                    <select>
                        <option>00</option>
                    </select>
                    <select>
                        <option>00</option>
                    </select>
                </label>
                <label class="textarea local">
                    <div class="texto">Referência sobre o local da perda <span class="borda-direita">*</span></div>
                    <textarea></textarea>
                    <div class="limpa"></div>
                </label>
                <label class="textarea tracos">
                    <div class="texto">Escreva alguns traços que possam ajudar a identificar seu pet <span class="borda-direita">*</span></div>
                    <textarea></textarea>
                </label>
                <label class="recompensa">
                    Recompensa <span class="borda-direita">&nbsp;</span>
                    <input type="text" />
                </label>
                <label class="textarea observacoes">
                    <div class="texto">Observações <span class="borda-direita">&nbsp;</span></div>
                    <textarea></textarea>
                </label>
            </fieldset>
            <a href="#" class="pedido-ajuda">Enviar pedido de ajuda</a>
            <p>* Campos obrigatórios</p>
        </form>
    </section>
    <!-- / content column -->
</div>
<!-- / main body -->