<link rel="stylesheet" href="/css/formularios.css" type="text/css" media="screen">
<link rel="stylesheet" href="/css/dr-responde.css" type="text/css" media="screen">
<link rel="stylesheet" href="/css/emergencia24h.css" type="text/css" media="screen">
<!-- main body -->
<div id="middle">
    <section class="articles_box conteudotitulo">
        <ul id="navcaminho">
            <li class="primeiro"><a href="/">Home</a></li>
            <li><a href="/">Crumb</a></li>
            <li><a href="/">Emergência</a></li>
            <li class="ultimo"><a href="/cachorro">Fornecedores 24hs</a></li>
        </ul>
        <div class="titulo_pagina">
            <h1><span>Serviços 24h</span></h1>
        </div>
        <div class="info-geral">
            <p>Encontre serviços que estão funcionando neste momento. Pesquise o serviço mais próximo e <strong>ligue para avisar</strong> que está a caminho.</p>
            <a href="javascript:;" class="fechar" onclick="$('.info-geral').fadeOut();"></a>
        </div>
    </section>
    <section class="dados_busca_emergencia">
        <form>
            <div class="dados_emergencia">
                <div class="dado">
                    <span class="dado_label">Rua</span><br />
                    <label id="rua">Lucas Fernandes da Silva</label>
                </div>
                <div class="dado">
                    <span class="dado_label">Bairro</span><br />
                    <label id="bairro">Parque São Rafael</label>
                </div>
                <div class="dado">
                    <span class="dado_label">Cidade</span><br />
                    <label id="cidade">Santa Rita do Passa Quatro</label>
                </div>
                <div class="dado">
                    <span class="dado_label">Estado</span><br />
                    <label id="estado">São Paulo</label>
                </div>
                <div class="dado">
                    <span class="dado_label">Cep</span><br />
                    <label id="cep">08211-040</label>
                </div>
                <div class="limpa"></div>
            </div>
            <fieldset>
                <legend>Caso não esteja neste CEP e endereço, informe abaixo sua localização.</legend>
                <div class="fundo_cinza">
                    <label>
                        Onde?
                        <input type="text" value="Bairro, CEP ou endereço..." />
                    </label>
                </div>
            </fieldset>
            <iframe width="950" height="165" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.br/?ie=UTF8&amp;ll=-22.546052,-48.635514&amp;spn=8.91199,16.907959&amp;t=m&amp;z=7&amp;output=embed"></iframe>
            <fieldset class="checkboxes">
                <span class="lbl_buscar">Buscar:</span>
                <label><input type="checkbox" />Hospitais veterinários</label>
                <label><input type="checkbox" />Clínicas veterinárias</label>
                <label><input type="checkbox" />Fornecedores 24h</label>
            </fieldset>
        </form>
    </section>
    <!-- content column -->
    <section class="conteudo-box">
        <!-- right column -->
        <aside class="dir-lista-guia">
            <div class="servicos-lista">
                <h3>Serviços</h3>
                <div class="item_servico">
                    <img src="/images/conteudo/alimentacao_fornecedor.jpg" alt="" />
                    <span class="leg_imagem">Alimentação</span>
                    <h4>Cia dos Bichos</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    <a href="#" class="leiamais">Leia Mais ></a>
                </div>
                <div class="item_servico">
                    <img src="/images/conteudo/alimentacao_fornecedor.jpg" alt="" />
                    <span class="leg_imagem">Alimentação</span>
                    <h4>Cia dos Bichos</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    <a href="#" class="leiamais">Leia Mais ></a>
                </div>
                <div class="item_servico">
                    <img src="/images/conteudo/alimentacao_fornecedor.jpg" alt="" />
                    <span class="leg_imagem">Alimentação</span>
                    <h4>Cia dos Bichos</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    <a href="#" class="leiamais">Leia Mais ></a>
                </div>
                <div class="item_servico ultimo">
                    <img src="/images/conteudo/alimentacao_fornecedor.jpg" alt="" />
                    <span class="leg_imagem">Alimentação</span>
                    <h4>Cia dos Bichos</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    <a href="#" class="leiamais">Leia Mais ></a>
                </div>
            </div>
        </aside>
        <!-- / right column -->
        <p class="resultados">4 Resultados encontrados</p>
        <div class="item-servico24h primeiro">
            <img src="/images/conteudo/gato.jpg" alt="" />
            <h2>Não dormimos nunca</h2>
            <p class="endereco">Rua Bahia 201 - Higienópolis São Paulo/SP <a class="bt_telefone">Ver telefone</a></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
            <p class="aviso">Não esqueça de avisar que está a caminho!</p>
            <span class="distancia">2.5 km</span>
            <div class="limpa"></div>
        </div>
        <div class="item-servico24h">
            <img src="/images/conteudo/gato.jpg" alt="" />
            <h2>Não dormimos nunca</h2>
            <p class="endereco">Rua Bahia 201 - Higienópolis São Paulo/SP <a class="bt_telefone">Ver telefone</a></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
            <p class="aviso">Não esqueça de avisar que está a caminho!</p>
            <span class="distancia">2.5 km</span>
            <div class="limpa"></div>
        </div>
        <div class="item-servico24h">
            <img src="/images/conteudo/gato.jpg" alt="" />
            <h2>Não dormimos nunca</h2>
            <p class="endereco">Rua Bahia 201 - Higienópolis São Paulo/SP <a class="bt_telefone">Ver telefone</a></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
            <p class="aviso">Não esqueça de avisar que está a caminho!</p>
            <span class="distancia">2.5 km</span>
            <div class="limpa"></div>
        </div>
        <div class="item-servico24h ultimo">
            <img src="/images/conteudo/gato.jpg" alt="" />
            <h2>Não dormimos nunca</h2>
            <p class="endereco">Rua Bahia 201 - Higienópolis São Paulo/SP <a class="bt_telefone">Ver telefone</a></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
            <p class="aviso">Não esqueça de avisar que está a caminho!</p>
            <span class="distancia">225.5 km</span>
            <div class="limpa"></div>
        </div>
    </section>
    <!-- / content column -->
</div>
<!-- / main body -->