<div class="mws-panel grid_8">
    <div class="mws-tabs">
        <div id="add-banner">
            <table>
                <tr>
                    <td>
                        <div class="mws-panel grid_8" style="width: auto;">
                            <div class="mws-panel-header">
                                <span class="mws-i-24 mws-i-24 i-user-2">Cadastrar novo banner</span>
                            </div>

                            <form class="mws-form video" method="post"
                                  action="/backend/banner-slideshow/cadastro"  enctype= "multipart/form-data">
                                
                                <?php echo $this->formHidden('id_banner_slideshow', $this->formulario['id_banner_slideshow']) ?>
                                <div class="mws-panel-body">
                                    <div class="mws-form-cols clearfix">
                                        <div class="mws-form-col-8-8 alpha">
                                            <label>Banner Slideshow:</label>
                                            <div class="mws-form-item large">
                                                <input type="text" id="vc_banner_slideshow" name="vc_banner_slideshow"
                                                       class="mws-textinput" value="<?php echo $this->formulario["vc_banner_slideshow"] ?>" />
                                            </div>
                                        </div>
                                        <div class="mws-form-col-8-8 alpha">
                                            <label>Link :</label>
                                            <div class="mws-form-item large">
                                                <input type="text" name="vc_url" id="vc_url"
                                                       class="mws-textinput" value="<?php echo $this->formulario["vc_url"] ?>" />
                                            </div>
                                        </div>
                                         <?php if (!empty($this->formulario["vc_imagem"])): ?>
                                            <img src="/upload/bannerslide/<?php echo $this->formulario["vc_imagem"] ?>">
                                        <?php endif; ?>
                                        <div class="mws-form-col-3-8 omega">
                                            <div class="mws-form-item small">
                                                <label>Imagem:</label> 
                                                <?php echo $this->formFile("vc_imagem", null, array("size" => 300)) ?>
                                            </div>
                                        </div>
                                        <div class="mws-form-col-8-8 alpha">
                                            <label>Descrição :</label>
                                            <div class="mws-form-item large">
                                                <textarea rows="8" cols="8" id="vc_descricao"
                                                          name="vc_descricao"><?php echo $this->formulario["vc_descricao"] ?></textarea>
                                            </div>
                                        </div>
                                            <div class="mws-form-col-3-8 omega">
                                            <div class="mws-form-item small">
                                                <label>Status:</label> 
                                                <?php echo $this->formSelect("bl_ativo", $this->formulario["bl_ativo"],null, array('sim' => 'Ativado','nao' => 'Desativado')) ?>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="mws-button-row">
                                        <input type="submit" value="Cadastrar Banner"
                                               class="mws-button green" /> <input type="reset"
                                               value="Limpar" class="mws-button gray" />
                                    </div>
                                </div>

                            </form>

                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>


