<script>
    function removeVideo(id) {
        if (confirm('Tem certeza que deseja remover este Banner ?')) {
                window.location = "/backend/banner-slideshow/deletar/id_banner_slideshow/" + id;
        }
    }

</script>
<div class="mws-panel grid_8">

    <div class="mws-panel-header">
        <span class="mws-i-24 mws-i-24 i-group-2">Lista de Banners </span>
    </div>
    <div class="mws-panel-body">
        <table class="mws-datatable mws-table" id="video">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Banner</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <?php
                foreach ($this->banner_slideshows as $banner) {
                    ?>
                    <tr class="gradeU" row="<? echo $banner['id_banner_slideshow']; ?>" style="cursor: move;">
                        <td ><? echo $banner['id_banner_slideshow']; ?></td>
                        <td ><? echo $banner['vc_banner_slideshow']; ?></td>
                        <td class="center">
                            <ul id="icons-16" class="clearfix">
                                <?php if ($this->UserPermission()->isAllowed('banner-slideshow', 'cadastro')) {
                                    ?>
                                    <li
                                        onclick="window.location = '/backend/banner-slideshow/cadastro/id_banner_slideshow/<? echo $banner['id_banner_slideshow']; ?>'"
                                        class="mws-ic-16 ic-application-edit" title="Editar"></li>
                                    <?php } ?>
                                    <?php if ($this->UserPermission()->isAllowed('banner-slideshow', 'deletar')) {
                                        ?>
                                    <li
                                        onclick="removeVideo('<? echo $banner['id_banner_slideshow']; ?>')"
                                        class="mws-ic-16 ic-cancel" title="Excluir"></li>
                                    <?php } ?>
                            </ul>
                        </td>
                    </tr>
                <?php } ?>
            </tbody>
        </table>
    </div>


</div>
