<div class="mws-panel grid_8">
    <div class="mws-tabs">
        <div id="add-banner">
            <table>
                <tr>
                    <td>
                        <div class="mws-panel grid_8" style="width: auto;">
                            <div class="mws-panel-header">
                                <span class="mws-i-24 mws-i-24 i-user-2">Cadastrar novo usuário</span>
                            </div>
                            <div class="mws-panel-body" >

                                <form id="add-user" class="mws-form user" method="post"
                                      action="/backend/user/add">

                                    <div class="mws-form-cols clearfix">
                                        <div class="mws-form-col-4-8 alpha">
                                            <label>Nome de usuário:</label>
                                            <div class="mws-form-item large">
                                                <input type="text" id="username" name="username"
                                                       class="mws-textinput required" value="" />
                                            </div>
                                        </div>
                                        <div class="mws-form-col-4-8 alpha">
                                            <label>Senha :</label>
                                            <div class="mws-form-item large" >
                                                <input type="text" name="password" 
                                                       id="password" class="mws-textinput required" value="" />
                                            </div>
                                        </div>
                                        <div class="mws-form-col-8-8 alpha">
                                            <label>Email :</label>
                                            <div class="mws-form-item large" >
                                                <input type="text" name="email"
                                                       id="email" class="mws-textinput email required" value="" />
                                            </div>
                                        </div>

                                        <div class="mws-form-col-4-8 alpha">
                                            <label>Nome :</label>
                                            <div class="mws-form-item large" >
                                                <input type="text" name="firstname"
                                                       id="firstname" class="mws-textinput required" value="" />
                                            </div>
                                        </div>
                                        <div class="mws-form-col-4-8 alpha">
                                            <label>Sobrenome:</label>
                                            <div class="mws-form-item large" >
                                                <input type="text" name="secondname" 
                                                       id="secondname" class="mws-textinput required" value="" />
                                            </div>
                                        </div>
                                        <div class="mws-form-col-4-8 alpha">
                                            <label>Permissão:</label>
                                            <div class="mws-form-item large">
                                                <select name="permission" id="permission" class="required">
                                                    <option value="">Selecione uma Permissão</option>
                                                    <?php foreach ($this->permissions as $permission) { ?>
                                                        <option value="<?php echo $permission['role_id'] ?>"><?php echo $permission['name'] ?></option>
                                                    <?php } ?>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="mws-form-col-4-8 alpha">
                                            <label>Estatus:</label>
                                            <div class="mws-form-item large">
                                                <select name="is_active" id="is_active">
                                                    <option value="1">Habilitado</option>
                                                    <option value="0">desabilitado</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="mws-form-col-8-8 alpha">
                                            <label>Foto:</label>
                                            <div class="mws-form-item small">
                                                <input type="file" name="foto" />
                                            </div>
                                        </div>
                                        <div class="mws-form-col-8-8 alpha">
                                            <label>Sobre:</label>
                                            <div class="mws-form-item large">
                                                <textarea id="elrte" name="about" class="" rows="auto" cols="auto"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="mws-button-row">
                                        <input type="submit" value="Cadastrar Usuário"
                                               class="mws-button green" /> <input type="reset"
                                               value="Limpar" class="mws-button gray" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
