
<div class="mws-panel grid_8">
	<div class="mws-tabs">
		<div id="add-banner">
			<table>
				<tr>
					<td>
						<div class="mws-panel grid_8" style="width:800px;">
							<div class="mws-panel-header">
								<span class="mws-i-24 mws-i-24 i-user-2">Alterar senha de usuário</span>
							</div>
							<div class="mws-panel-body" >
                                 
								<form id="editPassword" class="mws-form" method="post"
									action="/backend/user/change-password">
                                     <input type="hidden" id="id" name="id" value="<?php echo $this->id?>"> 
									<div class="mws-form-cols clearfix">
										
                                         <div class="mws-form-col-8-8 alpha">
											<label>Senha :</label>
											<div class="mws-form-item large" >
												<input type="text" name="password" 
													id="password" class="mws-textinput"  value="" />
											</div>
										</div>
										</div>

									<div class="mws-button-row">
										<input type="submit" value="Cadastrar Usuário"
											class="mws-button green" /> <input type="reset"
											value="Limpar" class="mws-button gray" />
									</div>
								</form>
							</div>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>
	<script>
	$('#editPassword').submit(function(event){
		
		event.preventDefault(); 
		
		$.post($(this).attr('action'),{
			 'password':$('#password').val(),
			 'id':$('#id').val()},function(Messages){
			    
				  alert(Messages.Message);
                  if(Messages.response){
				     window.location='<?php echo $this->serverUrl('/backend/'); ?>';
                  }
	   },'json');
	});
</script>
