<script>
function removeUser(id){
   if(confirm('Tem certeza que deseja remover este usuário ?')){
	$.post('/backend/user/remove/',{'id':id}, function(Messages){
 		 alert(Messages.Message);
		 window.location="<?php echo $this->serverUrl('/backend/user/list'); ?>";
	},'json');
   }
}

</script>
<div class="mws-panel grid_8">

<div class="mws-panel-header">
		<span class="mws-i-24 mws-i-24 i-group-2">Lista de Usuários </span>
	</div>
	<div class="mws-panel-body">
		<table class="mws-datatable mws-table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Nome de usuário</th>
					<th>Email</th>
					<th>Estatus</th>
					<th>data do cadastro</th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>
                <?php
                foreach ($this->Users as $user) {
                    ?>
                    <tr class="gradeU">
					<td><? echo $user['id']; ?></td>
					<td><? echo $user['username']; ?></td>
					<td><? echo $user['email']; ?></td>
					<td><?  if($user['is_active']==1){ ?>
                            <div class="alert alert-success" style="text-align: center;">✔ Habilitado</div>                  
                         <?}elseif($user['is_active']==0){?>
                              <div class="alert alert-error" style="text-align: center;">X Desabilitado</div>  
                        <?}?>
                        </td>
					<td style="text-align: center;"><? echo $user['createdFormatted']; ?> </td>
					<td class="center">
						<ul id="icons-16" class="clearfix">
						 <?php  if($this->UserPermission()->isAllowed('user','edit')){ ?>
							<li
								onclick="window.location='/backend/user/edit/id/<? echo $user['id']; ?>'"
								class="mws-ic-16 ic-application-edit" title="Editar"></li>
								<?php } ?>
							 <?php  if($this->UserPermission()->isAllowed('user','remove')){ ?>
							<li 
								onclick="removeUser('<? echo $user['id']; ?>')"
								class="mws-ic-16 ic-cancel" title="Excluir"></li>
							 <?php } ?>
						</ul>
					</td>
				</tr>
                <?php } ?>
            </tbody>
		</table>
	</div>

</div>
