<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <!-- Apple iOS and Android stuff (do not remove) -->
        <meta name="apple-mobile-web-app-capable" content="no" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />

        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,maximum-scale=1" />

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
        <script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script>
        <?php
        echo $this->headTitle('CMS', 'PREPEND')
                ->headTitle()->setSeparator(' > ') . PHP_EOL;
        ?>
        <!-- Required Stylesheets -->
        <?php
        echo $this->headLink()
                ->appendStylesheet('/css/reset.css')
                ->appendStylesheet('/css/text.css')
                ->appendStylesheet('/css/fonts/ptsans/stylesheet.css')
                ->appendStylesheet('/css/core/form.css')
                ->appendStylesheet('/css/core/login.css')
                ->appendStylesheet('/css/core/button.css')
                ->appendStylesheet('/css/mws.theme.css') . PHP_EOL;
        ?>
    </head>
    <body>
        <!-- Login-->
        <div id="mws-login-wrapper">
            <div id="mws-login">
                <h1 style="text-align: center;">Acesse o sistema </h1>
                <div class="mws-login-lock"><img src="/css/icons/24/locked-2.png" alt="" /></div>
                <div id="mws-login-form">
                    <div class="mws-form-row">
                        
                    </div>
                    <form id="login" class="mws-form" action="/backend/user/login" method="post">
                        <div class="mws-form-row">
                            <div class="mws-form-item large">
                                <input type="text" name="username" id="username" class="mws-login-username mws-textinput required" placeholder="Nome do usuario" />
                            </div>
                        </div>
                        <div class="mws-form-row">
                            <div class="mws-form-item large">
                                <input type="password" name="password" id="password" class="mws-login-password mws-textinput required" placeholder="Senha" />
                            </div>
                        </div>
                      
                                <a href="<?php echo $this->serverUrl('/backend/user/recover-password/'); ?>" style="color: #FFF;">Recuperar senha</a>
                          
                        
                            <input type="submit" value="Login" class="mws-button green mws-login-button" style="width: 170px;margin-bottom: 15px;"  />
                       
                    </form>
                </div>
            </div>
        </div>
        <!-- Fim de Login-->
        
        <script>
	/*$('#login').submit(function(event){
		
		event.preventDefault(); 
		
		$.post($(this).attr('action'),{
			 'username':$('#username').val(),
			 'password':$('#password').val()
			  },function(Messages){

                  if(Messages.response){
				  
				  window.location='<?php //echo $this->serverUrl('/backend/index/'); ?>';
              }else{
            	  alert(Messages.Message);
               }
	   },'json');
	});*/
</script>
    </body>
</html>
