<?php if($this->realUser==true){?>
<div class="mws-panel grid_8">
	<div class="mws-tabs">
		<div id="add-banner">
			<table>
				<tr>
					<td>
						<div class="mws-panel grid_8" style="width:800px;">
							<div class="mws-panel-header">
								<span class="mws-i-24 mws-i-24 i-user-2">Alterar senha de usuário</span>
							</div>
							<div class="mws-panel-body" >
                                 
								<form id="editPassword" class="mws-form" method="post"
									action="/backend/user/reset-password">
                                     <input type="hidden" id="id" name="id" value="<?php echo $this->userId;?>"> 
									<div class="mws-form-cols clearfix">
										<div class="mws-form-col-8-8 alpha">
											<label>Nome :</label>
											<div class="mws-form-item large" >
												<input type="text" name="name" 
													id="name" class="mws-textinput"  value="<?php echo $this->userName;?>"  disabled="disabled"/>
											</div>
										</div>
                                         <div class="mws-form-col-8-8 alpha">
											<label>Senha :</label>
											<div class="mws-form-item large" >
												<input type="text" name="password" 
													id="password" class="mws-textinput"  value="" />
											</div>
										</div>
										</div>

									<div class="mws-button-row">
										<input type="submit" value="Cadastrar Usuário"
											class="mws-button green" /> <input type="reset"
											value="Limpar" class="mws-button gray" />
									</div>
								</form>
							</div>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>
	<script>
	$('#editPassword').submit(function(event){
		
		event.preventDefault(); 
		
		$.post($(this).attr('action'),{
			 'password':$('#password').val(),
			 'id':$('#id').val()},function(Messages){
			    
				  alert(Messages.Message);
				  if(Messages.response){
                     window.location = '/admin/';
				  }
                  
	   },'json');
	});
</script>
	<?php }else{ ?>
	<div class="mws-panel grid_8">
	<div class="mws-tabs">
		<div>
			<table>
				<tr>
					<td>
					   
						<div class="mws-panel grid_8" style="width:800px;">
							<div class="mws-panel-header">
								<span class="mws-i-24 mws-i-24 i-user-2">Recuperar senha de usuário</span>
							</div>
							
							<div class="mws-panel-body">
							<div id="loading" style="text-align: center; padding: 10px;display: none;"><img src="/img/ajax-loader.gif" width="20" height="20"/> carregando..</div>
                                 <div id="Message" style="padding: 25px;display: none;text-align: center;"></div>
								   <form id="gen-token" class="mws-form" method="post"
									action="/backend/user/gen-token">
                                      
									<div class="mws-form-cols clearfix">
										
                                         <div class="mws-form-col-8-8 alpha">
											<label>Email cadastrado:</label>
											<div class="mws-form-item large" >
												<input type="text" name="email" 
													id="email" class="mws-textinput"  value="" />
											</div>
										</div>
										</div>

									<div class="mws-button-row">
										<input type="submit" id="send-recover" value="Cadastrar Usuário"
											class="mws-button green" /> <input type="reset"
											value="Limpar" class="mws-button gray" />
									</div>
								</form>
							</div>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>
	<script>

	function back(){
		 $('#Message').hide();
		 $('#gen-token').show();
	}
	
	$('#gen-token').submit(function(event){
		
		event.preventDefault(); 
		 $('#loading').show();
		 $('#send-recover').hide();
		$.post($(this).attr('action'),{
			  'email':$('#email').val()},function(data){
			     if(!data.response){
				    alert(data.message);
				    $('#loading').hide();
				    $('#send-recover').show();
			     }else{
                    $('#gen-token').hide();
                    $('#loading').hide();
                    $('#send-recover').show();
                    $('#Message').empty().append(data.message).show();
                    
				 }
                  
	   },'json');
	});
</script>
	<?php } ?>