<div class="mws-form-cols clearfix">
    <div class="mws-form-col-8-8 alpha">
        <label>Nome da empresa</label>
        <div class="mws-form-item large">
            <?php echo $this->formText('vc_nome_empresa', $this->formulario['vc_nome_empresa'], array('maxlength' => 255)); ?>
        </div>
    </div>
    <div class="mws-form-col-8-8 alpha">
        <label>E-mail</label>
        <?php echo $this->formText('vc_acesso_email', $this->formulario['vc_acesso_email'], array('maxlength' => 255)); ?>
    </div>
    <div class="mws-form-col-8-8 alpha">
        <label>Senha</label>
        <?php echo $this->formPassword('vc_acesso_senha', $this->formulario['vc_acesso_senha'], array('maxlength' => 255)); ?>
    </div>
    <div class="mws-form-col-8-8 alpha">
        <label>Código Postal (CEP)</label>
        <?php echo $this->formText('it_cep', $this->formulario['it_cep'], array('maxlength' => 8, 'onblur' => 'buscarEnderecoPorCep();')); ?>
    </div>
    <div class="mws-form-col-8-8 alpha">
        <label>Estado</label>
        <?php echo $this->formSelect('vc_estado', $this->formulario['vc_sobrenome'], null, $this->UF()); ?>
    </div>
    <div class="mws-form-col-8-8 alpha">
        <label>Cidade</label>
        <?php echo $this->formText('vc_cidade', $this->formulario['vc_cidade'], array('maxlength' => 100)); ?>
    </div>
    <div class="mws-form-col-8-8 alpha">
        <label>Endereço</label>
        <?php echo $this->formText('vc_endereco', $this->formulario['vc_endereco'], array('maxlength' => 100)); ?>
    </div>
    <div class="mws-form-col-8-8 alpha">
        <label>Número</label>
        <?php echo $this->formText('vc_numero', $this->formulario['vc_numero'], array('maxlength' => 10)); ?>
    </div>

    <div class="mws-form-col-8-8 alpha">
        <label>Complemento</label>
        <?php echo $this->formText('vc_complemento', $this->formulario['vc_complemento'], array('maxlength' => 45)); ?>
    </div>
    <div class="mws-form-col-8-8 alpha">
        <label>Nome Contato</label>
        <?php echo $this->formText('vc_pessoa_contato', $this->formulario['vc_pessoa_contato'], array('maxlength' => 100)); ?>
    </div>
    <div class="mws-form-col-8-8 alpha">
        <label class="sou_dono">
            <input type="checkbox" id="bl_dono" name="bl_dono" value="sim" onclick="verificaDonoEmpresa();" /><span>Sou dono</span>
        </label>
    </div>
    <div class="mws-form-col-8-8 alpha">
        <label>Nome do proprietário</label>
        <?php echo $this->formText('vc_nome_proprietario', $this->formulario['vc_nome_proprietario'], array('maxlength' => 255)); ?>
    </div>
    <div class="mws-form-col-8-8 alpha">
        <label>E-mail</label>
        <?php echo $this->formText('vc_contato_email', $this->formulario['vc_contato_email'], array('maxlength' => 150)); ?>
    </div>
    <div class="mws-form-col-8-8 alpha">
        <label>Telefone</label>
        <?php echo $this->formText('it_telefone', $this->formulario['it_telefone'], array('maxlength' => 10)); ?>
    </div>
    <div class="mws-form-col-8-8 alpha">
        <label>Celular</label>
        <?php echo $this->formText('it_celular', $this->formulario['it_celular'], array('maxlength' => 11)); ?>
    </div>
    <div class="mws-form-col-8-8 alpha">
        <label>E-mail de contato da empresa</label>
        <?php echo $this->formText('vc_email_contato_empresa', $this->formulario['vc_email_contato_empresa'], array('maxlength' => 255)); ?>
    </div>
    <div class="mws-form-col-8-8 alpha">
        <label>Página web</label>
        <?php echo $this->formText('vc_pagina_web', $this->formulario['vc_pagina_web'], array('maxlength' => 100)); ?>
    </div>
    <div class="mws-form-col-8-8 alpha">
        <div class="box_opcoes">
            <label class="titulo_opcoes_data">DIAS DE ATIVIDADE:</label>
            <label><input type="checkbox" checked="CHECKED" id="contactBack" class="vc_dias_atividade" name="vc_dias_atividade" value="2"/> Segunda-Feira</label>
            <label><input type="checkbox" checked="CHECKED" id="goodDay" class="vc_dias_atividade" name="vc_dias_atividade" value="3"/> Terça-Feira</label>
            <label><input type="checkbox" checked="CHECKED" id="goodDay" class="vc_dias_atividade" name="vc_dias_atividade" value="4"/> Quarta-Feira</label>
            <label><input type="checkbox" checked="CHECKED" id="goodDay" class="vc_dias_atividade" name="vc_dias_atividade" value="5"/> Quinta-Feira</label>
            <label><input type="checkbox" checked="CHECKED" id="goodDay" class="vc_dias_atividade" name="vc_dias_atividade" value="6"/> Sexta-Feira</label>
            <label><input type="checkbox" id="goodDay" class="vc_dias_atividade" name="vc_dias_atividade" value="7"/> Sábado</label>
            <label><input type="checkbox" id="goodDay" class="vc_dias_atividade" name="vc_dias_atividade" value="8"/> Domingo</label>
            <div class="limpa"></div>
        </div>
    </div>
    <div class="mws-form-col-1-8 alpha">
        <label>Horário de </label>
        De <?php echo $this->formSelect('tm_periodo_de_atividade_inicio', null, null, $this->data['atividade_inicio']); ?>
    </div>
    <div class="mws-form-col-1-8 alpha">
        <label>funcionamento:</label>
        Até <?php echo $this->formSelect('tm_periodo_de_atividade_termino', null, null, $this->data['atividade_termino']); ?>
    </div>
    <div class="mws-form-col-1-8 alpha">
        <label>24 Horas</label>
        <?php echo $this->formCheckbox('bl_periodo_de_atividade', 24); ?>
    </div>
    <div class="mws-form-col-8-8 alpha">
        <div class="box_opcoes">
            <?php foreach ($this->data['setor_atividade'] as $id_atividade => $vc_descricao) { ?>
                <label>
                    <input type="radio" name="id_setor_de_atividade" id="<?php echo $id_atividade; ?>" value="<?php echo $id_atividade; ?>" /> <?php echo $vc_descricao; ?>
                </label>
            <?php } ?>
        </div>
    </div>
</div>