<div class="mws-form-cols clearfix">
    <?php if ($this->questionario) { ?>
        <?php foreach ($this->questionario as $pergunta) { ?>
            <div class="mws-form-col-8-8 alpha">
                <label><strong><?php echo $pergunta['vc_rotulo_campo']; ?></strong></label>
                <div class="mws-form-item large" >
                    <?php if ($pergunta['vc_campo'] == 'radio' || $pergunta['vc_campo'] == 'checkbox' || $pergunta['vc_campo'] == 'select') { ?>
                        <?php foreach ($this->respostas['vc_resposta'][$pergunta['vc_resposta']] as $array) { ?>
                            <?php echo $array['vc_valor_opcao']; ?>
                        <?php } ?>
                    <?php } else { ?>
                        <?php echo $pergunta['vc_resposta']; ?>
                    <?php } ?>
                </div>
            </div>
        <?php } ?>
    <?php } else { ?>
    <p>Não há respostas para essa empresa.</p>
    <?php } ?>
</div>