    <!-- Start Main Wrapper -->
    
        
        <!-- Main Container Start -->
       
        
            <!-- Inner Container Start -->
            <div class="container">
                
                <div class="mws-report-container clearfix">
                    <a href="/backend/" class="mws-report">
                    	<span class="mws-report-icon mws-ic ic-page-white-edit"></span>
                        <span class="mws-report-content">
                        	<span class="mws-report-title">Conteúdos</span>
                            <span class="mws-report-value"><?php echo  $this->totalConteudos; ?></span>
                        </span>
                    </a>

                    <a href="/backend/" class="mws-report">
                    	<span class="mws-report-icon mws-ic ic-group"></span>
                        <span class="mws-report-content">
                        	<span class="mws-report-title">Usuários</span>
                            <span class="mws-report-value"><?php echo $this->totalUsuariosCadastrados;?></span>
                        </span>
                    </a>
                    
                    <a href="/backend/" class="mws-report">
                    	<span class="mws-report-icon mws-ic ic-building"></span>
                        <span class="mws-report-content">
                        	<span class="mws-report-title">Empresas</span>
                            <span class="mws-report-value"><?php echo $this->totalFornecedoresCadastrados;?></span>
                        </span>
                    </a>

                    <a href="#" class="mws-report">
                    	<span class="mws-report-icon mws-ic ic-www-page"></span>
                        <span class="mws-report-content">
                        	<span class="mws-report-title">Visitas ao Site</span>
                            <span class="mws-report-value"><?php echo $this->totalVisitas;?></span>
                        </span>
                    </a>
                    
                    <a href="/backend/" class="mws-report">
                    	<span class="mws-report-icon mws-ic ic-calendar"></span>
                        <span class="mws-report-content">
                        	<span class="mws-report-title">Agendamentos</span>
                            <span class="mws-report-value"><?php echo  $this->totalAgendamentos;?></span>
                        </span>
                    </a>
                </div>
                
            
            	<!-- Statistics Button Container -->
            	<!-- Panels Start -->
                
            	<div class="mws-panel grid_8">
                	<div class="mws-panel-header">
                    	<span class="mws-i-24 i-graph">Páginas mais acessados</span>
                    </div>
                    <div class="mws-panel-body">
                    	<div class="mws-panel-content">
	                    	<div id="mws-dashboard-chart" style="width:100%;">
                                    <ul class="mws-summary">
                                    <?php foreach ($this->paginasMaisAcessadas as $paginas){ ?>
                                        <li><a href="<?php echo  $this->serverUrl('/'.$pageView['page']); ?>" style="color: #a9b807;" target="_blank"><?php if('index'==$pageView['page']){?>home<?php } else{?><?php echo urldecode($pageView['page']);?><?php }?> (<?php echo $pageView['count'];?>)</a></li>
                                    <?php } ?>
                                    </ul>
                                </div>
                        </div>
                    </div>
                </div>
                                
            	<div class="mws-panel grid_8">
                	<div class="mws-panel-header">
                    	<span class="mws-i-24 i-graph">Ultimos usuários cadastrados</span>
                    </div>
                    <div class="mws-panel-body">
                    	<div class="mws-panel-content">
	                    	<div id="mws-dashboard-chart" style="width:100%;">
                                    <ul class="mws-summary">
                                    <?php foreach ($this->ultimosUsuarios as $usuarios){?>
                                    <li style="color: #a9b807;"><?php echo $user['firstname'].' '.$user['secondname'];?></li>
                                    <?php } ?>
                                    </ul>
                                </div>
                        </div>
                    </div>
                </div>
                
                <div class="mws-panel grid_8">
                	<div class="mws-panel-header">
                    	<span class="mws-i-24 i-graph">Empresas para Aprovar</span>
                    </div>
                    <div class="mws-panel-body">
                    	<div class="mws-panel-content">
	                    	<div id="mws-dashboard-chart" style="width:100%;">
                                    <ul class="mws-summary">
                                    <?php foreach ($this->ultimasEmpresas as $usuarios){?>
                                    <li style="color: #a9b807;"><?php echo $user['firstname'].' '.$user['secondname'];?></li>
                                    <?php } ?>
                                    </ul>
                                </div>
                        </div>
                    </div>
                </div>
                                
                <!-- Panels End -->
            </div>
           
 


