<div class="mws-panel grid_4 mws-collapsible  mws-collapsed">
    <div class="mws-panel-header">
        <span>Configuração SMTP ( Default )</span>
    </div>
    <div class="mws-panel-body">
        <div class="mws-panel-content">
            <form class="mws-form" id="email-config" method="post"  action="<?php echo $this->serverUrl('/backend/config/save/path/email-contactus'); ?>">
                <div class="mws-form-inline">
                    <div class="mws-form-row">
                        <label>Servidor de email:</label>
                        <div class="mws-form-item large">
                            <input type="text" name="host" id="host" class="mws-textinput required" value="<?php echo $this->configsContactus['host']; ?>" />
                        </div>
                    </div>

                    <div class="mws-form-row">
                        <label>Usuário:</label>
                        <div class="mws-form-item large">
                            <input type="text" name="username"  id="username"   class="mws-textinput required" value="<?php echo $this->configsContactus['username']; ?>" />
                        </div>
                    </div>

                    <div class="mws-form-row">
                        <label>Senha:</label>
                        <div class="mws-form-item large">
                            <input type="text" name="password"  id="password" class="mws-textinput required" value="<?php echo $this->configsContactus['password']; ?>"  />
                        </div>
                    </div>

                    <div class="mws-form-row">
                        <label>Numero da porta:</label>
                        <div class="mws-form-item large">
                            <input type="text" name="port"  id="port" class="mws-textinput required digits"  value="<?php echo $this->configsContactus['port']; ?>" />
                        </div>
                    </div>

                    <div class="mws-form-row">
                        <label>Tipo do ssl:</label>
                        <div class="mws-form-item large">
                            <input type="text" name="ssl"  id="ssl" class="mws-textinput required" value="<?php echo $this->configsContactus['ssl']; ?>" />
                        </div>
                    </div>

                    <div class="mws-form-row">
                        <label>Tipo Autenticação:</label>
                        <div class="mws-form-item large">
                            <input type="text"  name="auth"  id="auth"  class="mws-textinput required" value="<?php echo $this->configsContactus['auth']; ?>" />
                        </div>
                    </div>
                    <div class="mws-form-row">
                        <label>Email do destinatário:</label>
                        <div class="mws-form-item large">
                            <input type="text"  name="to"  id="to"  class="mws-textinput email" value="<?php echo $this->configsContactus['to']; ?>"/>
                        </div>
                    </div>
                    <div class="mws-form-row">
                        <label>Email do destinatário(Cc):</label>
                        <div class="mws-form-item large">
                            <input type="text"  name="cc"  id="cc"  class="mws-textinput email" value="<?php echo $this->configsContactus['cc']; ?>"/>
                        </div>
                    </div>


                </div>
                <button type="submit" class="mws-button green">Salvar configurações</button>
            </form>
        </div>
    </div>
</div>

<div class="mws-panel grid_4 mws-collapsible  mws-collapsed">
    <div class="mws-panel-header">
        <span>Google Analytics</span>
    </div>
    <div class="mws-panel-body">
        <div class="mws-panel-content">
            <form class="mws-form" id="google-analytics-config" method="post" action="<?php echo $this->serverUrl('/backend/config/save/path/google-analytics'); ?>">
                <div class="mws-form-inline">

                    <div class="mws-form-row">
                        <label>Script:</label>
                        <div class="mws-form-item large">
                            <textarea name="script" id="script" class="mws-textinput required"><?php echo $this->configsGoogleAnalytics['script']; ?></textarea>
                        </div>
                    </div>

                    <button type="submit" class="mws-button green">Salvar configuração</button>
                </div>
            </form>
        </div>
    </div>
</div>