 <!-- Panels Start -->
  
            	                
            	
                
            	<div class="mws-panel grid_8" style="width: 700px;">
                	<div class="mws-panel-header">
                    	<span class="mws-i-24 i-key">Cadastrar nova permissão</span>
                    </div>
                    <div class="mws-panel-body">
                    	<form id="user-permission-add" class="mws-form" action="<?php echo  $this->serverUrl('/backend/user-permissions/add'); ?>">
                    	 
                        	<div class="mws-form-inline">                                
                    			<div class="mws-form-row">
                    				<label>Nome de permissões:</label>
											<div class="mws-form-item large">
												<input type="text" id="name" name="name"
													class="mws-textinput required" value="" />
											</div>
                    			</div>
                                
                    			<div class="mws-form-row">
                    			 <?php foreach ($this->resources as $resource): ?>
                    				<label for="resource-<?php echo $resource['id'];?>"><?php echo $resource['description'];?></label>
                    				<div id="privileges-list" class="mws-form-item large">
                    					<select id="resource-<?php echo $resource['id'];?>" multiple="multiple" size="10" class="chzn-select">
                    					<?php 
                    						$privileges = $this->userPermission()->getAllPrivilegesByResourceId($resource['id']);
                    						foreach ($privileges as $privilege) : ?>

                                            <option value="<?php echo $privilege['id']?>"><?php echo $privilege['description']?></option>
                    						<?php endforeach;?>
                    					</select>
                    				</div>
                    				<?php endforeach; ?>
                    			</div>

                            </div>
                    		<div class="mws-button-row">
                    			<input type="submit" value="Salvar Permissão" class="mws-button green" />
                    			<input type="reset" value="Limpar" class="mws-button gray" />
                    		</div>
                        </form>
                    </div>    	
                </div>
                
            	
          <!-- Panels End -->

                
            	
 