<script>
function removePermission(id){
   if(confirm('Tem certeza que deseja remover esta permissão de usuário ?')){
	$.post('/backend/user-permissions/remove/',{'id':id}, function(data){
 		 alert(data.message);
		 window.location="<?php echo $this->serverUrl('/backend/user-permissions/list'); ?>";
	},'json');
   }
}

</script>
<div class="mws-panel grid_8">

<div class="mws-panel-header">
		<span class="mws-i-24 mws-i-24 i-group-2">Lista de Permissões </span>
	</div>
	<div class="mws-panel-body">
		<table class="mws-datatable mws-table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Nome da Permissão</th>
					<th>data do cadastro</th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>
                <?php
                foreach ( $this->permission as $permission) {
                    ?>
                    <tr class="gradeU">
					<td><? echo $permission['role_id']; ?></td>
					<td><? echo $permission['name']; ?></td>
					
					<td style="text-align: center;"><? echo $permission['createdFormatted']; ?> </td>
					<td class="center">
						<ul id="icons-16" class="clearfix">
						  <?php  if($this->UserPermission()->isAllowed('user-permissions','edit')){                 
                               ?>
							<li
								onclick="window.location='/backend/user-permissions/edit/role-id/<? echo $permission['role_id']; ?>'"
								class="mws-ic-16 ic-application-edit" title="Editar"></li>
							 <?php } ?>
							  <?php  if($this->UserPermission()->isAllowed('user-permissions','remove')){                 
                               ?>
							<li
								onclick="removePermission('<? echo $permission['role_id']; ?>')"
								class="mws-ic-16 ic-cancel" title="Excluir"></li>
								<?php } ?>
						</ul>
					</td>
				</tr>
                <?php } ?>
            </tbody>
		</table>
	</div>

</div>
