<?php $this->jQuery()->addJavascriptFile('/js/modules/back-end/conteudo.js'); ?>

<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-table-1">Lista de Categorias de Conteúdos</span>
    </div>
    <div class="mws-panel-body">
        <table  class="mws-datatable mws-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Título da Categoria</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <?php
                foreach ($this->categorias as $categoria) {
                    
                    ?>
                    <tr class="gradeU">
                        <td><? echo $categoria['id_conteudo_categoria']; ?></td>
                        <td><? echo $this->arvoreCategoria($categoria['id_conteudo_categoria']); ?></td>
                        <td class="center">
                            <ul id="icons-16" class="clearfix">
                                <?php if ($this->UserPermission()->isAllowed('conteudo-categoria', 'cadastro')) { ?>
                                    <li onclick="window.location = '/backend/conteudo-categoria/cadastro/id_conteudo_categoria/<? echo $categoria['id_conteudo_categoria']; ?>';" class="mws-ic-16 ic-application-edit" title="Editar"></li>
                                <?php } ?>
                                <?php if ($this->UserPermission()->isAllowed('conteudo-categoria', 'deletar')) { ?>
                                    <li onclick="if(confirm('Deseja realmente deletar esta categoria?')) { window.location = '/backend/conteudo-categoria/deletar/id_conteudo_categoria/<? echo $categoria['id_conteudo_categoria']; ?>/'; }" class="mws-ic-16 ic-cancel" title="Excluir"></li>
                                    <?php } ?>
                            </ul>
                        </td>
                    </tr>
                <?php } ?>
            </tbody>
        </table>
    </div>

</div>