<link rel="stylesheet" href="/css/dr-responde.css" type="text/css" media="screen">
<link rel="stylesheet" href="/css/formularios.css" type="text/css" media="screen">
<link rel="stylesheet" href="/css/vitrine-empresa.css" type="text/css" media="screen">
<!-- main body -->
<div id="middle">
    <section  class="articles_box conteudotitulo" >
        <ul id="navcaminho">
            <li class="primeiro"><a href="/">Home</a></li>
            <li><a href="/">Principal</a></li>
            <li class="ultimo"><a href="#">Dr. Responde</a></li>
        </ul>
        <div class="titulo_pagina">
            <h1><span>Dr. Responde</span></h1>
        </div>
    </section>
    <form class="duvidas-filtro">
        <a href="#" class="envie_duvida">Envie sua dúvida</a>
        <input type="text" value="Digite aqui sua dúvida e veja se já foi respondida..." />
        <select>
            <option>em todas as categorias</option>
        </select>
        <a href="#" class="buscar">Buscar</a>
    </form>
    <!-- content column -->
    <div class="conteudo_limite">
        <!-- right column -->
        <aside class="dir-lista-guia">
            <div class="categorias">
                <h3>Categorias</h3>
                <ul>
                    <li><a href="#">Adoção e Resgate</a></li>
                    <li><a href="#">Comportamento e Treinamento</a></li>
                    <li><a href="#">Livros e Entretenimento</a></li>
                    <li><a href="#">Raças</a></li>
                    <li><a href="#">Alimentação e Nutrição</a></li>
                    <li><a href="#">Saúde e  Bem-estar</a></li>
                    <li><a href="#">Leis e Legislação</a></li>
                    <li><a href="#">Produtos</a></li>
                    <li><a href="#">Filhotes</a></li>
                    <li><a href="#">Viagens e Recreação</a></li>
                </ul>
            </div>
            <div class="servicos-lista">
                <h3>Serviços</h3>
                <div class="item_servico">
                    <img src="/images/conteudo/alimentacao_fornecedor.jpg" alt="" />
                    <span class="leg_imagem">Alimentação</span>
                    <h4>Cia dos Bichos</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    <a href="#" class="leiamais">Leia Mais ></a>
                </div>
                <div class="item_servico">
                    <img src="/images/conteudo/alimentacao_fornecedor.jpg" alt="" />
                    <span class="leg_imagem">Alimentação</span>
                    <h4>Cia dos Bichos</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    <a href="#" class="leiamais">Leia Mais ></a>
                </div>
                <div class="item_servico">
                    <img src="/images/conteudo/alimentacao_fornecedor.jpg" alt="" />
                    <span class="leg_imagem">Alimentação</span>
                    <h4>Cia dos Bichos</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    <a href="#" class="leiamais">Leia Mais ></a>
                </div>
                <div class="item_servico ultimo">
                    <img src="/images/conteudo/alimentacao_fornecedor.jpg" alt="" />
                    <span class="leg_imagem">Alimentação</span>
                    <h4>Cia dos Bichos</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    <a href="#" class="leiamais">Leia Mais ></a>
                </div>
            </div>
            <div class="publicidade">
                <p>Publicidade</p>
                <a href="#"><img src="/images/conteudo/pub_pet_care.jpg" alt="Jack Nicholson" /></a>
            </div>
        </aside>
        <!-- / right column -->
        <div class="conteudo-dr-responde-limite">
            <div class="box_imagem">
                <img src="/images/conteudo/jack_nicholson.jpg" alt="Jack Nicholson" />
                <p>Perguntado por <a href="#">Jack Nicholson</a></p>
            </div>
            <div class="conteudo-dr-responde">
                <h2>Meu cãozinho anda muito triste, não como e qquando come pouco, é provável que seja alguma doença, ou seria insatisfação com alguma coisa?</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ornare, purus lobortis tincidunt facilisis, est turpis venenatis ligula, id gravida massa nisl ac sapien. Phasellus lobortis malesuada velit quis mattis. Nulla id est ante. Donec id ipsum nibh. Quisque vel nisi rutrum neque rhoncus lobortis vel a velit. Sed consectetur neque vitae nunc posuere scelerisque. Fusce sed diam vel sem hendrerit porttitor. Curabitur at risus vel magna vulputate lacinia sit amet rutrum justo. Phasellus auctor purus sed justo condimentum sodales. Sed in nulla sem. Phasellus sollicitudin sodales purus, id consectetur justo pharetra non. Sed sed tellus ligula, dictum vehicula tortor.</p>
                <p>Nam et dui lectus. Mauris vulputate consequat odio, quis pulvinar neque adipiscing eu. Sed lacus leo, venenatis egestas consectetur ut, aliquet vel ante. Aliquam aliquam vehicula lacus, eget suscipit justo venenatis sit amet. Suspendisse sed risus enim. Sed ullamcorper placerat nibh vel posuere. Ut laoreet molestie enim nec aliquet. Sed quis pellentesque urna. Aenean tristique erat non nibh tristique et lobortis nibh pellentesque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum cursus commodo odio et rutrum.</p>
                <p>Vivamus sodales dapibus ante sit amet sollicitudin. Integer at quam sem, at suscipit mi. Nullam scelerisque mollis interdum. Phasellus ultricies, est eget convallis mattis, augue nibh consequat purus, sed convallis urna arcu et lorem. Vivamus eleifend, urna eu tincidunt consequat, ligula massa rutrum orci, sit amet commodo metus quam ac magna. Fusce malesuada hendrerit leo, sit amet euismod nunc faucibus eget. Donec sed enim pellentesque mi consequat bibendum. Quisque ullamcorper aliquet laoreet. Curabitur consequat tortor vitae sapien consectetur eu facilisis libero luctus. Duis commodo mollis imperdiet. Mauris eget odio nec nisl lobortis iaculis vitae ac felis. Fusce neque turpis, luctus vel consectetur id, commodo ullamcorper enim.</p>
                <div class="limpa"></div>
            </div>
        </div>
        <div class="perguntas_relacionadas">
            <h3>Perguntas Relacionadas</h3>
            <ul>
                <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></li>
                <li><a href="#">Vivamus ornare, purus lobortis tincidunt facilisis, est turpis venenatis ligula.</a></li>
                <li><a href="#">, id gravida massa nisl ac sapien. Phasellus lobortis malesuada velit quis mattis. Nulla id est ante. Donec id ipsum nibh.</a></li>
                <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></li>
                <li><a href="#">Vivamus ornare, purus lobortis tincidunt facilisis, est turpis venenatis ligula.</a></li>
                <li><a href="#">, id gravida massa nisl ac sapien. Phasellus lobortis malesuada velit quis mattis. Nulla id est ante. Donec id ipsum nibh.</a></li>
            </ul>
        </div>
        <div class="limpa"></div>
    </div>
    <!-- / content column -->
</div>
<!-- / main body -->