<link rel="stylesheet" href="/css/dr-responde.css" type="text/css" media="screen">
<link rel="stylesheet" href="/css/formularios.css" type="text/css" media="screen">
<link rel="stylesheet" href="/css/vitrine-empresa.css" type="text/css" media="screen">
<!-- main body -->
<div id="middle">
    <section  class="articles_box conteudotitulo" >
        <ul id="navcaminho">
            <li class="primeiro"><a href="/">Home</a></li>
            <li><a href="/">Principal</a></li>
            <li class="ultimo"><a href="#">Dr. Responde</a></li>
        </ul>
        <div class="titulo_pagina">
            <h1><span>Dr. Responde</span></h1>
        </div>
    </section>
    <div class="info-geral">
        <p>Este espaço é reservado para você enviar suas dúvidas para nossa equipe de veterinários e especialistas. As perguntas mais pertinentes serão publicadas e outras podem não ser respondidas imediatamente. Muitas dúvidas já foram respondidas por nossa equipe, faça abaixo uma busca em nosso site. Lembre-se: as respostas dadas não substituem a consulta ao seu <strong>veterinário</strong>.</p>
        <a href="javascript:;" class="fechar" onclick="$('.info-geral').fadeOut();"></a>
    </div>
    <form class="duvidas-filtro">
        <a href="#" class="envie_duvida">Envie sua dúvida</a>
        <input type="text" value="Digite aqui sua dúvida e veja se já foi respondida..." />
        <select>
            <option>em todas as categorias</option>
        </select>
        <a href="#" class="buscar">Buscar</a>
    </form>
    <!-- content column -->
    <div id="tabs-dr-responde">
        <ul id="navegacao-tab">
            <li class="itens" ><span class="sombra-esquerda"></span><a href="#tab-novas">Novas</a><span class="sombra-direira"></span></li>
            <li class="itens" ><span class="sombra-esquerda"></span><a href="#tab-mais-curtidas">Mais Curtidas</a><span class="sombra-direira"></span></li>
            <li class="itens" ><span class="sombra-esquerda"></span><a href="#tab-mais-procuradas">Mais Procuradas</a><span class="sombra-direira"></span></li>
        </ul>
        <div id="tab-novas" class="box-lista-dr-responde">
            <div class="item-dr-responde primeiro">
                <img src="/images/conteudo/jack_nicholson.jpg" alt="Jack Nicholson" />
                <h2>Titulo da pergunta do usuário</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ornare, purus lobortis tincidunt facilisis, est turpis venenatis ligula, id gravida massa nisl ac sapien. Phasellus lobortis malesuada velit quis mattis. Nulla id est ante. Donec id ipsum nibh. Quisque vel nisi rutrum neque rhoncus lobortis vel a velit.</p>
                <p class="autor">Perguntado por <a href="#">Jack Nicholson</a> em <a href="#">Raças</a></p>
                <div class="compartilhar_pergunta">
                    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
                    <script type="text/javascript">stLight.options({publisher: "7a84abb0-ebef-4473-90fa-8d52f6c530be", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
                    <div>
                        <div class="plugin_bt_like"><span class='st_fblike_hcount' displayText='Facebook Like'></span></div>
                    </div>
                </div>
                <div class="limpa"></div>
            </div>
            <div class="item-dr-responde">
                <img src="/images/conteudo/tyler_durden.jpg" alt="Tyler Durden" />
                <h2>Titulo da pergunta do usuário</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ornare, purus lobortis tincidunt facilisis, est turpis venenatis ligula, id gravida massa nisl ac sapien. Phasellus lobortis malesuada velit quis mattis. Nulla id est ante. Donec id ipsum nibh. Quisque vel nisi rutrum neque rhoncus lobortis vel a velit.</p>
                <p class="autor">Perguntado por <a href="#">Tyler Durden</a> em <a href="#">Alimentação</a></p>
                <div class="compartilhar_pergunta">
                    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
                    <script type="text/javascript">stLight.options({publisher: "7a84abb0-ebef-4473-90fa-8d52f6c530be", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
                    <div>
                        <div class="plugin_bt_like"><span class='st_fblike_hcount' displayText='Facebook Like'></span></div>
                    </div>
                </div>
                <div class="limpa"></div>
            </div>
            <div class="item-dr-responde">
                <img src="/images/conteudo/jack_nicholson.jpg" alt="Jack Nicholson" />
                <h2>Titulo da pergunta do usuário</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ornare, purus lobortis tincidunt facilisis, est turpis venenatis ligula, id gravida massa nisl ac sapien. Phasellus lobortis malesuada velit quis mattis. Nulla id est ante. Donec id ipsum nibh. Quisque vel nisi rutrum neque rhoncus lobortis vel a velit.</p>
                <p class="autor">Perguntado por <a href="#">Jack Nicholson</a> em <a href="#">Raças</a></p>
                <div class="compartilhar_pergunta">
                    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
                    <script type="text/javascript">stLight.options({publisher: "7a84abb0-ebef-4473-90fa-8d52f6c530be", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
                    <div>
                        <div class="plugin_bt_like"><span class='st_fblike_hcount' displayText='Facebook Like'></span></div>
                    </div>
                </div>
                <div class="limpa"></div>
            </div>
            <div class="item-dr-responde">
                <img src="/images/conteudo/tyler_durden.jpg" alt="Tyler Durden" />
                <h2>Titulo da pergunta do usuário</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ornare, purus lobortis tincidunt facilisis, est turpis venenatis ligula, id gravida massa nisl ac sapien. Phasellus lobortis malesuada velit quis mattis. Nulla id est ante. Donec id ipsum nibh. Quisque vel nisi rutrum neque rhoncus lobortis vel a velit.</p>
                <p class="autor">Perguntado por <a href="#">Tyler Durden</a> em <a href="#">Alimentação</a></p>
                <div class="compartilhar_pergunta">
                    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
                    <script type="text/javascript">stLight.options({publisher: "7a84abb0-ebef-4473-90fa-8d52f6c530be", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
                    <div>
                        <div class="plugin_bt_like"><span class='st_fblike_hcount' displayText='Facebook Like'></span></div>
                    </div>
                </div>
                <div class="limpa"></div>
            </div>
            <div class="item-dr-responde">
                <img src="/images/conteudo/jack_nicholson.jpg" alt="Jack Nicholson" />
                <h2>Titulo da pergunta do usuário</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ornare, purus lobortis tincidunt facilisis, est turpis venenatis ligula, id gravida massa nisl ac sapien. Phasellus lobortis malesuada velit quis mattis. Nulla id est ante. Donec id ipsum nibh. Quisque vel nisi rutrum neque rhoncus lobortis vel a velit.</p>
                <p class="autor">Perguntado por <a href="#">Jack Nicholson</a> em <a href="#">Raças</a></p>
                <div class="compartilhar_pergunta">
                    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
                    <script type="text/javascript">stLight.options({publisher: "7a84abb0-ebef-4473-90fa-8d52f6c530be", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
                    <div>
                        <div class="plugin_bt_like"><span class='st_fblike_hcount' displayText='Facebook Like'></span></div>
                    </div>
                </div>
                <div class="limpa"></div>
            </div>
            <div class="item-dr-responde ultimo">
                <img src="/images/conteudo/tyler_durden.jpg" alt="Tyler Durden" />
                <h2>Titulo da pergunta do usuário</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ornare, purus lobortis tincidunt facilisis, est turpis venenatis ligula, id gravida massa nisl ac sapien. Phasellus lobortis malesuada velit quis mattis. Nulla id est ante. Donec id ipsum nibh. Quisque vel nisi rutrum neque rhoncus lobortis vel a velit.</p>
                <p class="autor">Perguntado por <a href="#">Tyler Durden</a> em <a href="#">Alimentação</a></p>
                <div class="compartilhar_pergunta">
                    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
                    <script type="text/javascript">stLight.options({publisher: "7a84abb0-ebef-4473-90fa-8d52f6c530be", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
                    <div>
                        <div class="plugin_bt_like"><span class='st_fblike_hcount' displayText='Facebook Like'></span></div>
                    </div>
                </div>
                <div class="limpa"></div>
            </div>            
        </div>
        <div id="tab-mais-curtidas" class="box-lista-dr-responde">
            <div class="item-dr-responde primeiro">
                <img src="/images/conteudo/jack_nicholson.jpg" alt="Jack Nicholson" />
                <h2>Titulo da pergunta do usuário</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ornare, purus lobortis tincidunt facilisis, est turpis venenatis ligula, id gravida massa nisl ac sapien. Phasellus lobortis malesuada velit quis mattis. Nulla id est ante. Donec id ipsum nibh. Quisque vel nisi rutrum neque rhoncus lobortis vel a velit.</p>
                <p class="autor">Perguntado por <a href="#">Jack Nicholson</a> em <a href="#">Raças</a></p>
                <div class="compartilhar_pergunta">
                    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
                    <script type="text/javascript">stLight.options({publisher: "7a84abb0-ebef-4473-90fa-8d52f6c530be", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
                    <div>
                        <div class="plugin_bt_like"><span class='st_fblike_hcount' displayText='Facebook Like'></span></div>
                    </div>
                </div>
                <div class="limpa"></div>
            </div>
            <div class="item-dr-responde">
                <img src="/images/conteudo/tyler_durden.jpg" alt="Tyler Durden" />
                <h2>Titulo da pergunta do usuário</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ornare, purus lobortis tincidunt facilisis, est turpis venenatis ligula, id gravida massa nisl ac sapien. Phasellus lobortis malesuada velit quis mattis. Nulla id est ante. Donec id ipsum nibh. Quisque vel nisi rutrum neque rhoncus lobortis vel a velit.</p>
                <p class="autor">Perguntado por <a href="#">Tyler Durden</a> em <a href="#">Alimentação</a></p>
                <div class="compartilhar_pergunta">
                    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
                    <script type="text/javascript">stLight.options({publisher: "7a84abb0-ebef-4473-90fa-8d52f6c530be", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
                    <div>
                        <div class="plugin_bt_like"><span class='st_fblike_hcount' displayText='Facebook Like'></span></div>
                    </div>
                </div>
                <div class="limpa"></div>
            </div>
            <div class="item-dr-responde">
                <img src="/images/conteudo/jack_nicholson.jpg" alt="Jack Nicholson" />
                <h2>Titulo da pergunta do usuário</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ornare, purus lobortis tincidunt facilisis, est turpis venenatis ligula, id gravida massa nisl ac sapien. Phasellus lobortis malesuada velit quis mattis. Nulla id est ante. Donec id ipsum nibh. Quisque vel nisi rutrum neque rhoncus lobortis vel a velit.</p>
                <p class="autor">Perguntado por <a href="#">Jack Nicholson</a> em <a href="#">Raças</a></p>
                <div class="compartilhar_pergunta">
                    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
                    <script type="text/javascript">stLight.options({publisher: "7a84abb0-ebef-4473-90fa-8d52f6c530be", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
                    <div>
                        <div class="plugin_bt_like"><span class='st_fblike_hcount' displayText='Facebook Like'></span></div>
                    </div>
                </div>
                <div class="limpa"></div>
            </div>
            <div class="item-dr-responde">
                <img src="/images/conteudo/tyler_durden.jpg" alt="Tyler Durden" />
                <h2>Titulo da pergunta do usuário</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ornare, purus lobortis tincidunt facilisis, est turpis venenatis ligula, id gravida massa nisl ac sapien. Phasellus lobortis malesuada velit quis mattis. Nulla id est ante. Donec id ipsum nibh. Quisque vel nisi rutrum neque rhoncus lobortis vel a velit.</p>
                <p class="autor">Perguntado por <a href="#">Tyler Durden</a> em <a href="#">Alimentação</a></p>
                <div class="compartilhar_pergunta">
                    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
                    <script type="text/javascript">stLight.options({publisher: "7a84abb0-ebef-4473-90fa-8d52f6c530be", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
                    <div>
                        <div class="plugin_bt_like"><span class='st_fblike_hcount' displayText='Facebook Like'></span></div>
                    </div>
                </div>
                <div class="limpa"></div>
            </div>
            <div class="item-dr-responde">
                <img src="/images/conteudo/jack_nicholson.jpg" alt="Jack Nicholson" />
                <h2>Titulo da pergunta do usuário</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ornare, purus lobortis tincidunt facilisis, est turpis venenatis ligula, id gravida massa nisl ac sapien. Phasellus lobortis malesuada velit quis mattis. Nulla id est ante. Donec id ipsum nibh. Quisque vel nisi rutrum neque rhoncus lobortis vel a velit.</p>
                <p class="autor">Perguntado por <a href="#">Jack Nicholson</a> em <a href="#">Raças</a></p>
                <div class="compartilhar_pergunta">
                    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
                    <script type="text/javascript">stLight.options({publisher: "7a84abb0-ebef-4473-90fa-8d52f6c530be", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
                    <div>
                        <div class="plugin_bt_like"><span class='st_fblike_hcount' displayText='Facebook Like'></span></div>
                    </div>
                </div>
                <div class="limpa"></div>
            </div>
            <div class="item-dr-responde ultimo">
                <img src="/images/conteudo/tyler_durden.jpg" alt="Tyler Durden" />
                <h2>Titulo da pergunta do usuário</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ornare, purus lobortis tincidunt facilisis, est turpis venenatis ligula, id gravida massa nisl ac sapien. Phasellus lobortis malesuada velit quis mattis. Nulla id est ante. Donec id ipsum nibh. Quisque vel nisi rutrum neque rhoncus lobortis vel a velit.</p>
                <p class="autor">Perguntado por <a href="#">Tyler Durden</a> em <a href="#">Alimentação</a></p>
                <div class="compartilhar_pergunta">
                    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
                    <script type="text/javascript">stLight.options({publisher: "7a84abb0-ebef-4473-90fa-8d52f6c530be", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
                    <div>
                        <div class="plugin_bt_like"><span class='st_fblike_hcount' displayText='Facebook Like'></span></div>
                    </div>
                </div>
                <div class="limpa"></div>
            </div>
        </div>
        <div id="tab-mais-procuradas" class="box-lista-dr-responde">
            <div class="item-dr-responde primeiro">
                <img src="/images/conteudo/jack_nicholson.jpg" alt="Jack Nicholson" />
                <h2>Titulo da pergunta do usuário</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ornare, purus lobortis tincidunt facilisis, est turpis venenatis ligula, id gravida massa nisl ac sapien. Phasellus lobortis malesuada velit quis mattis. Nulla id est ante. Donec id ipsum nibh. Quisque vel nisi rutrum neque rhoncus lobortis vel a velit.</p>
                <p class="autor">Perguntado por <a href="#">Jack Nicholson</a> em <a href="#">Raças</a></p>
                <div class="compartilhar_pergunta">
                    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
                    <script type="text/javascript">stLight.options({publisher: "7a84abb0-ebef-4473-90fa-8d52f6c530be", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
                    <div>
                        <div class="plugin_bt_like"><span class='st_fblike_hcount' displayText='Facebook Like'></span></div>
                    </div>
                </div>
                <div class="limpa"></div>
            </div>
            <div class="item-dr-responde">
                <img src="/images/conteudo/tyler_durden.jpg" alt="Tyler Durden" />
                <h2>Titulo da pergunta do usuário</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ornare, purus lobortis tincidunt facilisis, est turpis venenatis ligula, id gravida massa nisl ac sapien. Phasellus lobortis malesuada velit quis mattis. Nulla id est ante. Donec id ipsum nibh. Quisque vel nisi rutrum neque rhoncus lobortis vel a velit.</p>
                <p class="autor">Perguntado por <a href="#">Tyler Durden</a> em <a href="#">Alimentação</a></p>
                <div class="compartilhar_pergunta">
                    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
                    <script type="text/javascript">stLight.options({publisher: "7a84abb0-ebef-4473-90fa-8d52f6c530be", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
                    <div>
                        <div class="plugin_bt_like"><span class='st_fblike_hcount' displayText='Facebook Like'></span></div>
                    </div>
                </div>
                <div class="limpa"></div>
            </div>
            <div class="item-dr-responde">
                <img src="/images/conteudo/jack_nicholson.jpg" alt="Jack Nicholson" />
                <h2>Titulo da pergunta do usuário</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ornare, purus lobortis tincidunt facilisis, est turpis venenatis ligula, id gravida massa nisl ac sapien. Phasellus lobortis malesuada velit quis mattis. Nulla id est ante. Donec id ipsum nibh. Quisque vel nisi rutrum neque rhoncus lobortis vel a velit.</p>
                <p class="autor">Perguntado por <a href="#">Jack Nicholson</a> em <a href="#">Raças</a></p>
                <div class="compartilhar_pergunta">
                    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
                    <script type="text/javascript">stLight.options({publisher: "7a84abb0-ebef-4473-90fa-8d52f6c530be", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
                    <div>
                        <div class="plugin_bt_like"><span class='st_fblike_hcount' displayText='Facebook Like'></span></div>
                    </div>
                </div>
                <div class="limpa"></div>
            </div>
            <div class="item-dr-responde">
                <img src="/images/conteudo/tyler_durden.jpg" alt="Tyler Durden" />
                <h2>Titulo da pergunta do usuário</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ornare, purus lobortis tincidunt facilisis, est turpis venenatis ligula, id gravida massa nisl ac sapien. Phasellus lobortis malesuada velit quis mattis. Nulla id est ante. Donec id ipsum nibh. Quisque vel nisi rutrum neque rhoncus lobortis vel a velit.</p>
                <p class="autor">Perguntado por <a href="#">Tyler Durden</a> em <a href="#">Alimentação</a></p>
                <div class="compartilhar_pergunta">
                    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
                    <script type="text/javascript">stLight.options({publisher: "7a84abb0-ebef-4473-90fa-8d52f6c530be", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
                    <div>
                        <div class="plugin_bt_like"><span class='st_fblike_hcount' displayText='Facebook Like'></span></div>
                    </div>
                </div>
                <div class="limpa"></div>
            </div>
            <div class="item-dr-responde">
                <img src="/images/conteudo/jack_nicholson.jpg" alt="Jack Nicholson" />
                <h2>Titulo da pergunta do usuário</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ornare, purus lobortis tincidunt facilisis, est turpis venenatis ligula, id gravida massa nisl ac sapien. Phasellus lobortis malesuada velit quis mattis. Nulla id est ante. Donec id ipsum nibh. Quisque vel nisi rutrum neque rhoncus lobortis vel a velit.</p>
                <p class="autor">Perguntado por <a href="#">Jack Nicholson</a> em <a href="#">Raças</a></p>
                <div class="compartilhar_pergunta">
                    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
                    <script type="text/javascript">stLight.options({publisher: "7a84abb0-ebef-4473-90fa-8d52f6c530be", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
                    <div>
                        <div class="plugin_bt_like"><span class='st_fblike_hcount' displayText='Facebook Like'></span></div>
                    </div>
                </div>
                <div class="limpa"></div>
            </div>
            <div class="item-dr-responde ultimo">
                <img src="/images/conteudo/tyler_durden.jpg" alt="Tyler Durden" />
                <h2>Titulo da pergunta do usuário</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ornare, purus lobortis tincidunt facilisis, est turpis venenatis ligula, id gravida massa nisl ac sapien. Phasellus lobortis malesuada velit quis mattis. Nulla id est ante. Donec id ipsum nibh. Quisque vel nisi rutrum neque rhoncus lobortis vel a velit.</p>
                <p class="autor">Perguntado por <a href="#">Tyler Durden</a> em <a href="#">Alimentação</a></p>
                <div class="compartilhar_pergunta">
                    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
                    <script type="text/javascript">stLight.options({publisher: "7a84abb0-ebef-4473-90fa-8d52f6c530be", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
                    <div>
                        <div class="plugin_bt_like"><span class='st_fblike_hcount' displayText='Facebook Like'></span></div>
                    </div>
                </div>
                <div class="limpa"></div>
            </div>
        </div>
        <!-- right column -->
        <aside class="dir-lista-guia">
            <div class="categorias">
                <h3>Categorias</h3>
                <ul>
                    <li><a href="#">Adoção e Resgate</a></li>
                    <li><a href="#">Comportamento e Treinamento</a></li>
                    <li><a href="#">Livros e Entretenimento</a></li>
                    <li><a href="#">Raças</a></li>
                    <li><a href="#">Alimentação e Nutrição</a></li>
                    <li><a href="#">Saúde e  Bem-estar</a></li>
                    <li><a href="#">Leis e Legislação</a></li>
                    <li><a href="#">Produtos</a></li>
                    <li><a href="#">Filhotes</a></li>
                    <li><a href="#">Viagens e Recreação</a></li>
                </ul>
            </div>
            <div class="servicos-lista">
                <h3>Serviços</h3>
                <div class="item_servico">
                    <img src="/images/conteudo/alimentacao_fornecedor.jpg" alt="" />
                    <span class="leg_imagem">Alimentação</span>
                    <h4>Cia dos Bichos</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    <a href="#" class="leiamais">Leia Mais ></a>
                </div>
                <div class="item_servico">
                    <img src="/images/conteudo/alimentacao_fornecedor.jpg" alt="" />
                    <span class="leg_imagem">Alimentação</span>
                    <h4>Cia dos Bichos</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    <a href="#" class="leiamais">Leia Mais ></a>
                </div>
                <div class="item_servico">
                    <img src="/images/conteudo/alimentacao_fornecedor.jpg" alt="" />
                    <span class="leg_imagem">Alimentação</span>
                    <h4>Cia dos Bichos</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    <a href="#" class="leiamais">Leia Mais ></a>
                </div>
                <div class="item_servico ultimo">
                    <img src="/images/conteudo/alimentacao_fornecedor.jpg" alt="" />
                    <span class="leg_imagem">Alimentação</span>
                    <h4>Cia dos Bichos</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    <a href="#" class="leiamais">Leia Mais ></a>
                </div>
            </div>
        </aside>
        <!-- / right column -->
        <div class="limpa"></div>
    </div>
    <!-- / content column -->

</div>
<!-- / main body -->