<?php
$this->jQuery()->addStylesheet('/css/formularios.css');
$this->jQuery()->addStylesheet('/css/empresa.css');
$this->jQuery()->addStylesheet('/css/colorbox.css');
$this->jQuery()->addJavascriptFile('/js/jquery.colorbox.js');
$this->jQuery()->addJavascriptFile('/js/modules/front-end/vitrine-empresa.js');
$this->jQuery()->addJavascriptFile('http://w.sharethis.com/button/buttons.js');
$this->jQuery()->addJavascriptFile('/js/jquery/jquery.mask.js');

$this->jQuery()->addOnLoad('$("#it_telefone").mask("(99)9999-9999");');
?>
<!-- main body -->
<div id="middle">
    <ul class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Bread Crumb</a></li>
        <li><a href="#"> Fornecedores</a></li>
        <li><a href="#">Fotógrafos de animais </a></li>
        <li class="ativo"><a href="#">Vitrine</a></li>
    </ul>
    <div class="pesquisa">
        <form action="" method="get">
            <label class="label-pesquisa">Sua pesquisa:</label>
            <input class="input-pesquisa"value="Fotografia Minas Gerais">
        </form>
        <ul class="paginacao">
            <li class="item-paginacao"><a class="item-paginacao-link-anterior" href="#">Anterior</a></li>
            <li class="item-paginacao"><a class="item-paginacao-link-atual" href="#">3</a></li>
            <li	class="item-paginacao"> de 65 empresas</li>
            <li class="item-paginacao"><a class="item-paginacao-link-seguinte" href="#">Seguinte </a></li>
        </ul>
    </div>
    <div class="fornecedor-ficha">
        <?php if ($this->empresa['fotoPrincipal']) { ?>
            <?php foreach ($this->empresa['fotoPrincipal'] as $posicao => $array) { ?>
                <a href="<?php echo '/uploads/modules/front-end/empresa/fotos/' . $array['vc_foto']; ?>" class="colorbox">
                    <figure class="avatar"> 
                        <img class="selo" src="/images/selo-fornecedor.png" alt="selo de fornecedor" /> 
                        <?php if ($array['vc_foto']) { ?>
                            <img src="<?php echo '/uploads/modules/front-end/empresa/fotos/miniaturas/' . $array['vc_foto']; ?>" alt="<?php echo $array['vc_foto_descricao']; ?>" />
                        <?php } ?>
                    </figure>
                </a>
            <?php } ?>
        <?php } ?>
        <div class="informacoes-fornecedor">
            <h2 class="titulo-fornecedor"><?php echo $this->empresa['vc_nome_empresa']; ?></h2>
            <div class="localizacao-icone"><img src="/images/icone-localizacao.png" alt="icone-localizacao" /></div>
            <p class="endereco-fornecedor">
                <span class="linha-destacado">
                    <?php echo $this->empresa['vc_endereco']; ?>, 
                    <?php echo $this->empresa['vc_numero']; ?>
                </span> 
                <?php echo $this->empresa['vc_bairro']; ?><br/>
                <?php echo $this->empresa['it_cep']; ?> - 
                <?php echo $this->empresa['vc_cidade']; ?>/<?php echo $this->empresa['vc_estado']; ?>
            </p>
            <ul class="servicos-fornecedor">
                <li class="servios-item"><a class="servicos-link" href="#"> <img src="/images/icone-gato.png" alt="icone-gato" /></a></li>
                <li class="servios-item"><a class="servicos-link" href="#"> <img src="/images/icone-cachoro.png" alt="icone-cachorro" /></a></li>
                <li class="servios-item"><a class="servicos-link" href="#"><img src="/images/icone-24h.png" alt="icone-24h" /></a></li>
            </ul>
            <div class="compartilhar-bar">
                <div class="plugin-compartilhar">
                    <div class="plugin_bt_like"><span class='st_fblike_hcount' displayText='Facebook Like'></span></div>
                    <span class='st_twitter_hcount' displayText='Tweet'></span>
                    <span class='st_googleplus_large' displayText='Google +'></span>
                </div>
                <a class="enviar-amigo" href="#">Enviar para amigo</a> 
                <a class="adicionar-favoritos" href="#">Adicionar favorito</a> 
            </div>
        </div>
        <div class="acoes">
            <a class="btn-telefone" href="#">Ver telefone</a>
            <a class="btn-orcamento"href="/vitrine-empresa/detalhe/id_fornecedor/<?php echo $this->empresa['id_fornecedor']; ?>/#tab-pedir">Pedir orçamento</a>
            <a class="btn-servicos"href="/vitrine-empresa/detalhe/id_fornecedor/<?php echo $this->empresa['id_fornecedor']; ?>/#tab-agenda">Agendar serviço</a>
        </div>
    </div>
    <div class="conteudo">
        <div id="tabelas-perfil">
            <ul id="navegacao-tab">
                <li class="itens" ><span class="sombra-esquerda"></span><a href="#tab-perfil">Perfil</a><span class="sombra-direira"></span></li>
                <li class="itens" ><span class="sombra-esquerda"></span><a href="#tab-pedir">Pedir orçamento</a><span class="sombra-direira"></span></li>
                <li class="itens" ><span class="sombra-esquerda"></span><a href="#tab-agendar">Agendar serviço</a><span class="sombra-direira"></span></li>
                <li class="itens laranja" ><a href="#tab-servicos">+ Serviços</a></li>
                <li class="itens laranja" ><a href="#tab-vistos">+ Vistos</a></li>
            </ul>
            <div id="tab-perfil">
                <?php echo $this->partial('vitrine-empresa/includes/perfil.phtml', array('perfil' => $this->empresa)); ?>
            </div>
            <div id="tab-pedir">
                <?php echo $this->partial('vitrine-empresa/includes/orcamento.phtml', array('orcamento' => $this->empresa)); ?>
            </div>
            <div id="tab-agendar">
                <?php echo $this->partial('vitrine-empresa/includes/agenda.phtml', array('agenda' => $this->empresa)); ?>
            </div>
            <div id="tab-servicos">
                <h3 class="titulo-chamada-perfil">Parson Russel Terrier</h3>
                Primeira Aba 4
            </div>
            <div id="tab-vistos">
                <h3 class="titulo-chamada-perfil">Parson Russel Terrier</h3>
                Primeira Aba 5
            </div>
        </div>

        <div class="limpa"></div>
        <section class="featured_services_box estendido">
            <div class="title">
                <h3><span>SERVIÇOS PARA O SEU PET</span></h3>
            </div>
            <article class="services_box_content">
                <ul>
                    <li class="first">
                        <div class="image">
                            <a href=""><img src="/images/services_img1.jpg" alt="" /></a> 
                            <a href="" class="caption">SALÃO DE BELEZA</a>
                        </div>
                        <div class="detail">
                            <h4>Pet Society</h4>
                            <span class="link">
                                <a href="">São Paulo</a> &gt; 
                                <a href="">São Paulo</a>
                            </span>
                            <p>Lorem ipsum dolor sit amet, consec tetur adicing elit, sed do eiusm tempor inci didunt ut labore et dolore magna aliqua. Lorem ipsum dolor</p>
                            <a href="" class="mais">Leia mais</a> </div>
                    </li>
                    <li class="alt">
                        <div class="image"><a href=""><img src="/images/services_img2.jpg" alt="" /></a> <a href="" class="caption">SALÃO DE BELEZA</a></div>
                        <div class="detail">
                            <h4>Pet Society</h4>
                            <span class="link"><a href="">São Paulo</a> &gt; <a href="">São Paulo</a></span>
                            <p>Lorem ipsum dolor sit amet, consec tetur adicing elit, sed do eiusm tempor inci didunt ut labore et dolore magna aliqua. Lorem ipsum dolor</p>
                            <a href="" class="mais">Leia mais</a> </div>
                    </li>
                    <li>
                        <div class="image"><a href=""><img src="/images/services_img3.jpg" alt="" /></a> <a href="" class="caption">SALÃO DE BELEZA</a></div>
                        <div class="detail">
                            <h4>Propet Oster</h4>
                            <span class="link"><a href="">São Paulo</a> &gt; <a href="">São Paulo</a></span>
                            <p>Lorem ipsum dolor sit amet, consec tetur adicing elit, sed do eiusm tempor inci didunt ut labore et dolore magna aliqua. Lorem ipsum dolor</p>
                            <a href="" class="mais">Leia mais</a> </div>
                    </li>
                    <li>
                        <div class="image"><a href=""><img src="/images/services_img3.jpg" alt="" /></a> <a href="" class="caption">SALÃO DE BELEZA</a></div>
                        <div class="detail">
                            <h4>Propet Oster</h4>
                            <span class="link"><a href="">São Paulo</a> &gt; <a href="">São Paulo</a></span>
                            <p>Lorem ipsum dolor sit amet, consec tetur adicing elit, sed do eiusm tempor inci didunt ut labore et dolore magna aliqua. Lorem ipsum dolor</p>
                            <a href="" class="mais">Leia mais</a> </div>
                    </li>
                    <li class="alt">
                        <div class="image"><a href=""><img src="/images/services_img4.jpg" alt="" /></a> <a href="" class="caption">SALÃO DE BELEZA</a></div>
                        <div class="detail">
                            <h4>Hoizonte Verde</h4>
                            <span class="link"><a href="">Porto Alegre</a> &gt; <a href="">Rio Grande do Sul</a></span>
                            <p>Lorem ipsum dolor sit amet, consec tetur adicing elit, sed do eiusm tempor inci didunt ut labore et dolore magna aliqua. </p>
                            <a href="" class="mais">Leia mais</a> </div>
                    </li>
                </ul>
            </article>
        </section> 
    </div>
    <!-- / main body -->
</div>