<link rel="stylesheet" href="/css/formularios.css" type="text/css" media="screen">
<link rel="stylesheet" href="/css/empresaabas3.css" type="text/css" media="screen">
<!-- main body -->
<div id="middle">
    <ul class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Bread Crumb</a></li>
        <li><a href="#"> Fornecedores</a></li>
        <li><a href="#">Fotógrafos de animais </a></li>
        <li class="ativo"><a href="#">Vitrine</a></li>
    </ul>
    <div class="pesquisa">
        <form action="" method="get">
            <label class="label-pesquisa">Sua pesquisa:</label>
            <input class="input-pesquisa"value="Fotografia Minas Gerais">
        </form>
        <ul class="paginacao">
            <li class="item-paginacao"><a class="item-paginacao-link-anterior" href="#">Anterior</a></li>
            <li class="item-paginacao"><a class="item-paginacao-link-atual" href="#">3</a></li>
            <li	class="item-paginacao"> de 65 empresas</li>
            <li class="item-paginacao"><a class="item-paginacao-link-seguinte" href="#">Seguinte </a></li>
        </ul>
    </div>
    <div class="fornecedor-ficha">
        <figure class="avatar"> <img class="selo" src="/images/selo-fornecedor.png" alt="selo de fornecedor" /> <img src="/images/conteudo/fornecedor.jpg" alt="fornecedor" /> </figure>
        <div class="informacoes-fornecedor">
            <h2 class="titulo-fornecedor">Studio Henrique Faria</h2>
            <div class="localizacao-icone"><img src="/images/icone-localizacao.png" alt="icone-localizacao" /></div>
            <p class="endereco-fornecedor"><span class="linha-destacado">Avenida Brigadeiro Luis Antonio, 201</span> Jardim Paulista<br/>
                05050-050 - São Paulo/SP</p>
            <ul class="servicos-fornecedor">
                <li class="servios-item"><a class="servicos-link" href="#"> <img src="/images/icone-gato.png" alt="icone-gato" /></a></li>
                <li class="servios-item"><a class="servicos-link" href="#"> <img src="/images/icone-cachoro.png" alt="icone-cachorro" /></a></li>
                <li class="servios-item"><a class="servicos-link" href="#"><img src="/images/icone-24h.png" alt="icone-24h" /></a></li>
            </ul>
            <div class="compartilhar-bar">
                <div class="plugin-compartilhar"></div>
                <a class="enviar-amigo" href="#">Enviar para amigo</a> <a class="adicionar-favoritos" href="#">Adicionar favorito</a> </div>
        </div>
        <div class="acoes"> <a class="btn-telefone" href="#">Ver telefone</a> <a class="btn-orcamento"href="#">Pedir orçamento</a> <a class="btn-servicos"href="#">Agendar serviço</a> </div>
    </div>
    <div class="conteudo">
        <div id="tabelas-perfil">
            <ul id="navegacao-tab">
                <li class="itens" ><span class="sombra-esquerda"></span><a href="#tab-perfil">Perfil</a><span class="sombra-direira"></span></li>
                <li class="itens" ><span class="sombra-esquerda"></span><a href="#tab-fotos">Fotos</a><span class="sombra-direira"></span></li>
                <li class="itens" ><span class="sombra-esquerda"></span><a href="#tab-mapa">Mapa</a><span class="sombra-direira"></span></li>
                <li class="itens" ><span class="sombra-esquerda"></span><a href="#tab-pedir">Pedir orçamento</a><span class="sombra-direira"></span></li>
                <li class="itens" ><span class="sombra-esquerda"></span><a href="#tab-agendar">Agendar serviço</a><span class="sombra-direira"></span></li>
            </ul>
            <div id="tab-perfil">
                <div class="pedir-orcamento"> <a href="#" class="btn-fechar"></a>
                    <div class="introducao-orcamento">
                        <h3 class="titulo-orcamento">PEDIR ORÇAMENTO</h3>
                        <p class="texto-orcamento">Preencha este formulário e a empresa <strong>Studio Henrique Faria</strong> entrará em contato com você.
                            Todos os dados enviados serão tratados de forma confidencial.</p>
                    </div>
                    <div class="formulario-pedido">
                        <p class="titulo-pedido">Você já tem cadastro no Cachorro Gato? <a href="#" class="link-cadastro">Clique aqui</a></p>
                        <form action="" method="get">
                            <div class="input-redondo large">
                                <label>nome<span>*</span></label>
                                <input type="text">
                            </div>
                            <div class="input-redondo float-right">
                                <label>sobrenome<span>*</span></label>
                                <input type="text">
                            </div>
                            <div class="input-redondo large ">
                                <label>e-mail<span>*</span></label>
                                <input type="email" name="email">
                            </div>
                            <div class="input-redondo float-right">
                                <label>telefone<span>*</span></label>
                                <input type="tel">
                            </div>
                            <div class="input-redondo small">
                                <label> Estado</label>
                                <select>
                                    <option value="google"> SP</option>
                                    <option value="google">BP</option>
                                    <option value="twitter">AP</option>
                                </select>
                            </div>
                            <div class="input-redondo xlarge float-right">
                                <label>Cidade<span>*</span></label>
                                <input type="text">
                            </div>
                            <div class="input-redondo full textarea-formulario">
                                <label>O que você precisa<span>*</span></label>
                                <textarea class="textarea-formulario-pedido-large"></textarea>
                            </div>
                            <input name="" type="submit" value="Enviar pedido" class="btn-enviar">
                            <p  class="aviso">Ao clicar em <strong>Enviar pedido</strong> estará cadastrando-se e
                                aceitando as <strong><u><a href="#">condições legais</a></u></strong> do portal CachorroGato</p>
                        </form>
                    </div>
                </div>
                <aside  class="perfil-descricao-fornecedor-aside">
                    <div id="photo-slider">
                        <div class="controle-info">
                            <div class="controle-info-prev"></div>
                            <p class="texto-info">01 de 05</p>
                            <div class="controle-info-next"></div>
                        </div>
                        <div class="ampliar"></div>
                        <img alt="mad dog" src="/images/conteudo/galeria-padrao.gif" />

                        <div class="controle-slide" id="controle-prev"></div>
                        <ul class="lista-slider">
                            <li class="item-slider"><a href="#"><img alt="mad dog" src="/images/conteudo/galeria-padrao-small1.jpg" /></a></li>
                            <li class="item-slider"><a href="#"><img alt="mad dog" src="/images/conteudo/galeria-padrao-small2.jpg" /></a></li>
                            <li class="item-slider"><a href="#"><img alt="mad dog" src="/images/conteudo/galeria-padrao-small3.jpg" /></a></li>
                            <li class="item-slider"><a href="#"><img alt="mad dog" src="/images/conteudo/galeria-padrao-small4.jpg" /></a></li>
                            <li class="item-slider"><a href="#"><img alt="mad dog" src="/images/conteudo/galeria-padrao-small5.jpg" /></a></li>
                            <li class="item-slider"><a href="#"><img alt="mad dog" src="/images/conteudo/galeria-padrao-small5.jpg" /></a></li>
                        </ul>
                        <div class="controle-slide" id="controle-next"></div>
                    </div>
                    <div class="mapa-localizacao">
                        <h3> <span>Localização</span></h3>
                        <div class="mapa-direcoes"></div> 
                    </div>
                </aside>
                <article class="perfil-descricao-fornecedor">
                    <h3 class="titulo-com-pontos"><span>DESCRIÇÃO DE STUDIO HENRIQUE FARIA</span></h3>
                    <p>Henrique Faria quer unir os mundos dos pets e da fotografia de casamento, levando o melhor dos dois para seus cliques. Por isso, garante um ensaio de pets e cobertura de eventos com um olhar diferente, belas composições e jogos de luz.</p>
                    <h4>Experiência</h4>
                    <p>O fotógrafo começou a trabalhar na área quando, em 2002, decidiu com mais alguns amigos montar um site de cobertura de eventos de pets. A curiosidade sobre a fotografia aumentou à medida que Henrique se profissionalizava e, em 2004, foi convidado a trabalhar com uma empresa do ramo da fotografia de pets. Hoje, é estudante de produção de moda e leva aos eventos que faz este olhar único.</p>
                    <h4>Serviços oferecidos</h4>
                    <p> O Studio Henrique Faria faz ensaios em seu estúdio exclusivo, ao ar livre e até em suas casas. Seu equipamento de última tecnologia garante melhor captação da luz exterior sem a necessidade de flashes. Faz a cobertura completa de seu evento, do making of ao final do mesmo.

                        A empresa registra também batizados, confraternizações, formaturas e faz book infantil, de maquiagem ou para modelos. </p>
                    <h4>Área de atuação</h4>
                    <p> O Studio Henrique Faria está no centro da cidade de Divinópolis, em Minas Gerais. Vai até seu evento por toda região centro-oeste do estado. Agende um horário e conheça Henrique e sua equipe. </p>


                    <h4 class="mais-informacoes">Mais informações de Studio Henrique Faria:</h4>
                    <p class="formas-pagamento">Formas de pagamento: <img alt="bandeira visa" src="/images/bandeira-visa.png" /> <img  alt="bandeira Mastercard" src="/images/bandeira-mastercard.png"> <img  alt="bandeira American Express" src="images/bandeira-americaexpress.png" /> <img alt="bandeira Diners" src="/images/bandeira-diners.png" /></p>
                    <p class="horario-funcionamento">Horário de funcionamento: <span class="horario-conteudo">Seg-Sex de 8:00 a 18:00;  Sab de 09:00 a 14:00</span></p>

                    <ul id="bread-interno" class="breadcrumb">
                        <li><a href="#">Fornecedores</a></li>
                        <li><a href="#">Fotógrafos </a></li>
                        <li><a href="#"> Fotógrafos de animais</a></li>
                        <li><a href="#">Fotógrafos de cães </a></li>
                        <li><a href="#">Fotógrafos de Labradores </a></li>
                        <li class="ativo"><a href="#">São Paulo/SP</a></li>
                    </ul>
                    <div id="menores" class="acoes">
                        <a class="btn-telefone" href="#">Ver telefone</a> <a class="btn-orcamento"href="#">Pedir orçamento</a> <a class="btn-servicos"href="#">Agendar serviço</a> </div>
                </article>  
            </div>
            <div id="tab-pedir">
                <h3>Fotos</h3>
                <p>lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque </p>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat</p>
            </div>
            <div id="tab-fotos">
                <h3 class="titulo-chamada-perfil">sassa  Terrier</h3>
                Primeira Aba fotos </div>
            <div id="tab-mapa">
                <h3 class="titulo-chamada-perfil">Terrier</h3>
                Primeira Aba fotos </div>
            <div id="tab-agendar">
                <h3 class="titulo-chamada-perfil">Parson Russel Terrier</h3>
                Primeira Aba 3 </div>
        </div>
        <section class="agendar-servico">
            <h3 class="titulo-com-pontos"><span class="seta-para-baixo">AGENDAR SERVIÇO</span></h3>
            <ul class="passos-agendar">
                <li class="inicio"><span class="texto-inicio">Veja como é fácil e rápido agendar um serviço:</span></li>               
                <li class="passo1"><span class="numero-passo">1</span>  <span class="texto-passo">Escolha o serviço</span></li>
                <li class="passo2"><span class="numero-passo">2</span>  <span class="texto-passo">Clique no horário</span></li>
                <li class="passo3"><span class="numero-passo">3</span> <span class="texto-passo">Agende</span></li>
            </ul>
        </section>
        <div id="tabelas-agendamento" class="nav-agendamento">
            <ul id="navegacao-tab" >
                <li class="itens" ><span class="sombra-esquerda"></span><a href="#tab-banho">Agende Banho</a><span class="sombra-direira"></span></li>
                <li class="itens" ><span class="sombra-esquerda"></span><a href="#tab-tosa">Agende Tosa</a><span class="sombra-direira"></span></li>
                <li class="itens" ><span class="sombra-esquerda"></span><a href="#tab-tosa-banho">Agende Banho + Tosa</a><span class="sombra-direira"></span></li>
                <li class="itens" ><span class="sombra-esquerda"></span><a href="#tab-consulta">Agende Consulta</a><span class="sombra-direira"></span></li>
            </ul>
            <div id="tab-banho">
                <div id="bloco-carrosel">
                    <ul id="carrosel-tabelas">
                        <li class="item-carrosel">
                            <table class="agenda-tabela" cellspacing="0" cellpadding="0">
                                <thead>
                                    <tr class="tb-linha">
                                        <td><a class="link-tabela" href="#">SEGUNDA-FEIRA 04/02/2013</a></td>
                                        <td><a class="link-tabela" href="#">TERÇA-FEIRA 05/02/2013</a></td>
                                        <td><a class="link-tabela" href="#">QUARTA-FEIRA 06/02/2013</a></td>
                                        <td><a class="link-tabela" href="#">QUINTA-FEIRA 07/02/2013</a></td>
                                        <td><a class="link-tabela" href="#">SEXTA-FEIRA 08/02/2013</a></td>
                                        <td><a class="link-tabela" href="#">SÁBADO 09/02/2013</a></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="tb-linha">
                                        <td><a class="link-tabela" href="#">08:00</a></td>
                                        <td><a class="link-tabela" href="#">08:00</a></td>
                                        <td><a class="link-tabela" href="#">08:00</a></td>
                                        <td><a class="link-tabela" href="#">08:00</a></td>
                                        <td><a class="link-tabela" href="#">08:00</a></td>
                                        <td><a class="link-tabela" href="#">08:00</a></td>
                                    </tr>
                                    <tr class="tb-linha">
                                        <td><a class="link-tabela" href="#">08:30</a></td>
                                        <td><a class="link-tabela" href="#">08:30</a></td>
                                        <td><a class="link-tabela" href="#">08:30</a></td>
                                        <td><a class="link-tabela" href="#">08:30</a></td>
                                        <td><a class="link-tabela" href="#">08:30</a></td>
                                        <td><a class="link-tabela" href="#">08:30</a></td>
                                    </tr>
                                    <tr class="tb-linha">
                                        <td><a class="link-tabela" href="#">09:00</a></td>
                                        <td><a class="link-tabela" href="#">09:00</a></td>
                                        <td><a class="link-tabela" href="#">09:00</a></td>
                                        <td><a class="link-tabela" href="#">09:00</a></td>
                                        <td><a class="link-tabela" href="#">09:00</a></td>
                                        <td><a class="link-tabela" href="#">09:00</a></td>
                                    </tr>
                                    <tr class="tb-linha">
                                        <td><a class="link-tabela" href="#">09:30</a></td>
                                        <td><a class="link-tabela" href="#">09:30</a></td>
                                        <td><a class="link-tabela" href="#">09:30</a></td>
                                        <td><a class="link-tabela" href="#">09:30</a></td>
                                        <td><a class="link-tabela" href="#">09:30</a></td>
                                        <td><a class="link-tabela" href="#">09:30</a></td>
                                    </tr>
                                    <tr class="tb-linha">
                                        <td ><a class="link-tabela" href="#">10:00</a></td>
                                        <td ><a class="link-tabela" href="#">10:00</a></td>
                                        <td><a class="link-tabela" href="#">10:00</a></td>
                                        <td ><a class="link-tabela" href="#">10:00</a></td>
                                        <td ><a class="link-tabela" href="#">10:00</a></td>
                                        <td><a class="link-tabela" href="#">10:00</a></td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr class="tb-linha">
                                        <td><a class="link-tabela" href="#">+ ver mais</a></td>
                                        <td><a class="link-tabela" href="#">+ ver mais</a></td>
                                        <td><a class="link-tabela" href="#">+ ver mais</a></td>
                                        <td><a class="link-tabela" href="#">+ ver mais</a></td>
                                        <td><a class="link-tabela" href="#">+ ver mais</a></td>
                                        <td><a class="link-tabela" href="#">+ ver mais</a></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </li>
                    </ul>
                    <div class="controle-carrosel" id="bt-next"></div>
                    <div class="controle-carrosel" id="bt-prev"></div>
                </div>
            </div>
            <div id="tab-tosa">
                <div id="bloco-carrosel">
                    <ul id="carrosel-tabelas">
                        <li class="item-carrosel">
                            <table class="agenda-tabela" cellspacing="0" cellpadding="0">
                                <thead>
                                    <tr class="tb-linha">
                                        <td><a class="link-tabela" href="#">SEGUNDA-FEIRA 04/02/2013</a></td>
                                        <td><a class="link-tabela" href="#">TERÇA-FEIRA 05/02/2013</a></td>
                                        <td><a class="link-tabela" href="#">QUARTA-FEIRA 06/02/2013</a></td>
                                        <td><a class="link-tabela" href="#">QUINTA-FEIRA 07/02/2013</a></td>
                                        <td><a class="link-tabela" href="#">SEXTA-FEIRA 08/02/2013</a></td>
                                        <td><a class="link-tabela" href="#">SÁBADO 09/02/2013</a></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="tb-linha">
                                        <td><a class="link-tabela" href="#">08:00</a></td>
                                        <td><a class="link-tabela" href="#">08:00</a></td>
                                        <td><a class="link-tabela" href="#">08:00</a></td>
                                        <td><a class="link-tabela" href="#">08:00</a></td>
                                        <td><a class="link-tabela" href="#">08:00</a></td>
                                        <td><a class="link-tabela" href="#">08:00</a></td>
                                    </tr>
                                    <tr class="tb-linha">
                                        <td><a class="link-tabela" href="#">08:30</a></td>
                                        <td><a class="link-tabela" href="#">08:30</a></td>
                                        <td><a class="link-tabela" href="#">08:30</a></td>
                                        <td><a class="link-tabela" href="#">08:30</a></td>
                                        <td><a class="link-tabela" href="#">08:30</a></td>
                                        <td><a class="link-tabela" href="#">08:30</a></td>
                                    </tr>
                                    <tr class="tb-linha">
                                        <td><a class="link-tabela" href="#">09:00</a></td>
                                        <td><a class="link-tabela" href="#">09:00</a></td>
                                        <td><a class="link-tabela" href="#">09:00</a></td>
                                        <td><a class="link-tabela" href="#">09:00</a></td>
                                        <td><a class="link-tabela" href="#">09:00</a></td>
                                        <td><a class="link-tabela" href="#">09:00</a></td>
                                    </tr>
                                    <tr class="tb-linha">
                                        <td><a class="link-tabela" href="#">09:30</a></td>
                                        <td><a class="link-tabela" href="#">09:30</a></td>
                                        <td><a class="link-tabela" href="#">09:30</a></td>
                                        <td><a class="link-tabela" href="#">09:30</a></td>
                                        <td><a class="link-tabela" href="#">09:30</a></td>
                                        <td><a class="link-tabela" href="#">09:30</a></td>
                                    </tr>
                                    <tr class="tb-linha">
                                        <td ><a class="link-tabela" href="#">10:00</a></td>
                                        <td ><a class="link-tabela" href="#">10:00</a></td>
                                        <td><a class="link-tabela" href="#">10:00</a></td>
                                        <td ><a class="link-tabela" href="#">10:00</a></td>
                                        <td ><a class="link-tabela" href="#">10:00</a></td>
                                        <td><a class="link-tabela" href="#">10:00</a></td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr class="tb-linha">
                                        <td><a class="link-tabela" href="#">+ ver mais</a></td>
                                        <td><a class="link-tabela" href="#">+ ver mais</a></td>
                                        <td><a class="link-tabela" href="#">+ ver mais</a></td>
                                        <td><a class="link-tabela" href="#">+ ver mais</a></td>
                                        <td><a class="link-tabela" href="#">+ ver mais</a></td>
                                        <td><a class="link-tabela" href="#">+ ver mais</a></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </li>
                    </ul>
                    <div class="controle-carrosel" id="bt-next"></div>
                    <div class="controle-carrosel" id="bt-prev"></div>
                </div>
            </div>
            <div id="tab-tosa-banho">
                <div id="bloco-carrosel">
                    <ul id="carrosel-tabelas">
                        <li class="item-carrosel">
                            <table class="agenda-tabela" cellspacing="0" cellpadding="0">
                                <thead>
                                    <tr class="tb-linha">
                                        <td><a class="link-tabela" href="#">SEGUNDA-FEIRA 04/02/2013</a></td>
                                        <td><a class="link-tabela" href="#">TERÇA-FEIRA 05/02/2013</a></td>
                                        <td><a class="link-tabela" href="#">QUARTA-FEIRA 06/02/2013</a></td>
                                        <td><a class="link-tabela" href="#">QUINTA-FEIRA 07/02/2013</a></td>
                                        <td><a class="link-tabela" href="#">SEXTA-FEIRA 08/02/2013</a></td>
                                        <td><a class="link-tabela" href="#">SÁBADO 09/02/2013</a></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="tb-linha">
                                        <td><a class="link-tabela" href="#">08:00</a></td>
                                        <td><a class="link-tabela" href="#">08:00</a></td>
                                        <td><a class="link-tabela" href="#">08:00</a></td>
                                        <td><a class="link-tabela" href="#">08:00</a></td>
                                        <td><a class="link-tabela" href="#">08:00</a></td>
                                        <td><a class="link-tabela" href="#">08:00</a></td>
                                    </tr>
                                    <tr class="tb-linha">
                                        <td><a class="link-tabela" href="#">08:30</a></td>
                                        <td><a class="link-tabela" href="#">08:30</a></td>
                                        <td><a class="link-tabela" href="#">08:30</a></td>
                                        <td><a class="link-tabela" href="#">08:30</a></td>
                                        <td><a class="link-tabela" href="#">08:30</a></td>
                                        <td><a class="link-tabela" href="#">08:30</a></td>
                                    </tr>
                                    <tr class="tb-linha">
                                        <td><a class="link-tabela" href="#">09:00</a></td>
                                        <td><a class="link-tabela" href="#">09:00</a></td>
                                        <td><a class="link-tabela" href="#">09:00</a></td>
                                        <td><a class="link-tabela" href="#">09:00</a></td>
                                        <td><a class="link-tabela" href="#">09:00</a></td>
                                        <td><a class="link-tabela" href="#">09:00</a></td>
                                    </tr>
                                    <tr class="tb-linha">
                                        <td><a class="link-tabela" href="#">09:30</a></td>
                                        <td><a class="link-tabela" href="#">09:30</a></td>
                                        <td><a class="link-tabela" href="#">09:30</a></td>
                                        <td><a class="link-tabela" href="#">09:30</a></td>
                                        <td><a class="link-tabela" href="#">09:30</a></td>
                                        <td><a class="link-tabela" href="#">09:30</a></td>
                                    </tr>
                                    <tr class="tb-linha">
                                        <td ><a class="link-tabela" href="#">10:00</a></td>
                                        <td ><a class="link-tabela" href="#">10:00</a></td>
                                        <td><a class="link-tabela" href="#">10:00</a></td>
                                        <td ><a class="link-tabela" href="#">10:00</a></td>
                                        <td ><a class="link-tabela" href="#">10:00</a></td>
                                        <td><a class="link-tabela" href="#">10:00</a></td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr class="tb-linha">
                                        <td><a class="link-tabela" href="#">+ ver mais</a></td>
                                        <td><a class="link-tabela" href="#">+ ver mais</a></td>
                                        <td><a class="link-tabela" href="#">+ ver mais</a></td>
                                        <td><a class="link-tabela" href="#">+ ver mais</a></td>
                                        <td><a class="link-tabela" href="#">+ ver mais</a></td>
                                        <td><a class="link-tabela" href="#">+ ver mais</a></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </li>
                    </ul>
                    <div class="controle-carrosel" id="bt-next"></div>
                    <div class="controle-carrosel" id="bt-prev"></div>
                </div>
            </div>
            <div id="tab-consulta">
                <div id="bloco-carrosel">
                    <ul id="carrosel-tabelas">
                        <li class="item-carrosel">
                            <table class="agenda-tabela" cellspacing="0" cellpadding="0">
                                <thead>
                                    <tr class="tb-linha">
                                        <td><a class="link-tabela" href="#">SEGUNDA-FEIRA 04/02/2013</a></td>
                                        <td><a class="link-tabela" href="#">TERÇA-FEIRA 05/02/2013</a></td>
                                        <td><a class="link-tabela" href="#">QUARTA-FEIRA 06/02/2013</a></td>
                                        <td><a class="link-tabela" href="#">QUINTA-FEIRA 07/02/2013</a></td>
                                        <td><a class="link-tabela" href="#">SEXTA-FEIRA 08/02/2013</a></td>
                                        <td><a class="link-tabela" href="#">SÁBADO 09/02/2013</a></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="tb-linha">
                                        <td><a class="link-tabela" href="#">08:00</a></td>
                                        <td><a class="link-tabela" href="#">08:00</a></td>
                                        <td><a class="link-tabela" href="#">08:00</a></td>
                                        <td><a class="link-tabela" href="#">08:00</a></td>
                                        <td><a class="link-tabela" href="#">08:00</a></td>
                                        <td><a class="link-tabela" href="#">08:00</a></td>
                                    </tr>
                                    <tr class="tb-linha">
                                        <td><a class="link-tabela" href="#">08:30</a></td>
                                        <td><a class="link-tabela" href="#">08:30</a></td>
                                        <td><a class="link-tabela" href="#">08:30</a></td>
                                        <td><a class="link-tabela" href="#">08:30</a></td>
                                        <td><a class="link-tabela" href="#">08:30</a></td>
                                        <td><a class="link-tabela" href="#">08:30</a></td>
                                    </tr>
                                    <tr class="tb-linha">
                                        <td><a class="link-tabela" href="#">09:00</a></td>
                                        <td><a class="link-tabela" href="#">09:00</a></td>
                                        <td><a class="link-tabela" href="#">09:00</a></td>
                                        <td><a class="link-tabela" href="#">09:00</a></td>
                                        <td><a class="link-tabela" href="#">09:00</a></td>
                                        <td><a class="link-tabela" href="#">09:00</a></td>
                                    </tr>
                                    <tr class="tb-linha">
                                        <td><a class="link-tabela" href="#">09:30</a></td>
                                        <td><a class="link-tabela" href="#">09:30</a></td>
                                        <td><a class="link-tabela" href="#">09:30</a></td>
                                        <td><a class="link-tabela" href="#">09:30</a></td>
                                        <td><a class="link-tabela" href="#">09:30</a></td>
                                        <td><a class="link-tabela" href="#">09:30</a></td>
                                    </tr>
                                    <tr class="tb-linha">
                                        <td ><a class="link-tabela" href="#">10:00</a></td>
                                        <td ><a class="link-tabela" href="#">10:00</a></td>
                                        <td><a class="link-tabela" href="#">10:00</a></td>
                                        <td ><a class="link-tabela" href="#">10:00</a></td>
                                        <td ><a class="link-tabela" href="#">10:00</a></td>
                                        <td><a class="link-tabela" href="#">10:00</a></td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr class="tb-linha">
                                        <td><a class="link-tabela" href="#">+ ver mais</a></td>
                                        <td><a class="link-tabela" href="#">+ ver mais</a></td>
                                        <td><a class="link-tabela" href="#">+ ver mais</a></td>
                                        <td><a class="link-tabela" href="#">+ ver mais</a></td>
                                        <td><a class="link-tabela" href="#">+ ver mais</a></td>
                                        <td><a class="link-tabela" href="#">+ ver mais</a></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </li>
                    </ul>
                    <div class="controle-carrosel" id="bt-next"></div>
                    <div class="controle-carrosel" id="bt-prev"></div>
                </div>
            </div>
        </div>
        </section>
    </div>
    <!-- / main body -->
</div>