<?php
$this->jQuery()->addStylesheet('/css/vitrine-empresa.css');
$this->jQuery()->addStylesheet('/css/colorbox.css');
$this->jQuery()->addJavascriptFile('/js/jquery.colorbox.js');
$this->jQuery()->addJavascriptFile('/js/modules/front-end/vitrine-empresa.js');
?>

<!-- main body -->
<div id="middle">
    <section  class="articles_box conteudotitulo" >
        <ul id="navcaminho">
            <li class="primeiro"><a href="/">Home</a></li>
            <li><a href="/">Principal</a></li>
            <li class="ultimo"><a href="#">Fornecedores</a></li>
        </ul>
        <div class="titulo_pagina">
            <h1><span>Guia de Serviços</span></h1>
        </div>
    </section>
    <!-- featured -->
    <div class="area_filtro">
        <p>Aqui encontrará todos os serviços de que necessite para organizar o seu pet. Fotógrafos, rações, lembranças, banhos, tosas, adestramentos.</p>
        <div class="box_filtro">
            <?php echo $this->partial('vitrine-empresa/includes/guia-servicos.phtml', array('servicos' => '')); ?>
        </div>
    </div>
    <div class="conteudo_full">
        <div id="tabs-guia">
            <ul id="navegacao-tab">
                <li class="itens" ><span class="sombra-esquerda"></span><a href="#tab-lista">Lista</a><span class="sombra-direira"></span></li>
            </ul>
            <div id="tab-lista">
                <!-- right column -->
                <aside class="dir-lista-guia">
                    <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.br/maps?f=q&amp;source=s_q&amp;hl=pt&amp;geocode=&amp;q=Rua+da+Consola%C3%A7%C3%A3o,+S%C3%A3o+Paulo&amp;aq=2&amp;oq=rua+&amp;sll=-22.546052,-48.635514&amp;sspn=8.91199,16.907959&amp;ie=UTF8&amp;hq=&amp;hnear=R.+da+Consola%C3%A7%C3%A3o+-+S%C3%A3o+Paulo&amp;t=m&amp;z=14&amp;ll=-23.552753,-46.659078&amp;output=embed"></iframe>
                    <div class="servicos-lista">
                        <h3>Serviços</h3>
                        <div class="item_servico">
                            <img src="/images/conteudo/alimentacao_fornecedor.jpg" alt="" />
                            <span class="leg_imagem">Alimentação</span>
                            <h4>Cia dos Bichos</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                            <a href="#" class="leiamais">Leia Mais ></a>
                        </div>
                        <div class="item_servico">
                            <img src="/images/conteudo/alimentacao_fornecedor.jpg" alt="" />
                            <span class="leg_imagem">Alimentação</span>
                            <h4>Cia dos Bichos</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                            <a href="#" class="leiamais">Leia Mais ></a>
                        </div>
                        <div class="item_servico">
                            <img src="/images/conteudo/alimentacao_fornecedor.jpg" alt="" />
                            <span class="leg_imagem">Alimentação</span>
                            <h4>Cia dos Bichos</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                            <a href="#" class="leiamais">Leia Mais ></a>
                        </div>
                        <div class="item_servico ultimo">
                            <img src="/images/conteudo/alimentacao_fornecedor.jpg" alt="" />
                            <span class="leg_imagem">Alimentação</span>
                            <h4>Cia dos Bichos</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                            <a href="#" class="leiamais">Leia Mais ></a>
                        </div>
                    </div>
                </aside>
                <!-- / right column -->
                <div class="conteudo_esq">
                    <?php $fila = 1; ?>
                    <?php foreach ($this->empresas as $empresa) { ?>
                        <?php if ($fila == $this->primeiro) { ?>
                            <?php $classe = 'primeiro'; ?>
                        <?php } else if ($fila == $this->ultimo) { ?>
                            <?php $classe = 'ultimo'; ?>
                        <?php } else { ?>
                            <?php $classe = ''; ?>
                        <?php } ?>

                        <div class="guia_servico <?php echo $classe; ?>">
                            <?php foreach ($empresa['fotoPrincipal'] as $indice => $array) { ?>
                                <a href="/uploads/modules/front-end/empresa/fotos/<?php echo $array['vc_foto']; ?>" class="colorbox">
                                    <img src="/uploads/modules/front-end/empresa/fotos/miniaturas/<?php echo $array['vc_foto']; ?>" alt="<?php echo $array['vc_foto_descricao']; ?>" />
                                </a>
                            <?php } ?>
                            <h3><?php echo $empresa['vc_nome_empresa']; ?></h3>
                            <p><?php echo $empresa['vc_descricao_empresa']; ?></p>
                            <a href="#" class="guardar">Guardar</a>
                            <a href="/vitrine-empresa/detalhe/id_fornecedor/<?php echo $empresa['id_fornecedor'] ?>/#tab-pedir" class="pedir-orcamento">Pedir orçamento</a>
                            <a href="/vitrine-empresa/detalhe/id_fornecedor/<?php echo $empresa['id_fornecedor'] ?>/#tab-agenda" class="agendar-servico">Agendar serviço</a>
                            <div class="limpa"></div>
                        </div>
                        <?php $fila++; ?>
                    <?php } ?>
                    <?php echo $this->paginationControl($this->empresas, 'Elastic', array('paginacao.phtml', 'default')); ?>
                </div>
            </div>
        </div>
        <div class="limpa"></div>
    </div>
    <!-- / featured -->
</div>
<!-- / main body -->
