</div>
<!-- / main body -->

</div>
</div>
<!-- / outerwpr -->
<!-- footer -->
<footer id="footer" class="cadastrese">
    <div class="rapidxwpr">
        <!-- footer content -->
        <div class="footer_content">
            <ul id="minimenu">
                <li class="item"><a class="item-link" href="">Cadastre-se em cachorrogato.com.br</a></li>
                <li class="item"><a class="item-link" href="">Cadastro para profissionais</a> </li>
                <li class="item"><a class="item-link" href="">Contato</a></li>
                <li class="item"><a class="item-link" href="">Condições legais</a></li>
                <li class="item"><a class="item-link" href="">Quem somos?</a></li>
            </ul>
            <div class="footer_menu">
                <div class="footer_logo">
                    <a href=""><img src="images/footer_logo.png" alt="" /></a>
                </div>
                <ul>
                    <li><a href="">Contato</a></li>
                    <li><a href="">Condições Legais</a></li>
                    <li><a href="">Cadastro empresas</a></li>
                    <li><a href="">Quem Somos?</a></li>
                </ul>
                <span class="copyright">GPO4 - Copyright 2012 <a href="">www.cachorrogato.com.br</a></span>
            </div>
        </div>
        <!-- / footer content -->

        <!-- footer bottom -->
        <div class="footer_bottom escondio">
            <h3 class="title">CADASTRE-SE <span>e tenha controle total</span></h3>
            <div class="footer_bottom_links">
                <ul>
                    <li><a href="" class="icon01">Agenda</a></li>
                    <li><a href="" class="icon02">Seu Pet</a></li>
                    <li><a href="" class="icon03">Raças</a></li>
                    <li><a href="" class="icon04">Serviços</a></li>
                </ul>
            </div>
            <div class="signup_form">
                <form action="" method="get">
                    <ul>
                        <li><input name="" type="text" value="Seu nome" class="input_item" /></li>
                        <li><input name="" type="text" value="E-mail" class="input_item" /></li>
                        <li class="full"><input name="" type="submit" value="Entrar" class="submit" /></li>
                    </ul>
                </form>
            </div>
        </div>
        <!-- / footer bottom -->
    </div>
</footer>
<!-- / footer -->
</body>
</html>