<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <?php
        echo $this->headTitle('Cahorro Gato', 'APPEND')
                ->headTitle()->setSeparator(' | ') . PHP_EOL;

        echo $this->headMeta()
                ->appendName('Classification', '')
                ->appendName('Abstract', '')
                ->appendName('Author', '@acidcode')
                ->appendName('Contact', 'andre.kernelpanic@gmail.com')
                ->appendName('Publisher', '')
                ->appendName('Robots', 'ALL')
                ->appendName('Robots', 'INDEX,FOLLOW')
                ->appendName('Revisit-After', '5 Days')
                ->appendName('Distribution', 'Global')
                ->appendName('Rating', 'General')
                ->appendName('documentcountrycode', 'br')
                ->appendName('SearchTitle', 'www.cachorrogato.com.br')
                ->appendName('googlebot', 'index,follow')
                ->appendName('viewport', 'width=device-width,initial-scale=1')
                ->appendName('googlebot', 'all')
                ->appendName('Spider Robots', 'all')
                ->appendName('MSNBot', 'all')
                ->appendName('InktomiSlurp', 'all')
                ->appendName('Unknownrobot', 'all')
                ->appendName('Yahoo! Slurp', 'all')
                ->appendName('Revisit-after', '1')
                ->appendHttpEquiv('Content-Language', 'pt-br')
                ->appendHttpEquiv('refresh', '5000')
                ->appendHttpEquiv('pragma', 'no-cache')
                ->appendHttpEquiv('Content-Type', 'text/html; charset=utf-8')
                ->appendHttpEquiv('X-UA-Compatible', 'IE=edge') . PHP_EOL;


        echo $this->jQuery()
                //Bibliotecas jquery e jquery UI
                ->setLocalPath('/js/jquery-1.7.min.js')
                ->setUiLocalPath('/js/jquery-ui-1.10.2.custom.min.js')
                //Scripts JS
                ->addJavascriptFile('/js/global.js')
                ->addJavascriptFile('/js/jquery.uniform.js')
                ->addJavascriptFile('/js/modernizr-2.6.2.min.js')
                //Folhas de Estilos
                ->addStylesheet('/css/style.css')
                ->addStylesheet('/css/formularios.css');

        echo $this->headScript() . PHP_EOL;
        ?>
        <script type="text/javascript">
            $(function() {
                $("input:text, input:radio, input:password, input:file, input:checkbox, textarea, select").uniform();
            });
        </script>
    </head>
    <body>
        <!-- outerwpr -->
        <div class="outerwpr">
            <div class="alertaerro"><span>Por favor corrija os erros antes de prosseguir!</span></div>
            <div class="rapidxwpr cadastro">
                <!-- header -->
                <header id="header">
                    <!-- logo -->
                    <div class="logo">
                        <a href="<?php echo $this->baseUrl(); ?>/"><img src="/images/logo.png" alt="Home" title="Home" /></a>
                    </div>
                    <!-- / logo -->
                    <!-- header content -->
                    <div class="header_content cadastro">
                        <a class="botoes_header_cadastre_se" href="">Cadastre-se</a>
                        <a href="javascript:;" onclick="javascript:abreModal();" class="botoes_header_entre">Entre</a>
                        <a class="botoes_header_acesso_empresa" href="">Acesso empresas</a>
                    </div>
                    <!-- / header content -->
                </header>
                <!-- / header -->
                <!-- main body -->
                <div id="middle">