.ui-spinner {position: relative; top:0; display:block; }
.ui-spinner-buttons {position: absolute; top:-30px; right:0; }
.ui-spinner-button
{
    overflow: hidden;
    outline:none;
    cursor:pointer;
    height:14px;
    width:14px;

    background-color:#e0e0e0;
    color:#666666;
    border:1px solid #ababab;	

    /* CSS 3 */

    -webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.3);
    -moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.3);
    -o-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.3);
    box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.3);
}


.ui-spinner-button:active
{
    -webkit-box-shadow:0 1px 0 rgba(255, 255, 255, 0.2), inset 0 0 4px rgba(0, 0, 0, 0.1) !important;
    -moz-box-shadow:0 1px 0 rgba(255, 255, 255, 0.2), inset 0 0 4px rgba(0, 0, 0, 0.1) !important;
    -o-box-shadow:0 1px 0 rgba(255, 255, 255, 0.2), inset 0 0 4px rgba(0, 0, 0, 0.1) !important;
    box-shadow:0 1px 0 rgba(255, 255, 255, 0.2), inset 0 0 4px rgba(0, 0, 0, 0.1) !important;
}

.ui-spinner-buttons .ui-spinner-down
{
    border-top:0;
    height:13px;
}

.ui-spinner-buttons .ui-spinner-up .ui-icon, 
.ui-spinner-buttons .ui-spinner-down .ui-icon
{
    margin-top:-1px;
}

.ui-spinner-buttons .ui-spinner-down .ui-icon
{
    margin-left:-1px;
}