<div class="mws-panel grid_8">
    <div class="mws-tabs">
        <div id="add-banner">
            <table>
                <tr>
                    <td>
                        <div class="mws-panel grid_8" style="width: auto;">
                            <div class="mws-panel-header">
                                <span class="mws-i-24 mws-i-24 i-user-2">Editar categoria</span>
                            </div>
                            <div class="mws-panel-body" >

                                <form id="add-user" class="mws-form user" method="post" action="/backend/user/add">
                                    <div class="mws-form-col-8-8 alpha">
                                        <label></label>
                                        <div class="mws-form-item large">
                                        </div>
                                    </div>
                                    <div class="mws-button-row">
                                        <input type="submit" value="Editar Categoria" class="mws-button green" /> 
                                        <input type="reset" value="Limpar" class="mws-button gray" />
                                    </div>
                                </form>
                            </div>

                        </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
