<?php $this->jQuery()->addJavascriptFile('/js/modules/back-end/questionario.js'); ?>

<form class="mws-form validacao" method="post" action="<?php echo $this->action; ?>">
    <input type="hidden" name="id_questionario" value="<?php echo $this->data['id_questionario']; ?>"/>
    <input type="hidden" name="id_setor_de_atividade" value="<?php echo $this->data['id_setor_de_atividade']; ?>"/>
    <div class="mws-panel grid_8">
        <div class="mws-tabs">
            <div class="mws-panel grid_8">
                <div class="mws-panel-header">
                    <span class="mws-i-24 mws-i-24 i-user-2">Cadastrar Pergunta Para o Setor: <strong><?php echo $this->setor['vc_setor_atividade']; ?></strong></span>
                </div>
                <div class="mws-panel-body" >
                    <div class="mws-form-message warning">
                        Perguntas com * são de preenchimento obrigatório
                    </div>
                    <div class="mws-form-cols clearfix">
                        <div class = "mws-form-col-8-8 alpha">
                            <div class="mws-form-item large">
                                <label for="bl_campo_obrigatorio">
                                    <input type="checkbox" name="bl_campo_obrigatorio" id="bl_campo_obrigatorio" value="sim" <?php echo ($this->data['bl_campo_obrigatorio'] == 'sim') ? 'checked="checked"' : ''; ?> />
                                    Essa pergunta será obrigatória ? : 
                                </label>
                            </div>
                        </div>
                        <div class = "mws-form-col-8-8 alpha">
                            <label for="vc_rotulo_campo">Título(Rótulo) *: </label>
                            <div class="mws-form-item large">
                                <input type="text" name="vc_rotulo_campo" id="vc_rotulo_campo" value="<?php echo $this->data['vc_rotulo_campo']; ?>" class="mws-textinput big required" />
                            </div>
                        </div>
                        <div class = "mws-form-cols clearfix">
                            <?php foreach ($this->tipo as $array) { ?>
                                <div class = "mws-form-col-1-8 alpha">
                                    <label for="<?php echo $array['id_tipo_campo']; ?>">
                                        <input type="radio" name="id_tipo_campo" onclick="exibirOpcoes('<?php echo $array['vc_campo']; ?>');" id="<?php echo $array['id_tipo_campo']; ?>" value="<?php echo $array['id_tipo_campo']; ?>" <?php echo ($this->data['id_tipo_campo'] == $array['id_tipo_campo']) ? 'checked="checked"' : ''; ?> />
                                        <?php echo $array['vc_campo']; ?>: 
                                    </label>
                                </div>
                            <?php } ?>
                        </div>
                    </div>
                    <div class="mws-button-row">
                        <input type="submit" value="Salvar" class="mws-button green" />
                        <input type="button" value="Voltar" class="mws-button gray" onclick="window.location = '<?php echo $this->voltar; ?>';" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mws-panel grid_8" id="conteudo-opcoes" style="display: <?php echo ($this->data['vc_campo'] == 'radio' || $this->data['vc_campo'] == 'checkbox' || $this->data['vc_campo'] == 'select') ? 'block' : 'none'; ?>;">
        <div class="mws-panel-header">
            <span class="mws-i-24 i-key">Opções</span>
        </div>
        <div class="mws-panel-body">
            <div class="mws-form-inline">                                
                <div id="opcoes">
                    <?php if ($this->opcoes) { ?>
                        <?php foreach ($this->opcoes as $array) { ?>
                            <div class="mws-form-row" id="<?php echo $array['id_opcao']; ?>">
                                <label>Opção:</label>
                                <input type="text" name="vc_opcao_valor[]" value="<?php echo $array['vc_valor_opcao']; ?>" class="mws-textinput" />
                                <input type="button" value="-" class="mws-button orange" onclick="removerOpcao(<?php echo $array['id_opcao']; ?>);" />
                            </div>
                        <?php } ?>
                    <?php } else { ?>
                        <div class="mws-form-row" id="1">
                            <label>Opção:</label>
                            <input type="text" name="vc_opcao_valor[]" value="" class="mws-textinput" />
                            <input type="button" value="-" class="mws-button orange" onclick="removerOpcao(1);" />
                        </div>
                    <?php } ?>
                </div>
            </div>
            <div class="mws-button-row">
                <input type="button" value="Adicionar Opção" class="mws-button green" onclick="adicionarOpcao();" />
            </div>
        </div>    	
    </div>
</form>