<?php $this->jQuery()->addJavascriptFile('/js/modules/back-end/questionario.js'); ?>

<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-table-1">Opções</span>
    </div>
    <div class="mws-panel-body">
        <div class="mws-form-cols clearfix">
            <div class="mws-button-row">
                <input type="button" value="Cadastrar nova pergunta" class="mws-button green" onclick="window.location = '<?php echo $this->action; ?>';"/>
                <input type="button" value="Voltar para Setor de Atividade" class="mws-button gray" onclick="window.location = '/backend/setor-de-atividade/';" />
            </div>
        </div>
    </div>
</div>

<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-table-1">Lista de Pergunta</span>
    </div>
    <div class="mws-panel-body">
        <table  class="mws-datatable mws-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Pergunta</th>
                    <th>Tipo</th>
                    <th>Obrigatório</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <?php
                foreach ($this->questionario as $questionario) {
                    ?>
                    <tr class="gradeU">
                        <td><?php echo $questionario['id_questionario']; ?></td>
                        <td><?php echo $questionario['vc_rotulo_campo']; ?></td>
                        <td><?php echo $questionario['vc_campo']; ?></td>
                        <td><?php echo ($questionario['bl_campo_obrigatorio'] == 'sim') ? 'Sim' : 'Não'; ?></td>
                        <td class="center">
                            <ul id="icons-16" class="clearfix">
                                <?php if ($this->UserPermission()->isAllowed('questionario', 'cadastro')) { ?>
                                    <li onclick="window.location = '/backend/questionario/cadastro/id_setor_de_atividade/<? echo $questionario['id_setor_de_atividade']; ?>/id_questionario/<? echo $questionario['id_questionario']; ?>/';" class="mws-ic-16 ic-application-edit" title="Editar"></li>
                                <?php } ?>
                                <?php if ($this->UserPermission()->isAllowed('questionario', 'deletar')) { ?>
                                    <li onclick="removeQuestionario('<? echo $questionario['id_questionario']; ?>');" class="mws-ic-16 ic-cancel" title="Excluir"></li>
                                <?php } ?>
                            </ul>
                        </td>
                    </tr>
                <?php } ?>
            </tbody>
        </table>

    </div>
</div>

