<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-table-1">Lista Setores de Atividade</span>
    </div>
    <div class="mws-form-message warning">
        Selecione primeiro o <strong>Setor de Atividade</strong> para vincular a um questionário.
    </div>
    <div class="mws-panel-body">
        <table  class="mws-datatable mws-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Setor de Atividade</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($this->setores as $setor) { ?>
                    <tr class="gradeU">
                        <td><?php echo $setor['id_setor_atividade']; ?></td>
                        <td><?php echo $setor['vc_setor_atividade']; ?></td>
                        <td class="center">
                            <ul id="icons-16" class="clearfix">
                                <?php if ($this->UserPermission()->isAllowed('questionario', 'cadastro')) { ?>
                                    <li onclick="window.location = '/backend/questionario/cadastro/id_setor_de_atividade/<? echo $setor['id_setor_atividade']; ?>/';" class="mws-ic-16 ic-accept" title="Escolher"></li>
                                    <?php } ?>
                            </ul>
                        </td>
                    </tr>
                <?php } ?>
            </tbody>
        </table>
    </div>
</div>