/*
 * MWS Admin v1.5 - Error Page Stylesheet
 * This file is part of MWS Admin, an Admin template build for sale at ThemeForest.
 * All copyright to this file is hold by Mairel Theafila <maimairel@yahoo.com> a.k.a nagaemas on ThemeForest.
 * Last Updated:
 * April 29, 2012
 *
 * Table of Contents
 * ==================================================
 *
 * 1. Error Container
 * 2. Error Code
 * 3. Error Code Typography
 *
 */

/* (1) Error Container
================================================== */

div#mws-error-container
{
    margin:auto;
    max-width:652px;
}

/* (2) Error Code
================================================== */

div#mws-error-code
{
    width:100%;
    margin:auto;
    padding:32px 0 63px 0;
    max-width:652px;
    background:url(../../images/core/mws-error-bg.png) no-repeat left top;
    background-size:auto 100%;
}

/* (3) Error Page Typography
================================================== */

div#mws-error-code h1
{
    color:#f0f0f0;
    font-size:40px;
    text-align:center;
    margin:auto;
}

div#mws-error-code h1 span
{
    font-size:72px;
}

div#mws-error-container p
{
    text-align:center;
    background-color:#f0f0f0;
}
