/*
 * MWS Admin v1.5 - Login Form Stylesheet
 * This file is part of MWS Admin, an Admin template build for sale at ThemeForest.
 * All copyright to this file is hold by Mairel Theafila <maimairel@yahoo.com> a.k.a nagaemas on ThemeForest.
 * Last Updated:
 * April 29, 2012
 *
 * Table of Contents
 * ==================================================
 *
 *  1. Login Wrapper
 *  2. Login Box
 *  3. Login Form
 *
 */

@import url("shared.css");

/* (1) Login Wrapper
================================================== */

div#mws-login-wrapper
{
    width:302px;
    left:50%; top:50%;
    margin-left:-151px;
    margin-top:-133px;
    position:absolute;
}

/* (2) Login Box
================================================== */

div#mws-login
{
    background-image:url(../../images/core/mws-dark-bg.png);
    position:relative;
    padding:12px 16px;

    border:1px solid #c0c0c0;
    border-top:2px solid #535353;

    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    -o-border-radius:6px;
    -khtml-border-radius:6px;
    border-radius:6px;

    -webkit-box-shadow:0 2px 3px rgba(0, 0, 0, 0.25);
    -moz-box-shadow:0 2px 3px rgba(0, 0, 0, 0.25);
    -o-box-shadow:0 2px 3px rgba(0, 0, 0, 0.25);
    -khtml-box-shadow:0 2px 3px rgba(0, 0, 0, 0.25);
    box-shadow:0 2px 3px rgba(0, 0, 0, 0.25);
}

div#mws-login h1
{
    color:#ffffff;
    padding:0 8px 8px 8px;
    font-size:18px;
    margin:0;
    position:relative;
    background-image:url(../../images/core/mws-login-stitch.png);
    background-repeat:repeat-x;
    background-position: left bottom;
}

div#mws-login .mws-login-lock
{
    background-image:url(../../images/core/mws-login-circle.png);
    background-repeat: no-repeat;
    background-position: center center;
    position:absolute;
    padding:8px;
    right:-10px;
    top:-10px;

    -webkit-border-radius:20px;
    -khtml-border-radius:20px;
    -o-border-radius:20px;
    -moz-border-radius:20px;
    border-radius:20px;	
}

/* (3) Login Form
================================================== */

div#mws-login form
{
    background-image:url(../../images/core/mws-login-stitch.png);
    background-repeat: repeat-x;
    background-position: left bottom;
    position:relative;
}

div#mws-login .mws-form-row.mws-inset
{
    padding:4px !important;
    font-size:0.9em;
    color:#ffffff;
}

div#mws-login .mws-form-row
{
    padding-left:0;
    padding-right:0;
}

div#mws-login input.mws-login-username
{
    background-image:url(../icons/16/user.png) !important;
    background-repeat:no-repeat;
    background-position:8px center;
}

div#mws-login input.mws-login-password
{
    background-image:url(../icons/16/key.png) !important;
    background-repeat:no-repeat;
    background-position:8px center;
}

div#mws-login input.mws-login-username, 
div#mws-login input.mws-login-password
{
    padding:8px 8px 8px 32px;
    border:1px solid #323232;
    background-color:#ffffff !important;

    /* CSS 3 */

    -webkit-box-shadow:inset 0 0 8px rgba(0, 0, 0, 0.15);
    -moz-box-shadow:inset 0 0 8px rgba(0, 0, 0, 0.15);
    -o-box-shadow:inset 0 0 8px rgba(0, 0, 0, 0.15);
    -khtml-box-shadow:inset 0 0 8px rgba(0, 0, 0, 0.15);
    box-shadow:inset 0 0 8px rgba(0, 0, 0, 0.15);	
}

div#mws-login input.mws-login-username.error, 
div#mws-login input.mws-login-password.error
{
    border-color:#f3797f;
}

div#mws-login input.mws-login-button
{
    width:100%;
    border:1px solid #284609;
}
