/*
 * MWS Admin v1.5 - Misc. Elements Stylesheet
 * This file is part of MWS Admin, an Admin template build for sale at ThemeForest.
 * All copyright to this file is hold by Mairel Theafila <maimairel@yahoo.com> a.k.a nagaemas on ThemeForest.
 * Last Updated:
 * April 29, 2012
 *
 * Table of Contents
 * ==================================================
 *
 * 1. Pagination
 * 2. Wizard Navigation
 * 3. Summary List
 * 4. Panel Toolbar
 *
 */

/* (1) Pagination
================================================== */

.mws-pagination
{
    text-align:center;
    margin:auto;
}

.mws-pagination.left
{
    text-align:left;
}

.mws-pagination.right
{
    text-align:right;
}

.mws-pagination ul li
{
    margin:0;
    display:inline;
    list-style:none;
}

.mws-pagination ul li .mws-paging-button
{
    text-align:center;
    padding:3px 9px;
    margin:4px 1px;
    border:1px solid #cccccc;
    text-decoration:none;
    color:#545454;
    background:#f0f0f0;

    /* CSS 3 */

    -webkit-border-radius:4px;
    -o-border-radius:4px;
    -moz-border-radius:4px;
    -khtml-border-radius:4px;
    border-radius:4px;
}

.mws-pagination ul li .mws-paging-button.current
{
    border-color:#323232;
    color:#ffffff;
    background-color:#323232;
}

.mws-pagination ul li .mws-paging-button.disabled
{
    color:#d0d0d0;
    cursor:default;
}

/* (2) Wizard Navigation
================================================== */

.mws-wizard-nav ul
{
    margin:0;
    padding:0;
    float:left;
}

.mws-wizard-nav
{
    background:#eaeaea url(../../images/core/mws-wizard-nav-bg.png) repeat-x left top;
    border-bottom:1px solid #dddddd;
}

.mws-wizard-nav ul li
{
    float:left;
    list-style:none;
    margin:0; padding:0;
    padding:0 25px;
    margin-right:-25px;
    margin-bottom:-1px;
    border-right:1px solid #d6d6d6;
    background:url(../../images/core/mws-wizard-nav.png) no-repeat left -50px;

    display:block;
    max-width:250px;
    max-height:50px;
    overflow:hidden;
}

.mws-wizard-nav ul li.current a, 
.mws-wizard-nav ul li.current span
{
    color:#666666;
}

.mws-wizard-nav ul li.disabled a, 
.mws-wizard-nav ul li.disabled span
{
    color:#dddddd;
}

.mws-wizard-nav ul li a.mws-i-24, 
.mws-wizard-nav ul li a.mws-ic-16, 
.mws-wizard-nav ul li span.mws-i-24, 
.mws-wizard-nav ul li span.mws-ic-16
{
    background-position:12px center;
    padding-left:40px;
}

.mws-wizard-nav ul li:first-child
{
    background-position:-25px -50px;
    padding-left:12px;
}

.mws-wizard-nav ul li:last-child
{
    padding-right:12px;
}

.mws-wizard-nav ul li:first-child.current, 
.mws-wizard-nav ul li:first-child:hover.current
{
    background-position:-25px top;
}

.mws-wizard-nav ul li:first-child:hover
{
    background-position:-25px -100px;
}

.mws-wizard-nav ul li.current, 
.mws-wizard-nav ul li.current:hover
{
    background-position:left top;
}

.mws-wizard-nav ul li:hover
{
    background-position:left -100px;
}

.mws-wizard-nav ul li a, 
.mws-wizard-nav ul li span
{
    display:block;
    line-height:50px;
    text-decoration:none;
    padding:0 16px;
    color:#999999;
}

/* (3) Summary List
================================================== */

ul.mws-summary
{
    margin:0; 
    padding:0;
}

ul.mws-summary li
{
    padding:0; margin:0;
    list-style-type:none;
    font-size:14px;
    color:#666666;
    padding:2px 4px;
    border-bottom:1px solid #bbbbbb;
    border-top:1px solid #ffffff;

    overflow:hidden;
    display:block;
    text-overflow:ellipsis;
    white-space:nowrap;
}

ul.mws-summary li:first-child
{
    border-top:0;
}

ul.mws-summary li:last-child
{
    border-bottom:0;
}

ul.mws-summary li span
{
    font-size:26px;
    text-align:right;
    margin-right:3px;
    width:80px;
    color:#444444;
    display:inline-block;
}

/* (4) Panel Toolbar
================================================== */

div.mws-panel-toolbar
{
    border-bottom:1px solid #dddddd;
    background:#eaeaea url(../../images/core/mws-toolbar.png) repeat-x left top;
}

div.mws-panel-toolbar.bottom
{
    border-top:1px solid #dddddd;
}

div.mws-panel-toolbar ul, 
div.mws-panel-toolbar ul li
{
    list-style:none;
    padding:0; margin:0;
}

div.mws-panel-toolbar.right ul
{
    float:right;
}

div.mws-panel-toolbar ul
{
    float:left;
}

div.mws-panel-toolbar.right ul li
{
    border-right:0;
    border-left:1px solid #d0d0d0;
}

div.mws-panel-toolbar ul li
{
    display:block;
    float:left;
    border-right:1px solid #d0d0d0;
}

div.mws-panel-toolbar ul li a, 
div.mws-panel-toolbar ul li span
{
    text-decoration:none;
    color:#666666;
    padding:8px 12px;
    display:block;
    cursor:pointer;

    /* CSS 3 */

    -webkit-box-shadow:inset 1px 0px 0px rgba(255, 255, 255, 0.75), inset 0px 1px 0px #ffffff;
    -moz-box-shadow:inset 1px 0px 0px rgba(255, 255, 255, 0.75), inset 0px 1px 0px #ffffff;
    -o-box-shadow:inset 1px 0px 0px rgba(255, 255, 255, 0.75), inset 0px 1px 0px #ffffff;
    -khtml-box-shadow:inset 1px 0px 0px rgba(255, 255, 255, 0.75), inset 0px 1px 0px #ffffff;
    box-shadow:inset 1px 0px 0px rgba(255, 255, 255, 0.75), inset 0px 1px 0px #ffffff;
}

div.mws-panel-toolbar ul li a.mws-ic-16, 
div.mws-panel-toolbar ul li span.mws-ic-16
{
    padding-left:32px;
    background-position:12px center;
}

div.mws-panel-toolbar ul li a:active, 
div.mws-panel-toolbar ul li span:active
{
    background-color:#efefef;

    /* CSS 3 */

    -webkit-box-shadow:inset 0px 0px 8px rgba(0, 0, 0, 0.1) !important;
    -moz-box-shadow:inset 0px 0px 8px rgba(0, 0, 0, 0.1) !important;
    -o-box-shadow:inset 0px 0px 8px rgba(0, 0, 0, 0.1) !important;
    -khtml-box-shadow:inset 0px 0px 8px rgba(0, 0, 0, 0.1) !important;
    box-shadow:inset 0px 0px 8px rgba(0, 0, 0, 0.1) !important;
}
