<?php $this->jQuery()->addJavascriptFile('/js/modules/back-end/raca.js')
        ->addOnLoad("
            
        ");

?>
<?php if ($this->efetivado) { ?>
    <?php echo $this->partial('comando-executado-sucesso.phtml', 'backend'); ?>
<?php } ?>
<form class="mws-form validacao" method="post" action="/backend/raca-gato/cadastro/">
    <input type="hidden" name="id_raca_gato" value="<?php echo $this->formulario['id_raca_gato']; ?>"/>
    <div class = "mws-panel grid_8">
        <div class = "mws-tabs">
            <ul>
                <li><a href = "#add-raca">Raça de Gato</a></li>
                <li><a href = "#add-imagens">Imagens</a></li>
                <li><a href = "#add-seo">SEO</a></li>
                <li><a href = "#add-album-fotos">Album de Fotos</a></li>
                <li><a href = "#add-criadores">Criadores</a></li>
            </ul>
            <!-- add-conteudo -->
            <div id = "add-raca">
                <?php echo $this->partial('raca-gato/includes/add-raca.phtml', 
                        array('formulario' => $this->formulario, 
                            'relacionamentos' => $this->relacionamentos,
                            'temperamentos' => $this->temperamentos)); ?>
            </div>
            <div id = "add-imagens">
                <?php echo $this->partial('raca-gato/includes/add-imagens.phtml', array('formulario' => $this->formulario)); ?>
            </div>
            <div id = "add-seo">
                <?php echo $this->partial('raca-gato/includes/add-seo.phtml', array('formulario' => $this->formulario)); ?>
            </div>
            <div id = "add-album-fotos">
                <?php echo $this->partial('raca-gato/includes/add-album-fotos.phtml', array('formulario' => $this->formulario)); ?>
            </div>
            <div id = "add-criadores">
                <?php echo $this->partial('raca-gato/includes/add-criadores.phtml', array('formulario' => $this->formulario)); ?>
            </div>
            <div class="mws-button-row">
                <input type="submit" value="Salvar" class="mws-button green" />
                <input type="button" value="Voltar" class="mws-button gray" onclick="window.location = '/backend/raca/';" />
            </div>
        </div>
    </div>
</form>