<h3>Exception information:</h3>
<p>
    <b>Message:</b> <?php echo $this->exception->getMessage() ?>
</p>
<br />
<h3>Stack trace:</h3>
<pre><?php //echo $this->exception->getTraceAsString()     ?>
</pre>
<br />
<h3>Request Parameters:</h3>
<pre><?php //echo var_export($this->request->getParams(), true)     ?>
</pre>
</div>
<br />
