<section class="agendar-servico">
    <h3 class="titulo-com-pontos"><span class="seta-para-baixo">AGENDAR SERVIÇO</span></h3>
    <ul class="passos-agendar">
        <li class="inicio"><span class="texto-inicio">Veja como é fácil e rápido agendar um serviço:</span></li>               
        <li class="passo1"><span class="numero-passo">1</span>  <span class="texto-passo">Escolha o serviço</span></li>
        <li class="passo2"><span class="numero-passo">2</span>  <span class="texto-passo">Clique no horário</span></li>
        <li class="passo3"><span class="numero-passo">3</span> <span class="texto-passo">Agende</span></li>
    </ul>
</section>
<div id="tabelas-agendamento" class="nav-agendamento">
    <ul id="navegacao-tab" >
        <li class="itens" ><span class="sombra-esquerda"></span><a href="#tab-banho">Agende Banho</a><span class="sombra-direira"></span></li>
        <li class="itens" ><span class="sombra-esquerda"></span><a href="#tab-tosa">Agende Tosa</a><span class="sombra-direira"></span></li>
        <li class="itens" ><span class="sombra-esquerda"></span><a href="#tab-tosa-banho">Agende Banho + Tosa</a><span class="sombra-direira"></span></li>
        <li class="itens" ><span class="sombra-esquerda"></span><a href="#tab-consulta">Agende Consulta</a><span class="sombra-direira"></span></li>
    </ul>
    <div id="tab-banho">
        <div id="bloco-carrosel">
            <ul id="carrosel-tabelas">
                <li class="item-carrosel">
                    <table class="agenda-tabela" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr class="tb-linha">
                                <td><a class="link-tabela" href="#">SEGUNDA-FEIRA 04/02/2013</a></td>
                                <td><a class="link-tabela" href="#">TERÇA-FEIRA 05/02/2013</a></td>
                                <td><a class="link-tabela" href="#">QUARTA-FEIRA 06/02/2013</a></td>
                                <td><a class="link-tabela" href="#">QUINTA-FEIRA 07/02/2013</a></td>
                                <td><a class="link-tabela" href="#">SEXTA-FEIRA 08/02/2013</a></td>
                                <td><a class="link-tabela" href="#">SÁBADO 09/02/2013</a></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="tb-linha">
                                <td><a class="link-tabela" href="#">08:00</a></td>
                                <td><a class="link-tabela" href="#">08:00</a></td>
                                <td><a class="link-tabela" href="#">08:00</a></td>
                                <td><a class="link-tabela" href="#">08:00</a></td>
                                <td><a class="link-tabela" href="#">08:00</a></td>
                                <td><a class="link-tabela" href="#">08:00</a></td>
                            </tr>
                            <tr class="tb-linha">
                                <td><a class="link-tabela" href="#">08:30</a></td>
                                <td><a class="link-tabela" href="#">08:30</a></td>
                                <td><a class="link-tabela" href="#">08:30</a></td>
                                <td><a class="link-tabela" href="#">08:30</a></td>
                                <td><a class="link-tabela" href="#">08:30</a></td>
                                <td><a class="link-tabela" href="#">08:30</a></td>
                            </tr>
                            <tr class="tb-linha">
                                <td><a class="link-tabela" href="#">09:00</a></td>
                                <td><a class="link-tabela" href="#">09:00</a></td>
                                <td><a class="link-tabela" href="#">09:00</a></td>
                                <td><a class="link-tabela" href="#">09:00</a></td>
                                <td><a class="link-tabela" href="#">09:00</a></td>
                                <td><a class="link-tabela" href="#">09:00</a></td>
                            </tr>
                            <tr class="tb-linha">
                                <td><a class="link-tabela" href="#">09:30</a></td>
                                <td><a class="link-tabela" href="#">09:30</a></td>
                                <td><a class="link-tabela" href="#">09:30</a></td>
                                <td><a class="link-tabela" href="#">09:30</a></td>
                                <td><a class="link-tabela" href="#">09:30</a></td>
                                <td><a class="link-tabela" href="#">09:30</a></td>
                            </tr>
                            <tr class="tb-linha">
                                <td ><a class="link-tabela" href="#">10:00</a></td>
                                <td ><a class="link-tabela" href="#">10:00</a></td>
                                <td><a class="link-tabela" href="#">10:00</a></td>
                                <td ><a class="link-tabela" href="#">10:00</a></td>
                                <td ><a class="link-tabela" href="#">10:00</a></td>
                                <td><a class="link-tabela" href="#">10:00</a></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr class="tb-linha">
                                <td><a class="link-tabela" href="#">+ ver mais</a></td>
                                <td><a class="link-tabela" href="#">+ ver mais</a></td>
                                <td><a class="link-tabela" href="#">+ ver mais</a></td>
                                <td><a class="link-tabela" href="#">+ ver mais</a></td>
                                <td><a class="link-tabela" href="#">+ ver mais</a></td>
                                <td><a class="link-tabela" href="#">+ ver mais</a></td>
                            </tr>
                        </tfoot>
                    </table>
                </li>
            </ul>
            <div class="controle-carrosel" id="bt-next"></div>
            <div class="controle-carrosel" id="bt-prev"></div>
        </div>
    </div>
    <div id="tab-tosa">
        <div id="bloco-carrosel">
            <ul id="carrosel-tabelas">
                <li class="item-carrosel">
                    <table class="agenda-tabela" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr class="tb-linha">
                                <td><a class="link-tabela" href="#">SEGUNDA-FEIRA 04/02/2013</a></td>
                                <td><a class="link-tabela" href="#">TERÇA-FEIRA 05/02/2013</a></td>
                                <td><a class="link-tabela" href="#">QUARTA-FEIRA 06/02/2013</a></td>
                                <td><a class="link-tabela" href="#">QUINTA-FEIRA 07/02/2013</a></td>
                                <td><a class="link-tabela" href="#">SEXTA-FEIRA 08/02/2013</a></td>
                                <td><a class="link-tabela" href="#">SÁBADO 09/02/2013</a></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="tb-linha">
                                <td><a class="link-tabela" href="#">08:00</a></td>
                                <td><a class="link-tabela" href="#">08:00</a></td>
                                <td><a class="link-tabela" href="#">08:00</a></td>
                                <td><a class="link-tabela" href="#">08:00</a></td>
                                <td><a class="link-tabela" href="#">08:00</a></td>
                                <td><a class="link-tabela" href="#">08:00</a></td>
                            </tr>
                            <tr class="tb-linha">
                                <td><a class="link-tabela" href="#">08:30</a></td>
                                <td><a class="link-tabela" href="#">08:30</a></td>
                                <td><a class="link-tabela" href="#">08:30</a></td>
                                <td><a class="link-tabela" href="#">08:30</a></td>
                                <td><a class="link-tabela" href="#">08:30</a></td>
                                <td><a class="link-tabela" href="#">08:30</a></td>
                            </tr>
                            <tr class="tb-linha">
                                <td><a class="link-tabela" href="#">09:00</a></td>
                                <td><a class="link-tabela" href="#">09:00</a></td>
                                <td><a class="link-tabela" href="#">09:00</a></td>
                                <td><a class="link-tabela" href="#">09:00</a></td>
                                <td><a class="link-tabela" href="#">09:00</a></td>
                                <td><a class="link-tabela" href="#">09:00</a></td>
                            </tr>
                            <tr class="tb-linha">
                                <td><a class="link-tabela" href="#">09:30</a></td>
                                <td><a class="link-tabela" href="#">09:30</a></td>
                                <td><a class="link-tabela" href="#">09:30</a></td>
                                <td><a class="link-tabela" href="#">09:30</a></td>
                                <td><a class="link-tabela" href="#">09:30</a></td>
                                <td><a class="link-tabela" href="#">09:30</a></td>
                            </tr>
                            <tr class="tb-linha">
                                <td ><a class="link-tabela" href="#">10:00</a></td>
                                <td ><a class="link-tabela" href="#">10:00</a></td>
                                <td><a class="link-tabela" href="#">10:00</a></td>
                                <td ><a class="link-tabela" href="#">10:00</a></td>
                                <td ><a class="link-tabela" href="#">10:00</a></td>
                                <td><a class="link-tabela" href="#">10:00</a></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr class="tb-linha">
                                <td><a class="link-tabela" href="#">+ ver mais</a></td>
                                <td><a class="link-tabela" href="#">+ ver mais</a></td>
                                <td><a class="link-tabela" href="#">+ ver mais</a></td>
                                <td><a class="link-tabela" href="#">+ ver mais</a></td>
                                <td><a class="link-tabela" href="#">+ ver mais</a></td>
                                <td><a class="link-tabela" href="#">+ ver mais</a></td>
                            </tr>
                        </tfoot>
                    </table>
                </li>
            </ul>
            <div class="controle-carrosel" id="bt-next"></div>
            <div class="controle-carrosel" id="bt-prev"></div>
        </div>
    </div>
    <div id="tab-tosa-banho">
        <div id="bloco-carrosel">
            <ul id="carrosel-tabelas">
                <li class="item-carrosel">
                    <table class="agenda-tabela" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr class="tb-linha">
                                <td><a class="link-tabela" href="#">SEGUNDA-FEIRA 04/02/2013</a></td>
                                <td><a class="link-tabela" href="#">TERÇA-FEIRA 05/02/2013</a></td>
                                <td><a class="link-tabela" href="#">QUARTA-FEIRA 06/02/2013</a></td>
                                <td><a class="link-tabela" href="#">QUINTA-FEIRA 07/02/2013</a></td>
                                <td><a class="link-tabela" href="#">SEXTA-FEIRA 08/02/2013</a></td>
                                <td><a class="link-tabela" href="#">SÁBADO 09/02/2013</a></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="tb-linha">
                                <td><a class="link-tabela" href="#">08:00</a></td>
                                <td><a class="link-tabela" href="#">08:00</a></td>
                                <td><a class="link-tabela" href="#">08:00</a></td>
                                <td><a class="link-tabela" href="#">08:00</a></td>
                                <td><a class="link-tabela" href="#">08:00</a></td>
                                <td><a class="link-tabela" href="#">08:00</a></td>
                            </tr>
                            <tr class="tb-linha">
                                <td><a class="link-tabela" href="#">08:30</a></td>
                                <td><a class="link-tabela" href="#">08:30</a></td>
                                <td><a class="link-tabela" href="#">08:30</a></td>
                                <td><a class="link-tabela" href="#">08:30</a></td>
                                <td><a class="link-tabela" href="#">08:30</a></td>
                                <td><a class="link-tabela" href="#">08:30</a></td>
                            </tr>
                            <tr class="tb-linha">
                                <td><a class="link-tabela" href="#">09:00</a></td>
                                <td><a class="link-tabela" href="#">09:00</a></td>
                                <td><a class="link-tabela" href="#">09:00</a></td>
                                <td><a class="link-tabela" href="#">09:00</a></td>
                                <td><a class="link-tabela" href="#">09:00</a></td>
                                <td><a class="link-tabela" href="#">09:00</a></td>
                            </tr>
                            <tr class="tb-linha">
                                <td><a class="link-tabela" href="#">09:30</a></td>
                                <td><a class="link-tabela" href="#">09:30</a></td>
                                <td><a class="link-tabela" href="#">09:30</a></td>
                                <td><a class="link-tabela" href="#">09:30</a></td>
                                <td><a class="link-tabela" href="#">09:30</a></td>
                                <td><a class="link-tabela" href="#">09:30</a></td>
                            </tr>
                            <tr class="tb-linha">
                                <td ><a class="link-tabela" href="#">10:00</a></td>
                                <td ><a class="link-tabela" href="#">10:00</a></td>
                                <td><a class="link-tabela" href="#">10:00</a></td>
                                <td ><a class="link-tabela" href="#">10:00</a></td>
                                <td ><a class="link-tabela" href="#">10:00</a></td>
                                <td><a class="link-tabela" href="#">10:00</a></td>
                            </tr>
                        </tbody>	
                        <tfoot>
                            <tr class="tb-linha">
                                <td><a class="link-tabela" href="#">+ ver mais</a></td>
                                <td><a class="link-tabela" href="#">+ ver mais</a></td>
                                <td><a class="link-tabela" href="#">+ ver mais</a></td>
                                <td><a class="link-tabela" href="#">+ ver mais</a></td>
                                <td><a class="link-tabela" href="#">+ ver mais</a></td>
                                <td><a class="link-tabela" href="#">+ ver mais</a></td>
                            </tr>
                        </tfoot>
                    </table>
                </li>
            </ul>
            <div class="controle-carrosel" id="bt-next"></div>
            <div class="controle-carrosel" id="bt-prev"></div>
        </div>
    </div>
    <div id="tab-consulta">
        <div id="bloco-carrosel">
            <ul id="carrosel-tabelas">
                <li class="item-carrosel">
                    <table class="agenda-tabela" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr class="tb-linha">
                                <td><a class="link-tabela" href="#">SEGUNDA-FEIRA 04/02/2013</a></td>
                                <td><a class="link-tabela" href="#">TERÇA-FEIRA 05/02/2013</a></td>
                                <td><a class="link-tabela" href="#">QUARTA-FEIRA 06/02/2013</a></td>
                                <td><a class="link-tabela" href="#">QUINTA-FEIRA 07/02/2013</a></td>
                                <td><a class="link-tabela" href="#">SEXTA-FEIRA 08/02/2013</a></td>
                                <td><a class="link-tabela" href="#">SÁBADO 09/02/2013</a></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="tb-linha">
                                <td><a class="link-tabela" href="#">08:00</a></td>
                                <td><a class="link-tabela" href="#">08:00</a></td>
                                <td><a class="link-tabela" href="#">08:00</a></td>
                                <td><a class="link-tabela" href="#">08:00</a></td>
                                <td><a class="link-tabela" href="#">08:00</a></td>
                                <td><a class="link-tabela" href="#">08:00</a></td>
                            </tr>
                            <tr class="tb-linha">
                                <td><a class="link-tabela" href="#">08:30</a></td>
                                <td><a class="link-tabela" href="#">08:30</a></td>
                                <td><a class="link-tabela" href="#">08:30</a></td>
                                <td><a class="link-tabela" href="#">08:30</a></td>
                                <td><a class="link-tabela" href="#">08:30</a></td>
                                <td><a class="link-tabela" href="#">08:30</a></td>

                            </tr>
                            <tr class="tb-linha">
                                <td><a class="link-tabela" href="#">09:00</a></td>
                                <td><a class="link-tabela" href="#">09:00</a></td>
                                <td><a class="link-tabela" href="#">09:00</a></td>
                                <td><a class="link-tabela" href="#">09:00</a></td>
                                <td><a class="link-tabela" href="#">09:00</a></td>
                                <td><a class="link-tabela" href="#">09:00</a></td>
                            </tr>
                            <tr class="tb-linha">
                                <td><a class="link-tabela" href="#">09:30</a></td>
                                <td><a class="link-tabela" href="#">09:30</a></td>
                                <td><a class="link-tabela" href="#">09:30</a></td>
                                <td><a class="link-tabela" href="#">09:30</a></td>
                                <td><a class="link-tabela" href="#">09:30</a></td>
                                <td><a class="link-tabela" href="#">09:30</a></td>
                            </tr>
                            <tr class="tb-linha">
                                <td ><a class="link-tabela" href="#">10:00</a></td>
                                <td ><a class="link-tabela" href="#">10:00</a></td>
                                <td><a class="link-tabela" href="#">10:00</a></td>
                                <td ><a class="link-tabela" href="#">10:00</a></td>
                                <td ><a class="link-tabela" href="#">10:00</a></td>
                                <td><a class="link-tabela" href="#">10:00</a></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr class="tb-linha">
                                <td><a class="link-tabela" href="#">+ ver mais</a></td>
                                <td><a class="link-tabela" href="#">+ ver mais</a></td>
                                <td><a class="link-tabela" href="#">+ ver mais</a></td>
                                <td><a class="link-tabela" href="#">+ ver mais</a></td>
                                <td><a class="link-tabela" href="#">+ ver mais</a></td>
                                <td><a class="link-tabela" href="#">+ ver mais</a></td>
                            </tr>
                        </tfoot>
                    </table>
                </li>
            </ul>
            <div class="controle-carrosel" id="bt-next"></div>
            <div class="controle-carrosel" id="bt-prev"></div>
        </div>
    </div>
</div>