<div class="box_pet">
    <p>Escolha seu Pet</p>
    <a href="#" class="cachorro ativo" title="Cachorro"></a>
    <a href="#" class="gato" title="Gato"></a>
</div>
<div class="box_filtro_pet">
    <h3>Estado</h3>
    <div class="box_filtro_items">
        <a href="javascript:void(0);" class="cima" onclick="teste();"></a>
        <a href="javascript:void(0);" class="baixo" onclick="teste();"></a>
        <div class="lista_items">
            <a href="#">Acre</a>
            <a href="#">Alagoas</a>
            <a href="#">Amazonas</a>
            <a href="#">Bahia</a>
            <a href="#">Ceará</a>
            <a href="#">Distrito Federal</a>
            <a href="#">Espírito Santo</a>
            <a href="#">Goiás</a>
            <a href="#">Maranhão</a>
            <a href="#">Mato Grosso</a>
            <a href="#">Mato Grosso do Sul</a>
            <a href="#">Minas Gerais</a>
            <a href="#">Pará</a>
            <a href="#">Paraíba</a>
            <a href="#">Paraná</a>
            <a href="#">Pernambuco</a>
            <a href="#">Piauí</a>
            <a href="#">Rio de Janeiro</a>
            <a href="#">Rio Grande do Norte</a>
            <a href="#">Rio Grande do Sul</a>
            <a href="#">Rondônia</a>
            <a href="#">Roraima</a>
            <a href="#">Santa Catarina</a>
            <a href="#">São Paulo</a>
            <a href="#">Sergipe</a>
            <a href="#">Tocantins (TO)</a>
        </div>
    </div>
</div>
<div class="box_filtro_pet">
    <h3>Setor de Atividade</h3>
    <div class="box_filtro_items">
        <a href="javascript:void(0);" class="cima" onclick="teste();"></a>
        <a href="javascript:void(0);" class="baixo" onclick="teste();"></a>
        <div class="lista_items">
            <a href="#">Ração</a>
            <a href="#">Brinquedos</a>
            <a href="#">Coleiras</a>
            <a href="#">Roupas</a>
            <a href="#">Casa</a>
            <a href="#">Cinto de Segurança</a>
            <a href="#">Mais coisas</a>
            <a href="#">Veterinária</a>
            <a href="#">Outros ipsum</a>
        </div>
    </div>
</div>
<div class="box_filtro_pet">
    <h3>Tipo de Serviço</h3>
    <div class="box_filtro_items">
        <a href="javascript:void(0);" class="cima" onclick="teste();"></a>
        <a href="javascript:void(0);" class="baixo" onclick="teste();"></a>
        <div class="lista_items">
            <a href="#">Ração</a>
            <a href="#">Brinquedos</a>
            <a href="#">Coleiras</a>
            <a href="#">Roupas</a>
            <a href="#">Casa</a>
            <a href="#">Cinto de Segurança</a>
            <a href="#">Mais coisas</a>
            <a href="#">Veterinária</a>
            <a href="#">Outros ipsum</a>
        </div>
    </div>
</div>
<div class="box_filtro_pet">
    <h3>Cidade</h3>
    <div class="box_filtro_items">
        <a href="javascript:void(0);" class="cima" onclick="teste();"></a>
        <a href="javascript:void(0);" class="baixo" onclick="teste();"></a>
        <div class="lista_items">
            <a href="#">Ração</a>
            <a href="#">Brinquedos</a>
            <a href="#">Coleiras</a>
            <a href="#">Roupas</a>
            <a href="#">Casa</a>
            <a href="#">Cinto de Segurança</a>
            <a href="#">Mais coisas</a>
            <a href="#">Veterinária</a>
            <a href="#">Outros ipsum</a>
        </div>
    </div>
</div>
<div class="box_filtro_pet">
    <h3>Bairro</h3>
    <div class="box_filtro_items">
        <a href="javascript:void(0);" class="cima" onclick="teste();"></a>
        <a href="javascript:void(0);" class="baixo" onclick="teste();"></a>
        <div id="box_bairro">
            <a href="#">Ração</a>
            <a href="#">Brinquedos</a>
            <a href="#">Coleiras</a>
            <a href="#">Roupas</a>
            <a href="#">Casa</a>
            <a href="#">Cinto de Segurança</a>
            <a href="#">Mais coisas</a>
            <a href="#">Veterinária</a>
            <a href="#">Outros ipsum</a>
        </div>
    </div>
</div>