<div class="pedir-orcamento">
    <div class="introducao-orcamento">
        <h3 class="titulo-orcamento">PEDIR ORÇAMENTO</h3>
        <p class="texto-orcamento">Preencha este formulário e a empresa <strong><?php echo $this->orcamento['vc_nome_empresa']; ?></strong> entrará em contato com você.
            Todos os dados enviados serão tratados de forma confidencial.</p>
    </div>
    <div class="formulario-pedido">
        <p class="titulo-pedido">Você já tem cadastro no Cachorro Gato? <a href="#" class="link-cadastro">Clique aqui</a></p>
        <div class="input-redondo large" id="label_vc_nome">
            <label>Nome<span>*</span></label>
            <?php echo $this->formText('vc_nome', null, null); ?>
        </div>
        <div class="input-redondo float-right" id="label_vc_sobrenome">
            <label>Sobrenome<span>*</span></label>
            <?php echo $this->formText('vc_sobrenome', null, null); ?>
        </div>
        <div class="input-redondo large" id="label_vc_email">
            <label>E-mail<span>*</span></label>
            <?php echo $this->formText('vc_email', null, null); ?>
        </div>
        <div class="input-redondo float-right" id="label_it_telefone">
            <label>Telefone<span>*</span></label>
            <?php echo $this->formText('it_telefone', null, null); ?>
        </div>
        <div class="limpa"></div>
        <div class="input-redondo small" id="label_vc_estado">
            <label>Estado</label>
            <?php echo $this->formSelect('vc_estado', null, null, $this->UF()); ?>
        </div>
        <div class="input-redondo xlarge float-right" id="label_vc_cidade">
            <label>Cidade<span>*</span></label>
            <?php echo $this->formText('vc_cidade', null, null); ?>
        </div>
        <div class="input-redondo full textarea-formulario" id="label_vc_mensagem">
            <label>O que você precisa<span>*</span></label>
            <?php echo $this->formTextarea('vc_mensagem', null, array('class' => 'textarea-formulario-pedido-large', 'rows' => '1', 'cols' => '1')); ?>
        </div>
        <input name="bt_enviar" type="button" value="Enviar pedido" class="btn-enviar" onclick="realizarPedidoOrcamento();">
        <p  class="aviso">
            Ao clicar em <strong>Enviar pedido</strong> estará cadastrando-se e
            aceitando as <strong><u><a href="#">condições legais</a></u></strong> do portal CachorroGato
        </p>
    </div>
    <div class="orcamento-enviado">
        <h2 class="titulo-fornecedor">Obrigado, entraremos em contato o mais breve possível</h2>
        <img src="/images/logo.png" />
    </div>
</div>