<aside  class="perfil-descricao-fornecedor-aside">
    <h4 class="mais-informacoes">Mais informações de <?php echo $this->perfil['vc_nome_empresa']; ?>:</h4>
    <p class="formas-pagamento">Formas de pagamento: <img alt="bandeira visa" src="/images/bandeira-visa.png" /> <img alt="bandeira Mastercard" src="/images/bandeira-mastercard.png" /> <img alt="bandeira American Express" src="/images/bandeira-americaexpress.png" /> <img alt="bandeira Diners" src="/images/bandeira-diners.png" /> </p>
    <p class="horario-funcionamento">Horário de funcionamento: <span class="horario-conteudo">Seg-Sex de 8:00 a 18:00;  Sab de 09:00 a 14:00</span></p>
</aside>
<article class="perfil-descricao-fornecedor">
    <h3 class="titulo-com-pontos"><span>DESCRIÇÃO DE <?php echo strtoupper($this->perfil['vc_nome_empresa']); ?></span></h3>
    <p><?php echo $this->perfil['vc_descricao_empresa']; ?></p>
    <ul id="bread-interno" class="breadcrumb">
        <li><a href="#">Fornecedores</a></li>
        <li><a href="#">Fotógrafos </a></li>
        <li><a href="#"> Fotógrafos de animais</a></li>
        <li><a href="#">Fotógrafos de cães </a></li>
        <li><a href="#">Fotógrafos de Labradores </a></li>
        <li class="ativo"><a href="#">São Paulo/SP</a></li>
    </ul>
    <div id="menores" class="acoes">
        <a class="btn-telefone" href="/vitrine-empresa/detalhe/id_fornecedor/<?php echo $this->perfil['id_fornecedor']; ?>/#">Ver telefone</a> 
        <a class="btn-orcamento"href="/vitrine-empresa/detalhe/id_fornecedor/<?php echo $this->perfil['id_fornecedor']; ?>/#tab-pedir">Pedir orçamento</a> 
        <a class="btn-servicos"href="/vitrine-empresa/detalhe/id_fornecedor/<?php echo $this->perfil['id_fornecedor']; ?>/#">Agendar serviço</a>
    </div>
</article>  