<?php $this->jQuery()->addJavascriptFile('/js/modules/back-end/setor-de-atividade.js'); ?>

<form class="mws-form validacao" method="post" action="<?php echo $this->action; ?>">
    <input type="hidden" name="id_setor_atividade" value="<?php echo $this->formulario['id_setor_atividade']; ?>" />
    <div class="mws-tabs">
        <ul>
            <li><a href="#cadastro">Cadastro</a></li>
            <li><a href="#seo">SEO</a></li>
        </ul>
        <div id="cadastro">
            <div class="mws-form-cols clearfix">
                <div class="mws-form-col-8-8 alpha">
                    <label>Setor de atividade:</label>
                    <div class="mws-form-item small">
                        <input type="text" id="vc_setor_atividade" name="vc_setor_atividade" class="mws-textinput required" value="<?php echo $this->formulario['vc_setor_atividade']; ?>" />
                    </div>
                </div>
            </div>
        </div>
        <div id="seo">
            <div class="mws-form-cols clearfix">
                <div class="mws-form-col-8-8 alpha">
                    <label>Title: </label>
                    <div class="mws-form-item large" style="width: 730px;">
                        <input type="text" id="vc_seo_title"  name="vc_seo_title" class="mws-textinput"  value="<?php echo $this->formulario['vc_seo_title']; ?>" />
                    </div>
                </div>

                <div class="mws-form-col-8-8 alpha">
                    <label>URL:</label>
                    <div class="mws-form-item large" style="width: 730px;">
                        <input type="text" name="vc_seo_url" id="vc_seo_url "  class="mws-textinput" value="<?php echo $this->formulario['vc_seo_url']; ?>" />
                    </div>
                </div>

                <div class="mws-form-col-8-8 alpha">
                    <label>Keywords:</label>
                    <div class="mws-form-item large" style="width: 730px;">
                        <input type="text" name="vc_seo_keywords" id="vc_seo_keywords"  class="mws-textinput" value="<?php echo $this->formulario['vc_seo_keywords']; ?>" />
                    </div>
                </div>

                <div class="mws-form-col-8-8 alpha">
                    <label>Description:</label>
                    <div class="mws-form-item " style="width: 730px;">
                        <textarea id="vc_seo_description" name="vc_seo_description" rows="auto" cols="auto"><?php echo $this->formulario['vc_seo_description']; ?></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="mws-button-row">
            <input type="submit" value="Salvar" class="mws-button green"/>
            <input type="button" value="Voltar" class="mws-button gray" onclick="window.location = '/backend/setor-de-atividade/';" /> 
        </div>
    </div>
</form>
<?php if ($this->efetivado) { ?>
    <?php echo $this->partial('comando-executado-sucesso.phtml', 'backend'); ?>
<?php } ?>