<div class="mws-panel grid_8">
    <div class="mws-tabs">
        <div id="add-banner">
            <table>
                <tr>
                    <td>
                        <div class="mws-panel grid_8" style="width: auto;">
                            <div class="mws-panel-header">
                                <span class="mws-i-24 mws-i-24 i-user-2">Cadastrar nova noticia</span>
                            </div>
                            <form id="add-noticia" class="mws-form video" method="post"
                                  action="/backend/noticia/cadastro" enctype="multipart/form-data">
                                <?php echo $this->formHidden('id_noticia', $this->formulario['id_noticia']); ?>
                                <div class="mws-panel-body">
                                    <div class="mws-form-cols clearfix">
                                        <div class="mws-form-col-8-8 alpha">
                                            <label>Titulo</label>
                                            <div class="mws-form-item large">
                                                <input type="text" id="vc_titulo" name="vc_titulo"
                                                       class="mws-textinput required" value="<?php echo $this->formulario['vc_titulo'] ?>" />
                                            </div>
                                        </div>
                                        <div class="mws-form-col-8-8 alpha">
                                            <label>SubTitulo</label>
                                            <div class="mws-form-item large">
                                                <input type="text" name="vc_subtitulo" id="vc_subtitulo"
                                                       class="mws-textinput " value="<?php echo $this->formulario['vc_subtitulo'] ?>" />
                                            </div>
                                        </div>
                                        <div class="mws-form-col-8-8 omega">
                                            <div class="mws-form-item large">
                                                <label>SEO Palavras Chaves</label> 
                                               <input type="text" name="vc_keywords" id="vc_keywords"
                                                       class="mws-textinput" value="<?php echo $this->formulario['vc_keywords'] ?>" />
                                            </div>
                                        </div>
                                        <div class="mws-form-col-8-8 omega">
                                            <div class="mws-form-item large">
                                                <label>SEO Descrição</label> 
                                               <input type="text" name="vc_description" id="vc_description"
                                                       class="mws-textinput" value="<?php echo $this->formulario['vc_description'] ?>" />
                                            </div>
                                        </div>
                                        <?if($this->formulario['vc_imagem']) : ?>
                                        <div class="mws-form-col-8-8 omega">
                                            <img src="/upload/noticias/<?php echo $this->formulario['vc_imagem'] ?>">
                                        </div>
                                        <?php endif; ?>
                                        <div class="mws-form-col-8-8 omega">
                                            <div class="mws-form-item large">
                                                <label>Imagem da Noticia <span style="font-size: 11px;">- Dimensao Recomendada 129x154</span></label> 
                                               <input type="file" name="vc_imagem" id="vc_imagem"
                                                       class="mws-textinput required" />
                                            </div>
                                        </div>
                                        <div class="mws-form-col-8-8 alpha">
                                            <label>Noticia :</label>
                                            <div class="mws-form-item large">
                                                <textarea rows="8" cols="8" id="vc_conteudo"
                                                          name="vc_conteudo"><?php echo $this->formulario['vc_conteudo'] ?></textarea>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="mws-button-row">
                                        <input type="submit" value="Cadastrar Noticia"
                                               class="mws-button green" /> <input type="reset"
                                               value="Limpar" class="mws-button gray" />
                                    </div>
                                </div>

                            </form>

                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
