<script>
function removeNoticia(id){
   if(confirm('Tem certeza que deseja remover esta noticia ?')){
	$.get('/backend/empreendimento/deletar/id_noticia/'+id, function(data){

	     alert(data.Message);
		 window.location="/backend/noticia";
	},'json');
   }
}
</script>

<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-table-1">Listagem de Noticias</span>
    </div>
    <div class="mws-panel-body">
        <table class="mws-datatable mws-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Titulo</th>
                    <th>Data de Cadastro</th>
                    <th>Ferramentas</th>
                </tr>
            </thead>
            <tbody>
                <?php
                foreach ($this->paginator as $noticias) {
                    ?><?php $img = $this->mainimage($noticias['id_noticia'] , $noticias['img_principal'])?>
                    <tr class="gradeU">
                        <td><?= $noticias['id_noticia'] ?></td>
                        <td><?= $noticias['vc_titulo'] ?></td>
                        <td><?= $this->Data($noticias['dt_cadastro'])->pt_br ?></td>
                        <td class="center">
                            <ul id="icons-16" class="clearfix">
                             <?php  if($this->UserPermission()->isAllowed('empreendimento','editar')){ ?>
                                <li onclick="window.location='/backend/noticia/cadastro/id_noticia/<?= $noticias['id_noticia'] ?>'" class="mws-ic-16 ic-application-edit" title="Editar"></li>
                              <?php } ?>
                               <?php  if($this->UserPermission()->isAllowed('empreendimento','deletar')){ ?>
                                <li onclick="removeNoticia('<?= $noticias['id_noticia'] ?>');" class="mws-ic-16 ic-cancel" title="Excluir"></li>
                                <?php } ?>
                            </ul>        
                        </td>
                    </tr>
                <?php } ?>
            </tbody>
        </table>
    </div>
</div>
