<!-- main body -->
<div id="middle">
    <section  class="articles_box conteudotitulo" >
        <?php echo $this->partial('includes/breadcrumbs.phtml', array('breadcrumb' => $this->breadcrumb)) ?>
        <div class="titulo_pagina">
            <h1><span><?php echo $this->categoria['vc_categoria'] ?></span></h1>
        </div>
    </section>
    <!-- featured -->
    <div class="featured texto">
        <?php echo $this->partial('categoria/includes/slider-categoria.phtml') ?>
    </div>
    <!-- / featured -->
    <!-- right column -->
    <aside id="right" class="clearingfix post ">
        <?php echo $this->partial('includes/widget-bloco-servicos-index.phtml') ?>
        <?php echo $this->partial('includes/widget-busca-servicos.phtml') ?>
        <?php echo $this->partial('includes/widget-dr-responde.phtml') ?>
        <?php echo $this->partial('includes/widget-redes-sociais.phtml') ?>
        <?php echo $this->partial('includes/widget-publicidade.phtml') ?>
    </aside>
    <!-- / right column -->
    <!-- content column -->
    <section id="main" class="clearingfix cachorro">
        <section id="post" class="postcachorro">
            <!-- articles box -->
            <?php
            $x = 0;
            foreach ($this->arvoreCategoria as $subcategoria) :
                ?>
                <section class="articles_box <?php echo ($x == 0 ? 'primeira' : '') ?>">
                    <div class="title">
                        <h3><span><a href="/<?php echo $this->categoria['vc_seo_url'] ?>/<?php echo $subcategoria['vc_seo_url'] ?>"><?php echo $subcategoria['vc_categoria'] ?></a></span></h3>
                        <span class="link"><a href="/<?php echo $this->categoria['vc_seo_url'] ?>/<?php echo $subcategoria['vc_seo_url'] ?>">VEJA TUDO SOBRE <?php echo $subcategoria['vc_categoria'] ?></a></span>
                    </div>
                    <section class="articles_box_content">
                        <article class="featured_articles">
                            <ul>
                                <?php
                                $y = 0;
                                foreach ($this->ChamarConteudo($subcategoria['id_conteudo_categoria'], 1, 2) as $destaque) :
                                    ?>
                                    <li <?php echo ($y == 0 ? 'class="first"' : ''); ?>>
                                        <div class="image"><a href="/<?php echo $this->categoria['vc_seo_url'] ?>/<?php echo $subcategoria['vc_seo_url'] ?>/<?php echo $destaque['vc_seo_url'] ?>"><img src="/images/pet_img1.jpg" alt="" /></a></div>
                                        <div class="detail">
                                            <h4><a href="/<?php echo $this->categoria['vc_seo_url'] ?>/<?php echo $subcategoria['vc_seo_url'] ?>/<?php echo $destaque['vc_seo_url'] ?>"><?php echo $destaque['vc_titulo'] ?></a></h4>
                                            <p><?php echo $destaque['vc_subtitulo'] ?></p>
                                            <a href="/<?php echo $this->categoria['vc_seo_url'] ?>/<?php echo $subcategoria['vc_seo_url'] ?>/<?php echo $destaque['vc_seo_url'] ?>" class="mais">Leia mais</a>
                                        </div>
                                    </li>
                                    <?php
                                    $y++;
                                endforeach;
                                ?>

                            </ul>
                        </article>
                        <article class="more_articles">
                            <ul>
                                <?php
                                $y = 0;
                                foreach ($this->ChamarConteudo($subcategoria['id_conteudo_categoria'], 1, 4) as $subDestaque) :
                                    ?>
                                    <li <?php echo ($y == 0 ? 'class="first"' : ''); ?>><a href="/<?php echo $this->categoria['vc_seo_url'] ?>/<?php echo $subcategoria['vc_seo_url'] ?>/<?php echo $subDestaque['vc_seo_url'] ?>"><?php echo $subDestaque['vc_subtitulo'] ?></a></li>
                                    <?php
                                    $y++;
                                endforeach;
                                ?>
                            </ul>
                        </article>
                    </section>
                </section>
                <?php
                $x++;
            endforeach;
            ?>
            <!-- / articles box -->
        </section>
    </section>
    <!-- / content column -->
</div>
<!-- / main body -->
