<!-- main body -->
<div id="middle">
    <section  class="articles_box conteudotitulo" >
        <?php echo $this->partial('includes/breadcrumbs.phtml', array('breadcrumb' => $this->breadcrumb)) ?>
        <div class="titulo_pagina">
            <h1><span><?php echo $this->categoria['vc_categoria'] ?></span></h1>
        </div>
    </section>
    <?php echo $this->partial('categoria/includes/slider-subcategoria.phtml') ?>
    <!-- right column -->
    <aside id="right" class="clearingfix post ">
        <?php echo $this->partial('includes/widget-bloco-servicos-index.phtml') ?>
        <?php echo $this->partial('includes/widget-busca-servicos.phtml') ?>
        <?php echo $this->partial('includes/widget-dr-responde.phtml') ?>
        <?php echo $this->partial('includes/widget-redes-sociais.phtml') ?>
        <?php echo $this->partial('includes/widget-publicidade.phtml') ?>
    </aside>
    <!-- / right column -->
    <!-- content column -->
    <section id="main" class="clearingfix">
        <section class="destaquedescricao">
            <h2><?php echo $this->categoria['vc_subtitulo'] ?></h2>
            <p>
                <?php echo $this->categoria['vc_conteudo'] ?>
            </p>
        </section>
        <section id="post" class="postcachorro">
            <?php
            $x = 0;
            foreach ($this->arvoreCategoria as $subcategoria) :
                ?>
                <section class="artigodepost  primeira">
                    <div class="imagedopost">
                        <a href=""><img src="/images/conteudo/posts_cachorro.jpg" alt="" /></a>
                    </div>

                    <h4 class="titulocategoria"><a href=""><?php echo $subcategoria['vc_categoria'] ?></a></h4>
                    <ul class="listacategoria">
                        <?php foreach ($this->ChamarConteudo($subcategoria['id_conteudo_categoria'], false, 4) as $conteudo) : ?>
                            <li><a href="/<?php echo $this->categoriaMain['vc_seo_url'] ?>/<?php echo $this->categoria['vc_seo_url'] ?>/<?php echo $conteudo['vc_seo_url'] ?>"><?php echo $conteudo['vc_titulo'] ?></a></li>
                        <?php endforeach; ?>
                    </ul>
                </section>
                <?php
            endforeach;
            $x++;
            ?>


            <section class="featured_services_box">
                <div class="titulo_servicos">
                    <h3><span>SERVIÇOS EM DESTAQUE</span></h3>
                    <a class="link" href="">VEJA TODOS OS NOSSOS SERVIÇOS</a>
                    <div class="limpa"></div>
                </div>
                <div class="services_box">
                    <ul>
                        <?php echo $this->partial('includes/widget-bloco-servicos.phtml') ?>
                    </ul>
                </div>
            </section>
        </section>
    </section>
    <!-- / content column -->
</div>
<!-- / main body -->
