<script>
function removeCadastro(id){
   if(confirm('Tem certeza que deseja remover esta cadastro ?')){
	$.get('/backend/empreendimento/deletar/id_cadastro/'+id, function(data){

	     alert(data.Message);
		 window.location="/backend/cadastro";
	},'json');
   }
}
</script>

<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-table-1">Listagem de Cadastros</span>
    </div>
    <div class="mws-panel-body">
        <table class="mws-datatable mws-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Ferramentas</th>
                </tr>
            </thead>
            <tbody>
                <?php
                
                foreach ($this->cadastros as $cadastros) {
                    ?>
                    <tr class="gradeU">
                        <td><?= $cadastros['id_cadastro'] ?></td>
                        <td><?= $cadastros['vc_nome'] ?></td>
                        <td><?= $cadastros['vc_email'] ?></td>
                        <td class="center">
                            <ul id="icons-16" class="clearfix">
                             <?php  if($this->UserPermission()->isAllowed('cadastro','visualizar')){ ?>
                                <li onclick="window.location='/backend/cadastro/visualizar/id_cadastro/<?= $cadastros['id_cadastro'] ?>'" class="mws-ic-16 ic-application-edit" title="Visualizar"></li>
                              <?php } ?>
                            </ul>        
                        </td>
                    </tr>
                <?php } ?>
            </tbody>
        </table>
    </div>
</div>
