<div class="mws-panel grid_8">
    <div class="mws-tabs">
        <div id="add-banner">
            <table>
                <tr>
                    <td>
                        <div class="mws-panel grid_8" style="width: auto;">
                            <div class="mws-panel-header">
                                <span class="mws-i-24 mws-i-24 i-user-2">Visualizar Cadastro</span>
                            </div>
                                <div class="mws-panel-body">
                                    <div class="mws-form-cols clearfix">
                                        <div class="mws-form-col-8-8 alpha">
                                            <label><strong>Nome:</strong>  <?php echo $this->formulario['vc_nome'] ?></label>
                                            <label><strong>Email:</strong>  <?php echo $this->formulario['vc_email'] ?></label>
                                            <label><strong>Telefone:</strong>  <?php echo $this->Mask($this->formulario['it_telefone'],"(##) #####-####") ?></label>
                                            <label><strong>CPF:</strong>  <?php echo $this->Mask($this->formulario['it_cpf'],"###.###.###-##") ?></label>
                                            <label><strong>CEP:</strong>  <?php echo $this->Mask($this->formulario['it_cep'],"#####-###") ?></label>
                                            <label><strong>Endereço:</strong>  <?php echo $this->formulario['vc_endereco'] ?></label>
                                            <label><strong>Cidade:</strong>  <?php echo $this->formulario['vc_cidade'] ?></label>
                                            <label><strong>Bairro:</strong>  <?php echo $this->formulario['vc_bairro'] ?></label>
                                            <label><strong>Estado:</strong>  <?php echo $this->formulario['vc_uf'] ?></label>
                                        </div>
                                        
                                </div>


                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
