<?php foreach($this->categorias as $categoria) :  ?>
    <input type="checkbox" name="conteudo_categoria[]" value="<?php echo $categoria['id_conteudo_categoria']; ?>" <?php echo $this->CategoriaConteudo($categoria['id_conteudo_categoria'], $this->id_conteudo) ?>> <?php echo $categoria['vc_categoria']; ?>
    <a href="/backend/conteudo-categoria/cadastro/id_conteudo_categoria/<?php echo $categoria['id_conteudo_categoria']; ?>" target="_blank"><img src="/css/icons/16/pencil.png"></a><br />
<?php endforeach; ?>