<?php foreach($this->tags as $tag) :  ?>
    <?php echo $tag['vc_tag']; ?>&nbsp;<a href="javascript:;" target="_blank" onclick="removerTag(<?php echo $tag['id_conteudo_tag']; ?>)"><img src="/images/fechar.png"></a> ,
<?php endforeach; ?>