<?php
$this->jQuery()->addJavascriptFile('/js/modules/back-end/conteudo.js')
        ->addJavascriptFile('/js/modules/back-end/categoria.js');
?>

<form class="mws-form" method="post" action="/backend/conteudo/cadastro/">
    <input type="hidden" id="id_conteudo" name="id_conteudo" value="<?php echo $this->formulario['id_conteudo']; ?>"/>
    <div class = "mws-panel grid_8">
        <div class = "mws-tabs">
            <ul>
                <li><a href = "#add-conteudo">Conteúdo</a></li>
                <li><a href = "#add-categoria">Categorias e Tags</a></li>
                <li><a href = "#add-seo">SEO</a></li>
            </ul>
            <!-- add-conteudo -->
            <div id = "add-conteudo">
                <table>
                    <tr>
                        <td>
                            <div class = "mws-form-cols clearfix">
                                <div class = "mws-form-col-1-8 alpha">
                                    <label>Publicado: </label>
                                    <div class = "mws-form-item large">
                                        <?php echo $this->formSelect('bl_ativo', $this->formulario['bl_ativo'], null, array('0' => "Não", '1' => 'Sim')) ?>
                                    </div>
                                </div>
                                <div class = "mws-form-col-1-8 alpha">
                                    <label>Destaque: </label>
                                    <div class = "mws-form-item large">
                                        <?php echo $this->formSelect('bl_destaque', $this->formulario['bl_destaque'], null, array('0' => "Não", '1' => 'Sim')) ?>
                                    </div>
                                </div>
                                <div class = "mws-form-col-1-8 alpha">
                                    <label>Exibir na Home: </label>
                                    <div class = "mws-form-item large">
                                        <?php echo $this->formSelect('bl_exibir_home', $this->formulario['bl_exibir_home'], null, array('0' => "Não", '1' => 'Sim')) ?>
                                    </div>
                                </div>
                                <div class = "mws-form-col-8-8 alpha">
                                    <label>Título: </label>
                                    <div class = "mws-form-item large">
                                        <input type="text" id="vc_titulo" name="vc_titulo" class="mws-textinput required" value="<?php echo $this->formulario['vc_titulo']; ?>" />
                                    </div>
                                </div>
                                <div class = "mws-form-col-8-8 alpha">
                                    <label>Sub Título: </label>
                                    <div class = "mws-form-item large">
                                        <input type="text" id="vc_subtitulo" name="vc_subtitulo" class="mws-textinput" value="<?php echo $this->formulario['vc_subtitulo']; ?>" />
                                    </div>
                                </div>
                                <div class = "mws-form-col-8-8 alpha">
                                    <label>Conteúdo:</label>
                                    <div class = "mws-form-item large">
                                        <textarea id = "elrte" name = "vc_conteudo" class = "" rows = "auto" cols = "auto"><?php echo $this->formulario['vc_conteudo']; ?></textarea>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="add-categoria">
                <table>
                    <tr>
                        <td>
                            <div class = "mws-form-cols clearfix">
                                <div class = "mws-form-col-8-8 alpha">
                                    <label>Categorias : </label>
                                    <div id="lista-categoria">
                                        <?php foreach ($this->categorias as $categoria) : ?>
                                            <input type="checkbox" name="conteudo_categoria[]" value="<?php echo $categoria['id_conteudo_categoria']; ?>" <?php echo $this->CategoriaConteudo($categoria['id_conteudo_categoria'], $this->formulario['id_conteudo']) ?>> <?php echo $this->arvoreCategoria($categoria['id_conteudo_categoria']); ?>
                                            <a href="/backend/conteudo-categoria/cadastro/id_conteudo_categoria/<?php echo $categoria['id_conteudo_categoria']; ?>" target="_blank"><img src="/css/icons/16/pencil.png"></a><br />
                                        <?php endforeach; ?>
                                    </div>
                                    <br>
                                    <br>
                                    <label >+ Categoria</label>
                                    <?php echo $this->formText('vc_nova_categoria', null, array('class' => 'mws-textinput')); ?>
                                    <?php echo $this->formSelect('id_parent', null, null, $this->categoriasSelect); ?>
                                    <?php echo $this->formButton('adicionar_categoria', 'Adicionar categoria', array('class' => 'mws-button orange', 'onclick' => 'adicionarCategoria();')); ?>
                                </div>
                                <div class = "mws-form-col-6-8 alpha">
                                    <label>Tags: </label>
                                    <div id="lista-tags">
                                        <?php foreach ($this->tags as $tag) : ?>
                                            <?php echo $tag['vc_tag']; ?>&nbsp;<a href="javascript:;" target="_blank" onclick="removerTag(<?php echo $tag['id_conteudo_tag']; ?>)"><img src="/images/fechar.png"></a> ,
                                        <?php endforeach; ?>
                                    </div>
                                </div>
                                <div class = "mws-form-col-6-8 alpha">
                                    <label>Tags ( Separe as Tags por Virgula ): </label>
                                    <div class = "mws-form-item large">
                                        <?php echo $this->formText('vc_nova_tag', null, array('class' => 'mws-textinput')); ?>
                                    </div>
                                </div>
                                <div class = "mws-form-col-2-8 alpha">
                                    <label>&nbsp;</label>
                                    <div class = "mws-form-item large">
                                        <?php echo $this->formButton('adicionar_tag', 'Adicionar Tag', array('class' => 'mws-button orange', 'onclick' => 'adicionarTag();')); ?>
                                    </div>
                                </div>
                        </td>
                    </tr>
                </table>

            </div>

            <!-- /add-conteudo -->
            <!-- add-seo -->
            <div id="add-seo">
                <table>
                    <tr>
                        <td>
                            <div class="mws-form-cols clearfix">
                                <div class="mws-form-col-8-8 alpha">
                                    <label>Title: </label>
                                    <div class="mws-form-item large" >
                                        <input type="text" id="vc_seo_title"  name="vc_seo_title" class="mws-textinput"  value="<?php echo $this->formulario['vc_seo_title']; ?>" />
                                    </div>
                                </div>

                                <div class="mws-form-col-8-8 alpha">
                                    <label>URL:</label>
                                    <div class="mws-form-item large" >
                                        <input type="text" name="vc_seo_url" id="vc_seo_url "  class="mws-textinput" value="<?php echo $this->formulario['vc_seo_url']; ?>" />
                                    </div>
                                </div>

                                <div class="mws-form-col-8-8 alpha">
                                    <label>Keywords:</label>
                                    <div class="mws-form-item large" >
                                        <input type="text" name="vc_seo_keywords" id="vc_seo_keywords"  class="mws-textinput" value="<?php echo $this->formulario['vc_seo_keywords']; ?>" />
                                    </div>
                                </div>

                                <div class="mws-form-col-8-8 alpha">
                                    <label>Description:</label>
                                    <div class="mws-form-item " >
                                        <textarea id="vc_seo_description" name="vc_seo_description" rows="auto" cols="auto"><?php echo $this->formulario['vc_seo_description']; ?></textarea>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- /add-seo -->
            <div class="mws-button-row">
                <input type="submit" value="Salvar" class="mws-button green" />
                <input type="button" value="Voltar" class="mws-button gray" onclick="window.location = '/backend/conteudo/';" />
            </div>
        </div>
    </div>
</form>
<?php echo $this->modalCategoria; ?>
<?php
if ($this->efetivado) {
    echo $this->partial('comando-executado-sucesso.phtml', 'backend');
}
?>