<?php $this->jQuery()->addJavascriptFile('/js/modules/back-end/conteudo.js'); ?>

<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-table-1">Lista de Conteúdo</span>
    </div>
    <div class="mws-panel-body">
        <table  class="mws-datatable mws-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Título do Conteúdo</th>
                    <th>Data de Cadastro</th>
                    <th>Em exibição</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <?php
                foreach ($this->conteudos as $conteudo) {
                    ?>
                    <tr class="gradeU">
                        <td><? echo $conteudo['id_conteudo']; ?></td>
                        <td><? echo $conteudo['vc_titulo']; ?></td>
                        <td><? echo $conteudo['dt_cadastro']; ?> </td>
                        <td>
                            <ul id="icons-16" class="clearfix">
                            <? echo ($conteudo['bl_ativo'] == '1') ? '<li class="mws-ic-16 ic-accept" title=".mws-ic-16 .ic-accept"></li>' : '<li class="mws-ic-16 ic-cross" title=".mws-ic-16 .ic-cross"></li>'; ?></td>
                        </ul>
                        <td class="center">
                            <ul id="icons-16" class="clearfix">
                                <?php if ($this->UserPermission()->isAllowed('conteudo', 'edit')) { ?>
                                    <li onclick="window.location = '/backend/conteudo/cadastro/id_conteudo/<? echo $conteudo['id_conteudo']; ?>/';" class="mws-ic-16 ic-application-edit" title="Editar"></li>
                                <?php } ?>
                                <?php if ($this->UserPermission()->isAllowed('conteudo', 'remove')) { ?>
                                    <li onclick="removeConteudo('<? echo $conteudo['id_conteudo']; ?>');" class="mws-ic-16 ic-cancel" title="Excluir"></li>
                                    <?php } ?>
                            </ul>
                        </td>
                    </tr>
                <?php } ?>
            </tbody>
        </table>
    </div>

</div>