<select id="id_subcategoria_anuncio" name="id_subcategoria_anuncio">
    <?php foreach ($this->subcategoriaAnuncios as $subcategoriaAnuncio) : ?>
        <option value="<?php echo $subcategoriaAnuncio['id_subcategoria_anuncio'] ?>"><?php echo $subcategoriaAnuncio['vc_subcategoria_anuncio'] ?></option>
    <?php endforeach; ?>
</select>