<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <?php
        echo $this->headTitle('Cahorro Gato', 'APPEND')
                ->headTitle()->setSeparator(' | ') . PHP_EOL;

        echo $this->headMeta()
                ->appendName('Classification', '')
                ->appendName('Abstract', '')
                ->appendName('Author', '@acidcode')
                ->appendName('Contact', 'andre.kernelpanic@gmail.com')
                ->appendName('Publisher', '')
                ->appendName('Robots', 'ALL')
                ->appendName('Robots', 'INDEX,FOLLOW')
                ->appendName('Revisit-After', '5 Days')
                ->appendName('Distribution', 'Global')
                ->appendName('Rating', 'General')
                ->appendName('documentcountrycode', 'br')
                ->appendName('SearchTitle', 'www.cachorrogato.com.br')
                ->appendName('googlebot', 'index,follow')
                ->appendName('viewport', 'width=device-width,initial-scale=1')
                ->appendName('googlebot', 'all')
                ->appendName('Spider Robots', 'all')
                ->appendName('MSNBot', 'all')
                ->appendName('InktomiSlurp', 'all')
                ->appendName('Unknownrobot', 'all')
                ->appendName('Yahoo! Slurp', 'all')
                ->appendName('Revisit-after', '1')
                ->appendHttpEquiv('Content-Language', 'pt-br')
                ->appendHttpEquiv('refresh', '5000')
                ->appendHttpEquiv('pragma', 'no-cache')
                ->appendHttpEquiv('Content-Type', 'text/html; charset=utf-8')
                ->appendHttpEquiv('X-UA-Compatible', 'IE=edge') . PHP_EOL;


        echo $this->jQuery()
                //Bibliotecas jquery e jquery UI
                ->setLocalPath('/js/jquery.min.js')
                ->setUiLocalPath('/js/jquery-ui.js')
                //Scripts JS
                ->addJavascriptFile('/js/global.js')
                ->addJavascriptFile('/js/jquery.uniform.js')
                ->addJavascriptFile('/js/modernizr-2.6.2.min.js')
                ->addJavascriptFile('/js/funcoes.js')
                ->addJavascriptFile('/js/menu.js')
                //Folhas de Estilos
                ->addStylesheet('/css/style.css')
                ->addStylesheet('/css/menu.css');

        $usuario = new Zend_Session_Namespace('Sessao_Cliente');
        $usuario = $usuario->arr;
        ?>
        <script type="text/javascript">
            $(function() {
                $("input:text, input:radio, input:password, input:file, input:checkbox, textarea, select").uniform();
            });
            $(function() {
<<<<<<< HEAD
                $("#tabelas-perfil, #tabelas-agendamento, #tabs-guia, #tabs-dr-responde").tabs();
=======
                $( "#tabelas-perfil, #tabelas-agendamento, #tabs-guia, #tabs-dr-responde, #tabs-editar-usuario" ).tabs();
>>>>>>> eabd5de77510c84fadbf270d58be491f459bf914
            });
        </script>
    </head>
    <body>
        <?php
        echo $this->partial('modal-login.phtml');
        if (!is_null($usuario)) :
            echo $this->partial('top-navbar.phtml', array('idPage' => $this->idPage));
        endif;
        ?>  
        <!-- outerwpr -->
        <div class="outerwpr">
            <div class="alertaerro"><span>Por favor corrija os erros antes de prosseguir!</span></div>
            <div class="rapidxwpr">
                <!-- header -->
                <header id="header">
                    <!-- logo -->
                    <div class="logo">
                        <a href="/"><img src="/images/logo.png" alt="Home" title="Home" /></a>
                        <h1 class="logo_text">Encontre tudo sobre cachorros e gatos</h1>
                    </div>
                    <!-- / logo -->
                    <?php if (is_null($usuario)) { ?>
                        <!-- header content -->
                        <div class="header_content">
                            <div class="header_top">
                                <a href="/acesso-empresa/cadastro" class="link">Cadastre sua empresa GRATIS</a>
                                <ul>
                                    <li><a href="">Brasil</a></li>
                                </ul>
                            </div>
                            <div class="searchbox deslogado">
                                <form action="" method="get">
                                    <ul>
                                        <li><label>BUSCADOR RÁPIDO DE RAÇAS:</label> <input name="" type="text" placeholder="Nome da raça..." class="input_item" /></li>
                                    </ul>
                                    <a class="botoes_header_cadastre_se" href="/frontend/cadastro-cliente/">Cadastre-se</a>
                                    <a href="javascript:;" onclick="javascript:abreModal();" class="botoes_header_entre">Entre</a>
                                    <a class="botoes_header_acesso_empresa" href="/acesso-empresa">Acesso empresas</a>
                                </form>
                            </div>
                        </div>
                    <?php } else { ?>
                        <div class="header_content">
                            <div class="header_top">
                                <a href="/acesso-empresa/cadastro" class="link">Cadastre sua empresa GRATIS</a>
                                <ul>
                                    <li><a href="">Brasil</a></li>
                                </ul>
                            </div>
                            <div class="searchbox">
                                <form action="" method="get">
                                    <ul>
                                        <li><label>BUSCADOR RÁPIDO DE RAÇAS:</label> <input name="" type="text" value="Nome da raça..." class="input_item" /></li>
                                        <li class="full"><input name="" type="submit" value="Acesso empresas" class="submit" /></li>
                                    </ul>
                                </form>
                            </div>
                        </div>
                    <?php } ?>
                    <!-- / header content -->
                </header>
                <!-- / header -->

                <?php echo $this->partial('nav/menu.phtml') ?>    
