<div id="modal-acesso" class="login_form modal" >
    <div class="topo_cadastro">
        <h1>
            <img src="/images/icone_cadastro.gif"/>
            Acesse sua conta
        </h1>
        <div>
            <p>Ainda n&atilde;o est&aacute; cadastrado?</p>
            <a href="/cadastro-cliente"><img src="/images/bnt_cadastre.jpg" /></a>
        </div>
    </div>
    <div class="box_left">
        <center><div class="fb-login-button" data-show-faces="false" perms="email">Inicie sessão com Facebook</div></center>
        <div class="bnt-facebook">
            <center> <p>( não publicaremos nada sem a sua autorização )</p></center>
            <small><span>ou</span></small>
        </div>
        <ol>
            <li>
                <fieldset id="label_vc_email_login" class="fieldset_modal_login">
                    <label>E-mail</label>
                    <input type="" class="email" name="vc_email_login" id="vc_email_login"/>
                </fieldset>
            </li>
            <li>
                <fieldset id="label_vc_senha_login" class="fieldset_modal_login">
                    <label>Senha</label>
                    <input type="password" class="senha" name="vc_senha_login" id="vc_senha_login"/>
                </fieldset>
            </li>
            <li>
                <p class="desc_tool">Esqueceu sua senha? <a href="#">Clique aqui</a></p>
                <a href="javascript:void(0);" onclick="efetuarLogin();">Entrar</a>
                <!--<input src="/images/bnt_entrar.jpg" class="bnt_entrar" type="image"/>-->
            </li>
        </ol>
    </div>
    <div class="box_right">
        <ul class="opcoes_info-cadastro">
            <li>
                <img src="/images/icone_tudo.gif"/>
                <p>
                    Tudo o que você precisa para o seu melhor amigo
                </p>
            </li>
            <li>
                <img src="/images/icone_guia.gif"/>
                <p>
                    Guia completo de servi&ccedil;os para o seu pet
                </p>
            </li>
            <li class="none">
                <img src="/images/icone_faq.gif"/>
                <p>
                    Perguntas e respostas com o Dr. Responde
                </p>
            </li>
        </ul>
    </div>
    <div class="rodape">
        <small>Acesso empresas</small>
        <p>
            Sua empresa ainda não está no portal CachorroGato? Cadastre grátis aqui*
        </p>
    </div>
    <span class="consulte">*Consulte a disponibilidade na sua região.</span>
    <a class="close-modal" onclick="javascript:abreModal();">Close</a>
</div>
<div class="background-modal" onclick="javascript:abreModal();"></div>