<!-- nav bar -->
<div class="nav_bar">
    <div class="rapidxwpr">

        <!-- nav profile -->
        <div class="nav_profile">
            <a href="/area-cliente"><img class="logo" src="/images/avatar_logo.png" alt="" /></a>
            <div class="nav_profile_info">
                <h4><a href="/area-cliente"><?php echo $usuario['vc_nome'] . " " . $usuario['vc_sobrenome'] ?></a></h4>
                <a href="/area-cliente/ajustes-conta">Configurações</a> Sair <a href="/frontend/cadastro-cliente/logoff">[x]</a>
            </div>
        </div>
        <!-- / nav profile -->
        <!-- topmenu -->
        <nav id="topmenu">
            <ul>
                <li class="first <?php echo ($this->idPage == 'area-cliente-index' ? 'active' : ''); ?>"><a class="icon01" href="/area-cliente">Meu perfil</a></li>
                <li <?php echo ($this->idPage == 'area-cliente-mensagens' ? 'class="active"' : ''); ?>><a class="icon02" href="/area-cliente/mensagens">Mensagens <?php if ($this->alertaMensagens > 0) { ?><span class="notification">1</span><?php } ?></a></li>
                <li <?php echo ($this->idPage == 'area-cliente-meu-pet' ? 'class="active"' : ''); ?>><a class="icon03" href="/area-cliente/meu-pet">Meu Pet</a></li>
                <li <?php echo ($this->idPage == 'area-cliente-meus-agendamentos' ? 'class="active"' : ''); ?>><a class="icon04" href="/area-cliente/meus-agendamentos">Agendamentos <?php if ($this->alertaMensagens > 0) { ?><span class="notification">1</span><?php } ?></a></li>
                <li <?php echo ($this->idPage == 'area-cliente-meus-orcamentos' ? 'class="active"' : ''); ?>><a class="icon05" href="/area-cliente/meus-orcamentos">Orçamentos</a></li>
                <li <?php echo ($this->idPage == 'area-cliente-meus-favoritos' ? 'style="active"' : ''); ?>><a class="icon06" href="/area-cliente/meus-favoritos">Favoritos</a></li>
                <li <?php echo ($this->idPage == 'convide-amigos' ? 'style="active"' : ''); ?>><a class="icon07" href="/convide-amigos">Convide amigos</a></li>
                <li <?php echo ($this->idPage == 'emergencia' ? 'style="active"' : ''); ?>><a class="icon08" href="/emergencia">Emergência</a></li>
            </ul>
        </nav>
        <!-- / topmenu -->
    </div>
</div>
<div style="height: 54px;"></div>
<!-- / nav bar -->