  <!-- Main Container Start -->
        <div id="mws-container" class="clearfix">
        
        	<!-- Inner Container Start -->
            <div class="container">
            	<div id="mws-error-container">
                	<div id="mws-error-code">
                		<h1 style="width: 200px;">Erro de Permissão</h1>
                    </div>
                    <p id="mws-error-message">Você não tem permissão pra acessar ou ultilizar este recurso.</p>
                </div>
            </div>
            </div>
            <!-- Inner Container End -->