
<style type="text/css">
    #main{ 
        width: 600px;
    }
    #content{ 
        width: 100%; 
        height: 400px;
    }
</style>
<div id="main">
    <div id="header-email">
        <a href="<?php echo $this->baseUrl(); ?>"><img src="<?php echo $this->baseUrl(); ?>/images/email/cliente/header-email.png" alt=""/></a>
    </div>   
    <div id="content">
        <p>Olá, <strong><?php echo $this->data['vc_nome']; ?> <?php echo $this->data['vc_sobrenome']; ?></strong></p>
        <p>Obrigado por realizar o seu cadastro e fazer parte da nossa rede,</p>
        <p>para finalizar o seu cadastro basta clicar no link abaixo e confirmar o seu registro !</p>
        <a href="<?php echo $this->baseUrl(); ?>/cliente/cadastro/confirmacao-cadastro/token/<?php echo $this->data['id_cliente']; ?>">Clique aqui para finalizar seu cadastro</a>
        <p>Obrigado,</p>
        <p>Cachorro Gato</p>
    </div>
    <div id="footer-email">
        <a href="<?php echo $this->baseUrl(); ?>"><img src="<?php echo $this->baseUrl(); ?>/images/email/cliente/footer-email.png" alt=""/></a>
    </div>
</div>