
<style type="text/css">
    #main{ 
        width: 600px;
    }
    #content{ 
        width: 100%; 
        height: 400px;
    }
</style>
<div id="main">
    <div id="header-email">
        <a href="<?php echo $this->baseUrl(); ?>"><img src="<?php echo $this->baseUrl(); ?>/images/email/cliente/header-email.png" alt=""/></a>
    </div>   
    <div id="content">
        <p>Olá, <strong><?php echo $this->data['vc_nome']; ?> <?php echo $this->data['vc_sobrenome']; ?></strong></p>
        <p>Recebemos sua solicitação para recuperar sua senha de acesso,</p>
        <p>para isso clique no link abaixo para iniciar o processo de recuperação.</p>
        <a href="<?php echo $this->baseUrl(); ?>/cliente/cadastro/recuperar-senha/token/<?php echo $this->data['id_cliente']; ?>">Clique aqui para recuperar sua senha</a>
        <p>Obrigado,</p>
        <p>Cachorro Gato</p>
    </div>
    <div id="footer-email">
        <a href="<?php echo $this->baseUrl(); ?>"><img src="<?php echo $this->baseUrl(); ?>/images/email/cliente/footer-email.png" alt=""/></a>
    </div>
</div>