<?php if ($this->efetivado) { ?>
    <?php echo $this->partial('comando-executado-sucesso.phtml', 'backend'); ?>
<?php } ?>
<div class="mws-panel grid_8">
    <div class="mws-panel grid_8" style="width: auto;">
        <div class="mws-panel-header">
            <span class="mws-i-24 mws-i-24 i-blocks-images">Cadastrar nova raça</span>
        </div>
        <div class="mws-panel-body" >
            <div class="mws-form-message warning">
                O tamanho ideal para imagem é de 81px por 81px.
            </div>
            <form id="add-raca" class="mws-form user" method="post" action="/backend/raca/add/" enctype="multipart/form-data">
                <input type="hidden" name="id_raca" value="<?php echo $this->conteudo['id_raca']; ?>" />
                <div class="mws-form-cols clearfix">
                    <div class="mws-form-col-8-8 alpha">
                        <label for="bl_exibir_no_site">Exibir no site:</label>
                        <div class="mws-form-item large">
                            <input type="checkbox" id="bl_exibir_no_site" name="bl_exibir_no_site" class="mws-textinput required" <?php echo ($this->conteudo['bl_exibir_no_site'] == 'sim') ? 'checked="checked"' : ''; ?> value="sim" />
                        </div>
                    </div>
                    <div class="mws-form-col-8-8 alpha">
                        <label>Raça:</label>
                        <div class="mws-form-item large">
                            <input type="text" id="vc_titulo" name="vc_titulo" class="mws-textinput required" value="<?php echo $this->conteudo['vc_titulo']; ?>" />
                        </div>
                    </div>
                    <div class="mws-form-col-8-8 alpha">
                        <label>Foto :</label>
                        <div class="mws-form-item small" >
                            <input type="file" name="vc_foto" id="vc_foto" />
                        </div>
                    </div>
                    <?php if ($this->conteudo['vc_foto']) { ?>
                        <div class="mws-form-col-8-8 alpha">
                            <div>
                                <p>Imagem cadastrada no momento: </p>
                                <img src="<?php echo $this->baseUrl() . '/uploads/modules/back-end/raca/fotos/' . $this->conteudo['vc_foto']; ?>" />
                            </div>
                        </div>
                        <div class="mws-form-col-8-8 alpha">
                            <label>Remover imagem: 
                                <input type="checkbox" name="excluir_imagem" value="sim" />
                            </label>
                        </div>
                    <?php } ?>
                    <div class="mws-form-col-8-8 alpha">
                        <label>Descrição:</label>
                        <div class="mws-form-item large">
                            <textarea id="elrte" name="vc_descricao" class="" rows="auto" cols="auto"><?php echo $this->conteudo['vc_descricao']; ?></textarea>
                        </div>
                    </div>
                </div>

                <div class="mws-button-row">
                    <input type="submit" value="<?php echo $this->conteudo['submit']; ?>" class="mws-button green" /> 
                    <input type="reset" value="Voltar" class="mws-button gray" onclick="window.location = '/backend/raca/';"/>
                </div>
            </form>
        </div>
    </div>
</div>
