<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-table-1">Lista de Raça</span>
    </div>
    <div class="mws-panel-body">
        <table  class="mws-datatable mws-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Raça</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <?php
                foreach ($this->raca as $raca) {
                    ?>
                    <tr class="gradeU">
                        <td><? echo $raca['id_raca']; ?></td>
                        <td><? echo $raca['vc_titulo']; ?></td>
                        <td class="center">
                            <ul id="icons-16" class="clearfix">
                                <?php if ($this->UserPermission()->isAllowed('raca', 'add')) { ?>
                                    <li onclick="window.location = '/backend/raca/add/id_raca/<? echo $raca['id_raca']; ?>/';" class="mws-ic-16 ic-application-edit" title="Editar"></li>
                                <?php } ?>
                                <?php if ($this->UserPermission()->isAllowed('raca', 'remove')) { ?>
                                    <li onclick="window.location = '/backend/raca/remove/id_raca/<? echo $raca['id_raca']; ?>/';" class="mws-ic-16 ic-cancel" title="Excluir"></li>
                                    <?php } ?>
                            </ul>
                        </td>
                    </tr>
                <?php } ?>
            </tbody>
        </table>
    </div>
</div>