<div class="mws-panel grid_8">

	<div class="mws-panel-header">
		<span class="mws-i-24 i-table-1">Lista de páginas mais visitadas</span>
	</div>
	<div class="mws-panel-body">
		<table class="mws-datatable mws-table">
			<thead>
				<tr>
    <?php foreach ($this->thead as $key=> $thead):?>
     <?php if($key!=2 && $key!=4 && $key!=6 && $key!=8) :?>
     <th><?php echo utf8_encode($thead);  ?></th>
     <?php endif;?>
     <?php endforeach; ?>
    </tr>
			</thead>

			<tbody>
  <?php foreach ($this->tbody as $tbody) : ?>
    <tr>
     <?php foreach ($tbody as $key=>$collumn) : ?>
      <?php if($key==0) :?>
      <td><a href="<?php echo $collumn; ?>" target="_new" style="text-decoration:underline;color:gray;"><?php echo $collumn; ?></a></td>
      <?php endif; ?>
      <?php if($key!=0 && $key!=2 && $key!=4 && $key!=6 && $key!=8) :?>
      <td><?php echo str_replace(array('<','>'), array('menor que ','maior que '), $collumn) ; ?></td>
      <?php endif; ?>
     <?php endforeach; ?>
    </tr>
    <?php endforeach; ?>
  </tbody>
		</table>
	</div>

</div>