<!-- Inner Container End -->

<!-- Footer -->
<div id="mws-footer">
    <strong>Back Office</strong> Cachorro Gato - Todos os Direitos Reservados 2013-<?php echo date("Y") ?>
</div>

</div>
<!-- Main Container End -->

</div>

</body>
</html>

</div>