<!-- Header -->
<div id="mws-header" class="clearfix">

    <!-- Logo Container -->
    <div id="mws-logo-container">

        <!-- Logo Wrapper, images put within this wrapper will always be vertically centered -->
        <div id="mws-logo-wrap">
            <a href="/backend/index"><img  src="/images/logo.png" alt="mws admin" /></a>
        </div>
    </div>


    <!-- User Tools (notifications, logout, profile, change password) -->
    <div id="mws-user-tools" class="clearfix">

    <!-- User Information and functions section -->
    <div id="mws-user-info" class="mws-inset" >
        <!-- User Photo 
        <div id="mws-user-photo">
           
        </div>-->
        <!-- Username and Functions -->
        <div id="mws-user-functions" style="margin-left: 0px;">
            <div id="mws-username">
                Seja Bem Vindo, <strong><?php echo $this->user()->getFullName() ?></strong>
            </div>
            <ul>
                <li><a href="/backend/user/change-password">Alterar Senha</a></li>
                <li><a href="/backend/user/logout">Sair</a></li>
            </ul>
        </div>
    </div>
</div>
</div>


<!--

<div id="prepage"> 
    <span class="carregando">Carregando...</span>
</div>-->