<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <!-- Apple iOS and Android stuff (do not remove) -->
        <meta name="apple-mobile-web-app-capable" content="no" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />

        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,maximum-scale=1" />

        <!-- Required Stylesheets -->
        <link rel="stylesheet" type="text/css" href="/css/reset.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/css/text.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/css/fonts/ptsans/stylesheet.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/css/fluid.css" media="screen" />

        <link rel="stylesheet" type="text/css" href="/css/mws.style.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/css/icons/16x16.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/css/icons/24x24.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/css/icons/32x32.css" media="screen" />

        <link rel="stylesheet" type="text/css" href="/layout_site/css/bootstrap.css" media="screen" />

        <!-- Demo and Plugin Stylesheets -->
        <link rel="stylesheet" type="text/css" href="/css/demo.css" media="screen" /> 

        <link rel="stylesheet" type="text/css" href="/plugins/colorpicker/colorpicker.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/plugins/imgareaselect/css/imgareaselect-default.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/plugins/fullcalendar/fullcalendar.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/plugins/fullcalendar/fullcalendar.print.css" media="print" />
        <link rel="stylesheet" type="text/css" href="/plugins/chosen/chosen.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/plugins/prettyphoto/css/prettyPhoto.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/plugins/tipsy/tipsy.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/plugins/sourcerer/Sourcerer-1.2.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/plugins/jgrowl/jquery.jgrowl.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/plugins/spinner/ui.spinner.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/jui/css/jquery.ui.all.css" media="screen" />

        <link rel="stylesheet" type="text/css" href="/plugins/elrte/css/elrte.full.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/plugins/elfinder/css/elfinder.css" media="screen" />
        <!-- Theme Stylesheet -->
        <link rel="stylesheet" type="text/css" href="/css/mws.theme.css" media="screen" />
        <style>
            .ui-tabs .ui-tabs-nav li.ui-state-active{ margin-bottom: 0; padding-bottom: 1px; background-color:#f8f8f8; border:1px solid #bcbcbc; color: #323232 !important;}
            .ui-tabs .ui-tabs-nav li.ui-state-active a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: default;color: #323232 !important; } 
        </style>
        <!-- JavaScript Plugins -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script type="text/javascript" src="/js/jquery.mousewheel.min.js"></script>
        <script type="text/javascript" src="/js/jquery.placeholder.js"></script>
        <script type="text/javascript" src="/js/jquery.fileinput.js"></script>

        <!-- jQuery-UI Dependent Scripts -->
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>

        <script type="text/javascript">
            $(function() {



                $('.galleries ul').each(function(index, element) {

                    var $selector = '#' + $(element).attr('id');

                    $($selector).sortable({
                        placeholder: "ui-state-highlight-item",
                        cursor: "move",
                        revert: true,
                        connectWith: '.sortable-galleries',
                        stop: function(event, ui) {
                            var items = [];

                            $($selector + ' li').each(function(index, element) {

                                items[index] = $(element).attr('item');


                            });

                            $.post('<?php echo $this->serverUrl('/backend/collections-order/set-gallery-order/') ?>',
                                    {'item_id': ui.item.attr('item'),
                                        'positions': items.join(','),
                                    },
                                    function(data) {
                                    },
                                    'json');

                        }

                    }).disableSelection();


                    $($selector).droppable({
                        activeClass: "ui-state-highlight",
                        drop: function(event, ui) {

                            ui.draggable.appendTo($('#' + $(this).attr('id'))).fadeIn();

                            if ($(this).attr('gallery') != ui.draggable.attr('category')) {

                                $.post('<?php echo $this->serverUrl('/backend/gallery/share-item-move'); ?>',
                                        {'gallery': $(this).attr('gallery'),
                                            'item': ui.draggable.attr('item'),
                                            'id_empreendimento': $(this).attr('enterprise')
                                        }, function(data) {

                                    ui.draggable.attr('category', data.category);


                                }, 'json');
                            }
                        }
                    });

                });


                $("#banners tbody").sortable({placeholder: "ui-state-highlight-slide",
                    placeholder: "ui-state-highlight-slide",
                            cursor: "move",
                    revert: true,
                    stop: function(event, ui) {

                        var slides = [];

                        $("#banners tbody tr ").each(function(index, element) {

                            slides[index] = $(element).attr('slide');

                        });

                        $.post('<?php echo $this->serverUrl('/backend/collections-order/set-banner-slide-order/') ?>',
                                {
                                    'item_id': ui.item.attr('slide'),
                                    'positions': slides.join(','),
                                },
                                function(data) {
                                },
                                'json');

                    }

                });

                $("#banners tbody").disableSelection();

            });
        </script>

        <script type="text/javascript" src="/jui/js/jquery.ui.timepicker.min.js"></script>
        <script type="text/javascript" src="/jui/js/jquery.ui.touch-punch.js"></script>
        <script type="text/javascript" src="/plugins/spinner/ui.spinner.min.js"></script>

        <!-- Plugin Scripts -->
        <script type="text/javascript" src="/plugins/imgareaselect/jquery.imgareaselect.min.js"></script>
        <script type="text/javascript" src="/plugins/duallistbox/jquery.dualListBox-1.3.min.js"></script>
<!--         <script type="text/javascript" src="/plugins/jgrowl/jquery.jgrowl-min.js"></script>
        <script type="text/javascript" src="/plugins/fullcalendar/fullcalendar.min.js"></script>  -->
        <script type="text/javascript" src="/plugins/datatables/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="/plugins/chosen/chosen.jquery.min.js"></script>
<!--          <script type="text/javascript" src="/plugins/prettyphoto/js/jquery.prettyPhoto.min.js"></script>  -->

        <!--[if lt IE 9]>
        <script type="text/javascript" src="plugins/flot/excanvas.min.js"></script>
        <![endif]-->
        <!-- <script type="text/javascript" src="/plugins/flot/jquery.flot.min.js"></script>
        <script type="text/javascript" src="/plugins/flot/jquery.flot.pie.min.js"></script>
        <script type="text/javascript" src="/plugins/flot/jquery.flot.stack.min.js"></script>
        <script type="text/javascript" src="/plugins/flot/jquery.flot.resize.min.js"></script> -->
        <script type="text/javascript" src="/plugins/validate/jquery.validate.js"></script>
        <script type="text/javascript" src="/plugins/tipsy/jquery.tipsy-min.js"></script>
        <script type="text/javascript" src="/plugins/elrte/js/elrte.min.js"></script>
        <script type="text/javascript" src="/plugins/elfinder/js/elfinder.min.js"></script>

        <script type="text/javascript" src="/js/demo/demo.formelements.js"></script>

        <!--[if lt IE 9]>
        <script type="text/javascript" src="plugins/flot/excanvas.min.js"></script>
        <![endif]-->
        <script type="text/javascript" src="/plugins/colorpicker/colorpicker-min.js"></script>


        <!-- Core Script -->
        <script type="text/javascript" src="/js/core/mws.js"></script>
        <script type="text/javascript" src="/js/core/mws.wizard.js"></script> 

        <!-- Themer Script (Remove if not needed) -->
        <script type="text/javascript" src="/js/core/themer.js"></script>  

        <!-- Demo Scripts (remove if not needed) -->
        <script type="text/javascript" src="/js/demo/demo.js"></script>

<!--         <script type="text/javascript" src="/js/demo/demo.charts.js"></script>
        -->      

        <title>Administrador</title>
    </head>

    <body>
        <!-- Start Main Wrapper -->
        <div id="mws-wrapper">



            <!-- Main Container Start -->
            <div id="mws-container" class="clearfix">

                <!-- Inner Container Start -->
                <div class="container">
                    <div id="content"><?php echo $this->layout()->content ?></div>
                </div>
                <?php echo $this->partial('footer.phtml') ?>

            </div>
            <!-- Main Container End -->

        </div>

    </body>
</html>
