<?php echo $this->partial('header.phtml') ?>
<body>
        <?php echo $this->partial('/info-usuario.phtml') ?>
        <!-- Start Main Wrapper -->
        <div id="mws-wrapper">

            <!-- Necessary markup, do not remove -->
            <div id="mws-sidebar-stitch"></div>
            <div id="mws-sidebar-bg"></div>

            <!-- Sidebar Wrapper -->
            <?php echo $this->partial('nav/menu.phtml') ?>

            <!-- Main Container Start -->
            <div id="mws-container" class="clearfix">

                <!-- Inner Container Start -->
                <div class="container">
                    <div id="content"><?php echo $this->layout()->content ?></div>
                </div>
                <?php echo $this->partial('footer.phtml') ?>

