<?php
$usuario = new Zend_Session_Namespace('Sessao_Cliente');
$usuario = $usuario->arr;
?>
<!-- main body -->
<div id="middle">

    <!-- featured -->
    <div class="featured">
        <div class="featured_slider">
            <div class="image"><a href=""><img src="/images/featured_img.jpg" alt="" /></a></div>
            <div class="caption">
                <h2>O preço dos filhotes para o próximo Natal</h2>
                Confira a maior liquidação de cachorros da história do país e garanta já o seu filhotinho
            </div>
            <div class="featured_tabs">
                <ul>
                    <li class="active"><a href="">1</a></li>
                    <li><a href="">2</a></li>
                    <li><a href="">3</a></li>
                    <li><a href="">4</a></li>
                </ul>
            </div>
            <a href="" class="prev">prev</a>
            <a href="" class="next">next</a>
        </div>

        <div class="featured_tools">
            <div class="featured_tools_box">
                <?php if (is_null($usuario)) { ?>
                    <div class="login">
                        <p class="titulo_login">Acesse sua conta:</p>
                        <form action="/acesso" method="post">
                            <input name="vc_email" id="vc_email" type="text" placeholder="Seu e-mail" class="login_email" />
                            <input name="vc_senha" id="vc_senha"  type="password" placeholder="*******" class="login_pass"/>
                            <a class="fb-login-button" data-show-faces="false" perms="email,publish_actions,user_birthday,user_hometown,user_location,user_website">Login com
                                facebook</a>
                            <input name="" type="submit" value="Entrar" class="login_botao_entrar" />
                        </form>
                    </span> <span class="esqueceu"><a href="#esqueceu">Esqueceu sua senha? Clique aqui</a></span> 
            </div>
        <?php } else { ?>
            <div class="login">
                <h3 class="title">Olá, <?php echo $usuario['vc_nome'] . " " . $usuario['vc_sobrenome']; ?> </h3>
                <div class="content-painel-login">
                    <a href="" class="painel-login">Você tem <strong>3</strong> mensagens novas</a>
                    <a href="" class="painel-login">Aviso sobre o seu pet</a>
                    <a href="" class="painel-login">Curta nossa <i>fan page</i></a>
                    <a href="" class="painel-login">Siga a gente no Twitter</a>
                    <a href="" class="painel-login">Ative o modo social do Facebook</a>
                    <a href="" class="painel-login">Principais alertas</a>
                    <a href="" class="painel-login">Adicione sua foto</a>
                </div>
            </div>
        <?php } ?>
    </div>
    <div class="emergencia_note">
        <h3>Emergência 24h</h3>
        <p>Conteúdos de Emergência,</p>
        <p>Perdi meu Pet, Mural de Perdidos</p>
        <p>e Serviços 24hs.</p>
    </div>
</div>
</div>
<!-- / featured -->

<!-- right column -->
<aside id="right" class="clearingfix">

    <div class="latest_news">
        <div class="title">
            <h3 class="title">Últimas notícias <span>NOVIDADES DO MUNDO PET</span></h3>
            <a href="" class="plus">plus</a>
        </div>
        <ul>
            <li><a href="">As 10 raças mais populares do Brasil com esta...</a></li>
            <li><a href="">As 10 raças mais populares do Brasil com esta...</a></li>
            <li><a href="">As 10 raças mais populares do Brasil com esta...</a></li>
            <li><a href="">As 10 raças mais populares do Brasil com esta...</a></li>
        </ul>
    </div>


    <?php echo $this->partial('includes/widget-bloco-servicos-index.phtml') ?>
    <?php echo $this->partial('includes/widget-busca-servicos.phtml') ?>
    <?php echo $this->partial('includes/widget-dr-responde.phtml') ?>
    <?php echo $this->partial('includes/widget-redes-sociais.phtml') ?>

</aside>
<!-- / right column -->

<!-- content column -->
<section id="main" class="clearingfix">

    <!-- featured box -->
    <div class="featured_box">
        <div class="featured_services">
            <h2 class="title">Tudo para o seu pet <span>NOSSOS FORNECEDORES E SERVIÇOs</span></h2>
            <ul>
                <li><a href="">Pet Shops</a></li>
                <li><a href="">Dog Walkers</a></li>
                <li><a href="">Veterinarios</a></li>
                <li><a href="">Hospital Veterinario</a></li>
                <li class="active"><a href="">Hotéis p/ cachorros</a></li>
                <li><a href="">Criadores</a></li>
                <li><a href="">Hoteis p/ gatos</a></li>
                <li class="link"><a href="" class="veja_todos">VEJA TODOS</a></li>
            </ul>
        </div>
        <div class="pet_care_box">
            <h3 class="title">Cuide bem do seu bichinho <span>conheça as nossas ferramentas</span></h3>
            <ul>
                <li><a href="" class="icon_agenda">Agenda</a></li>
                <li><a href="" class="icon_racas">Raças</a></li>
                <li><a href="" class="icon_pet">Pet Ideal</a></li>
                <li><a href="" class="icon_cadastro">Cadastro</a></li>
            </ul>
        </div>
    </div>
    <!-- / featured box -->

    <!-- articles box -->
    <section class="articles_box">
        <div class="title">
            <h3><span>Cachorros</span></h3>
            <span class="link"><a href="">VEJA TUDO SOBRE CACHORROS</a></span>
        </div>
        <section class="articles_box_content">
            <article class="featured_articles">
                <ul>
                    <li class="first">
                        <div class="image"><a href=""><img src="/images/pet_img1.jpg" alt="" /></a></div>
                        <div class="detail">
                            <h4><a href="">Proteja seu cachorro no inverno</a></h4>
                            <p>Apesar do inverno ainda não ter começado, o outono já está apresentando temperaturas mais baixas no sul e no sudeste do país</p>
                            <a href="" class="mais">Leia mais</a>
                        </div>
                    </li>
                    <li>
                        <div class="image"><a href=""><img src="/images/pet_img2.jpg" alt="" /></a></div>
                        <div class="detail">
                            <h4><a href="">Lanchinhos de baixa caloria para o seu cachorrinho</a></h4>
                            <p>Todos nós sabemos que nossos cachorros amam os lanchinhos, seja um biscoitinho</p>
                            <a href="" class="mais">Leia mais</a>
                        </div>
                    </li>
                </ul>
            </article>
            <article class="more_articles">
                <ul>
                    <li class="first"><a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</a></li>
                </ul>
            </article>
        </section>
    </section>
    <!-- / articles box -->

    <!-- articles box -->
    <section class="articles_box">
        <div class="title">
            <h3><span>GATOS</span></h3>
            <span class="link"><a href="">VEJA TUDO SOBRE GATOS</a></span>
        </div>
        <section class="articles_box_content">
            <article class="featured_articles">
                <ul>
                    <li class="first">
                        <div class="image"><a href=""><img src="/images/pet_img3.jpg" alt="" /></a></div>
                        <div class="detail">
                            <h4><a href="">Proteja seu gato no verão</a></h4>
                            <p>Apesar do inverno ainda não ter começado, o outono já está apresentando temperaturas mais baixas no sul e no sudeste do país</p>
                            <a href="" class="mais">Leia mais</a>
                        </div>
                    </li>
                    <li>
                        <div class="image"><a href=""><img src="/images/pet_img4.jpg" alt="" /></a></div>
                        <div class="detail">
                            <h4><a href="">Gatos feitos para quem tem algum problema alérgico</a></h4>
                            <p>Todos nós sabemos que nossos cachorros amam os lanchinhos, seja um biscoitinho</p>
                            <a href="" class="mais">Leia mais</a>
                        </div>
                    </li>
                </ul>
            </article>
            <article class="more_articles">
                <ul>
                    <li class="first"><a href="">Lorem ipsum dolor sit amet,<br /> consectetur adipisicing elit, sed do</a></li>
                </ul>
            </article>
        </section>
    </section>
    <!-- / articles box -->

    <!-- articles boxes -->
    <section class="articles_boxes">
        <article class="articles_list">
            <h3><span>raças de CACHORROS</span></h3>
            <ul>
                <li class="first">
                    <div class="image"><a href=""><img src="/images/pet_img3.jpg" alt="" /></a></div>
                    <div class="detail">
                        <h4><a href="">Abissínio</a></h4>
                        <p>Apesar do inverno ainda não ter começado, o outono já está apresentando temperaturas mais</p>
                        <a href="" class="mais">Leia mais</a>
                    </div>
                </li>
            </ul>
            <a href="" class="veja">VEJA TODAS AS RAÇAS DE CACHORROS</a>
        </article>
        <article class="articles_list right">
            <h3><span>raças de GATOS</span></h3>
            <ul>
                <?php foreach ($this->racasGatos as $racaGato) : ?>
                    <li class="first">
                        <div class="image"><a href=""><img src="/images/pet_img3.jpg" alt="" /></a></div>
                        <div class="detail">
                            <h4><a href="/raca/gato/<?php echo $racaGato['vc_seo_url'] ?>"><?php echo $racaGato['vc_raca_gato'] ?></a></h4>
                            <p><?php echo $racaGato['vc_raca_gato'] ?></p>
                            <a href="/raca/gato/<?php echo $racaGato['vc_seo_url'] ?>" class="mais">Leia mais</a>
                        </div>
                    </li>
                <?php endforeach; ?>
            </ul>
            <a href="/raca/gato" class="veja">VEJA TODAS AS RAÇAS DE GATOS</a>
        </article>
    </section>
    <!-- / articles boxes -->

    <!-- featured services box -->
    <section class="featured_services_box">
        <div class="title">
            <h3><span>SERVIÇOS EM DESTAQUE</span></h3>
            <a class="link" href="">VEJA TODOS OS NOSSOS SERVIÇOS</a>
        </div>
        <article class="services_box_content">
            <ul>
                <?php echo $this->partial('includes/widget-bloco-servicos.phtml') ?>
            </ul>
        </article>
    </section>
    <!-- / featured services box -->

</section>
<!-- / content column -->

</div>
<!-- / main body -->