<?php
$this->jQuery()->addJavascriptFile('/js/jquery/jquery.mask.js')
        ->addJavascriptFile('/js/jquery/jquery.cookie.js')
        ->addJavascriptFile('/js/modules/front-end/empresa.js');

$this->jQuery()->addOnLoad('
    $("#it_telefone").mask("9999-9999");
    $("#it_celular").mask("99999-9999");
    $("#it_cep").mask("99999-999");
    ');
?>

<div id="middle">
    <!-- content column -->
    <section id="main" class="clearingfix largo">
        <section id="fornecedor" class="articles_box">
            <?php echo $this->partial('includes/breadcrumbs.phtml', array('breadcrumb' => $this->breadcrumb)) ?>
            <div class="titulo_pagina">
                <h1><span>CADASTRO GRÁTIS</span></h1>
            </div>
            <div class="info-step1">
                <p>Preencha este formulário e comece a receber mais clientes para o seu negócio.Nossa ferramenta inovadora no mercado de pets ajudará  seu faturamento aumentar e fidelizará seus clientes.</p>
                <p class="small">Os campos com * são obrigatórios, o resto dos campos são opcionais. Tempo estimado: 1 minuto.</p>
                <a href="javascript:;" class="fechar" onclick="$('.info-step1').fadeOut();"></a>
            </div>
            <div class="navegacaocadastro">
                <p class="titulopasso">Cadastro gratuito no CachorroGato</p>
                <ul id="passos">
                    <li class="ativo">
                        <span class="numero">1</span>
                        <span class="informacaodopasso">Informações básicas</span>
                    </li>
                    <li>
                        <span class="numero">2</span>
                        <span class="informacaodopasso">Galeria de imagens</span>
                    </li>
                    <li>
                        <span class="numero">3</span>
                        <span class="informacaodopasso">Seu  negócio</span>
                    </li>
                    <li class="ultimo">
                        <span class="numero">4</span>
                        <span class="informacaodopasso">Seja Premium</span>
                    </li>
                </ul>
            </div>

            <div id="formularios_limite">
                <form method="POST" action="<?php echo $this->action; ?>" id="formulariodecadastro" onsubmit="return validarStep1CadastroEmpresa();">
                    <fieldset>
                        <legend class="titulopergunta"> <span class="numero"> 1 </span> Dados básicos</legend>
                        <label class="campo_grande" for="vc_nome_empresa" id="label_vc_nome_empresa">
                            NOME DA SUA EMPRESA <span class="linhas">*</span>
                            <?php echo $this->formText('vc_nome_empresa', $this->me['vc_nome_empresa'], array('maxlength' => 255)); ?>
                        </label>
                    </fieldset>
                    <fieldset>
                        <legend class="titulopergunta"> <span class="numero"> 2 </span> Dados de acesso</legend>
                        <div class="alinhar">
                            <label class="campo_grande" for="vc_acesso_email" id="label_vc_acesso_email">
                                EMAIL <span class="linhas">*</span>
                                <?php echo $this->formText('vc_acesso_email', $this->me['vc_acesso_email'], array('maxlength' => 255, 'onblur' => 'return verificaEmail();')); ?>
                            </label>
                            <label class="campo_grande" for="vc_acesso_email_confirmar" id="label_vc_acesso_email_confirmar">
                                CONFIRMAR EMAIL <span class="linhas">*</span>
                                <?php echo $this->formText('vc_acesso_email_confirmar', $this->me['vc_acesso_email_confirmar'], array('maxlength' => 255, 'onblur' => 'return verificaEmail();')); ?>
                            </label>
                            <label class="campo_grande" for="vc_acesso_senha" id="label_vc_acesso_senha">
                                SENHA <span class="linhas">*</span>
                                <?php echo $this->formPassword('vc_acesso_senha', $this->me['vc_acesso_senha'], array('maxlength' => 255, 'onblur' => 'return verificaSenha();')); ?>
                            </label>
                            <label class="campo_grande" for="vc_acesso_senha_confirmar" id="label_vc_acesso_senha_confirmar">
                                CONFIRMAR SENHA <span class="linhas">*</span>
                                <?php echo $this->formPassword('vc_acesso_senha_confirmar', $this->me['vc_acesso_senha_confirmar'], array('maxlength' => 255, 'onblur' => 'return verificaSenha();')); ?>
                            </label>
                        </div>
                        <div class="dicas_form">
                            <p>E-mail e senha para criar um usuário para ter acesso ao menu de empresas. A senha deve ter no mínimo 8 caracteres e identifica maiúsculas e minúsculas.</p>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend class="titulopergunta"> <span class="numero"> 3 </span> Descreva sua empresa</legend>
                        <div class="alinhar">
                            <textarea  cols="70" rows="8" class="campo_grande" name="vc_descricao_empresa" id="vc_descricao_empresa"><?php echo $this->me['vc_descricao_empresa']; ?></textarea>
                        </div>
                        <div class="dicas_form empresa">
                            <p>Descreva detalhadamente a sua empresa, bem como os serviços que oferece ou produtos disponíveis. Para seguir a linha de comunicação do portal, não deverá ter dados de contato, como telefone, email ou página web. <a href="">Ver exemplo de ficha de empresa</a></p>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend class="titulopergunta"> <span class="numero"> 4 </span> Endereço</legend>
                        <div class="alinhar">
                            <label class="campo_grande" for="it_cep" id="label_it_cep">
                                CÓDIGO POSTAL <span class="linhas">*</span>
                                <?php echo $this->formText('it_cep', $this->me['it_cep'], array('maxlength' => 8, 'onblur' => 'buscarEnderecoPorCep();')); ?>
                            </label>
                            <label class="campo_grande_select" for="vc_estado" id="label_vc_estado">
                                ESTADO <span class="linhas">*</span>
                                <?php echo $this->formSelect('vc_estado', $this->me['vc_sobrenome'], null, $this->UF()); ?>
                            </label>
                            <label class="campo_grande" for="vc_cidade" id="label_vc_cidade">
                                CIDADE <span class="linhas">*</span>
                                <?php echo $this->formText('vc_cidade', $this->me['vc_cidade'], array('maxlength' => 100)); ?>
                            </label>
                            <label class="campo_grande" for="vc_endereco" id="label_vc_endereco">
                                ENDERECO <span class="linhas">*</span>
                                <?php echo $this->formText('vc_endereco', $this->me['vc_endereco'], array('maxlength' => 100)); ?>
                            </label>
                            <label class="campo_pequeno" for="vc_numero" id="label_vc_numero">
                                NUMERO <span class="linhas">*</span>
                                <?php echo $this->formText('vc_numero', $this->me['vc_numero'], array('maxlength' => 10)); ?>
                            </label>
                            <label class="campo_grande" for="vc_complemento" id="label_vc_complemento">
                                COMPLEMENTO <span class="linhas">&nbsp;</span>
                                <?php echo $this->formText('vc_complemento', $this->me['vc_complemento'], array('maxlength' => 45)); ?>
                            </label>
                        </div>
                        <div class="dicas_form">
                            <p>Introduza o endereço da sua empresa para que os usuários interessados possam ver a sua localização. Tenha em conta que os filtros do buscador e as funcionalidades dos mapas se baseiam nesta informação.</p>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend class="titulopergunta"> <span class="numero"> 5 </span> Dados do contato</legend>
                        <div class="alinhar">
                            <label class="campo_medio" for="vc_pessoa_contato" id="label_vc_pessoa_contato">
                                NOME DO CONTATO <span class="linhas">*</span>
                                <?php echo $this->formText('vc_pessoa_contato', $this->me['vc_pessoa_contato'], array('maxlength' => 100)); ?>
                            </label>
                            <label class="sou_dono">
                                <input type="checkbox" id="bl_dono" name="bl_dono" value="sim" onclick="verificaDonoEmpresa();" /><span>Sou dono</span>
                            </label>
                            <label class="campo_medio" for="vc_nome_proprietario" id="label_vc_nome_proprietario">
                                NOME DO PROPRIETARIO<span class="linhas">&nbsp;</span>
                                <?php echo $this->formText('vc_nome_proprietario', $this->me['vc_nome_proprietario'], array('maxlength' => 255)); ?>
                            </label>
                            <label class="campo_medio" for="vc_contato_email" id="label_vc_contato_email">
                                EMAIL <span class="linhas">*</span>
                                <?php echo $this->formText('vc_contato_email', $this->me['vc_contato_email'], array('maxlength' => 150)); ?>
                            </label>
                            <label class="campo_medio" for="it_telefone" id="label_it_telefone">
                                TELEFONE <span class="linhas">*</span>
                                <?php echo $this->formText('it_telefone', $this->me['it_telefone'], array('maxlength' => 10)); ?>
                            </label>
                            <label class="campo_medio" for="it_celular" id="label_it_celular">
                                CELULAR<span class="linhas">&nbsp;</span>
                                <?php echo $this->formText('it_celular', $this->me['it_celular'], array('maxlength' => 11)); ?>
                            </label>
                            <label class="campo_medio" for="vc_email_contato_empresa" id="label_vc_email_contato_empresa">
                                EMAIL DE CONTATO DA EMPRESA <span class="linhas">*</span>
                                <?php echo $this->formText('vc_email_contato_empresa', $this->me['vc_email_contato_empresa'], array('maxlength' => 255)); ?>
                            </label>
                            <label class="campo_medio" for="vc_pagina_web" id="label_vc_pagina_web">
                                PÁGINA WEB<span class="linhas">&nbsp;</span>
                                <?php echo $this->formText('vc_pagina_web', $this->me['vc_pagina_web'], array('maxlength' => 100)); ?>
                            </label>
                            <div class="box_opcoes" id="dia_atividade">
                                <label class="titulo_opcoes_data">DIAS DE ATIVIDADE:</label>
                                <?php foreach ($this->data['dia_atividade'] as $id_atividade => $vc_descricao) { ?>
                                <label><input type="checkbox" class="dia_atividade" name="vc_dias_atividade[]" value="<?php echo $id_atividade; ?>"/><?php echo $vc_descricao; ?></label>
                                <?php } ?>
                                <div class="limpa"></div>
                            </div>
                            <div class="box_opcoes">
                                <label class="titulo_opcoes">HORARIO DE FUNCIONAMENTO:</label>
                                <label class="campo_medio_select" id="label_tm_periodo_de_atividade_inicio"> <span>DE</span>
                                    <?php echo $this->formSelect('tm_periodo_de_atividade_inicio', null, null, $this->data['atividade_inicio']); ?>
                                </label>
                                <label class="campo_medio_select" id="label_tm_periodo_de_atividade_termino"> <span>ATE</span>
                                    <?php echo $this->formSelect('tm_periodo_de_atividade_termino', null, null, $this->data['atividade_termino']); ?>
                                </label>
                                <label class="check24h">
                                    <?php echo $this->formCheckbox('bl_periodo_de_atividade', 24); ?>
                                    24 horas
                                </label>
                            </div>
                        </div>
                        <div class="dicas_form dados_contato">
                            <p>Introduza os seus dados de contato para que os usuários possam contactar com a sua empresa. Receberá os pedidos de informação de usuários no endereço eletrônico introduzido.</p>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend><span class="numero"> 6 </span> SETOR DE ATIVIDADE:</legend>
                        <div class="box_opcoes" id="setor_atividade">
                            <?php foreach ($this->data['setor_atividade'] as $id_atividade => $vc_descricao) { ?>
                                <label>
                                    <input type="radio" name="id_setor_de_atividade" class="setor_atividade" id="<?php echo $id_atividade; ?>" value="<?php echo $id_atividade; ?>" /> <?php echo $vc_descricao; ?>
                                </label>
                            <?php } ?>
                            <div class="limpa"></div>
                        </div>
                    </fieldset>
                    <p class="info_termos">Ao clicar em “Continuar” você aceitará automaticamente as nossas <a href="#">condições legais</a>.</p>
                    <input type="submit" class="btn_continhar" value="">
                    <div class="limpa"></div>
                </form>
                <div id="ajuda">
                    <p>Caso precise de ajuda, podemos te atender pelo telefone <strong>(11) 2667-4381</strong> ou pelo email <strong>contato@cachorrogato.com.br</strong></p>
                </div>
            </div>
        </section>
    </section>
</section>
<!-- / content column -->
</div>
<!-- / main body -->