<div id="middle">
    <!-- content column -->
    <section id="main" class="clearingfix largo">
        <section id="fornecedor" class="articles_box">
            <div class="titulo_pagina">
                <h1><span>Seja premium</span></h1>
            </div>
            <div class="info-step4">
                <p><strong>Consiga mais clientes, seja Premium!</strong> Em cachorrogato.com.br apostamos no sucesso do seu negócio. Por isso criamos os Packs Premium, com o quais multiplica as suas possibilidades de obter novos clientes.</p>
                <a href="javascript:;" class="fechar" onclick="$('.info-step2').fadeOut();"></a>
            </div>
            <div class="navegacaocadastro">
                <p class="titulopasso">Cadastro premium no CachorroGato</p>
                <ul id="passos">
                    <li>
                        <span class="numero">1</span>
                        <span class="informacaodopasso">Informações básicas</span>
                    </li>
                    <li>
                        <span class="numero">2</span>
                        <span class="informacaodopasso">Galeria de imagens</span>
                    </li>
                    <li>
                        <span class="numero">3</span>
                        <span class="informacaodopasso">Seu  negócio</span>
                    </li>
                    <li class="ultimo ativo">
                        <span class="numero">4</span>
                        <span class="informacaodopasso">Seja Premium</span>
                    </li>
                </ul>
            </div>
            <div id="premium_fornecedor">
                <h2>Lorem ipsum dolor dot sit amet</h2>
                <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat: himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non </p>
                <div id="plano_filhote" class="box_info_premium">
                    <div class="destaque_titulo">
                        <h3><span class="esquerda"></span><span class="direita"></span>Plano Filhote</h3>
                        <p>Melhor posicionamento e mais destaque no resultado de pesquisa</p>
                        <p class="destaque_preco"><span class="rs">R$</span> <span class="valor">29</span><span class="mes"> / mês</span></p>
                        <div class="limpa"></div>
                        <a href="#" class="bt_assine">Assine</a>
                    </div>
                    <ul>
                        <li>Atualização do anúncio <img src="/images/ico_perguntar_int.png" /></li>
                        <li>Até 5 telefones</li>
                        <li>Sua empresa no mapa <img src="/images/ico_perguntar_int.png" /></li>
                        <li>Compartilhamento em redes sociais <img src="/images/ico_perguntar_int.png" /></li>
                        <li>Link para o seu site</li>
                        <li>E-mail da empresa</li>
                        <li>Destaque na busca <img src="/images/ico_perguntar_int.png" /></li>
                        <li>Logotipo da empresa</li>
                        <li>Até 8 fotos</li>
                        <li>Vídeo <img src="/images/ico_perguntar_int.png" /></li>
                        <li>Solicitação de cotação por e-mail <img src="/images/ico_perguntar_int.png" /></li>
                        <li>Ligação gratuita para a empresa <img src="/images/ico_perguntar_int.png" /></li>
                        <li>Descrição detalhada do seu serviço <img src="/images/ico_perguntar_int.png" /></li>
                        <li class="ultimo">Divulgação em 1 cidade <img src="/images/ico_perguntar_int.png" /></li>
                    </ul>
                </div>
                <div id="plano_mega" class="box_info_premium">
                    <div class="destaque_titulo">
                        <h3><span class="esquerda"></span><span class="direita"></span>Plano Mega</h3>
                        <p>Melhor posicionamento e mais destaque no resultado de pesquisa</p>
                        <p class="destaque_preco"><span class="rs">R$</span> <span class="valor">49</span><span class="mes"> / mês</span></p>
                        <a href="#" class="bt_assine">Assine</a>
                    </div>
                    <ul>
                        <li>Atualização do anúncio <img src="/images/ico_perguntar_int.png" /></li>
                        <li>Até 5 telefones</li>
                        <li>Sua empresa no mapa <img src="/images/ico_perguntar_int.png" /></li>
                        <li>Compartilhamento em redes sociais <img src="/images/ico_perguntar_int.png" /></li>
                        <li>Link para o seu site</li>
                        <li>E-mail da empresa</li>
                        <li>Destaque na busca <img src="/images/ico_perguntar_int.png" /></li>
                        <li>Logotipo da empresa</li>
                        <li>Até 8 fotos</li>
                        <li>Vídeo <img src="/images/ico_perguntar_int.png" /></li>
                        <li>Solicitação de cotação por e-mail <img src="/images/ico_perguntar_int.png" /></li>
                        <li>Ligação gratuita para a empresa <img src="/images/ico_perguntar_int.png" /></li>
                        <li>Descrição detalhada do seu serviço <img src="/images/ico_perguntar_int.png" /></li>
                        <li class="ultimo">Divulgação em 1 cidade <img src="/images/ico_perguntar_int.png" /></li>
                    </ul>
                </div>
                <div id="plano_pedigree" class="box_info_premium">
                    <div class="destaque_titulo">
                        <h3><span class="esquerda"></span><span class="direita"></span>Plano Pedigree</h3>
                        <p>Melhor posicionamento e mais destaque no resultado de pesquisa</p>
                        <p class="destaque_preco"><span class="rs">R$</span> <span class="valor">79</span><span class="mes"> / mês</span></p>
                        <a href="#" class="bt_assine">Assine</a>
                    </div>
                    <ul>
                        <li>Atualização do anúncio <img src="/images/ico_perguntar_int.png" /></li>
                        <li>Até 5 telefones</li>
                        <li>Sua empresa no mapa <img src="/images/ico_perguntar_int.png" /></li>
                        <li>Compartilhamento em redes sociais <img src="../images/ico_perguntar_int.png" /></li>
                        <li>Link para o seu site</li>
                        <li>E-mail da empresa</li>
                        <li>Destaque na busca <img src="/images/ico_perguntar_int.png" /></li>
                        <li>Logotipo da empresa</li>
                        <li>Até 8 fotos</li>
                        <li>Vídeo <img src="/images/ico_perguntar_int.png" /></li>
                        <li>Solicitação de cotação por e-mail <img src="/images/ico_perguntar_int.png" /></li>
                        <li>Ligação gratuita para a empresa <img src="/images/ico_perguntar_int.png" /></li>
                        <li>Descrição detalhada do seu serviço <img src="/images/ico_perguntar_int.png" /></li>
                        <li class="ultimo">Divulgação em 1 cidade <img src="/images/ico_perguntar_int.png" /></li>
                    </ul>
                </div>
            </div>
        </section>
    </section>
</section>
<!-- / content column -->
</div>
<!-- / main body -->

<?php
// echo $this->formButton('ok', 'OK', array('onclick' => 'window.location.href="' . $this->baseUrl() . '/acesso/empresa"')); ?>