<form method="POST" action="<?php echo $this->baseUrl(); ?>/fornecedor/cadastro/upload-foto" target="foto_upload" enctype="multipart/form-data" onsubmit="return validarUploadFoto();" id="form_upload_foto">
    <label for="vc_fornecedor_foto">Foto</label> 
    <?php echo $this->formFile('vc_fornecedor_foto'); ?>
    <?php echo $this->formSubmit('enviar_foto', 'Enviar Foto'); ?>
</form>

<div id="progresso_upload"></div>

<iframe id="foto_upload" name="foto_upload" src="<?php echo $this->baseUrl(); ?>/fornecedor/cadastro/upload-foto" style="width: 98%; height: 270px; overflow: auto; border: solid 1px #000000;"></iframe>

<?php echo $this->formButton('proximo', 'Próximo', array('onclick' => 'window.location=\'/fornecedor/cadastro/fornecedor-questionario\'')); ?>
