<div id="middle">
    <!-- content column -->
    <section id="main" class="clearingfix largo">
        <section id="fornecedor" class="articles_box">
            <div class="titulo_pagina">
                <h1><span>Seja premium</span></h1>
            </div>
            <div class="info-step4">
                <p><strong>Consiga mais clientes, seja Premium!</strong> Em cachorrogato.com.br apostamos no sucesso do seu negócio. Por isso criamos os Packs Premium, com o quais multiplica as suas possibilidades de obter novos clientes.</p>
                <a href="javascript:;" class="fechar" onclick="$('.info-step2').fadeOut();"></a>
            </div>
            <div class="navegacaocadastro">
                <p class="titulopasso">Cadastro premium no CachorroGato</p>
                <ul id="passos">
                    <li>
                        <span class="numero">1</span>
                        <span class="informacaodopasso">Informações básicas</span>
                    </li>
                    <li>
                        <span class="numero">2</span>
                        <span class="informacaodopasso">Galeria de imagens</span>
                    </li>
                    <li>
                        <span class="numero">3</span>
                        <span class="informacaodopasso">Seu  negócio</span>
                    </li>
                    <li class="ultimo ativo">
                        <span class="numero">4</span>
                        <span class="informacaodopasso">Seja Premium</span>
                    </li>
                </ul>
            </div>
            <div id="formularios_limite">
                <p class="info_premium">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat:</p>
                <form>
                    <fieldset class="tipo_cartao">
                        <legend><span class="numero">1</span>Tipo de cartão</legend>
                        <label class="visa"><input type="radio" />Visa</label>
                        <label class="mastercard"><input type="radio" />MasterCard</label>
                        <label class="americanexpress"><input type="radio" />American Express</label>
                        <label class="diners"><input type="radio" />Diners Club</label>
                        <label class="paypal"><input type="radio" />PayPal</label>
                    </fieldset>
                    <fieldset>
                        <legend><span class="numero">2</span>Dados do cartão</legend>
                        <div class="dicas_form_premium">
                            <p class="cadeado">Site <span class="por100">100%</span> <span class="seguro">seguro</span></p>
                            <p><a href="">Clique para saber mais</a></p>
                        </div>
                        <div class="alinhar">
                            <label class="campo_grande">
                                Titular <span class="linhas">*</span>
                                <input type="text" value="Conforme impresso no cartão" />
                            </label>
                            <label class="campo_grande">
                                Número do cartão <span class="linhas">*</span>
                                <input type="text" />
                            </label>
                            <label class="campo_validade">
                                Validade <span class="linhas">*</span>
                                <select>
                                    <option>01</option>
                                    <option>02</option>
                                    <option>03</option>
                                    <option>04</option>
                                    <option>05</option>
                                </select>
                                <select>
                                    <option>01</option>
                                    <option>02</option>
                                    <option>03</option>
                                    <option>04</option>
                                    <option>05</option>
                                </select>
                            </label>
                            <label class="campo_grande cod_seguranca">
                                Cód. segurança <span class="linhas">*</span>
                                <input type="text" />
                            </label>
                            <label class="campo_grande">
                                CPF <span class="linhas">*</span>
                                <input type="text" />
                            </label>
                        </div>
                    </fieldset>
                    <a href="javascript:void(0);" class="bt_continuar" onclick="enviarFormularioQuestionario();">Continuar</a>
                </form>
                <div id="ajuda-passo3">
                    <p>Caso precise de ajuda, podemos te atender pelo telefone <strong>(11) 2667-4381</strong> ou pelo email <strong>contato@cachorrogato.com.br</strong></p>
                </div>
            </div>
        </section>
    </section>
</section>
<!-- / content column -->
</div>
<!-- / main body -->

<?php
// echo $this->formButton('ok', 'OK', array('onclick' => 'window.location.href="' . $this->baseUrl() . '/acesso/empresa"')); ?>