<?php $this->jQuery()->addJavascriptFile('/js/modules/front-end/empresa.js'); ?>

<div id="middle">
    <!-- content column -->
    <section id="main" class="clearingfix largo">
        <section id="fornecedor" class="articles_box">
            <?php echo $this->partial('includes/breadcrumbs.phtml', array('breadcrumb' => $this->breadcrumb)) ?>
            <div class="titulo_pagina">
                <h1><span>CADASTRO GRÁTIS </span></h1>
            </div>
            <div class="info-step2">
                <p>Publique um mínimo de 8 fotos da sua empresa (salões, menus, vestidos, carros, etc.). Quanto mais fotos publicar mais fácil será que os usuários entrem em contato para contratar os seus serviços.</p>
                <a href="javascript:;" class="fechar" onclick="$('.info-step2').fadeOut();"></a>
            </div>
            <div class="navegacaocadastro">
                <p class="titulopasso">Cadastro gratuito no CachorroGato</p>
                <ul id="passos">
                    <li>
                        <span class="numero">1</span>
                        <span class="informacaodopasso">Informações básicas</span>
                    </li>
                    <li  class="ativo">
                        <span class="numero">2</span>
                        <span class="informacaodopasso">Galeria de imagens</span>
                    </li>
                    <li>
                        <span class="numero">3</span>
                        <span class="informacaodopasso">Seu  negócio</span>
                    </li>
                    <li class="ultimo">
                        <span class="numero">4</span>
                        <span class="informacaodopasso">Seja Premium</span>
                    </li>
                </ul>
            </div>

            <div id="formularios_limite_passo2">
                <div class="botaouploaddefoto">
                    <form method="POST" action="<?php echo $this->action_foto; ?>" target="foto_upload" enctype="multipart/form-data" id="form-upload-foto">
                        <div class="campo_upload">
                            <?php echo $this->formFile('vc_foto'); ?>
                            <?php echo $this->formHidden('ajax', false); ?>
                        </div>
                        <a href="javascript:void(0);" onclick="enviarFoto();" class="adicionar_imagem">Adicionar Imagem</a>
                    </form>
                </div>
                <iframe id="foto_upload" name="foto_upload" src="<?php echo $this->action_foto; ?>"></iframe>
                <div id="instrucoes">
                    <h3>Instruções</h3>
                    <ul>
                        <li>Deverá selecionar com no minimo um logotipo e uma imagem principal.</li>
                        <li>Arraste as imagens para modificar a ordem.</li>
                        <li><a href="">Ver exemplo de ficha de empresa.</a></li>
                    </ul>
                </div>
                <div id="ajuda-passo2">
                    <p>Caso precise de ajuda, podemos te atender pelo telefone <strong>(11) 2667-4381</strong> ou pelo email <a href="#">contato@cachorrogato.com.br</a></p>
                </div>
                <a href="javascript:void(0);" onclick="return validarStep2CadastroEmpresa();" class="bt_continuar">Continuar</a>
            </div>
        </section>
    </section>
</section>
<!-- / content column -->
</div>
<!-- / main body -->