<?php
$this->jQuery()->addOnLoad("
    
/* melhorar*/
$('#chama1').click(function () {
              $('#slide1').slideDown('slow');
              $('#slide2,#slide3').slideUp('slow');
              $('#circulos1').addClass('ativo');
              $('#circulos2, #circulos3').removeClass('ativo');								
              });

$('#chama2').click(function () {
              $('#slide2').slideDown('slow');
              $('#slide1,#slide3').slideUp('slow');
              $('#circulos2').addClass('ativo');
              $('#circulos1, #circulos3').removeClass('ativo');
              });


$('#chama3').click(function () {
              $('#slide3').slideDown('slow');
              $('#slide1,#slide2').slideUp('slow');
              $('#circulos3').addClass('ativo');
              $('#circulos1, #circulos2').removeClass('ativo');
              });
  ");
?>
<!-- main body -->
<div id="middle">
    <!-- content column -->
    <section id="main" class="clearingfix largo">
        <section id="fornecedor" class="articles_box">
            <?php echo $this->partial('includes/breadcrumbs.phtml', array('breadcrumb' => $this->breadcrumb)) ?>
            <div class="title">
                <h3><span> ACESSO EMPRESAS</span></h3>
            </div>
            <div id="slider">
                <ul class="ordenacao">
                    <li id="circulos1" class="circulos ativo">
                        <a id="chama1" href="#"></a></li>
                    <li id="circulos2" class="circulos"><a id="chama2" href="#"></a></li>
                    <li id="circulos3" class="circulos"><a id="chama3" href="#"></a></li>
                </ul>
                <div id="slide1"  >        
                    <div class="informacoes_slide">
                        <h2 class="titulo_slide">Atraia novos clientes e fidelize os atuais!</h2>
                        <ul class="lista_slide">
                            <li  class="linha_slide">E-mails e alertas automáticos e  programados para avisar seus clientes sobre datas de vacinação, próximo banho ou tosa e muito mais.
                            </li>
                            <li class="linha_slide ultima">Seja um fornecedor preferencial em caso de emergências e atenda clientes 24 horas.</li>
                        </ul>
                        <a  class="bt_acessar2" href="/acesso-empresa/cadastro/"> Cadastre-se grátis </a>
                    </div>
                </div>
                <div id="slide2" class="escondido">        
                    <div class="informacoes_slide">
                        <h2 class="titulo_slide">O que oferecemos?</h2>
                        <ul class="lista_slide">
                            <li  class="linha_slide">Um sistema exclusivo e inovador no segmento
                                de pets para agendamento de serviços 
                            </li>
                            <li  class="linha_slide"> Uma vitrine que será vista por milhares de
                                donos de pets em todo o Brasil
                            </li>
                            <li  class="linha_slide"> Uma ferramenta online para administrar todos
                                os pedidos e agendamentos de maneira fácil e rápida
                            </li>

                            <li  class="linha_slide"> Equipe de profissionais para aumentar
                                o seu faturamento
                            </li>
                        </ul>
                        <a  class="bt_acessar2" href="/acesso-empresa/cadastro/"> Cadastre-se grátis </a>
                    </div>
                </div>
                <div id="slide3" class="escondido"	>        
                    <div class="informacoes_slide">
                        <h2 class="titulo_slide">Aumente o seu negócio
                            com o CachorroGato </h2>
                        <ul class="lista_slide">
                            <li  class="linha_slide">Tenha milhares de donos de pets em todo
                                o Brasil conhecendo o seu negócio
                            </li>  <li  class="linha_slide">Receba pedidos de orçamentos e
                                agendamentos de novos consumidores
                                interessados em seus serviços
                            </li><li  class="linha_slide ultima">Fidelize e aumente o faturamento
                                com os seus clientes atuais
                            </li>
                        </ul>
                        <a  class="bt_acessar2" href="/acesso-empresa/cadastro/"> Cadastre-se grátis </a>
                    </div>
                </div>
            </div>
            <aside id="right" class="clearingfix post ">
                <form action="/acesso-empresa" method="POST" class="formulariodelogim">
                    <label class="titulo">Acesso empresas</label>
                    <div id="campos">
                        <label>E-MAIL</label>
                        <?php echo $this->formText('vc_acesso_email', null, array('placeholder' => 'Seu e-mail', 'class' => 'login_email')) ?>
                        <label>Senha</label>
                        <?php echo $this->formPassword('vc_acesso_senha', null, array('placeholder' => 'Seu e-mail', 'class' => 'login_email')) ?>
                        <a  class="ajuda" href="/acesso-empresa/esqueceu-senha"> Esqueceu sua senha? Clique aqui. </a>
                        <span class="msgerro"><?php echo $this->mensagem; ?></span>
                        <input  class="bt_acessar" type="submit" value="Acessar">
                    </div>
                </form>
                <ul class="bannerpequeno" id="bannerdescubra">
                    <li class="image_bannerpequeno"> </li>
                    <li class="texto_bannerpequeno">Descubra as vantagens de Cachorro Gato </li>
                    <li class="botao_bannerpequeno "> <a href="#">Descubra </a> </li>      
                </ul>
                <ul class="bannerpequeno" id="bannerdestaque">
                    <li class="image_bannerpequeno"> </li>
                    <li class="texto_bannerpequeno"> Destaque-se de seus concorrentes.</br> Seja Premium!</li>
                    <li class="botao_bannerpequeno ultima"> <a href="#"> Seja Premium </a> </li>   
                </ul>
            </aside>
            <div id="trespassos">
                <h3 class="titulopasso">Veja como é simples aumentar o seu negócio com CachorroGato:</h3>
                <ul class="listados3">
                    <li class="linhapasso primeira">
                        <span class="numeromaisimagem">1</span>
                        <span class="passotexto">Os clientes enviam pedidos de orçamento,
                            ligam ou agendam serviços com seus dados pessoais e do seu pet.</span>   
                    </li>
                    <li class="linhapasso">
                        <span class="numeromaisimagem">2</span>
                        <span class="passotexto">Você responde agendamentos ou confirma
                            os agendamentos para
                            que seus clientes sejam atendidos.</span>   
                    </li>
                    <li class="linhapasso ultima">
                        <span class="numeromaisimagem">3</span>
                        <span class="passotexto">Passe a ter acesso aos dados de novos clientes. Nossas ferramentas estimulam seus clientes a usarem seus serviços com mais frequência.</span>   
                    </li>
                </ul>
            </div>

        </section>
    </section>
</section>
<!-- / content column -->
</div>
<!-- / main body -->
</div>
</div>
<!-- / outerwpr -->