<?php $this->jQuery()->addJavascriptFile('/js/modules/front-end/empresa.js'); ?>

<div id="middle">
    <!-- content column -->
    <section id="main" class="clearingfix largo">
        <section id="fornecedor" class="articles_box">
            <?php echo $this->partial('includes/breadcrumbs.phtml', array('breadcrumb' => $this->breadcrumb)) ?>
            <div class="titulo_pagina">
                <h1><span>CADASTRO GRÁTIS</span></h1>
            </div>
            <div class="info-step1">
                <p>Preencha este formulário e comece a receber mais clientes para o seu negócio.Nossa ferramenta inovadora no mercado de pets ajudará  seu faturamento aumentar e fidelizará seus clientes.</p>
                <p class="small">Os campos com * são obrigatórios, o resto dos campos são opcionais. Tempo estimado: 1 minuto.</p>
                <a href="javascript:;" class="fechar" onclick="$('.info-step1').fadeOut();"></a>
            </div>
            <div class="navegacaocadastro">
                <p class="titulopasso">Cadastro gratuito no CachorroGato</p>
                <ul id="passos">
                    <li>
                        <span class="numero">1</span>
                        <span class="informacaodopasso">Informações básicas</span>
                    </li>
                    <li>
                        <span class="numero">2</span>
                        <span class="informacaodopasso">Galeria de imagens</span>
                    </li>
                    <li class="ativo">
                        <span class="numero">3</span>
                        <span class="informacaodopasso">Seu  negócio</span>
                    </li>
                    <li class="ultimo">
                        <span class="numero">4</span>
                        <span class="informacaodopasso">Seja Premium</span>
                    </li>
                </ul>
            </div>

            <div id="formularios_limite">
                <form method="POST" action="<?php echo $this->action; ?>" id="formulariodecadastro">
                    <?php $numero = 0; ?>
                    <?php foreach ($this->questionarioFornecedor as $questionario) { ?>
                        <?php $numero++; ?>
                        <?php if ($questionario['vc_campo'] == 'radio') { ?>
                            <?php $class = 'class="op_radio"'; ?>
                        <?php } else if ($questionario['vc_campo'] == 'checkbox') { ?>
                            <?php $class = 'class="op_check"'; ?>
                        <?php } else { ?>
                            <?php $class = ''; ?>
                        <?php } ?>
                        <fieldset <?php echo $class; ?>>
                            <legend>
                                <span class="numero"><?php echo $numero; ?></span>
                                <?php echo $questionario['vc_rotulo_campo']; ?>
                                <?php if ($questionario['bl_campo_obrigatorio'] == 'sim') { ?>
                                    *
                                <?php } ?>
                            </legend>
                            <?php if ($questionario['vc_campo'] == 'text') { ?>
                                <label class="campo_grande">
                                    <span class="linhas"></span>
                                    <?php echo $this->formText('campo[' . $questionario['id_questionario'] . ']' . '[' . $questionario['id_setor_de_atividade'] . ']'); ?>
                                </label>
                            <?php } ?>
                            <?php if ($questionario['vc_campo'] == 'textarea') { ?>
                                <?php echo $this->formTextarea('campo[' . $questionario['id_questionario'] . ']' . '[' . $questionario['id_setor_de_atividade'] . ']', null, array('class' => 'campo_grande uniform')); ?>
                            <?php } ?>
                            <?php if ($questionario['vc_campo'] == 'radio') { ?>
                                <?php echo $this->formRadio('campo[' . $questionario['id_questionario'] . ']' . '[' . $questionario['id_setor_de_atividade'] . ']', null, null, $questionario['opcoes']) ?>
                            <?php } ?>
                            <?php if ($questionario['vc_campo'] == 'checkbox') { ?>
                                <?php echo $this->formMultiCheckbox('campo[' . $questionario['id_questionario'] . ']' . '[' . $questionario['id_setor_de_atividade'] . ']', null, null, $questionario['opcoes']); ?>
                            <?php } ?>
                            <?php if ($questionario['vc_campo'] == 'select') { ?>
                                <label for="<?php echo 'campo[' . $questionario['id_questionario'] . ']' . '[' . $questionario['id_setor_de_atividade'] . ']'; ?>" class="campo_select_questionario"></label>
                                <?php echo $this->formSelect('campo[' . $questionario['id_questionario'] . ']' . '[' . $questionario['id_setor_de_atividade'] . ']', null, null, $questionario['opcoes']); ?>
                            <?php } ?>
                        </fieldset>
                    <?php } ?>
                    <a href="javascript:void(0);" class="bt_continuar" onclick="enviarFormularioQuestionario();">Continuar</a>
                </form>
                <div id="ajuda-passo3">
                    <p>Caso precise de ajuda, podemos te atender pelo telefone <strong>(11) 2667-4381</strong> ou pelo email <strong>contato@cachorrogato.com.br</strong></p>
                </div>
            </div>
        </section>
    </section>
</section>
<!-- / content column -->
</div>
<!-- / main body -->
