<?php
$this->headScript()->prependFile('/js/modules/fornecedor/fornecedor.js', 'text/javascript');
$this->headLink()->appendStylesheet('/css/erros.css')->appendStylesheet('text/css');
?>

<p>Olá, <strong><?php echo $this->data['vc_nome_empresa']; ?></strong></p>
<p>defina sua nova senha de acesso</p>

<?php if ($this->mensagem) { ?>
    <p><?php echo $this->mensagem; ?></p>
<?php } ?>
<form method="POST" action="<?php echo $this->baseUrl(); ?>/fornecedor/cadastro/recuperar-senha/token/<?php echo $this->data['token']; ?>" onsubmit="return validarRecuperarSenha();" id="form-recuperar-senha">
    <label for="vc_acesso_senha">Nova senha</label>
    <?php echo $this->formPassword('vc_acesso_senha', null, array('maxlength' => 30)); ?>
    <br/>

    <label for="vc_acesso_senha_confirmar">Repita a nova senha</label>
    <?php echo $this->formPassword('vc_acesso_senha_confirmar', null, array('maxlength' => 30)); ?>
    <br/>

    <?php echo $this->formSubmit('redefinir_senha', 'Enviar'); ?>
</form>