<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/js/modules/front-end/empresa.js"></script>
<link href="/css/style.css" rel="stylesheet" type="text/css" />
<?php if ($this->status) { ?>
<?php } ?>
<script type="text/javascript">
    $(function() {
        $("#sortable").sortable({
            revert: true,
            stop: function() {
                salvarOrdem(<?php echo $this->id_fornecedor; ?>);
            }
        });

        $("ul, li").disableSelection();
    });
</script>
<style type="text/css">
    *{margin: 0; padding: 0;}
</style>

<body style="margin:0; padding:0; background: #fff;">
    <?php if (!empty($this->foto)) { ?>
        <ul id="sortable">
            <?php foreach ($this->foto as $foto) { ?>
                <li id="foto<?php echo $foto['id_foto']; ?>" class="box_imagem_galerias">
                    <a href="javascript:deletarFotoEmpresa(<?php echo $foto['id_foto']; ?>)" class="bt_excluir_galerias" title="Excluir"></a>
                    <img src="<?php echo $this->baseUrl(); ?>/uploads/modules/front-end/empresa/fotos/miniaturas/<?php echo $foto['vc_foto']; ?>" />
                    <input type="radio" class="bl_logotipo" name="bl_logotipo" value="<?php echo $foto['id_foto']; ?>" onclick="salvarLogotipo(<?php echo $this->id_fornecedor; ?>);" <?php echo ($foto['bl_logotipo'] == 'sim') ? 'checked="checked"' : ''; ?>/> Logotipo <br/>
                    <input type="radio" class="bl_foto_principal" name="bl_foto_principal" value="<?php echo $foto['id_foto']; ?>" onclick="salvarFotoPrincipal(<?php echo $this->id_fornecedor; ?>);" <?php echo ($foto['bl_foto_principal'] == 'sim') ? 'checked="checked"' : ''; ?>/> Foto principal <br/>
                </li>
            <?php } ?>
        </ul>
    <?php } ?>
</body>