<form class="mws-form" method="post" action="/backend/empresa/cadastro/id_fornecedor/<?php echo $this->formulario['id_conteudo']; ?>">
    <?php echo $this->formHidden('id_fornecedor', $this->formulario['id_conteudo']); ?>
    <div class="mws-panel grid_8">
        <div class="mws-tabs">
            <ul>
                <li><a href="#tab-dados-gerais">Dados Gerais</a></li>
                <li><a href="#tab-respostas">Respostas</a></li>
            </ul>
            <div id="tab-dados-gerais">
                <?php echo $this->partial('empresa/includes/dados-gerais.phtml', array('formulario' => $this->formulario, 'data' => $this->data)); ?>
            </div>
            <div id="tab-respostas">
                <?php echo $this->partial('empresa/includes/respostas.phtml', array('respostas' => $this->respostas, 'questionario' => $this->questionario)); ?>
            </div>
        </div>
        <div class="mws-button-row">
            <input type="submit" value="Salvar" class="mws-button green" />
            <input type="button" value="Voltar" class="mws-button gray" onclick="window.location = '/backend/empresa/';" />
        </div>
    </div>
</form>