<?php $this->jQuery()->addJavascriptFile('/js/modules/back-end/questionario.js'); ?>

<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-table-1">Lista de Empresa</span>
    </div>
    <div class="mws-panel-body">
        <table  class="mws-datatable mws-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Empresa</th>
                    <th>Estado</th>
                    <th>Telefone</th>
                    <th>Página Web </th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <?php
                foreach ($this->empresas as $empresa) {
                    ?>
                    <tr class="gradeU">
                        <td><?php echo $empresa['id_fornecedor']; ?></td>
                        <td><?php echo $empresa['vc_nome_empresa']; ?></td>
                        <td><?php echo $empresa['vc_estado']; ?></td>
                        <td><?php echo $this->Mask($empresa['it_telefone'], '####-####'); ?></td>
                        <td><?php echo $empresa['vc_pagina_web']; ?></td>
                        <td class="center">
                            <ul id="icons-16" class="clearfix">
                                <?php if ($this->UserPermission()->isAllowed('questionario', 'cadastro')) { ?>
                                    <li onclick="window.location = '/backend/empresa/cadastro/id_fornecedor/<? echo $empresa['id_fornecedor']; ?>/';" class="mws-ic-16 ic-application-edit" title="Editar"></li>
                                <?php } ?>
                                <?php if ($this->UserPermission()->isAllowed('questionario', 'deletar')) { ?>
                                    <li onclick="removeQuestionario('<? echo $empresa['id_fornecedor']; ?>');" class="mws-ic-16 ic-cancel" title="Excluir"></li>
                                    <?php } ?>
                            </ul>
                        </td>
                    </tr>
                <?php } ?>
            </tbody>
        </table>
    </div>

</div>