
<style type="text/css">
    #main{ 
        width: 600px;
    }
    #content{ 
        width: 100%; 
        height: 400px;
    }
</style>
<div id="main">
    <div id="header-email">
        <a href="<?php echo $this->baseUrl(); ?>"><img src="<?php echo $this->baseUrl(); ?>/images/email/fornecedor/header-email.png" alt=""/></a>
    </div>   
    <div id="content">
        <p>Empresa, <strong><?php echo $this->data['vc_nome_empresa']; ?></strong> foi cadastrada com sucesso !</p>
        <p>para finalizar o seu cadastro basta clicar no link abaixo e confirmar o seu registro !</p>
        <a href="<?php echo $this->baseUrl(); ?>/fornecedor/cadastro/confirmacao-cadastro/token/<?php echo $this->data['id_fornecedor']; ?>">Clique aqui para finalizar seu cadastro</a>
        <p>Obrigado,</p>
        <p>Cachorro Gato</p>
    </div>
    <div id="footer-email">
        <a href="<?php echo $this->baseUrl(); ?>"><img src="<?php echo $this->baseUrl(); ?>/images/email/fornecedor/footer-email.png" alt=""/></a>
    </div>
</div>