<!-- navigation -->
<div class="navigation">
    <nav id="mainmenu">
        <ul>
            <li class="first <?php echo ($this->idPage == 'index' ? 'active' : ''); ?>"><a class="home" href="/">HOME</a></li>
            <li <?php echo ($this->idPage == 'categoria-cachorro' ? 'class="active"' : ''); ?>><a href="/cachorro">CACHORRO</a>
                <div class="submenu_principal">
                    <ul>
                        <li><a href="#">Adestramento de Cães</a></li>
                        <li><a href="#">Comportamento do Cachorro</a></li>
                        <li><a href="#">Doenças de Cachorro</a></li>
                        <li><a href="#">Moda e Beleza para Cachorro</a></li>
                        <li><a href="#">Ração para Cachorro</a></li>
                        <li><a href="#">Alimentação de Cachorros</a></li>
                        <li><a href="#">Raças de Cachorro</a></li>
                    </ul>
                    <div class="ultimos_artigos_menu">
                        <p class="titulo">Últimos Artigos<span></span></p>
                        <a href="#">And Now There’s VIDEO of Cheesecake the Capybara and Her Puppies! <span>Liz Acosta</span></a>
                        <a href="#">And Now There’s VIDEO of Cheesecake the Capybara and Her Puppies! <span>Liz Acosta</span></a>
                        <a href="#" class="ultimo">And Now There’s VIDEO of Cheesecake the Capybara and Her Puppies! <span>Liz Acosta</span></a>
                    </div>
                </div>
            </li>
            <li <?php echo ($this->idPage == 'categoria-gato' ? 'class="active"' : ''); ?>><a href="/gato">GATO</a>
                <div class="submenu_principal">
                    <ul>
                        <li><a href="#">Adestramento de Gatos</a></li>
                        <li><a href="#">Comportamento dos Gatos</a></li>
                        <li><a href="#">Doenças de Gatos</a></li>
                        <li><a href="#">Moda e Beleza para Gatos</a></li>
                        <li><a href="#">Ração para Gatos</a></li>
                        <li><a href="#">Raças de Gatos</a></li>
                        <li><a href="#">Saúde dos Gatos</a></li>
                    </ul>
                    <div class="ultimos_artigos_menu">
                        <p class="titulo">Últimos Artigos<span></span></p>
                        <a href="#">And Now There’s VIDEO of Cheesecake the Capybara and Her Puppies! <span>Liz Acosta</span></a>
                        <a href="#">And Now There’s VIDEO of Cheesecake the Capybara and Her Puppies! <span>Liz Acosta</span></a>
                        <a href="#" class="ultimo">And Now There’s VIDEO of Cheesecake the Capybara and Her Puppies! <span>Liz Acosta</span></a>
                    </div>
                </div>
            </li>
            <li <?php echo ($this->idPage == 'dr-responde' ? 'class="active"' : ''); ?>><a href="/dr-responde">DR. RESPONDE</a></li>
            <li <?php echo ($this->idPage == 'area-cliente-meu-pet' ? 'class="active"' : ''); ?>><a href="/area-cliente/meu-pet">MEU PET</a></li>            
        </ul>
        <ul class="servicos">
            <li><a href="/servicos" class="link">SERVIÇOS</a>
                <div class="submenu_principal">
                    <div class="para_caes">
                        <p class="titulo">Para Cães<span></span></p>
                        <a href="#">Life Style <span>Your Dog, Your Life</span></a>
                        <a href="#">The Scoop <span>Dog News, Politics</span></a>
                        <a href="#">BoLz <span>Bark-Out-Loud Humor</span></a>
                        <a href="#">Doggie Style <span>Gear and Glam</span></a>
                    </div>
                    <div class="para_gatos">
                        <p class="titulo">Para Gatos<span></span></p>
                        <a href="#">Life Style <span>Your Dog, Your Life</span></a>
                        <a href="#">The Scoop <span>Dog News, Politics</span></a>
                        <a href="#">BoLz <span>Bark-Out-Loud Humor</span></a>
                        <a href="#">Doggie Style <span>Gear and Glam</span></a>
                    </div>
                </div>
            </li>
        </ul>
    </nav>
    <div class="navigation_search">
        <form action="/buscar" method="post">
            <ul>
                <li><input name="" type="text" placeholder="Busca em todo o site..." class="input_item" /></li>
                <li><input name="" type="submit" value="OK" class="submit" /></li>
            </ul>
        </form>
    </div>
</div>
<!-- / navigation -->