<?php if ($this->mensagem) { ?>
    <p><?php echo $this->mensagem; ?></p>
<?php } ?>

<form method="POST" action="<?php echo $this->action; ?>" >
    <label for="vc_email">E-mail</label>
    <?php echo $this->formText('vc_email'); ?>

    <label for="vc_senha">Senha</label>
    <?php echo $this->formPassword('vc_senha'); ?>

    <?php echo $this->formSubmit('entrar', 'Entrar'); ?>
</form>

<a href="<?php echo $this->baseUrl(); ?>/cliente/cadastro/esqueceu-senha">Esqueci minha senha</a>

