<?php
$this->headScript()->prependFile('/js/modules/front-end/cliente.js', 'text/javascript');
$this->headScript()->prependFile('/js/jquery/jquery.mask.js', 'text/javascript');
$this->headLink()->appendStylesheet('/css/erros.css')->appendStylesheet('text/css');

$this->headScript()->captureStart()
?>
$(document).ready(function()
{
$('#dt_nascimento').mask('99/99/9999');
});
<?php $this->headScript()->captureEnd() ?>
<div class="navegacaocadastro"  id="cadastrosteps">
    <h1 class="titulopasso">Agora os seus pets tem RG !</h1>
    <ul id="passos">
        <li><span class="numero">1</span></li>
        <li><span class="numero">2</span></li>
        <li class="ultimo ativo" ><span class="numero">3</span></li>
    </ul>
</div>
<p class="introcastro">
    Agora seu pet tem RG! Preencha abaixo as informações do seu pet para aparoveitar todas as vantagens exclusivas. As informações técnicas serão confirmadas durante o primeiro atendimento realizado por um profissional veterinário e serão armazenadas no prontuário online do seu animalzinho.
</p>
<!-- right column -->
<aside id="right" class="clearingfix post cad">
    <div id="chamada">
        <p class="introchamada">Antes de finalizar o cadastro dos seus dados de contato, <strong>cadastre também seus pets</strong> para aproveitar GRÁTIS todas estas vantagens:</p>
        <ol>
            <li>Lembretes de vacinação, banho, tosa e mais.</li>
            <li>Ajuda para encontrar o seu pet em caso de perda.</li>
            <li>Registro único do seu pet (RG).</li>
            <li>Durante viagens, o prontuário médico do seu pet estará disponível online para toda a nossa rede de veterinários.</li>
            <li>Tudo o que você precisa para o seu melhor amigo.</li>
            <li>Guia completo de serviços para o seu pet.</li>
            <li>Perguntas e respostas com o Dr. Responde.</li>
            <li>Ajuda rápida em caso de emergências.</li>
            <li>Acompanhamento diário da vida e saúde do seu pet.</li>
            <li>Agendamento online serviços de banho, tosa, consultas médicas e mais.</li>
            <li>Prontuário médico do seu animalzinho.</li>
            <li>Ferramentas personalizadas.</li>
       	</ol>
    </div>
</aside>
<!-- / right column -->
<!-- content column -->
<section id="main" class="clearingfix cadastrese">
    <section class="passo3">
        <div class="formtext">
            <div class="textoupload_passo3">
                <form method="POST" action="<?php echo $this->action_foto_pet; ?>" target="foto_upload_pet" id="upload-foto-pet" enctype="multipart/form-data">
                    Foto do pet:
                    <?php echo $this->formFile('vc_pet_foto'); ?>
                    <?php echo $this->formSubmit('enviar_foto', 'Enviar Foto'); ?>
                </form>
            </div>
            <form method="POST" action="<?php echo $this->action; ?>" id="formulariodecadastro">
                <h3>Informações Básicas</h3>
                <label class="entradagrande" for="vc_nome_pet" id="label_vc_nome_pet">
                    Nome do Pet <span>*</span>
                    <input type="text" name="vc_nome_pet" id="vc_nome_pet" value="" maxlength="100" class="text">
                </label>
                <div class="linha_campos">
                    <label for="bl_especie">Espécie</label>
                    <label for="bl_especie-cachorro"><span><input type="radio" name="bl_especie" id="bl_especie-cachorro" value="cachorro" class="bl_especie" checked="checked"></span>Cachorro</label>
                    <label for="bl_especie-gato"><span class="checked"><input type="radio" name="bl_especie" id="bl_especie-gato" value="gato" class="bl_especie" checked="checked"></span>Gato</label>
                </div>
                <div class="linha_campos">
                    <label class="" for="bl_sexo">Sexo
                        <label for="bl_sexo-macho"><span><input type="radio" name="bl_sexo" id="bl_sexo-macho" value="macho" checked="checked"></span>Macho</label>
                        <label for="bl_sexo-femea"><span class="checked"><input type="radio" name="bl_sexo" id="bl_sexo-femea" value="femea" checked="checked"></span>F&ecirc;mea</label>
                    </label>
                </div>
                <div class="linha_campos">
                    <label for="bl_castrado">Castrado
                        <label for="bl_castrado-sim"><span><input type="radio" name="bl_castrado" id="bl_castrado-sim" value="sim" class="bl_castrado" checked="checked" /></span>Sim</label>
                        <label for="bl_castrado-nao"><span class="checked"><input type="radio" name="bl_castrado" id="bl_castrado-nao" value="nao" class="bl_castrado" checked="checked" /></span>N&atilde;o</label>
                    </label>
                </div>
                <div class="linha_campos">            
                    <label for="bl_cruzar">Pretende Cruzar?
                        <label for="bl_cruzar-sim"><span><input type="radio" name="bl_cruzar" id="bl_cruzar-sim" value="sim" class="bl_cruzar" checked="checked" /></span>Sim</label>
                        <label for="bl_cruzar-nao"><span class="checked"><input type="radio" name="bl_cruzar" id="bl_cruzar-nao" value="nao" class="bl_cruzar" checked="checked" /></span>N&atilde;o</label>                </label>
                </div>          
                <label class="data"> Data de nascimento <span class="linhaas">*</span>
                    <?php echo $this->formSelect('dt_nascimento[dia]', null, null, $this->dataNascimento['dia']); ?>
                    <?php echo $this->formSelect('dt_nascimento[mes]', null, null, $this->dataNascimento['mes']); ?>
                    <?php echo $this->formSelect('dt_nascimento[ano]', null, null, $this->dataNascimento['ano']); ?>
                </label>
                <span class="ou_linhas">OU</span>
                <label class="entradagrande" for="it_idade_aproximada">Idade Aproximada
                    <input type="text" name="it_idade_aproximada" id="it_idade_aproximada" value="" maxlength="2" class="text">
                </label>

                <label class="estado listas_passo3" for="id_raca">Ra&ccedil;a<span class="linhaas"></span>
                    <?php echo $this->formSelect('id_raca', null, null, $this->data['raca']); ?>
                </label>

                <label class="estado listas_passo3 sem_margem" for="id_porte">Porte<span class="linhaas"></span>
                    <?php echo $this->formSelect('id_porte', null, null, $this->data['porte']); ?>
                </label>

                <label class="estado listas_passo3" for="id_cor">Cor<span class="linhaas"></span>
                    <?php echo $this->formSelect('id_cor', null, null, $this->data['cor']); ?>
                </label>

                <label class="estado listas_passo3 sem_margem" for="id_pelagem">Pelagem<span class="linhaas"></span>
                    <?php echo $this->formSelect('id_pelagem', null, null, $this->data['pelagem']); ?>
                </label>

                <label class="estado listas_passo3" for="id_peso">Peso<span class="linhaas"></span>
                    <?php echo $this->formSelect('id_peso', null, null, $this->data['peso']); ?>
                </label>

                <label class="estado lista_grande" for="it_ultima_pesagem">Ultima pesagem<span class="linhaas"></span>
                    <?php echo $this->formSelect('it_ultima_pesagem', null, null, $this->data['peso']); ?>
                </label>

                <label class="estado lista_grande" for="bl_faixa_meses">Faixa de Meses<span class="linhaas"></span>
                    <select name="bl_faixa_meses" id="bl_faixa_meses" class="bl_faixa_meses" checked="checked">
                        <option value="0" label="0 a 24">0 a 24</option>
                    </select>
                </label>
                <div style="clear:left;"></div>
                <br />
                <h3>Informa&ccedil;&otilde;es Opcionais</h3>
                <div class="botaouploaddefoto">
                    <div class="foto">
                        <iframe id="foto_upload_pet" name="foto_upload_pet" src="/frontend/cadastro-cliente/upload-foto-pet/" scrolling="no"></iframe>
                    </div>
                </div>
                <br />
                <h3>Vacinas que tomou no &uacute;ltimo ano</h3>
                <?php foreach ($this->data['vacina'] as $array) { ?>
                    <div class="linha_campos">
                        <label for="id_vacina-<?php echo $array['id_vacina']; ?>">
                            <input type="checkbox" name="id_vacina[]" id="id_vacina-<?php echo $array['id_vacina']; ?>" value="<?php echo $array['id_vacina']; ?>" class="checkbox_atividade"><?php echo $array['vc_descricao']; ?>
                        </label>
                    </div>
                <?php } ?>
                <h3>Atividades</h3>
                <?php foreach ($this->data['atividade'] as $id_atividade => $vc_descricao) { ?>
                    <div class="linha_campos">
                        <label for="it_atividade-<?php echo $id_atividade; ?>">
                            <input type="checkbox" name="it_atividade[]" id="it_atividade-<?php echo $id_atividade; ?>" value="<?php echo $id_atividade; ?>" class="checkbox_atividade"><?php echo $vc_descricao; ?>
                        </label>
                    </div>
                <?php } ?>
                <a href="javascript:void(0);" onclick="validarStep3CadastroCliente(true);" class="finalizarcadastro">Finalizar cadastro </a>
            </form>
        </div>
    </section>
</section>
<!-- / content column -->
