<?php
$this->headScript()->prependFile('/js/modules/front-end/cliente.js', 'text/javascript');
$this->headScript()->prependFile('/js/jquery/jquery.mask.js', 'text/javascript');
$this->headLink()->appendStylesheet('/css/erros.css')->appendStylesheet('text/css');
?>

<?php $this->headScript()->captureStart() ?>
$(document).ready(function()
{
$("#vc_cpf").mask("999.999.999-99");
$("#vc_telefone").mask("(99)9999-9999");
$("#vc_celular").mask("(99)99999-9999");
});
<?php $this->headScript()->captureEnd() ?>
<div class="navegacaocadastro"  id="cadastrosteps">
    <h1 class="titulopasso">Complete seu cadastro</h1>
    <ul id="passos">
        <li><span class="numero">1</span></li>
        <li class="ativo"><span class="numero">2</span></li>
        <li class="ultimo"><span class="numero">3</span></li>
    </ul>
</div>
<!-- right column -->
<aside id="right" class="clearingfix post cad">
    <div id="chamada1">
        <p class="introchamada">Cadastre-se GRÁTIS e rápido com os seus dados básicos para ter acesso às vantagens:</p>
        <ul>
            <li class="relogio">Tudo o que você precisa para o seu melhor amigo</li>
            <li class="cao">Guia completo de serviços para o seu pet</li>
            <li>Perguntas e respostas com o Dr. Responde</li>
        </ul>
    </div>

    <div id="chamada2">
        <p class="introchamada">E complete o PASSO 2 para desfrutar gratuitamente das nossas ferramentas exclusivas:</p>
        <ul>
            <li class="relogio">Ajuda rápida em caso de emergências</li>
            <li class="cao">Acompanhamento diário da vida e saúde do seu pet</li>
            <li>Agendamento online de serviços de banho, tosa, consultas médicas e mais</li>
            <li>Prontuário médico online do seu animalzinho</li>
            <li>Ferramentas personalizadas</li>
        </ul>
    </div>
</aside>
<!-- / right column -->
<!-- content column -->
<section id="main" class="clearingfix cadastrese">
    <section class="passo2">
        <div id="progresso_upload"></div>
        <div class="botaouploaddefoto">
            <h3>Dados Complementares</h3>
            <form method="POST" action="/frontend/cadastro-cliente/upload-foto/" target="foto_upload" enctype="multipart/form-data" onsubmit="return validarUploadFoto();" id="form-upload-foto">
                <div class="textoupload">
                    <input type="file" name="vc_cliente_foto" id="vc_cliente_foto" />
                    <input type="hidden" name="ajax" value="" id="ajax" />
                    <input type="submit" name="enviar_foto" id="enviar_foto" value="Enviar Foto" />
                </div>
                <div class="foto">
                    <iframe id="foto_upload" name="foto_upload" src="/frontend/cadastro-cliente/upload-foto/" scrolling="no"></iframe>
                </div>
            </form>
        </div>
        <form method="POST" action="/frontend/cadastro-cliente/complemento/" id="formulariodecadastro">
            <div class="formtext campos">
                <label class="textoentrada" for="vc_cpf" id="label_vc_cpf">CPF <span>*</span>
                    <input type="text" name="vc_cpf" id="vc_cpf" value="" maxlength="14" class="text" />
                </label>
                <label class="textoentrada" for="vc_telefone" id="label_vc_telefone">Tel <span>*</span>
                    <input type="text" name="vc_telefone" id="vc_telefone" value="" maxlength="13" class="text" />
                </label>
                <label class="textoentrada" for="vc_celular" id="label_vc_celular">Celular <span>*</span>
                    <input type="text" name="vc_celular" id="vc_celular" value="" maxlength="14" class="text" />
                </label>
            </div>
            <div class="botoes">
                <a href="javascript:void(0);" onclick="validarStep2CadastroCliente(true);" class="finalizarcadastro">Finalizar cadastro </a> 
                <a href="javascript:void(0);" onclick="proximoPasso(2);" class="proximopasso">Próximo passo</a>
                <p class="ajuda"><span>*</span> Campos obrigatórios</p>
            </div>
        </form>
    </section>
</section>
</section>
<!-- / content column -->
