<?php
$this->headScript()->prependFile('/js/modules/cliente/cliente.js', 'text/javascript');
$this->headLink()->appendStylesheet('/css/erros.css')->appendStylesheet('text/css');
?>
<h1>Esqueci Minha Senha</h1>
<p>Escreva o email com o que você se cadastrou e enviaremos as instruções para recuperar a sua senha.</p>
<?php
if ($this->mensagem) {
    ?><p><?php echo $this->mensagem; ?></p><?php
}
?>
<form method="POST" action="<?php echo $this->baseUrl(); ?>/cliente/cadastro/esqueceu-senha" onsubmit="return validarEsqueceuSenha();" id="form-esqueceu-senha">
    <label for="vc_email">E-mail</label>
    <?php echo $this->formText('vc_email', null, array('maxlength' => 150)); ?>
    <?php echo $this->formSubmit('esqueceu_senha', 'Enviar'); ?>
</form>