<!-- main body -->
<div id="middle">
    <div class="navegacaocadastro"  id="cadastrosteps">
        <p class="titulopasso titulopassofim">Seu cadastro foi efetuado com sucesso !</p>
    </div>
    <div class="conteudo-interno">
        <p>Obrigado por fazer parte da nossa rede.</p>
        <p>Para finalizar o seu cadastro e poder acessar sua &aacute;rea, voc&ecirc; dever&aacute; confirmar seu cadastro atrav&eacute;s de um e-mail que foi enviado. 		</p>
        <a href="<?php echo $this->action; ?>" class="btok">OK</a>
    </div>
</div>
<!-- / main body -->