<?php
$this->jQuery()->addJavascriptFile('/js/modules/front-end/cliente.js')
        ->addJavascriptFile('/js/jquery.validate.js')
        ->addJavascriptFile('/js/jquery/jquery.mask.js')
        ->addJavascriptFile('/js/jquery/jquery.cookie.js');

$this->jQuery()->addOnLoad('
    $("#it_cep").mask("99999-999");
    ');
?> 
<div class="navegacaocadastro"  id="cadastrosteps">
    <h1 class="titulopasso">Cadastre-se no CachorroGato</h1>
    <ul id="passos">
        <li class="ativo" ><span class="numero">1</span></li>
        <li><span class="numero">2</span></li>
        <li class="ultimo"><span class="numero">3</span></li>
    </ul>
</div>
<h2 class="introcastro">
    Fazer o seu cadastro é completamente grátis e fácil. Em alguns minutos, você poderá aproveitar de todos os serviços do portal.
</h2>
<?php
if ($this->erro_cadastro) {
    echo $this->erro_cadastro;
}
?>
<!-- right column -->
<aside id="right" class="clearingfix post cad">
    <div id="chamada1">
        <p class="introchamada">Cadastre-se GRÁTIS e rápido com os seus dados básicos para ter acesso às vantagens:</p>
        <ul>
            <li class="relogio">Tudo o que você precisa para o seu melhor amigo</li>
            <li class="cao">Guia completo de serviços para o seu pet</li>
            <li>Perguntas e respostas com o Dr. Responde</li>
        </ul>
    </div>

    <div id="chamada2">
        <p class="introchamada">E complete o PASSO 2 para desfrutar gratuitamente das nossas ferramentas exclusivas:</p>
        <ul>
            <li class="relogio">Ajuda rápida em caso de emergências</li>
            <li class="cao">Acompanhamento diário da vida e saúde do seu pet</li>
            <li>Agendamento online de serviços de banho, tosa, consultas médicas e mais</li>
            <li>Prontuário médico online do seu animalzinho</li>
            <li>Ferramentas personalizadas</li>
        </ul>
    </div>
</aside>
<!-- / right column -->
<!-- content column -->
<section id="main" class="clearingfix cadastrese">
    <section >
        <div id="sessaoface">
            <?php echo $this->formButton('facebook', '', array('onclick' => "window.open('" . $this->baseUrl() . "/cliente/cadastro/facebook', 'mywindow','location=1,status=1,scrollbars=1, width=800,height=600');", 'class' => 'facebooktbtn')); ?>
            <p>(não publicaremos nada sem sua autorização)</p>
        </div>	
        <p class="corte">ou</p>
        <form method="POST" action="<?php echo $this->action; ?>" id="formulariodecadastro">
            <div class="formtext">		
                <label class="sobrenome" for="vc_nome" id="label_vc_nome">
                    Nome <span>*</span>
                    <?php echo $this->formText('vc_nome', $this->me['vc_nome'], array('maxlength' => 100)); ?> 
                </label>

                <label class="sobrenome" for="vc_sobrenome" id="label_vc_sobrenome">
                    Sobrenome <span>*</span>
                    <?php echo $this->formText('vc_sobrenome', $this->me['vc_sobrenome'], array('maxlength' => 255)); ?>
                </label>

                <label class="sexo" for="bl_sexo" id="label_bl_sexo">
                    SEXO <span>*</span>
                    <?php echo $this->formRadio('bl_sexo', 'masculino', array('onclick' => 'blSexoValue();'), array('masculino' => "Masculino", 'feminino' => "Feminino"), ''); ?> 
                    <?php echo $this->formHidden('bl_sexo_value', 'masculino', array('')); ?>
                </label>
                <label class="data" id="label_dt_nascimento"> Data de nascimento <span class="linhaas">*</span>
                    <?php echo $this->formSelect('dt_nascimento[dia]', null, null, $this->dataNascimento['dia']); ?>
                    <?php echo $this->formSelect('dt_nascimento[mes]', null, null, $this->dataNascimento['mes']); ?>
                    <?php echo $this->formSelect('dt_nascimento[ano]', null, null, $this->dataNascimento['ano']); ?>
                </label>

                <label class="textoentrada" for="it_cep" id="label_it_cep">
                    CEP <span>*</span>
                    <?php echo $this->formText('it_cep', $this->me[''], array('maxlength' => 9, 'onblur' => 'buscarEnderecoPorCep();')) ?>
                </label>

                <a class="dica">Não sabe o cep? Descubra</a>

                <label class="entradagrande" for="vc_endereco" id="label_vc_endereco">
                    Endereço <span>*</span>
                    <?php echo $this->formText('vc_endereco', $this->me[''], array('maxlength' => 100)); ?>
                </label>

                <label class="textoentrada numero" for="vc_numero" id="label_vc_numero">
                    NÚMERO <span>*</span>
                    <?php echo $this->formText('vc_numero', $this->me[''], array('maxlength' => 10)); ?>
                </label>

                <label id="complemento" class="textoentrada continuacao complemento"  for="vc_complemento" id="label_vc_complemento">
                    COMPL.
                    <?php echo $this->formText('vc_complemento', $this->me[''], array('maxlength' => 45)); ?>
                </label>

                <label class="entradagrande"  for="vc_cidade" id="label_vc_cidade">
                    CIDADE  <span>*</span>
                    <?php echo $this->formText('vc_cidade', $this->me[''], array('maxlength' => 100)); ?>
                </label>

                <label class="estado" for="vc_estado" id="label_vc_estado"> Estado <span class="linhaas" >*</span>
                    <?php echo $this->formSelect('vc_estado', null, null, $this->UF()); ?> 
                </label>

                <label class="entradagrande" for="vc_bairro" id="label_vc_bairro" > Bairro
                    <?php echo $this->formText('vc_bairro', $this->me[''], array('maxlength' => 100)); ?>
                </label>

                <label class="entradagrande" for="vc_email" id="label_vc_email" >
                    E-MAIL<span>*</span>
                    <?php echo $this->formText('vc_email', $this->me['vc_email'], array('maxlength' => 150, 'onblur' => 'return verificaEmail();')); ?>
                </label>
                <label class="entradagrande" for="vc_email_confirmar" id="label_vc_email_confirmar">
                    CONFIRMAR E-MAIL <span>*</span>
                    <?php echo $this->formText("vc_email_confirmar", $this->me['vc_email_confirmar'], array('maxlength' => 150, 'onblur' => 'return verificaEmail();')); ?>
                </label>
                <label class="entradagrande" for="vc_senha" id="label_vc_senha">
                    SENHA  <span>*</span>
                    <?php echo $this->formPassword('vc_senha', null, array('maxlength' => 30, 'onblur' => 'return verificaSenha();', 'class' => 'text')); ?>
                </label>

                <label class="entradagrande" for="vc_senha_confirmar" id="label_vc_senha_confirmar">
                    CONFIRMAR SENHA <span>*</span>
                    <?php echo $this->formPassword('vc_senha_confirmar', null, array('maxlength' => 30, 'onblur' => 'return verificaSenha();', 'class' => 'text')); ?>
                </label>

                <div class="conteudoperguntas">
                    <label for="bl_receber_convites">
                        <?php echo $this->formCheckbox('bl_receber_convites', 'sim', array('checked' => 'checked', 'id' => 'bl_receber_convites')); ?> 
                        Quero receber convites para eventos e ofertas especiais de
                        cachorrogato.com.br e empresas colaboradoras.
                    </label>
                    <label for="bl_receber_alertas">
                        <?php echo $this->formCheckbox('bl_receber_alertas', 'sim', array('checked' => 'checked', 'id' => 'bl_receber_alertas')); ?>
                        Aceito receber alertas de cachorros perdidos no meu bairro.
                        Somente aceitando este termo você também poderá utilizar
                        o serviço se o seu cachorro for perdido.
                    </label>

                    <label for="bl_termos_de_uso" id="label_bl_termos_de_uso">
                        <?php echo $this->formCheckbox('bl_termos_de_uso', 'sim', array('id' => 'bl_termos_de_uso')); ?>
                        <span id="texto-termos">li e concordo com os <strong>termos de uso</strong></span>
                    </label>
                </div>
            </div>
            <a href="javascript:void(0);" onclick="validarStep1CadastroCliente(true);" class="finalizarcadastro">Finalizar Cadastro</a>
            <a href="javascript:void(0);" onclick="proximoPasso(1);" class="proximopasso">Próximo passo</a>
            <p class="ajuda">* Campos obrigatórios</p>
        </form>
    </section>
</section>
<!-- / content column -->