<?php
$this->headScript()->prependFile('/js/modules/cliente/cliente.js', 'text/javascript');
$this->headLink()->appendStylesheet('/css/erros.css')->appendStylesheet('text/css');
?>

<p>Olá, <strong><?php echo $this->data['vc_nome']; ?> <?php echo $this->data['vc_sobrenome']; ?></strong></p>
<p>defina sua nova senha de acesso</p>

<?php
if ($this->mensagem) {
    ?><p><?php echo $this->mensagem; ?></p><?php
}
?>
<form method="POST" action="<?php echo $this->baseUrl(); ?>/cliente/cadastro/recuperar-senha/token/<?php echo $this->data['token']; ?>" onsubmit="return validarRecuperarSenha();" id="form-recuperar-senha">
    <label for="vc_senha">Nova senha</label>
    <?php echo $this->formPassword('vc_senha', null, array('maxlength' => 30)); ?>
    <br/>

    <label for="vc_senha_confirmar">Repita a nova senha</label>
    <?php echo $this->formPassword('vc_senha_confirmar', null, array('maxlength' => 30)); ?>
    <br/>

    <?php echo $this->formSubmit('redefinir_senha', 'Enviar'); ?>
</form>