<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/js/jquery.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/js/modules/front-end/cliente.js"></script>
<link href="<?php echo $this->baseUrl(); ?>/css/iframe.css" rel="stylesheet" type="text/css" />

<?php if ($this->status) { ?>
    <script type="text/javascript">
        finalizarUploadFoto(<?php echo $this->status; ?>);
    </script>
<?php } ?>
<style type="text/css">
    *{margin: 0; padding: 0;}
</style>

<?php if (!empty($this->foto)) { ?>
    <?php foreach ($this->foto as $foto) { ?>
        <div id="foto<?php echo $foto['id_cliente_foto']; ?>">
            <a href="javascript:deletarFotoCliente(<?php echo $foto['id_cliente_foto']; ?>)" class="bt_excluir">Excluir </a>
            <img src="<?php echo $this->baseUrl(); ?>/uploads/modules/front-end/clientes/fotos/<?php echo $foto['vc_cliente_foto']; ?>" />
        </div>
    <?php } ?>
    <?php
}
