<!-- featured -->
<div class="featured texto" id="saude">
    <div class="featured_slider">
        <ul class="ordenacao">
            <li class="next"><a href="#" ></a></li>
            <li class="prev"><a href="#" ></a></li>
        </ul>
        <div class="image">
            <img src="/images/conteudo/slidesaude.jpg" alt="" />
        </div>
        <div class="info_featured" >
            <h3 class="titulo_feature">O preço dos filhotes para o próximo Natal</h3>
            <p class="conteudo_feature">Confira a maior liquidação de cachorros da história do país e garanta já o seu filhotinho</p>
            <a href="">Leia mais</a>
        </div>
    </div>
</div>
<!-- / featured -->
