<div class="featured_slider">
    <div class="image">
        <img src="/images/conteudo/slidecachorro.jpg" alt="" />
    </div>
    <div class="info_featured">
        <h3 class="titulo_feature">O preço dos filhotes para o próximo Natal</h3>
        <p class="conteudo_feature">Confira a maior liquidação de cachorros da história do país e garanta já o seu filhotinho</p>
        <a href="/conteudo">Leia mais</a>

    </div>
</div>